/*-- .sc_form 2016夏令營報名表--*/
.sc_form
	h1
		font-size: 1.6em 
		text-align: center  
	.note
		color: #1686be//#d65251
		font-weight: bold
	.note2
		color: #1686be//#d65251
		border-bottom: 1px solid #1686be
		font-weight: bold
		margin: 5px 8px
		padding: 0px 10px
	ul.myData
		span  
			color: #d65251
			font-weight: bold
			padding-right: 10px
		.note  
			border-bottom: 1px solid #d65251
	.registerNo
		line-height: 30px
	.registerData ul li  
		list-style-type: Square
	.myNo
		color: #d65251
		border: 1px solid #d65251
		padding: 4px 6px
		border-radius: 3px
		font-size: 1.2em
		margin-right: 3.2em
	.note-s  
		font-size: 8px
	table
		border: 1px solid #000
		width: 850px
		th
			text-align: center
			border: 1px solid #000
		td  
			border: 1px solid #000
			padding: 5px