/*-- .2016sc_success 2016夏令營報名成功訊息--*/
.sc_success
	margin: 30px
	border: 5px solid #af925d
	font-size: 1.5em
	padding: 2em
	border-radius: 10px
	.myNo
		color: #d9534f
		border: 1px solid #d65251
		padding: 4px 6px
		border-radius: 3px
	.registerTime  
		font-size: 0.8em