/*-- .sc_apply 2-登記頁面 --*/
.sc_apply
	h3  
		color: #0070ba
	h4  
		font-weight: bold
		font-size: 1em 
	.amount
		border-top: 3px solid #d9534f
		padding: 1em
		color: #d9534f
		margin-bottom: 1em
		font-size: 1.2em
		font-weight: bold
	.note_full  
		color: #d9534f
		margin-left: 1em


.actionLine
	text-align: center
	margin-bottom: 20px