.forum-cardbox-item{
	border-radius: 6px;
	border: solid 5px $f-color2; 
	overflow: hidden;
	color: $color4-text;
	background:{
		color: $f-color2;
	}
	&:hover{
		box-shadow: 0 0 30px rgba(121,121,198,.4);
	}
}
////////////////////
////////////////////
.forum-cardbox-img{
	border-radius: 6px 6px 0 0;
	overflow: hidden;
	background:{
		size: cover;
		position: center center;
	}
}
////////////////////
////////////////////
.forum-cardbox-main{
	padding: 15px 18px 13px;
	border-bottom: 1px solid #fff;
}
.forum-cardbox-title{
	@extend %row2;
	font-size: 15px;
	margin-bottom: 5px;
	color: #3c3ca9;
	font-weight: bold;
	min-height: 40px;
	max-height: 40px;
	line-height: 1.4;
}
.forum-cardbox-text{
	@extend %row2;
	font-size: 13px;
	color: #414141;
	// margin-bottom: 6px;
	min-height: 32px;
	max-height: 32px;
	line-height: 1.3;
}
.forum-cardbox-keyword{
	font-size: 13px;
	color: #e03912;
}
////////////////////
////////////////////
%icon{
	@include img-path-ratio("forum/icon.png",2);
	background:{
		repeat: no-repeat;
	}
	font-size: 12px;
	min-width: 30px;
	padding-left: 19px;
	margin-left: 13px;
}
.forum-cardbox-info{
	padding: 4px 10px;
	overflow:hidden;
	text-align: right;
	line-height: 18px;
	& > *{
		float: right;
	}
}
.forum-cardbox-data{
	font-size: 12px;
	width: 100%;
}
.forum-cardbox-post{
	@extend %icon;
	background:{
		position: 0px 2px;
	}
}
.forum-cardbox-good{
	@extend %icon;
	background:{
		position: 0px -24px;
	}
}
@media (max-width: 1199px){
	.forum-cardbox-item{
		margin-bottom: 30px;
	}
}
@media (min-width: 1200px){
	.forum-cardbox-item.layout-sharewidth-item{
		width: calc( 25% - 15px );
		margin-right: 20px;
		margin-bottom: 30px;
	}
}
// 40 24