@import "usual/im";
@import "usual/color";
@import "usual/color-kr";
@import "usual/unit4";
@import "usual/title-deco5";
// aside
@import "uikit/tmp-aside";
@import "uikit/tmp-aside-lb";
@import "_comm_kr/comm-aside";
// TITLE
@import "_mywfc_kr/mypage-title-2";
/*
========================================
========================================
========================================
========================================
========================================
*/
// Aside Menu now Sort
.art-list-f2-item:nth-child(2){
	.art-list-f3{
		display: block;
	}
}
/*
========================================
========================================
========================================
========================================
========================================
*/
// TITLE
@media (max-width: 991px){
	.sectionTitle h2 span{
		padding-top: 0;
	}
}
/*
========================================
========================================
========================================
========================================
========================================
*/
.friends-view{
	width: 100%;
	border-radius: 8px;
	overflow: hidden;
	background:{
		size: cover;
		position: center top;
	}
}
.friends{
	overflow: hidden;
}
.friends-item{
	float: left;

}
.friends-link{
	display: block;
	overflow: hidden;
	border-radius: 8px;
	transition: .5s;
	&:hover{
		opacity: .8;
		transition: .5s;
	}	
}
.friends-img{
	width: 100%;
	background:{
		size: cover;
		position: center center;
	}
}
.friends-name{
	text-align: center;
	line-height: 1.2;
	padding: 5px;
	margin:{
		bottom: 0;
	}
	background-color: #ffecb8;
}
@media (max-width: 767px){
	$point-width: 24px;
	.friends-view{
		margin:{
			bottom: $point-width;
			top: 10px;
		}
	}
	.friends-item{
		width: calc( 100% / 2 - 12px );
		&:nth-child(odd){
			margin-right: $point-width;
		}
		margin-bottom: $point-width;
	}
}
@media (min-width: 768px){
	$point-width: 30px;
	.friends-view{
		margin-bottom: $point-width;
	}
	.friends-item{
		width: calc( 100% / 3 - 20px );
		margin-right: $point-width;
		margin-bottom: $point-width;
		&:nth-child(3n){
			margin-right: 0;
		}
	}
}
/*
========================================
========================================
========================================
========================================
========================================
*/
// INTRODUCE
.friend-from{
	color: #ff9000;
}
.friend-intro{
	line-height: 1.5;
	margin-bottom: 8px;
	& + .btn{
		background: {
			color: $color4-light;
		}
		color: $color4-text;
		border-radius: 16px;
		float: right;
		&:hover{
			background: {
				color: $color4;
			}
			color: #fff;
		}
	}
}