.dropGeneral
	width: 100px
	display: inline-block
	.sbHolder
		background-color: $color5-light
		border-color: $color5-light
	

.is-year
	width: 78px

.is-day
	width: 60px


//=========================================
//=========================================
//=========================================
//=========================================
//=========================================

.slg
	display: inline-block

.slg-w
	display: inline-block
	line-height: 32px
	margin:
		right: 8px
	
	vertical-align: top

.is-xxs
	padding:
		top: 5px
		bottom: 5px
	
	border-radius: 16px
	vertical-align: top

@media (max-width: 767px)
	.slg-w
		margin-bottom: 5px
	
	.is-xxs
		float: right
		margin-left: 10px
	
	.slg-outer
		&:after
			display: block
			content: ""
			clear: both
		
	
