$cb: #dfdfdf
table
	width: 100%
	border-top: solid 1px $cb
	border-left: solid 1px $cb
th,td
	border-right: solid 1px $cb
	border-bottom: solid 1px $cb
th
	padding: 9px
	color: $color-hl 
td
	padding: 5px
//
.t-title
	background-color: #fffedd
.tb1
	tr
		.align-left
			text-align: left
		.align-right
			text-align: right
			width: 42px
			color: #c10037
@media (min-width: 992px)
	.tb1
		th:first-child
			width: 150px