#cdModal {
	.modal-dialog {
		margin: {
			top: 30px;
			right: auto;
			left: auto;
		}
	}
	.panel-heading {
		background-color: $color5;
	}
	.panel-title {
		font-size: 22px;
	}
	.panel-close {
		color: $color5;
	}
}
@media (max-width: 991px){
	#cdModal{
		.modal-dialog{
			width: 90%;
			margin-bottom: 80px;
		}
	}
}
@media (min-width: 992px){
	#cdModal{
		.modal-dialog{
			width: 980px;
			margin-bottom: 30px;
		}
		.lightbox-cd-checkgroup{
			font-size: 0;
			margin-bottom: 10px;
		}
		.uikit-checkbox{
			vertical-align: top;
			font-size: 15px;
			display: inline-block;
			width: calc(33% - 2px);
			margin-right: calc(2px * 3 / 2);
			&:nth-child(3n) {
				margin-right: 0;
			}
		}
		.panel-body {
			padding: 30px 50px;
		}
	}

}
/*
========================================
========================================
========================================
========================================
========================================
*/
// ITEM
.uikit-checkbox-label{
	background-image: none;
	padding:{
		left: 17px;
		right: 17px;
		top: 9px;
		bottom: 0;
	}
	img{
		width: 25px;
		vertical-align: -8px;
		margin:{
			left: 5px;
		}
	}
	span{
		color: #ffe700;
		vertical-align: 1px;
	}
}
/*
========================================
========================================
========================================
========================================
========================================
*/
// COLOR
.is-lb,.is-b,.is-g,.is-lg,.is-other{
	.uikit-checkbox-label{
		color: #fff;
	}
}
.is-lb{
	.layout-title-level-3{
		color: $cap-color-1;
	}
	.uikit-checkbox-label{
		background:{
			color: $cap-color-1;
		}
	}
}
.is-b{
	.layout-title-level-3{
		color: $cap-color-2;
	}
	.uikit-checkbox-label{
		background:{
			color: $cap-color-2;
		}
	}
}
.is-g{
	.layout-title-level-3{
		color: $cap-color-3;
	}
	.uikit-checkbox-label{
		background:{
			color: $cap-color-3;
		}
	}
}
.is-lg{
	.layout-title-level-3{
		color: $cap-color-4;
	}
	.uikit-checkbox-label{
		background:{
			color: $cap-color-4;
		}
	}
}
.is-y{
	.layout-title-level-3{
		color: $cap-color-5;
	}
	.uikit-checkbox-label{
		background:{
			color: $cap-color-5;
		}
	}
}
.is-other{
	.layout-title-level-3{
		color: $color4;
	}
	.uikit-checkbox-label{
		background:{
			color: $color4;
		}
	}
}
/*
========================================
========================================
========================================
========================================
========================================
*/
.cd-icon-intro{
	background-color: $color5;
	font-size: 13px;
	line-height: 1.3;
	position: fixed;
	img{
		width: 15px;
		margin-right: 3px;
	}
	p{
		color: #000;
		font-weight: bold;
		margin: 0; 
	}
}
@media (max-width: 991px){
	.cd-icon-intro{
		width: 100%;
		bottom: 0;
		left: 0;
		padding: 10px 5%;
		box-shadow: 0 -3px 20px rgba(0,0,0,.5);
	}
	.modal-dialog{
		margin:{
			bottom: 80px;
		}
	}
}
@media (min-width: 992px){
	.cd-icon-intro{
		bottom: 30px;
		right: 40px;
		border-radius: 36px;
		padding: 8px 18px 10px;
		box-shadow: 0 0 20px rgba(0,0,0,.5);
	}
}