// TITLE LEVEL 3 DESC
.layout-main
	.layout-title-level-3
		@include img-path-ratio("fwe/icon1.png",2)
		display: block
		background:
			repeat: no-repeat
			position: 0 0
		min-height: 42px
		padding-top: 20px
		padding-left: 50px
		&.icon2
			@include img-path-ratio("fwe/icon2.png",2)
		&.icon3
			@include img-path-ratio("fwe/icon3.png",2)
		&.icon4
			@include img-path-ratio("fwe/icon4.png",2)