// 
.tstab
	text-align: center
	imgwidth: 26px
	margin-right: 5px
	.uikit-radio
		display: inline-block
		padding-right: 15px
	
	.uikit-radio-label
		text-align: left
		


@media (max-width: 479px)
	.tstab
		.uikit-radio
			width: 100%
		
	

//
.active
	box-shadow: none!important

//
.nav
	border-bottom: none
	& > li > a
		color: #333
		border: none
	
	& > li.active > a
		border: none
	

@media (max-width: 767px)
	.nav > li
		// width: 33.3%
		& > a
			padding:
				left: 0
				right: 0
			
			height: 70px
		
	
	//
	.te-tab-imgbox
		img
			width: 30px
		
	

@media (min-width: 768px)
	.te-tab-imgbox
		display: inline-block
		img
			width: 30px
		
	


//==============================================
//==============================================
//==============================================
//==============================================
//==============================================
//==============================================

// SECTION ALL
.te-section
	margin-bottom: 0
	td,th
		border-bottom: 1px solid #fff!important
		vertical-align: middle!important
		
	thead tr
		background-color: rgba(255,255,255,.3)
	
	tbody tr:last-child td
		border-bottom: none!important
	
	button
		color: #fff!important
	

.te-section-box
	padding: 20px

@media (max-width: 767px)
	.te-section-box
		padding: 10px
	
	


//==============================================
//==============================================
//==============================================
//==============================================
//==============================================
//==============================================

// SECTION PART
.te-section-box-song
	background-color: $te-section-color-1
	button
		background-color: $te-section-btn-1
		&:hover
			background-color: $te-section-btn-hover-1
		
	

.te-section-box-book
	background-color: $te-section-color-2
	button
		background-color: $te-section-btn-2
		&:hover
			background-color: $te-section-btn-hover-2
		
	

.te-section-box-right
	background-color: $te-section-color-3
	button
		background-color: $te-section-btn-3
		&:hover
			background-color: $te-section-btn-hover-3
		
		

.te-section-box-reading
	background-color: $te-section-color-4
	button
		background-color: $te-section-btn-4
		&:hover
			background-color: $te-section-btn-hover-4
		
		

.te-section-box-fc
	background-color: $te-section-color-5
	button
		background-color: $te-section-btn-5
		&:hover
			background-color: $te-section-btn-hover-5
		
		

.te-section-box-cap
	background-color: $te-section-color-6
	button
		background-color: $te-section-btn-6
		&:hover
			background-color: $te-section-btn-hover-6
		
		

//
.te-section tbody tr td
	&:nth-child(1)
		// padding-left: 0
		width: 51px
		
	&:nth-child(4)
		// padding-right: 0
	

@media (max-width: 767px)
	.te-section tbody tr td
		&:nth-child(2)
			text-indent: -7px
		
	

@media (min-width: 768px)
	.te-section tbody tr td
		
		&:nth-child(3)
			width: 80px
		
		



//==============================================
//==============================================
//==============================================
//==============================================
//==============================================
//==============================================

.is-cap-1
	background-color: $cap-color-1
	color: #fff

.is-cap-2
	background-color: $cap-color-2
	color: #fff

.is-cap-3
	background-color: $cap-color-3
	color: #fff

.is-cap-4
	background-color: $cap-color-4

.is-cap-5
	background-color: $cap-color-5


//=========================================
//=========================================
//=========================================
//=========================================
//=========================================

.te-search
	padding:
		bottom: 15px
	

.te-search-input
	line-height: 32px
	width: 100%
	text-indent: 10px


//=========================================
//=========================================
//=========================================
//=========================================
//=========================================

.table.te-selected
	td:first-child
		width: 40px
	
	td:nth-child(2)
		padding:
			left: 0
			right: 0
		
		width: 96px
	
