.te-selected
	background-color: #fafafa
	margin-bottom: 0
	td
		vertical-align: middle!important
		border-top: solid 1px #fff!important
	tr:first-child td
		border-top: none!important
	button
		color: #333!important
		background-color: #ddd
		&:hover
			color: #fff!important
			background-color: #555
//==========================================
//==========================================
//==========================================
//==========================================
//==========================================
//==========================================
.te-selected tbody tr td
	&:first-child
		width: 43px
		background:
			repeat: no-repeat
			position: 9px 11px
	&:nth-child(5)
		width: 51px
		padding-left: 0
.te-selected-song
	background-color: $te-section-color-1
	td:first-child
		@include img-path-ratio("te/te_song.png",2)
.te-selected-book
	background-color: $te-section-color-2
	td:first-child
		@include img-path-ratio("te/te_book.png",2)
.te-selected-right
	background-color: $te-section-color-3
	td:first-child
		@include img-path-ratio("te/te_right.png",2)
.te-selected-reading
	background-color: $te-section-color-4
	td:first-child
		@include img-path-ratio("te/te_reading.png",2)
.te-selected-fc
	background-color: $te-section-color-5
	td:first-child
		@include img-path-ratio("te/te_fc.png",2)
.te-selected-cap
	background-color: $te-section-color-6
	td:first-child
		@include img-path-ratio("te/te_cap.png",2)
@media (max-width: 767px)
	.te-selected tbody tr td
		&:nth-child(2)
			display: none
		&:nth-child(4)
			width: 45px
@media (min-width: 768px)
	.te-selected tbody tr td
		&:nth-child(2)
			width: 115px
		&:nth-child(4)
			width: 76px