@media (max-width: 767px) 
	.te-ctabox 
		height: 135px
		bottom: 41px
		.layout-content
			height: 77px
			font-size: 12px
		
	
	.footer-rise 
		.te-ctabox 
			bottom: 122px
		
	

@media (max-width: 991px)
	.container-main 
		padding-bottom: 173px
	
