html
	head
	body
		ul.pager
			li.prev
				a(href='#')
					i.fa.fa-arrow-left
			li.page
				a(href='#') 1
			li.page ...
			li.page
				a(href='#') 6
			li.page.now
				a(href='#') 7
			li.page
				a(href='#') 8
			li.page ...
			li.page
				a(href='#') 15
			li.next
				a(href='#')
					i.fa.fa-arrow-right