@import "usual/im";
@import "usual/color";
@import "usual/unit2";// different with tw
//
@import "library/lib-info";
@import "library/lib-gbox";
/*
==================================
==================================
==================================
==================================
==================================
*/
@media (min-width: 992px){
	.layout-videobox-item{
		margin-bottom: 24px;
	}	
}
/*
==================================
==================================
==================================
==================================
==================================
*/
// LEVEL 3
.layout-title-level-3{
	text-indent: -8px;
}
/*
==================================
==================================
==================================
==================================
==================================
*/
.lib-gbox-item{
	margin-bottom: 40px;
}
/*
==================================
==================================
==================================
==================================
==================================
*/

/*
==================================
==================================
==================================
==================================
==================================
*/