li.act-timebox-item.is-capstr
	.act-timebox-time.act-width-time 15:30
	.act-timebox-cap
		img(src="img/activity/c05.png")
		| 黃色
	a.act-timebox-state.act-width-state.is-signed(href='') 己報名
li.act-timebox-item
	.act-timebox-time.act-width-time 15:30
	.act-timebox-cap
		img(src="img/activity/c04.png")
		| 淺綠
	a.act-timebox-state.act-width-state.is-wait(href='') 我要候補
li.act-timebox-item
	.act-timebox-time.act-width-time 15:30
	.act-timebox-cap
		img(src="img/activity/c03.png")
		| 綠色
	a.act-timebox-state.act-width-state.is-sign(href='') 我要報名
li.act-timebox-item
	.act-timebox-time.act-width-time 15:30
	.act-timebox-cap
		img(src="img/activity/c02.png")
		| 藍色
	a.act-timebox-state.act-width-state.not-yet(href='') 尚未開放
	.act-timebox-note.with-cap
		p.act-timebox-p 2018 / 11 / 31
		p.act-timebox-p 中午 12:00 開放報名