.act-datebox
	.act-datebox-datebox
		.act-datebox-pc-word 活動日期 :
		.act-datebox-date 2018 / 07 / 28 (六)
	.act-datebox-pc-row
		.act-datebox-time.act-width-time 時間
		.act-datebox-state.act-width-state 狀態
	ul.act-timebox
		|<?php include "html_model/activity/act-timebox.html";?>
		|<?php include "html_model/activity/act-timebox2.html";?>
		li.act-timebox-item
			.act-timebox-time.act-width-time 16:00
			a.act-timebox-state.act-width-state.is-waiting(href='') 己候補
		li.act-timebox-item
			.act-timebox-time.act-width-time 17:30
			a.act-timebox-state.act-width-state.out-of-date(href='') 截止報名
