html
	head
	body
		li.act-listbox-item.act-color-k
			//        
				[^ 註 ^]
				規則 : tag .act-listbox-item 
				+ calss .act-color-k 分類 翻轉世界 色系
				+ class .act-color-p 分類 布偶劇場 色系
				... 依此類推

				原本十個分類-尾代號 e p a z d b f k w c 
				預備新增用色-尾代號 11 12

			a.act-listbox-link(href='')
				.act-listbox-sort.text-truncate
					span.act-listbox-icon b
					// 寶貝玩玩 Baby Play 
					|  Zippy人偶秀 Family Showcase
				.act-listbox-clear
				img.act-listbox-img.act-listbox-img-mobi(src='img/activity/act_vision_mobi.jpg')
				|  
				img.act-listbox-img.act-listbox-img-pc(src='img/activity/act_vision.jpg')
				.act-listbox-info
					h2.act-listbox-title
						// 洗澎澎囉 ! 
						|  Zippy 的奧林匹克運動會運動會
					p.act-listbox-title-english Bunny’s Big Bath
					p.act-listbox-age 適合親子同遊
				|<?php include "html_model/activity/act-state.html";?>
				|<?php include "html_model/activity/act-state.html";?>
				//is-2nd