h3 注意事項：
| 歡迎使用寰宇家庭會員網站 / 行動APP活動報名系統，請詳讀「活動報名注意事項及規則」再行報名。
br
br
h3 活動報名/報到
ul
	li 注意！在您按下「確定報名」鍵之前，不表示您所選擇之活動皆報名成功！可能同時有其他會員家庭也在進行報名以致活動額滿。
	li 報名人數會以您在「寰宇家庭」所登記的家庭基本成員人數為準，一歲以下的孩子仍需報名。若您有新增寶寶尚未登記者，請來電客服中心0809-080-000登記。
	li 為方便您安排週休二日活動，建議您透過網路 / 行動APP報名活動並辦理「信用卡自動轉帳」喔！若採「ATM轉帳」付款者，報名後請盡速完成付款，避免因作業時間延誤，造成您的名額被取消。
	li 自報名日起七天內（含假日）若未付款成功，則將無法保留您報名的名額。
	li 同一類型之活動限報名一個場次。
	li 活動只限會員家庭基本成員（夫妻及子女）參加，所有活動參加資格皆不得轉成現金或轉讓他人使用，否則視同作廢。
	li 活動當日請攜帶您的「寰宇家庭俱樂部會員卡」及身份證件入場，活動現場恕不接受現場報名。
h3 English Carnival 美語嘉年華劃位
ul
	li 報名參加English Carnival（美語嘉年華），採「先劃位後付款」之方式報名，自劃位日起七天內（含假日）若未付款成功，則將無法保留您報名的名額及已選好之座位。
	li 若您以語音電話報名參加English Carnival美語嘉年華，為了協助您選擇座位，上班時間，系統會幫您將電話轉接至客服人員以人工劃位處理；非上班時間，建議您以網路 / 行動APP報名劃位或請於上班時間再來電。
	li 進行English Carnival（美語嘉年華）劃位時，請慎選您的座位，劃位確定後即無法修改。如有不便，敬請見諒！
h3 付款方式
| 您可選擇以下任一種方式付款
ul
	li
		h4 信用卡自動轉帳付款
		ul
			li 若您第一次使用信用卡轉帳，或欲更改信用卡資料請電洽客服中心0809-080-000。
			li 若信用卡轉帳失敗時，將以簡訊提醒告知，請盡速來電確認。（為保障您的權益，若通訊資料有異動，請即時電洽客服中心0809-080-000更新通訊資料。）
	li
		h4 ATM付款
		ul
			li 請於報名後七日內(含假日)，以ATM轉帳完成繳款。若逾期未繳者，系統將取消該筆資料。【銀行代號：807（永豐銀行）轉入帳號：8664-會員編號後六碼-0000】範例：D123456 轉入帳號：8664-123456-0000(S編號不適用)
	li
		h4 活動保留款付款
		ul
			li 您於「寰宇家庭」之活動保留款，將優先抵扣您所報名的活動；不足之款項，則可選擇信用卡或ATM付款。
h3 增減報名人數或取消活動
ul
	li 活動報名完成後，如需增減人數，請來電客服中心修改；若為English Carnival（美語嘉年華），則已劃好的座位將會一併取消（恕無法取消單一座位），需重新報名與劃位。
	li 若於活動開始日7天前取消參加活動，且活動費用也已扣款完成，我們會將您已扣款的金額自動轉成活動保留款，供您下次報名活動時抵扣使用。
	li 為確保現場活動品質，活動開始前七日（不含當日），不接受取消報名；活動當日因故缺席者，視同放棄，不得延至其他場次或其他活動。
h3 其他注意事項
ul
	li 活動日如遇天災，如：颱風、水災、地震等不可抗拒之因素，我們將依照各地方政府公告停止上班上課之原則取消活動，若台北地區公告停止上班上課，將取消全省活動。
	li 若您有登記候補已額滿的活動，「寰宇家庭」將會在候補成功後以簡訊通知（收到簡訊不表示報名成功），若收到簡訊請盡速來電報名！若候補未成功恕不再另行通知。
	li 活動費用請依照各活動說明，報名兩位小孩（含）以上者，第二位小孩一歲以下免費（仍須報名，以活動日期評定）。
	li 若您報名的活動適用CAP優惠專案，在活動日期前成功繳交CAP作業，可享有每位折抵NT$100元之優惠（依活動日期當日評定）。
	li 基於報名人數與場地的考量，寰宇家庭保有活動增刪場次的權利。
	li 活動日期、時間及地點 如與雜誌刊登不符，請以網路 / 行動APP報名系統為主。更多場次資訊請參考網路 / 行動APP報名系統。
	li 請來電新增常用信箱，活動預習單（含交通資訊）將於活動繳費成功後Email至您的信箱。
	li 美語嘉年華演出前20分鐘，表演人員將與觀眾近距離互動及簽名拍照！會員可於表演進行中拍照，但以不使用閃光燈、不影響他人觀看為原則；表演結束後，歡迎至場外與Q版的表演人員背板拍照留念！為維護智慧財產權，全場禁止錄影。
	li 本公司活動現場隨機進行拍攝的影音照片，因作業需求可能公開發表使用，會員如有疑慮，歡迎告知。
	li 如有任何疑問，歡迎您於上班時段來電「寰宇家庭」客服中心詢問0809-080-000。