.mypage-stateimg{ 
	width: 65px;height: 65px;
	position: absolute;
	background:{
		size: cover;
		position: 50% 50%;
	}
	overflow: hidden;
	border-radius: 6px;
	border: solid 2px $color5-light;
}
@media (max-width: 991px){
	.mypage-stateimg{
		left: 15px;
		top: 48px;
	}
}
@media (min-width: 992px){
	.mypage-stateimg{
		left: 0;
		top: 35px;
	}
}