html
  head
  body
    li.layout-card-item.is-show.is-done
      //        
        [^ 註 ^]
        狀態為「交貨完成時」時，在 tag .layout-cardlink 加 class .is-done 使視覺正確
        
      .act-state.act-state-sm
        .act-state-inside
          .act-state-word(data-width='60') 배송완료
          //            
            			[^ 註 ^]
            			規則 : tag .act-state-word 需要一個最大寬來使介面顯示正確 ;
            			請依照實際可能狀態中 , 將字數最多時的寬填入 data-width 值中
            			
      a.layout-card-link(href='')
        | 신청품목 :
        span 함께노래하기! DVD 7
        | ( 정상적인손실 )
      .mypage-datebox
        .mypage-date tracking code : A12345689
        .mypage-date 신청일​ : 2018-03-28
        .mypage-date 배송일 : 2018-5-28
    // v demo v 
    li.layout-card-item.is-show
      .act-state.act-state-sm
        .act-state-inside
          .act-state-word(data-width='60') 테스트
      a.layout-card-link(href='')
        | 신청품목 :
        span 함께노래하기! DVD 7
        | ( 테스트 )
      .mypage-datebox
        // <div class="mypage-date">tracking code : A12345689</div> 
        .mypage-date 신청일​ : 2018-03-28
        // <div class="mypage-date">배송일 : 2018-5-28</div> 
    li.layout-card-item.is-show
      .act-state.act-state-sm
        .act-state-inside
          .act-state-word(data-width='60') 테스트
      a.layout-card-link(href='')
        | 신청품목 :
        span 함께노래하기! DVD 7
        | ( 테스트 )
      .mypage-datebox
        // <div class="mypage-date">tracking code : A12345689</div> 
        .mypage-date 신청일​ : 2018-03-28
        // <div class="mypage-date">배송일 : 2018-5-28</div> 
    li.layout-card-item.is-show
      .act-state.act-state-sm
        .act-state-inside
          .act-state-word(data-width='60') 테스트
      a.layout-card-link(href='')
        | 신청품목 :
        span 함께노래하기! DVD 7
        | ( 테스트 )
      .mypage-datebox
        // <div class="mypage-date">tracking code : A12345689</div> 
        .mypage-date 신청일​ : 2018-03-28
        // <div class="mypage-date">배송일 : 2018-5-28</div> 