html
	head
	body
		aside.layout-sub.px-4.py-4
			ul.art-list-f2
				li.art-list-f2-item
					a.art-list-f2-link(href='') My profile
					//            
						規則：
						tag .art-list-fw-link 加 class now 成為「現在單元」的視覺標示

				li.art-list-f2-item
					a.art-list-f2-link(href='') Event application details
				li.art-list-f2-item
					a.art-list-f2-link(href='') TE details
				li.art-list-f2-item
					a.art-list-f2-link(href='') Cap application details
				li.art-list-f2-item
					a.art-list-f2-link(href='') Shop application detail
				li.art-list-f2-item
					a.art-list-f2-link(href='') After service application
				li.art-list-f2-item
					a.art-list-f2-link(href='') 1:1 board
				li.art-list-f2-item
					a.art-list-f2-link(href='') other club service