html
	head
	body
		.dropGeneral.roundTwo.layout-drop-sm
			select.select-drop
				option(value='0') 전체
				option(value='1') 질문
				option(value='2') 답변
		.ipt-btn
			input(type='text', placeholder='search ...')
			button.btn.layout-btn.layout-btn-sm(type='button') 검색하기