.backToTop{
	padding: 0!important;
}
@media (max-width: 767px){
	.backToTop{
		bottom: 54px;
	}
	.footer-rise .backToTop{
		bottom: 136px;
	}
}
@media (min-width: 768px){
	.backToTop{
		width: 88px;
		transform: translateY(150px);
	}
}