$cal-color-1: #ffbc4d;
$cal-color-1-deep: #8f5d0e;
$cal-color-1-light: #ffd083;
//
$cal-color-2: #58f7fc;
$cal-color-2-deep: #0c6b6f;
$cal-color-2-light: #a0fcff;
//
$cal-color-3: #84e26c;
$cal-color-3-deep: #24750f;
$cal-color-3-light: #baffa8;
//
$cal-color-4: #f4b4cd;
$cal-color-4-deep: #942952;
$cal-color-4-light: #f6cbdc;