meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
title Eason porject 3
link(href="css/idx.min.css" rel="stylesheet" type="text/css")
script(src="js/idx.min.js")