.cd-btnbox{
	background: #fafafa;
   padding: 25px;
	overflow: hidden;
	border-top: solid 1px #efefef;
	button{
		float: right;
	}
}
.pagerArea .pager {
	margin-top: 35px;
}
@media (max-width: 767px){
	.cd-btnbox{
		button{
			display: block;
			width: 100%;
		}
	}
}
@media (max-width: 991px){
	.cd-btnbox{
		margin-top: 20px;
	}
}
@media (min-width: 992px){
	.cd-btnbox{
		margin-top: 30px;
		button{
			margin-left: 10px;
		}
	}
}