// MOBILE STAGE 0 ~ 3
.stage{
	font:{
		size: 12px;
		weight: normal;
	}
	text:{
		transform: uppercase;
		align: center;
	}
	color: #fff;
	&.stage-0{background-color: $stage-0;}
	&.stage-1{background-color: $stage-1;}
	&.stage-2{background-color: $stage-2;} 
	&.stage-3{background-color: $stage-3;}	
}
@media (max-width: 991px){
	.retabcard-content{
		.stage{display: none;}
	}
	.stage{
		width: 13px;
		margin-left: 31px;
		word-break: break-all;
		padding: 5px 0;
		&.stage-2{
			height: 113px;
			padding:{
				top: 23px;
			}
		}
	}
}
@media (min-width: 992px){
	.retabcard-cell-title{
		.stage{display: none;}
	}
	.stage{
		padding: 0 5px;
	}
}