.pgstreamer{
	background-color: #ff725b;
	color: #fff;
	position: absolute;
	border-radius: 10px;
	z-index: 2;
	text-align: center;
} 
@media (max-width: 991px){
	.pgstreamer{
		width: 18px;
		padding: 7px 3px;
		left: 7px;
		line-height: 1;
	}
	.is-streamer1{
		top: 7px;
		height: calc( 133% - 14px );
		padding-top: 60px;
	}
	.is-streamer2{
		top: calc(33% + 7px );
		bottom: 7px;
	}
	.is-streamer3,.is-streamer4{
		top: 7px;
		bottom: 7px;
	}
	.is-streamer3{
		padding-top: 25px;
	}
	.is-streamer4{
		padding-top: 11px;
	}
}
@media (min-width: 992px){
	.pgstreamer{
		padding: 3px 7px;
		line-height: 1;
		top: 7px;
	}
	.is-streamer1{
		width: calc( 133% - 14px );
		left: 7px;
	}
	.is-streamer2{
		left: calc( 33% + 7px );
		right: 7px;
	}
	.is-streamer3,
	.is-streamer4{
		left: 7px;
		right: 7px;
	}
}
/*
========================================
========================================
========================================
========================================
========================================
*/
@media (max-width: 991px){
	.pgstreamer-row{
		.pgcell-4,
		.pgcell-8,
		.pgcell-58,
		.pgcell-512,
		.pgcell-912,
		.pgcell-512,
		.pgcell-12{
			padding-left: 30px;
		}
	}	
}
@media (min-width: 992px){
	.pgstreamer-row{
		.pgcell-4,
		.pgcell-8,
		.pgcell-58,
		.pgcell-512,
		.pgcell-912,
		.pgcell-512,
		.pgcell-12{
			padding-top: 30px;
		}
	}
}