html
	head
	body
		li.vbox-item
			a.vbox-link(href='#welBox', data-toggle='modal')
				img.vbox-img(src='img/mypage/video_pic2.png')
				.vbox-table
					.vbox-cell
						.vbox-msg Egg Mayonnaise And Alfalfa Sandwich Sandwich
		// REPEAT DEMO 
		li.vbox-item
			a.vbox-link(href='#welBox', data-toggle='modal')
				img.vbox-img(src='img/mypage/video_pic.png')
				.vbox-table
					.vbox-cell
						.vbox-msg Super Fun! With Luna!