//   ====================================
  ——— LIGHT BOX MODAL
  ===================================== 
html
  head
  body
    #welBox.modal.fade.customModal(tabindex='-1', role='dialog')
      .modal-dialog
        .modal-content
          .panel
            .panel-heading
              h3.panel-title Super Fun! With Luna!
              a.panel-close(href='') x
            .panel-body
              .layout-video-fluid
                iframe(src='https://player.vimeo.com/video/243244233', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')