@import "usual/color-te-sign";
@media (max-width: 413px){   
	.title-deco h2{
		.main{
			font-size: 21px; 
		}	
	}
	.sectionTitle h2 span{
		padding: 0!important;
	}
}
@media (min-width: 768px){
	.title-deco h2{
		.main{
			width: 414px;
		}
		span.shape{
			vertical-align: 15px;
		}	
	}
}
/*
========================================
========================================
========================================
========================================
========================================
*/
.is-color-block{
	padding: 3px 6px 3px 7px;
	img{
		width: 26px;
	}
}
.is-song{
	background-color: $te-section-color-1;
	color: $te-section-btn-1!important;
}
.is-book{
	background-color: $te-section-color-2;
	color: $te-section-btn-2!important;
}
.is-right{
	background-color: $te-section-color-3;
	color: $te-section-btn-3!important;
}
.is-reading{
	background-color: $te-section-color-4;
	color: $te-section-btn-4!important;
}
.is-fc{
	background-color: $te-section-color-5;
	color: $te-section-btn-5!important;
}
.is-cap{
	background-color: $te-section-color-6;
	color: $te-section-btn-6!important;
}
//
.is-text-song{
	color: $te-section-btn-hover-1;
}
.is-text-book{
	color: $te-section-btn-hover-2;
}
.is-text-right{
	color: $te-section-btn-hover-3;
}
.is-text-reading{
	color: $te-section-btn-hover-4;
}
.is-text-fc{
	color: $te-section-btn-hover-5;
}
.is-text-cap{
	color: $te-section-btn-hover-6;
}
/*
========================================
========================================
========================================
========================================
========================================
*/
.layout-title-level-2{
	font-size: 15px;
}