#welBox 
	.modal-dialog 
		// box width here
		width: 90%
		max-width: 800px
		margin:
			left: auto
			right: auto
		
	
	.modal-content,
	.panel 
		// for lightbox layout
	
	.panel-heading 
		// title bg color here
		background-color: $color5
	
	.panel-title 
		// title font size here
		font-size: 22px
	
	.panel-close 
		// closer collor here
		color: $color5
	
	// .panel-body 
	

