#invoiceModal 
	.layout-title-level-3
		margin-left: -13px
	.modal-dialog 
		margin: 30px auto
		width: 530px
		max-width: 90%
	.panel-heading 
		background-color: $color1
	.panel-title 
		font-size: 22px
	.panel-close 
		color: $color1
	.panel-body 
		padding: 20px
		img
			width: 100%
		ul,ol
			margin-right: 5px
		li
			position: relative
			&:before
				content: "•"
				position: absolute
				left: -12px
				top: 1px
		a
			color: #00f
			text-decoration: underline!important
			&:hover
				color: #3092ca