#welBox 
	.modal-dialog 
		width: 90%
		max-width: 800px
		margin:
			left: auto
			right: auto
	.panel-heading 
		background-color: $color5
	.panel-title 
		font-size: 22px
	.panel-close 
		color: $color5