@import "usual/color";
@import "usual/unit1";
.color-1.layout-navbar-arrow-pc:after{
	display: none;
}
/*
========================================
========================================
========================================
========================================
========================================
*/
.layout-content{
	padding: {
		left: 16px;
		bottom: 0;
	}
}
/*
========================================
========================================
========================================
========================================
========================================
*/
.card{
	margin-top: 12px;
}
.carditem{
	margin-bottom: 20px;
}
.cardlink{
	display: block;
	overflow: hidden;
	border-radius: 12px 12px 0 0;
	border: solid 2px #f0f0f0;
	img{
		width: 100%;
	}
	&:hover{
		opacity: .8;
	}
}
.cardmsg{
	padding: 8px 12px;
	background-color: #f0f0f0;
	overflow: hidden;
	border-radius: 0 0 12px 12px;
	// border: solid 2px #efefef;
	border-top: none;
	& > *{
		float: left;
	}
}
.cardleft{
	width: calc( 100% - 73px );
	border-right: dotted 1px #ccc;
}
.cardtitle{
	font:{
		size: 17px;
		weight: bold;
	}
	img{
		width: 20px;
		vertical-align: 0px;
		margin-left: 5px;
	}
}
.cardsub{
	color: #888;
}
.cardright{
	width: 73px;
	.btn{
		padding: 3px 10px 3px 5px;
		margin-top: 10px;
		float: right;
	}
}
@media (max-width: 639px){
	.cardtitle{
		font-size: 15px;
	}
	.cardsub{
		font-size: 12px;
	}
}
@media (min-width: 640px){
	.card{
		overflow: hidden;
	}
	.carditem{
		float: left;
		width: 49%;
		// display: none;
		&:nth-child(odd){
			margin-right: 2%;
		}
	}
}
/*
========================================
========================================
========================================
========================================
========================================
*/
.is-main{
	margin-left: 16px;
}
@media (max-width: 991px){
	
}
@media (min-width: 640px){
	.card{
		&.is-main{
			.carditem{
				margin-right: 0;
				width: 100%;
			}
			.cardlink{
				border-radius: 12px 0 0 12px;
				float: left;
				img{
					width: auto;
					height: 158px;
				}
			}
			.cardmsg{
				float: right;
				border-radius: 0 12px 12px 0;
				//
				width: calc( 100% - 279px );
				height: 162px;
				padding: 67px 10px 0;
			}
		}
	}
}
@media (min-width: 992px){
	.card{
		&.is-main{
			.cardlink{
				img{
					height: 300px;
				}
			}
			.cardmsg{
				width: calc(100% - 526px);
				height: 304px;
				padding: 140px 20px 0;
			}
		}
	}
}
@media (min-width: 1200px){
	.card{
		&.is-main{
			.cardlink{
				img{
					height: auto;
				}
			}
			.cardmsg{
				width: calc(100% - 664px);
				height: 384px;
				padding: 180px 40px 0;
			}
		}
	}
}