// eason
@import "usual/im";
@import "usual/color";
@import "usual/unit1";
@import "usual/color-activity";
//
@import "uikit/tmp-owl-nav";
/*
======================
======================
======================
======================
======================
======================
*/
// OWL-CAROUSEL CUSTOMER
.owl-carousel-type-1 {
	.caption {
		background-color: #e9f5cc !important;
	}
}
// @media (max-width: 767px) {
// 	.owl-carousel-type-1 {
// 		.thumbnailContent .caption {
// 			height: 360px; 
// 		}
// 	}
// }
// @media (min-width: 768px) and (max-width: 978px) {
// 	.owl-carousel-type-1 {
// 		.thumbnailContent .caption {
// 			height: 400px;
// 		}
// 	}
// }
// @media (min-width: 979px) {
// 	.owl-carousel-type-1 {
// 		.thumbnailContent .caption {
// 			height: 450px;
// 		}
// 	}
// }
// @media (min-width: 1200px) {
// 	.owl-carousel-type-1 {
// 		.owl-nav {
// 			display: none;
// 		}
// 	}
// }
// @media (max-width: 1900px){
// 	.owl-carousel-type-1 {
// 		.thumbnailContent .caption {
// 			height: auto!important; 
// 		}
// 	}
// }
.main-wrapper .owl-carousel-type-1 .thumbnailContent .caption{
	height: auto;
}
/*
=========================
=========================
=========================
=========================
=========================
=========================
*/
.act-sort-level-2{
	background-color: $color1;
	margin-bottom: 3px;
	font-size: 16px;
	// font-weight: normal;
	line-height: 18px;
	padding: 6px 6px 4px;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	text-transform: capitalize;
}
.act-age{
	font-size: 14px;
	line-height: 1;
	color: #ff9000;
	display: inline-block;
}
.layout-content{
	padding:{
		top: 5px;
		bottom: 8px;
	}
}
.layout-title-level-3{
	margin-bottom: 0;
}
.layout-title-level-2{
	// width: 210px;
	// text-align: center;
	// padding: 0;
}
.block h3{
	margin-bottom: 3px;
}
/*
========================================
========================================
========================================
========================================
========================================
*/
@media (max-width: 767px){
	.is-left{
		margin-bottom: 18px;
	}
}
@media (min-width: 768px){
	$gutter: 40px;
	.is-left{
		width: 300px;
		display: inline-block;
		margin:{
			right: 25px;
			bottom: $gutter;
		}
	}
	.is-right{
		width: calc( 100% - 330px );
		vertical-align: top;
		display: inline-block;
		margin-bottom: $gutter;
	}
}