$color: #8b8774;
.customize-single{
	border-radius: 6px!important;
	border: 1px solid $color!important;
	overflow: hidden;
	.ui-btn{
		border-radius: 0!important;
		border: none!important;
	}
}

.customize-group{
	display: inline-block;
	.ui-controlgroup-controls{
		width: calc(100% - 1px);
		border-radius: 6px!important;
		border-style: solid!important;
		border-color: $color!important;
		border-width: 1px 0 1px 1px!important;
		overflow: hidden;
	}
	.ui-btn{
		border-radius: 0!important;
		border: none!important;
		border-right: solid 1px $color!important;
	}
}