// eason
@import "usual/im";
@import "usual/color";
@import "usual/unit4";
@import "uikit/tmp-pager";
//
@import "uikit/tmp-aside";
@import "article/art-aside";
@import "article/art-media";
/* 
=============================
=============================
=============================
=============================
=============================
=============================
*/
.layout-title-level-3{
	color: $color4-dark!important;
	font-size: 19px;
	text-indent: -6px;
	margin-bottom: 9px;
}
.layout-main{
	overflow: hidden;
}
.layout-btn{
	float: right;
}
.art-article{
	font-size: 15px;
}
@media (min-width: 992px){
	.art-sectionTitle{
		margin-top: 35px!important;
	}
}
.art-article *{
	line-height: 1.6;
	font-family: arial,"微軟正黑體"!important;
	font-size: 15px!important;
	color: #555!important;
	strong,strong *,
	b,b *{
		color: #000!important;
		font-weight: bold;
	}
}
@media (min-width: 992px){
	.layout-main-art{
		padding: 28px 30px 20px;
	}
}