@import "usual/im";
@import "usual/color";
@import "usual/color-kr";
@import "usual/unit4";
// @import "usual/title-deco5";
// aside
@import "uikit/tmp-aside";
@import "uikit/tmp-aside-lb";
@import "_comm_kr/comm-aside";
// TITLE
@import "_mywfc_kr/mypage-title-2";
//
@import "no_sort/download-dlbox";
.dllink,.dllink:before{
	color: $color4;
}
/*
========================================
========================================
========================================
========================================
========================================
*/
// TITLE
@media (max-width: 359px){
	.sectionTitle h2 span {
		padding-top: 25px;
  }
}
@media (max-width: 991px) and (min-width: 360px){
	.sectionTitle h2 span{
		padding-top: 0;
	}
}