@import "usual/color";
@import "usual/unit1";
.color-1.layout-navbar-arrow-pc:after{
	display: none;
}
/*
========================================
========================================
========================================
========================================
========================================
*/
%ts{
	transition: all .3s;
}
.dlbox{

}
.dlitem{
	padding: 15px 0;
	border-bottom: solid 1px #f4f4f4;
	&:last-child{
		border: none;
	}
}
.dllink{
	display: block;
	position: relative;
	padding-left: 38px;
	@extend %ts;
	font-size: 17px;
	color: $color1;
	&:before{
		position: absolute;
		top: 0;left: 0;
		@extend %ts;
		content: "﹥";
		font:{
			size: 28px;
		}
		color: #fff;
		display: inline-block;
		background-color: $color1;
		width: 30px;line-height: 30px;
		text-align: center;
		border-radius: 50%;
	}
	&:hover{
		@extend %ts;
		color: #ff4e00;
		&:before{
			@extend %ts;
			background-color: #ff4e00;
		}
	}
	img{
		width: 30px;
		vertical-align: -6px;
	}
}