@import "usual/color";
.layout-breadcrumb-box {
	background-color: $color1;
}
.layout-navbar-arrow-pc:after,
.layout-navbar-arrow-mobi:after {
	display: none;
}
/*
========================================
========================================
========================================
========================================
========================================
*/
.layout-main{
	font-size: 0;
}
.err-txt{
	line-height: 1.6;
	font-size: 16px;
	a{
		color: #00af86!important;
		text-decoration: underline!important;
	}
	span{
		font-weight: bold;
		color: #000;
	}
}
@media (max-width: 639px){
	.err{
		margin-bottom: 15px;
		.is-pc{display: none;}
		img{
			margin: 0 auto;
			display: block;
		}
	}
}
@media (min-width: 640px){
	.layout-main{
		padding-top: 50px;
	}
	.err{
		display: inline-block;
		width: 150px;
		margin-right: 30px;
		.is-mobi{display: none;}
		img{width: 100%;}
	}
	.err-txt{
		display: inline-block;
		width: calc( 100% - 150px - 30px);
		transform: translateY(30px);
	}
}
@media (min-width: 768px){
	.layout-main{
		padding:{
			left: 50px;
			right: 50px;
		}
	}
}
@media (min-width: 992px){
	.layout-main{
		padding:{
			left: 90px;
			right: 90px;
		}
	}
	.err{
		margin-right: 60px;
	}
	.err-txt{
		width: calc( 100% - 150px - 60px);
		transform: translateY(20px);
	}
}
@media (min-width: 1200px){
	.layout-main{
		padding:{
			left: 120px;
			right: 120px;
		}
	}	
}