// eason
@import "forum/forum-color";
//
@import "usual/im";
@import "usual/color";
@import "usual/unit4";
//
@import "uikit/uikit-checkbox-radio";
@import "uikit/tmp-pager";
@import "lightbox/lightbox-forum";
//
@import "forum/forum-filsort-pseudo-lightbox";
@import "forum/forum-fil-day-hot";
@import "forum/forum-cta";
@import "forum/forum-card";
@import "forum/forum-group";
@import "forum/forum-post";
//
/*
=====================================
=====================================
=====================================
=====================================
=====================================
=====================================
*/
// LAYOUT INTRODUCTION
.layout-main-intro{
	.layout-content{
		margin-bottom: 15px;
	}
}
@media (max-width: 991px){
	.layout-main-intro{
		.layout-content{
			font-size: 13px;
		}
	}
}
@media (min-width: 992px){
	.layout-main-intro{
		padding-bottom: 0;
		margin-bottom: 0;
	}
}
/*
=====================================
=====================================
=====================================
=====================================
=====================================
=====================================
*/
// LAYOUT CARD
.layout-main-card{
	padding: 0;
	.layout-main-full-bg{
		background:{
			image: none;
		}
		border: none;
		border-radius: 0px;
	}
}
@media (max-width: 991px){
	.layout-main-card{
		margin-bottom: 0;
		.layout-main-full-bg{
			background:{
				color: #fff;
			}
		}
		.layout-main-full-inbox{
			padding: 23px 0; 
		}
	}
}
@media (min-width: 992px){
	.layout-main-card{
		background-color: #fff;
		.layout-main-full-inbox{
			padding-top: 6px;
		}
		.layout-main-full-bg{
			background:{
				color: transparent;
			}
		}
	}
}
/*
=====================================
=====================================
=====================================
=====================================
=====================================
=====================================
*/
// A SIDE
.layout-sub{
	margin-bottom: 20px;
}
.forum-ad{
	margin-bottom: 23px;
}
.forum-ad-link{
	font-size: 0;
	display: block;
	img{
		width: 100%;
	}
}
/*
=====================================
=====================================
=====================================
=====================================
=====================================
=====================================
*/
// CTA
.forum-cta{
	background:{
		position: 13px 13px; // 11px -63px
	}
}
@media (min-width: 991px) and (max-width: 1199px){
	.forum-cta{
		right: calc( ( 100% - 960px ) / 2 );
	}
}
@media (min-width: 1200px){
	.forum-cta{
		right: calc( ( 100% - 1170px ) / 2 );
	}
}
/*
=====================================
=====================================
=====================================
=====================================
=====================================
=====================================
*/
// PAGER
@media (max-width: 991px){
	.pagerArea .pager{
		margin-top: 0;
	}	
}
@media (min-width: 992px){
	.pagerArea .pager{
		margin-top: 30px;
	}
}
/*
=====================================
=====================================
=====================================
=====================================
=====================================
=====================================
*/
// CONTAINER
.container-main{
	padding:{
		bottom: 0;
	}
}
@media (min-width: 768px){
	.container-main{
		border-bottom: solid 100px $f-color3;
	}
}
/*
=====================================
=====================================
=====================================
=====================================
=====================================
=====================================
*/
// POST
@media (max-width: 767px){
	.forum-portrait{
		padding:{
			top: 6px;
		}
	}
}
@media (min-width: 768px){
	.forum-portrait{
		padding:{
			top: 15px;
		}
	}
}