$te-color-1: #bbedff;
$te-color-2: #ff8017;
@import "usual/im";
@import "usual/color";
@import "usual/unit2";
// aside
@import "te/te-aside";
// icon picture
@import "te/te-title-icon";
/*
========================================
========================================
========================================
========================================
========================================
*/
.layout-main-full-bg{
	background:{
		color: $color2-light;
	}
}
.layout-main-full{
	.layout-title-level-3{
		color: $color2-dark;
	}
}
/*
========================================
========================================
========================================
========================================
========================================
*/
.fcbox{
	overflow: hidden;
	margin:{
		top: 5px;
	}	
	
	&:last-child{
		margin: 0;
	}
}
.fcitem{
	background:{
		color: rgba(255,255,255,.5);
	}
	border-style: solid;
	border-width: 2px;
	border-radius: 6px;
	line-height: 1.5;
	font-size: 18px;
	padding: 18px 18px 18px 45px;
	position: relative;
	img{
		width: 26px;
		position: absolute;
		top: 19px;left: 17px;
	}
	margin-bottom: 12px;
	&:last-child{
		margin-bottom: 0;
	}
	&:nth-child(1){
		border-color: #9e005d;
		color: #9e005d;
	}
	&:nth-child(2){
		border-color: #005bac;
		color: #005bac;
	}
	&:nth-child(3){
		border-color: #00a040;
		color: #00a040;
	}
	&:nth-child(4){
		border-color: #fa5102;
		color: #fa5102;
	}
}
@media (max-width: 767px){
	.fcbox{
		margin-bottom: 35px;
	}
}
@media (min-width: 768px){
	.fcbox{
		margin-bottom: 45px;
	}
}
/*
========================================
========================================
========================================
========================================
========================================
*/
.layout-main-full-inbox{
	margin-bottom: 100px;
}
.layout-main-full{
	margin-bottom: 0!important;
}
.container-main{
	padding-bottom: 0;
}
@media (max-width: 991px){
	.layout-sub{
		margin-bottom: 0;
	}
}
.layout-main-full .layout-title-level-3{
	&:before{
		display: none;
	}
}
.cta-btn.is-end{
	margin-bottom: 120px;
}
