// eason
@import "usual/im";
@import "usual/color";
// 
@import "uikit/tmp-owl-nav";
$color-light-block: #333;
body {
	background-color: #fff;
}
// NAVBAR
.navbar-ex1-collapse {
	// margin-top: 8px;
}
.navbar {
	box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3) !important;
}
// SLIDE SHOW
.slider-caption > div {
	// text-shadow:
	// 	0px 0px 4px #000,0px 0px 4px #000,0px 0px 4px #000,0px 0px 4px #000,0px 0px 4px #000,
	// 	-1px 0px #000,1px 0px #000,1px 1px #000,0px 1px #000,-1px -1px #000,-1px 0px #000,-1px 1px #000,-1px 0px #000,1px -1px #000,
	// 	-2px 0px #000,2px 0px #000,2px 2px #000,0px 2px #000,-2px -2px #000,-2px 0px #000,-2px 2px #000,-2px 0px #000,2px -2px #000;
}
// loader (失效)
.tp-bannertimer {
	background: {
		color: #f00;
	}
	height: 5px;
	z-index: 1000;
}
.backToTop {
	//padding-top: 16px;
}
/*
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
*/
// for slide show
.tparrows {
	opacity: 1 !important;
}
.tparrows.preview4 {
	&:after {
		background-color: transparent !important;
		box-shadow: none;
		color: #fff;
		font-size: 40px;
	}
	&:hover:after {
		transform: none !important;
		opacity: 0.5;
	}
}
.tp-leftarrow {
	&:after {
		content: "\e824" !important;
	}
}
.tp-rightarrow {
	&:after {
		content: "\e825" !important;
	}
}
/*
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
*/
// SECTION LINK ===========================
.sectionLink {
	border-radius: 5px;
	height: 150px;
	.locateArrow {
		opacity: 1;
	}
	.linkText {
		line-height: auto;
		font: {
			size: 26px;
			weight: bold;
		}
	}
}
@media (max-width: 767px) {
	.sectionLinkArea .row {
		margin-top: -30px;
	}
	.sectionLink {
		height: 80px;
		padding-top: 28px;
		margin-bottom: 0;
		.linkText {
			font-size: 14px;
			line-height: 1;
			margin-bottom: 3px;
		}
		.locateArrow {
			font-size: 12px;
			margin-left: -6px;
			bottom: auto;
		}
	}
	.sectionLinkArea {
		.row {
			width: 100%;
			margin-left: 0;
		}
		.col-sm-3 {
			float: left;
			padding: 0;
			width: calc(25% - 6px);
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				margin-right: 8px;
			}
			&:nth-child(4) {
				margin-right: 0;
			}
		}
	}
}
.scrolling-icon {
	position: absolute;
	@include img-path("nav-menu-icon.png");
	left: 50%;
	transform: translateX(-50%);
}
@media (max-width: 767px) {
	.scrolling-icon {
		@include img-ratio("nav-menu-icon.png", 2);
		width: 50px;
		height: 50px;
		top: -25px;
	}
	.scrolling-icon-1 {
		background: {
			position: 0px -29px;
		}
	}
	.scrolling-icon-2 {
		background: {
			position: 0px -138px;
		}
	}
	.scrolling-icon-6 {
		background: {
			position: 0px -574px;
		}
		height: 58px;
		top: -31px;
	}
	.scrolling-icon-4 {
		background: {
			position: 0px -468px;
		}
	}
}
@media (min-width: 768px) {
	.sectionLink {
		font-size: 0;
		padding-top: 67px;
		.linkText {
			line-height: 1;
			display: inline;
		}
	}
	//
	.scrolling-icon {
		top: -50px;
		width: 100px;
		height: 100px;
	}
	.scrolling-icon-1 {
		background: {
			position: 0px -57px;
		}
	}
	.scrolling-icon-2 {
		background: {
			position: 0px -275px;
		}
	}
	.scrolling-icon-6 {
		height: 116px;
		top: -58px;
		background: {
			position: 0px -1149px;
		}
	}
	.scrolling-icon-4 {
		background: {
			position: 0px -935px;
		}
	}
	//
	.sectionLink .locateArrow {
		bottom: 20px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.sectionLink .linkText {
		font-size: 19px;
	}
}

/*
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
*/
// SECTION : ENGLIST-EVENT =============================
.section-event {
	.btn-link {
		&:hover {
			color: $color1 !important;
		}
	}
	.thumbnailContent .caption {
		background-color: #f8f8f8;
	}
}
/*
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
*/
// SECTION : SERVICE ===========================
.section-service {
	.btn-link {
		&:hover {
			color: $color6 !important;
		}
	}
	.thumbnailContent .caption {
		background-color: #f8f8f8;
	}
}
@media (min-width: 992px) {
	.section-service {
		.owl-controls {
			display: none !important;
		}
	}
}
/*
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
*/
// SECTION : IG ===========================
.section-ig {
	padding-bottom: 50px !important;
}
/*
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
*/
// MASSORY ==============================
#igGrid .container {
	padding: 15px 15px 0;
}
.ig-grid {
	margin-right: -15px;
	margin-top: 25px;
	font-size: 0;
}
.ig-grid-sizer,
.ig-grid-item {
	width: calc(100% - 15px);
}
.ig-gutter-sizer {
	width: 15px;
}
.ig-grid-item {
	font-size: 0;
	border-radius: 6px;
	overflow: hidden;
	margin-bottom: 15px;
	box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
	.ig-grid {
		margin-top: 30px;
	}
	.ig-grid-item,
	.ig-grid-sizer {
		width: calc(33.3% - 15px);
	}
}
@media (min-width: 992px) {
	.ig-grid-item,
	.ig-grid-sizer {
		width: calc(25% - 15px);
	}
}

/*
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
*/
// INTERSGRAN
.ig-grid-img {
	background: {
		size: cover;
		position: center center;
	}
	border: solid 9px #fff;
}

.ig-grid-msgbox {
	background: #fff;
	padding: 8px 10px 10px;
}
.ig-grid-msg {
	font-size: 14px;
	@extend %row2;
	height: 43px;
	color: $color-light-block;
}

// HASH TAG
.hashtag {
	clear: both;
	text-align: center;
	font-size: 0;
}
.hashtag-link {
	display: inline-block;
	padding: 5px 12px;
	font-size: 15px;
	margin-right: 5px;
	margin-bottom: 5px;
	background-color: $color5;
	color: #fff;
	&:hover {
		background-color: #c34e44;
		color: #fff;
	}
	&:last-child {
		margin-right: 0;
	}
}
/*
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
*/
// SECTION TITLE
.sectionTitle {
	margin: {
		top: 0;
		bottom: 50px;
	}
	h2 {
		font-size: 36px;
	}
}
@media (max-width: 767px) {
	.sectionTitle h2 {
		margin-bottom: 30px;
	}
}
@media (min-width: 768px) {
	.sectionTitle h2 {
		margin-bottom: 50px;
	}
}
// color
section#latestNews {
	.caption {
		background: #fff;
	}
}
////
.lightSection {
	.thumbnailContent .caption {
		background-color: #fff;
	}
}
.caption {
	p {
		height: 84px;
		@extend %row4;
	}
}

@media (max-width: 767px) {
	.section-event {
		padding-top: 15px;
	}
}
/*
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
==================================================================
*/
// bread crumb
.layout-breadcrumb-box {
	display: none;
}
