@import "layout/layout";
// TW
@import "layout/title-content-fix";
@import "layout/tabmenu";
body{
	font-family: arial,"微軟正黑體",Microsoft JhengHei!important;
}
.for-update-only{
	font-size: 12px;
}
// FOOTER
.copyRight{
	p{
		font-size: 14px;
		line-height: 23px;
	}
}
.footer-link{
	li{
		font-size: 14px;
	}
}
@media (max-width: 499px){
	.footer-rise{
		.tabmenu{
			bottom: 67px;
		}
	}
}
@media (min-width: 500px) and (max-width: 767px){
	.footer-rise{
		.tabmenu{
			bottom: 52px;
		}
	}
}
@media (max-width: 767px){
	.footer-rise {
		.backToTop {
			bottom: 107px;
		}
	}
}