@import "layout/layout"; 
// KR 
@import "layout/title-content";
@import "layout/navbar-kr";
@import "layout/footer-kr";
@import "layout/tabmenu-kr";
body {
	font-family: "NanumGothic",ng,"나눔고딕",Verdana, Arial, Helvetica, sans-serif;
}
/*
========================================
========================================
========================================
========================================
========================================
*/
// HEADER
// 因 KOREA 的 header 比較高
@media (min-width: 992px){
	.sticky-top {
		top: 185px;
	}
}
/*
========================================
========================================
========================================
========================================
========================================
*/
// LIGHTBOX : LOGIN & FORGET : WIDTH ERROR
#loginModal,
#forgetModal{
	.modal-content{
		display: block;
	}
}
/*
========================================
========================================
========================================
========================================
========================================
*/
.layout-col-12{
	max-width: none; // Alinta : 韓國不要此限制 (107/12/18) 
}
/*
========================================
========================================
========================================
========================================
========================================
*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
	input{min-height: 33px;}
}