@import "usual/im";
@import "usual/color";
@import "usual/unit4";
//
@import "uikit/tmp-aside";
@import "article/art-aside";
@import "uikit/tmp-owl-nav";
/*
========================================
========================================
========================================
========================================
========================================
*/
.art-list-f3{
	display: none;
}
.plimg{
	width: 100%;
}
/*
========================================
========================================
========================================
========================================
========================================
*/
.layout-main-full-bg{
	background:{
		color: $color4-light-light;
	}
}
/*
========================================
========================================
========================================
========================================
========================================
*/
.plbox{
	li{
		position: relative;
		padding-left: 18px;
		&:before{
			content: "※";
			position: absolute;
			left: 0;top: 0;
		}
	}
}
/*
========================================
========================================
========================================
========================================
========================================
*/
.thumbnailContent .caption{
	background-color: $color4-light-light;
}
@media (max-width: 767px){
	.owl-carousel-type-1 .caption{
		height: 470px;
	}	
}
@media (min-width: 768px) and (max-width: 991px){
	.owl-carousel-type-1 .caption{
		height: 340px;
	}	
}
@media (min-width: 992px){
	.owl-carousel-type-1 .caption{
		height: 510px;
	}
}
/*
========================================
========================================
========================================
========================================
========================================
*/
.is-hl{
	color: #ef8220;
}
/*
========================================
========================================
========================================
========================================
========================================
*/
.layout-title-level-3{
	display: block;
}
.pl-3{
	li{
		line-height: 1.6;
	}
}