h1,
h2
	position: relative
	span
		display: block
		color: #fff
		font:
			size: 30px
			weight: bold
		position: absolute
		right: 0
		buttom: 0

//1.===== height-line 有問題、以下兩註解正確
/*@import 'layout/layout'*/
// @import 'layout/layout

//2.======可以多空列，不會壞	
h3

	color: blue

//3.====不可空無 property、應註解掉
//h3

//4.=== 屬性不可不換行
//.act color: red XX
.act
	color: red // O

//5.=== 選取器後方有「空格」是不影嚮的
.act 
	color: red

//6.=== 空的 media query 不用註解掉，不會壞
@media (min-width: 992px)
	// .act
		// color: blue
@media (max-width: 991px)

//7.==== 逗號後，同行 & 換行都可
h1,h2
	color: #aaa
h1,
h2
	color: #bbb