@import "usual/im";
@import "usual/color";
@import "usual/color-kr";
@import "usual/unit4";
// @import "usual/title-deco5";
// aside
@import "uikit/tmp-aside";
@import "uikit/tmp-aside-lb";
@import "_comm_kr/comm-aside";
// TITLE
@import "_mywfc_kr/mypage-title-2";
@import "_comm_kr/comm-title-icon";
// SLICK
@import "uikit/uikit-slick";

@import "no_sort/kr_zippy_wfcfriends";
/*
========================================
========================================
========================================
========================================
========================================
*/
// Aside Menu now Sort
.art-list-f2-item:nth-child(3){
	.art-list-f3{
		display: block;
	}
}
/*
========================================
========================================
========================================
========================================
========================================
*/
// SLICK
.slick-dots .slick-active{
	background-color: $color4;
}
.slick-list{
	overflow: hidden;
}
@media (max-width: 767px){
	.slick{
		width: 100%;
	}	
}
@media (min-width: 768px){
	.slick{
		width: 80%;
	}
}
/*
========================================
========================================
========================================
========================================
========================================
*/
.friend-name{
	font:{
		size: 17px;
	}
	color: #ff9000;
}
.friend-local{
	line-height: 1.5;
	margin:{
		top: 3px;
		bottom: 8px;
	}
}
.friend-eng{
	line-height: 1.5;
}
/*
========================================
========================================
========================================
========================================
========================================
*/
// IE HACK
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: 767px){
	.friends-item {
		width: calc( 100% / 2 - 14px );
	}
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width: 768px){
	.friends-item {
		width: calc( 100% / 3 - 22px );
	}
}