.layout-card-link{
	overflow: hidden;
}
.is-color{
	float: left;
	padding-right: 8px;
}
.is-teacher{
	float: right;
}
/*
========================================
========================================
========================================
========================================
========================================
*/
.per-unit{
	padding:{
		top: 28px;
		bottom: 15px;
	}
	border-bottom: solid 1px #f1f1f1;
	position: relative;
}
.per-unit-child{
	font-size: 13px;
	position: absolute;
	left: 3px;
	top: 13px;
	color: #555;
}
@media (max-width: 991px){
	.per-unit{
		padding-left: 15px;
	}
	.per-unit-child{
		left: 18px;
	}
}
/*
========================================
========================================
========================================
========================================
========================================
*/
.mypage-lt{
	span{
		color: #000;
		font-size: 15px;
		font-weight: bold;
	}
}
.layout-card-item{
	border: none;
}
@media (max-width: 991px){
	.act-state{
		// left: 0;
	}
	.mypage-lt{
		top: -9px;
	}
	.layout-card{
		padding-top: 27px;
	}
}
@media (min-width: 992px){
	.layout-card-item{
		padding: 20px 0 0 25px;
	}	
}