.layout-card-link{
	overflow: hidden;
}
.is-color{
	float: left;
	padding-right: 8px;
}
.is-teacher{
	float: right;
}
/*
========================================
========================================
========================================
========================================
========================================
*/
.per-unit{
	padding:{
		top: 5px;
		bottom: 6px;
	}
	// border-bottom: solid 1px #f1f1f1;
	position: relative;
	
}
.per-unit-child{
	font-size: 16px;
	position: absolute;
	left: 3px;
	top: 0px;
	color: #f269a5;
}
@media (max-width: 991px){
	.per-unit{
		padding:{
			left: 15px;
			
		}
	}
	.per-unit-child{
		left: 18px;
		padding-top: 8px!important;
	}
}
/*
========================================
========================================
========================================
========================================
========================================
*/
.mypage-lt{
	span{
		color: #000;
		font-size: 15px;
		font-weight: bold;
	}
}
.layout-card-item{
	border: none;
	border-bottom: solid 1px #f1f1f1;
}
@media (max-width: 991px){
	.act-state{
		// left: 0;
	}
	.mypage-lt{
		top: 12px;
	}
	.layout-card{
		// padding-top: 27px;
	}
	.layout-card-item{
		padding-top: 25px;
	}
	.per-unit{
		&:nth-child(2){
			padding-top: 25px!important;
		}
	}
}
@media (min-width: 992px){
	.layout-card-item{
		padding: 5px 0 10px 20px;
	}	
	.mypage-lt{
		top: 13px;
	}
	.per-unit{
		&:nth-child(2){
			padding-top: 20px!important;
		}
	}
}