
#dweShop {
	.modal-dialog {
		// box width here
		// width: 80%;
	}
	.modal-content,
	.panel {
		// for lightbox layout
	}
	.panel-heading {
		// title bg color here
		background-color: $color4;
	}
	.panel-title {
		// title font size here
		font-size: 22px;
	}
	.panel-close {
		// closer collor here
		color: $color4;
	}
	.panel-body {
	}
}
@media (max-width: 991px){
	#dweShop{
		.modal-dialog{
			width: calc( 100% - 20px );
		}
	}
}
@media (min-width: 992px){
	#dweShop{
		.modal-dialog{
			width: 970px;
		}
		.panel-body{
			padding: 40px;
		}
	}
}
/*
========================================
========================================
========================================
========================================
========================================
*/
// LIGHT BOX
.zoom-pc,.zoom-mobi{
	font-size: 12px;
	padding-bottom: 5px;
	color: #666;
}
.goods-name{
	color: #ff9000;
	font:{
		size: 24px;
		weight: bold;
	}
	padding-bottom: 8px;
	b{
		color: #333;
		margin-right: 5px;
	}
}
.zoom-box{
	
}
.lb-content{
	line-height: 1.5;
	b{
		font:{
			size: 20px;
			weight: bold;
		}
		padding-bottom: 5px;	
		display: block;
	}
}
@media (max-width: 991px){
	.goods-name{
		b{display: block;}
	}
	.zoom-box{
		margin-bottom: 12px;
	}
}
@media (min-width: 992px){
	.zoom-box,.lb-content{
		display: inline-block;
		vertical-align: top;
	}
	.lb-content{
		width: calc( 100% - 300px);
		padding-left: 10px;
	}
}