// eason
// LIGHT BOX USUAL
// 全站共用 ex: login / forget pw
.lightbox-usual{
	.panel-heading{
		background-color: $color1;
	}
	.panel-close{
		color: #79a511;
	}
	////
	.btn{
		background-color: $color1;
		border: none!important;
		box-shadow: none!important;
		&:hover{
			background-color: $color1-dark;
			color: #fff;
		}
	}
	.help-block{
		margin-top: 10px;
		a{
			color: #000;
			&:hover{
				color: #000;
				text-decoration: underline!important;
			}
		}
	}	
}
@media (max-width: 767px){
	.lightbox-usual{
		.modal-dialog{
			width: 280px;
		}
	}
}
/*
========================================
========================================
========================================
========================================
========================================
*/
.form-group.ver-box{
	margin-bottom: 15px;
	display: block;
}
.ver-img{
	display: inline-block;
	height: 50px;width: 120px;
	margin-right: 10px;
}
.ver-input{
	display: inline-block;
	line-height: 46px;
	font-size: 15px;
	text-indent: 10px;
	width: calc( 100% - 135px );
	border: solid 1px #e4e4e4;
	border-radius: 6px;
}