// SIGHT UP 2
$te-section-color-1: #ffd6b6
$te-section-color-2: #bcebff
$te-section-color-3: #d3ecbe
$te-section-color-4: #fff2bd
$te-section-color-5: #ffd2d2
$te-section-color-6: #edd7ff
//
$te-section-btn-1: #ff8f38
$te-section-btn-2: #1d8ebf
$te-section-btn-3: #58ac12
$te-section-btn-4: #efa30c
$te-section-btn-5: #9e005d
$te-section-btn-6: #9a54ed
//
$te-section-btn-hover-1: #dd7423
$te-section-btn-hover-2: #1477a1
$te-section-btn-hover-3: #448d08
$te-section-btn-hover-4: #be7f00
$te-section-btn-hover-5: #700041
$te-section-btn-hover-6: #5f24a7