// ACTIVITY SORT
$color-act-a: #fed600
$color-act-p: #f39800
$color-act-11: #c98f38

$color-act-b: #95308b
$color-act-w: #d1007a
$color-act-c: #e20830

$color-act-f: #9ec53e
$color-act-e: #229648
$color-act-12: #118354

$color-act-d: #32b7b4
$color-act-z: #4e61ab
$color-act-k: #3071b9

// dart
$color-act-a-dark: #febe00
$color-act-p-dark: #976417
$color-act-11-dark: #704607

$color-act-b-dark: #a0005d
$color-act-w-dark: #e20830
$color-act-c-dark: #aa001f

$color-act-f-dark: #6f9217
$color-act-e-dark: #026b40
$color-act-12-dark: #025a35

$color-act-d-dark: #06817f
$color-act-z-dark: #25367e
$color-act-k-dark: #0e417a