// eason
$cap-color-1: #20aee5
$cap-color-2: #005bac
$cap-color-3: #00a040
$cap-color-4: #7bbe3f
$cap-color-5: #fabd00
// from world family magazine no.154 p13 & 14
//
$cap-text-1: #0990cc
$cap-text-2: $cap-color-2
$cap-text-3: $cap-color-3
$cap-text-4: #548425
$cap-text-5: #f99c15
//
$cap-light-1: #9fedff
$cap-light-2: #a6c2ff
$cap-light-3: #97ffbf
$cap-light-4: #c0f199
$cap-light-5: #fdecb9
//
$cap-checkbox-1: #d6f8ff
$cap-checkbox-2: #ccdcff
$cap-checkbox-3: #b4f8ce
$cap-checkbox-4: #c6e9a9
$cap-checkbox-5: #f3e7c2
//
$cap-dark: #000