$te-color1: #ffd6b6
$te-color2: #bcebff
$te-color3: #d3ecbe
$te-color4: #e0d7f9
$te-color5: #85ffed
// TEXT
$te-color1-text: #ff8100
$te-color2-text: #309ee8
$te-color3-text: #62b520
$te-color4-text: #95308b
$te-color5-text: #1ca39c