%cap-icon {
	@include img-path-ratio("cap/sprite.png", 2);
	width: 21px;
	height: 21px;
	display: inline-block;
}
.cap-bookbox-icon-write {
	@extend %cap-icon;
}
.cap-bookbox-icon-studio {
	@extend %cap-icon;
	background: {
		position: 0px -25px;
	}
}
@media (max-width: 991px){
	.cap-bookbox-icon-write,
	.cap-bookbox-icon-studio {
		margin: 0 auto;
		display: block;
	}
}