//  INFO
%name{
	font-size: 16px;
	margin-bottom: 5px;
	max-height: 30px;
}
//
.lib-info{
	background-color: #fafafa;
	padding: 24px;
}
.lib-info-en{
	@extend %name;
	color: #000;
	text-transform: capitalize;
}
.lib-info-location{
	@extend %name;
	color: #000;
}
.lib-info-content{
	font-size: 14px;
	color: #222;
	line-height: 1.3;
}
@media (min-width: 992px){
	.lib-info{
		overflow: hidden;
	}
	.lib-sort-super{
		.lib-info{
			height: 145px;
		}
	}
	.lib-sort-funny{
		.lib-info{
			height: 165px;
		}
	}
	.lib-sort-abc{
		.lib-info{
			height: 78px;
		}
	}
}