.lightbox-cap-checkgroup
	.uikit-checkbox
		input.uikit-checkbox-input(type='checkbox')
		label.uikit-checkbox-label Look Up! The Sun is Shining
	.uikit-checkbox
		input.uikit-checkbox-input(type='checkbox')
		label.uikit-checkbox-label I Can Put My Finger on Top of My Head
	.uikit-checkbox
		input.uikit-checkbox-input(type='checkbox')
		label.uikit-checkbox-label let's Go on a Picnic
.lightbox-cap-checkgroup
	.uikit-checkbox
		input.uikit-checkbox-input(type='checkbox')
		label.uikit-checkbox-label We're Packing a Picnic Basket
	.uikit-checkbox
		input.uikit-checkbox-input(type='checkbox')
		label.uikit-checkbox-label Away From the City
	.uikit-checkbox
		input.uikit-checkbox-input(type='checkbox')
		label.uikit-checkbox-label Riding Down a Country Road
.lightbox-cap-checkgroup
	.uikit-checkbox
		input.uikit-checkbox-input(type='checkbox')
		label.uikit-checkbox-label Green is Go
	.uikit-checkbox
		input.uikit-checkbox-input(type='checkbox')
		label.uikit-checkbox-label I Like My Rooster
	.uikit-checkbox
		input.uikit-checkbox-input(type='checkbox')
		label.uikit-checkbox-label Lazy Gus