if ( country === 'tw' )
	|<?php include "html_model/footer.html";?>
	|<?php include "html_model/tabmenu.html";?>
else
	|<?php include "html_model/footer-kr.html";?>
	|<?php include "html_model/tabmenu-kr.html";?>
|<?php include "html_model/floating-ui.html";?>
|<?php include "html_model/js-for-all.html";?>