// BTN
.layout-btn 
	font-size: 15px
	border: none
	box-shadow: none !important
	padding: 7px 12px
	border: none !important
	&:hover 
		box-shadow: none !important
	

.layout-btn-lg,
.layout-btn-md 
	border-style: solid !important

.layout-btn-md 
	font-size: 17px
	border-width: 3px !important
	padding: 7px 10px

.layout-btn-lg 
	font-size: 20px
	border-width: 5px !important
	height: 52px !important


//==================================================
//==================================================
//==================================================
//==================================================
//==================================================
//==================================================

.layout-btn 
	&.color-1 
		background-color: $color1 !important
		color: #fff !important
		&:hover 
			background-color: $color1-dark !important
			color: #fff
		
	

.layout-btn-md,
.layout-btn-lg 
	&.color-1 
		border-color: $color1-dark !important
		color: #2c3a05 !important
		&:hover 
			color: #fff !important
		
	


//==================================================
//==================================================
//==================================================
//==================================================
//==================================================
//==================================================

.layout-btn 
	&.color-2 
		background-color: $color2 !important
		color: #fff !important
		&:hover 
			background-color: $color2-dark !important
			color: #fff
		
	

.layout-btn-md,
.layout-btn-lg 
	&.color-2 
		border-color: #0586ce !important
		&:hover 
			color: #fff !important
		
	


//==================================================
//==================================================
//==================================================
//==================================================
//==================================================
//==================================================

.layout-btn 
	&.color-3 
		background-color: $color3 !important
		color: #fff!important
		&:hover 
			background-color: $color3-dark !important
			color: #fff
		
	

.layout-btn-md,
.layout-btn-lg 
	&.color-3 
		border-color: $color3 !important
		&:hover 
			color: $color3-text !important
		
	


//==================================================
//==================================================
//==================================================
//==================================================
//==================================================
//==================================================

.layout-btn 
	&.color-4 
		background-color: $color4 !important
		color: #fff !important
		&:hover 
			background-color: $color4-dark !important
			color: #fff
		
	

.layout-btn-md,
.layout-btn-lg 
	&.color-4 
		border-color: $color4-text !important
		&:hover 
			color: #fff !important
		
	


//==================================================
//==================================================
//==================================================
//==================================================
//==================================================
//==================================================

.layout-btn 
	&.color-5 
		background-color: $color5 !important
		color: #fff !important
		&:hover 
			background-color: $color5-dark !important
			color: #fff
		
	

.layout-btn-md,
.layout-btn-lg 
	&.color-5 
		border-color: $color5 !important
		&:hover 
			color: #fff !important
		
	
