// FOOTER
.copyRight
	p
		font-size: 12px
		line-height: 17px
	

.footer-link
	li
		font-size: 12px
	

.backToTop
	padding: 0!important

@media (max-width: 386px)
	.footer-rise 
		.backToTop 
			bottom: 156px
		
		.tabmenu 
			bottom: 96px
		
	

@media (min-width: 387px) and (max-width: 578px)
	.footer-rise 
		.backToTop 
			bottom: 139px
		
		.tabmenu 
			bottom: 79px
		
	

@media (min-width: 579px) and (max-width: 767px)
	.footer-rise 
		.backToTop 
			bottom: 121px
		
		.tabmenu 
			bottom: 61px
		
	


//=========================================
//=========================================
//=========================================
//=========================================
//=========================================

@media (max-width: 767px)
	.backToTop
		bottom: 54px
	
	.copyRight
		padding:
			bottom: 50px
		
	

@media (min-width: 768px)
	.backToTop
		width: 88px
		transform: translateY(150px)
	
