// xs 0 +
// sm 768 +
// md 992 +
// lg 1200 +
.layout-container
	font-size: 0

.layout-row
	font-size: 0
	& > *
		display: inline-block
	

.layout-col-title
	background-color: #f1f1f1
	text-align: center
	font:
		weight: bold
		size: 15px
	
	

.layout-col
	background-color: #aaa
	// border-right: 1px solid #fff
	font:
		size: 14px
	


//=====================================//======================================
//=====================================//======================================
//=====================================//======================================
//=====================================//======================================
//=====================================//======================================
//=====================================//======================================

// row
// row
// row 不平分 width，title 可給 width 定值， 外框也沒 width 100% 
// 少 & 多 都可用，尤其適合多者
.layout-container-outer
	overflow-y: hidden

.layout-container
	width: calc( 100px + 200px * 5 )

.alyout-row
	

.layout-col-title
	width: 100px


.layout-col
	width: 200px






//=====================================//======================================
//=====================================//======================================
//=====================================//======================================
//=====================================//======================================
//=====================================//======================================
//=====================================//======================================

// row row row 需平分 width，title 不可定值，外框有 width 100%
// 僅少者適用

.layout-container
	min-width: 100%

.layout-col-title



//=====================================//======================================
//=====================================//======================================
//=====================================//======================================
//=====================================//======================================
//=====================================//======================================
//=====================================//======================================

@media (max-width: 767px)


@media (min-width: 768px)
	
