// eason 1070813
// LOGBAR PC
@media (min-width: 768px)
	.logbar-m-visibility
		display: none!important
	
	.top-info-bar
		background-color: #fafafa
		border-bottom: solid 1px #eaeaea
		padding: 0
		height: 40px
		.container
			text-align: right
		
	
	.logbar-pc
		display: inline-block
		padding:
			top: 12px
			right: 29px
		
	
	.logbar-pc-link
		display: inline-block
		padding: 0 8px
		line-height: 21px
		color: #222
		border-radius: 5px
		min-width: 22px
		&:hover
			background-color: #777
			color: #fff
		
	
	.logbar-pc-out,.logbar-pc-in
		display: inline-block
	
	.logbar-pc-welcome
		color: #000
		font-family: arial
	
	//
	.logbar-pc-in
		position: relative
	
	.logbar-pc-share-fb:hover
		background-color: #47639e
	
	.logbar-pc-share-youtube:hover
		background-color: #f00
	
	.logbar-pc-share-ig:hover
		background-color: #d10869
	
	.logbar-pc-share-fb,
	.logbar-pc-share-ig
		width: 21px
		padding: 0
		text-align: center
	

