// eason
// *******************************
// 體制上的設定 , 就用 container-col-1 & 2 外框
// 內部 tag 加 .layout-main & .layout-sub tag
// 但若非體制上的版型(如 list )
// 仍應該用 container-col-1 & 2 外框
// 但內部 tag 則不要用 .layout-main
// 或記得註銷 padding
// *******************************
$container-bottom: 100px
$mobi-ui-padding: 23px
$mobi-bottom-gutter: 12px
//
$pc-ui-padding-main: 50px
$pc-ui-padding-sub: 30px
$pc-bottom-gutter : $mobi-ui-padding
//
// $max-width: 960px
aside
	margin-bottom: 0

.container-main
	ol
		margin-left: 20px
		li
			// margin-bottom: 12px
		
		


.layout-main,
.layout-sub
	background-color: #fff

.layout-col-12
	width: 100%
	// max-width: $max-width
	padding: 0 15px
	margin: 0 auto

@media (max-width: 479px)
	.container-main
		padding:
			// left: 0
			// right: 0
		
	

@media (max-width: 767px)
	.container-main
		padding:
			top: 115px
		
	

@media (min-width: 768px)
	.container-main
		padding:
			top: 80px
			bottom: 100px
		
	

@media (max-width: 991px)
	.layout-sub,.layout-main
		margin-bottom: $mobi-bottom-gutter
		padding: $mobi-ui-padding
	
	.container-main
		& > .row
			&>div
				padding:
					left: 0
					right: 0
				
			
		
	

@media (min-width: 992px)
	.layout-sub,.layout-main
		margin-bottom: $pc-bottom-gutter
	
	.layout-main
		padding: $pc-ui-padding-main
	
	.layout-sub
		padding: $pc-ui-padding-sub
	

@media (min-width: 1200px)
	.layout-sub
		padding: $pc-ui-padding-sub
	


//============================================
//============================================
//============================================
//============================================
//============================================

// MAIN VISION
.layout-main-vision-img
	width: 100%

@media (max-width: 991px)
	.layout-main-vision
		margin: 0
		padding: 0
		position: relative
		width: calc( 100% + 15px + 15px)
		left: -15px
		margin-top: -15px
	

@media (min-width: 992px)
	.layout-main-vision
		margin-bottom: 0
		padding: 0
	


//============================================
//============================================
//============================================
//============================================

.container
	&.container-main
		width: auto
		& > .row
			margin:
				left: auto
				right: auto
			
		
	

@media (min-width: 992px)
	.container
		&.container-main
			& > .row
				// width: $max-width
			
		
	

@media (min-width: 1200px)
	.container
		&.container-main
			& > .row
				width: 1170px
			
		
	


//============================================
//============================================
//============================================
//============================================
//============================================

// LAYOUT MAIN FULL
// debug x scroll
.container-main
	// overflow-x: hidden

.layout-main-full
	background: transparent
	position: relative
	padding:
		right: 0
		left: 0
	

.layout-main-full-bg
	width: 250%
	background-color: #ddd
	@include img-path("dec_bg1.png")
	height: 100%
	position: absolute
	top: 0
	z-index: -1

.layout-main-full-inbox
	border-radius: 6px
	border: solid 1px #fff

@media (max-width: 991px)
	.layout-main-full
		padding:
			top: $mobi-bottom-gutter
			bottom: $mobi-bottom-gutter
		
	
	.layout-main-full-inbox
		padding: $mobi-ui-padding
	
	//
	.layout-main-full-bg
		left: -15px
	

@media (min-width: 992px)
	.layout-main-full
		padding:
			top: $mobi-ui-padding
			bottom: $mobi-ui-padding
		
		
	.layout-main-full-inbox
		padding: $pc-ui-padding-main
	


//============================================
//============================================
//============================================
//============================================
//============================================

// LAYOUT MAIN CARD
$padding-pc: 50px
$padding-item: 20px
.layout-main-card
	background-color: #fff

.layout-card-item
	padding: $padding-item 0
	border-bottom: solid 1px #f1f1f1
	&:last-child
		border: none
	

.layout-card-link
	color: #333
	font-size: 15px

@media (max-width:991px)
	.layout-card-item
		padding:
			left: $padding-item - 5px
			right: $padding-item - 5px
		
	
	.layout-main-card
		.pagerArea
			padding:
				left: 23px
				bottom: 23px
				right: 23px
			
				
	

@media (min-width: 992px)
	.layout-main-card
		padding: $padding-pc
	
	.layout-card-item
		
	
