.layout-gridsys-table
	// 3
	&.layout-gridsys-table-color-3
		border-top-color:  $color3
		border-left-color:  $color3
		.row
			.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
			.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
			.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
			.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
			.layout-gridsys-table-title,
			.layout-gridsys-table-content
				border-right-color:  $color3
				border-bottom-color:  $color3
			////
			.layout-gridsys-table-title
				background-color:	$color3-light
		.row-cus-border-top
			border-top-color: $color3
	// 5
	&.layout-gridsys-table-color-5
		border-top-color:  $color5
		border-left-color:  $color5
		.row
			.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
			.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
			.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
			.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
			.layout-gridsys-table-title,
			.layout-gridsys-table-content
				border-right-color:  $color5
				border-bottom-color:  $color5
			////
			.layout-gridsys-table-title
				background-color:	$color5-light
		.row-cus-border-top
			border-top-color: $color5
//============================================
//============================================
//============================================
// 1
.table-border-color-1
	border-color: $color1
	thead
		background-color: $color1-light
		& > tr > th
			border-color: $color1
	tbody
		& > tr > td
			border-color: $color1
// 2
.table-border-color-2
	border-color: $color2
	thead
		background-color: $color2-light
		& > tr > th
			border-color: $color2
	tbody
		& > tr > td
			border-color: $color2
// 3
.table-border-color-3
	border-color: $color3
	thead
		background-color: $color3-light
		& > tr > th
			border-color: $color3
	tbody
		& > tr > td
			border-color: $color3
// 4
.table-border-color-4
	border-color: $color4
	thead
		background-color: $color4-light
		& > tr > th
			border-color: $color4
	tbody
		& > tr > td
			border-color: $color4
// 5
.table-border-color-5
	border-color: $color5
	thead
		background-color: $color5-light
		& > tr > th
			border-color: $color5
	tbody
		& > tr > td
			border-color: $color5