.bg-color-1{
	background-color: $color1;
}
.bg-color-2{
	background-color: $color2;
}
.bg-color-3{
	background-color: $color3;
}
.bg-color-4{
	background-color: $color4;
}
.bg-color-5{
	background-color: $color5;
}
.bg-color-6{
	background-color: $color6;
}
.bg-color-7{
	background-color: $color7;
}
.bg-color-8{
	background-color: $color8;
}
/*
===================================
===================================
===================================
===================================
===================================
*/
.body-wrapper .main-wrapper{
	.bg-color-1-light{
		background-color: $color1-light;
	}
	.bg-color-2-light{
		background-color: $color2-light;
	}
	.bg-color-3-light{
		background-color: $color3-light;
	}
	.bg-color-4-light{
		background-color: $color4-light;
	}
	.bg-color-5-light{
		background-color: $color5-light;
	}
	.bg-color-6-light{
		background-color: $color6-light;
	}
}