// eason
// FOOTER ==================================
footer {
	width: 100%;
	bottom: 0;
	left: 0;
	position: fixed;
	z-index: 1034;
}
.copyRight {
	padding: 12px 0;
	background-color: #222;
	p {
		//line-height: 23px;
	}
}

// FOOTER RISE
footer,
.backToTop,
.tabmenu,
.footer-rise footer,
.footer-rise .backToTop,
.footer-rise .tabmenu {
	transition: bottom 0.2s ease-in-out;
}

// TAG from myself
.footer-link {
	font-size: 0;
	li {
		display: inline-block;
		margin-left: 10px;
		&:first-child {
			margin-left: 0;
		}
	}
	a {
		color: #fff;
		&:hover {
			text-decoration: underline !important;
		}
	}
}
@media (max-width: 767px) {
	footer .color-bar .row {
		display: none;
	}
	.copyRight {
		padding: 7px 0 4px;
		p {
			line-height: 18px;
		}
	}
	.footer-link {
		ul {
			text-align: center;
		}
		li {
			display: inline-block;
			margin-left: 10px;
		}
		a {
			color: #fff;
			font-size: 13px;
			line-height: 18px;
			&:hover {
				text-decoration: underline !important;
			}
		}
	}
	.copyRightTextEng {
		display: none;
	}
	////
	footer {
		//height: 50px;
		//bottom: -50px;
	}
	/////
	.backToTop {
		bottom: 40px;
	}
	.tabmenu {
		bottom: 0;
	}
}
@media (min-width: 768px) {
	footer {
		height: 70px;
		bottom: -67px;
	}
	.footer-rise footer {
		bottom: 0;
	}
	.footer-link {
		ul {
			padding-top: 14px;
			text-align: right;
		}
	}
}