// AREA
.act-areabox 
	clear: both
	font-size: 15px
	&.open 
		.act-areabox-tag 
			transform: rotate(180deg)
// AREA-SWITCH
.act-areabox-switch 
	background-color: $color1
	border-radius: 6px
	position: relative
.act-areabox-name 
	color: #fff
	font-weight: bold
	font-size: 17px
	text-align: center
	line-height: 35px
	margin-bottom: 0
.act-areabox-tag 
	border-radius: 50%
	width: 22px
	height: 22px
	background-color: #fff
	@include img-path-ratio("activity/sprite.png", 2)
	background: 
		position: -4px -45px
	position: absolute
	bottom: 5px
	right: 8px
.act-areabox-box 
	padding-top: 10px
//================================================
//================================================
//================================================
//================================================
//================================================
//================================================
//================================================
//================================================
// DATE
%gary-block 
	background-color: #f2f2f2
	border-top: solid 1px $color-border
	line-height: 30px

// DATE-DATE
.act-datebox-datebox 
	@extend %gary-block
	padding-left: 15px
.act-datebox-pc-word 
	display: inline-block

.act-datebox-date 
	display: inline-block
// DATE-PC-ROW
.act-datebox-pc-row 
	@extend %gary-block
.act-datebox-time 
	display: inline-block
	text-align: center
.act-datebox-state 
	display: inline-block
	padding-left: 10px
@media (max-width: 991px) 
	.act-datebox-pc-word,
	.act-datebox-pc-row 
		display: none
//================================================
//================================================
//================================================
//================================================
//================================================
//================================================
//================================================
//================================================
// TIME
.act-timebox 
	margin-bottom: 20px
.act-timebox-item 
	border-top: solid 1px $color-border
.act-timebox-time 
	display: inline-block
	color: #555
	line-height: 47px
.act-timebox-state 
	display: inline-block
	width: 80px
	background: 
		color: #aaa
	font-weight: bold
	text-align: center
	&.not-yet 
		background-color: #888
		color: #fff !important
		border-color: #888
		cursor: default
	&.is-sign 
		background-color: #ed1e79
		color: #fff
		&:hover
			background-color: #9c0949
	&.is-wait 
		background-color: #187bc1
		color: #fff
		&:hover
			background-color: #095a94
	&.is-signed 
		background-color: #ffc4de
		color: #ed1e79
		border: solid 1px #ed1e79
		opacity: 1!important
		cursor: default
	&.is-waiting 
		border: solid 1px #187bc1
		background-color: #b2dfff
		color: #187bc1 !important
		cursor: default
	&.out-of-date 
		background-color: #ededed
		color: #999
		border: solid 1px #888
		cursor: default
.act-timebox-note 
	display: inline-block
.act-timebox-p 
	margin-bottom: 0
@media (max-width: 991px) 
	.act-timebox-state 
		border-radius: 12px
		line-height: 32px
		background: 
			position: 42px -69px
		margin: 0 2px
		&.waiting 
			background: 
				position: 42px -98px
	.act-timebox-note 
		font-size: 12px
		transform: translateY(6px)
		&.with-cap
			width: calc( 100% - 37px - 65px - 80px - 15px )
			vertical-align: top
	.act-timebox-p 
		line-height: 1
@media (min-width: 992px) 
	.act-timebox-state 
		border-radius: 10px
		line-height: 26px
		background: 
			position: 42px -72px
		margin: 0 10px
		&.waiting 
			background: 
				position: 42px -101px
			&:hover 
				background: 
					color: $color8-dark
	.act-timebox-time 
		text-align: center
	.act-timebox-p 
		display: inline-block
		line-height: 37px
		font-size: 15px
//================================================
//================================================
//================================================
//================================================
//================================================
//================================================
//================================================
//================================================
@media (min-width: 992px) 
	.act-width-time 
		width: 245px
	.act-datebox-pc-row 
		.act-width-time 
			border-right: solid 1px $color-border
//=========================================
//=========================================
//=========================================
//=========================================
//=========================================
.act-timebox-cap
	display: inline-block
	img
		width: 30px
		margin-right: 5px
@media (min-width: 992px)
	.act-timebox-cap
		margin:
			left: 10px
			right: 20px