// eason 1070815
// SECTION ATTENTION
.act-attention 
	cursor: pointer
	border-top: solid 1px $color-border
	.act-subtitle 
		padding-top: 20px
	
	position: relative
	&.open 
		.act-attention-arrow 
			transform: rotate(180deg)
		
	

.act-attention-arrow 
	border-radius: 50%
	width: 22px
	height: 22px
	@include img-path-ratio("activity/sprite.png", 2)
	background: 
		position: -34px -45px
		color: $color1
	
	position: absolute

.act-attention-content 
	display: none
	padding-top: 15px
	line-height: 1.3
	h3 
		font-size: 17px
		font-weight: bold
		margin-bottom: 3px
		font-family: inherit
		color: #000
	
	h4 
		font-size: 15px
		margin-bottom: 3px
		font-weight: bold
		color: #000
	
	ul 
		padding-left: 20px
	
	li 
		list-style-type: disc
		// line-height: 1.3
		padding: 3px 0
	
	& > ul 
		margin-bottom: 25px
	

@media (max-width: 991px) 
	.act-attention-arrow 
		right: 0
		bottom: -2px
	

@media (min-width: 992px) 
	.act-attention-arrow 
		right: 0
		bottom: 0
	

