// SECTION EVENT CONTENT
.act-toy 
	font-size: 0
	margin: 
		top: 5px
		bottom: 25px
	

.act-toy-img 
	width: 50px


//=========================================
//=========================================
//=========================================
//=========================================
//=========================================
//=========================================
//=========================================

// SECTION PREPARE
.act-table-course 
	margin-bottom: 5px
	tr:first-child td 
		border-top: none
	
	td:nth-child(2) 
		color: $color1
		text-align: right
	

.act-prepare-bookbox 
	background-color: #f5f5f5
	padding: 20px

.act-prepare-bookitem 
	line-height: 25px

.act-prepare-sound 
	width: 155px
	margin: 15px auto 0

.act-prepare-sound-item 
	margin-bottom: 14px

.act-prepare-sound-link 
	border-radius: 8px
	display: block
	line-height: 40px
	@include img-path-ratio("activity/sprite.png", 2)
	background: 
		position: -119px 10px
		color: $color7
		repeat: no-repeat
	
	text-align: center
	color: #fff
	&:hover 
		background-color: $color7-dark
		color: #fff !important
	

@media (max-width: 991px) 
	.act-step1 
		.act-layout-left 
			margin-bottom: 25px
		
	


//=========================================
//=========================================
//=========================================
//=========================================
//=========================================
//=========================================
//=========================================

// SECTION SELECT
.act-section 
	margin-bottom: 10px
	text-align: right
	.layout-title-level-2 
		float: left
		margin-top: 6px!important
	
	.dropGeneral 
		display: inline-block
		width: 100px
	
