html
  head
  body
    aside.layout-sub.px-4.py-4
      ul.art-list-f2
        li.art-list-f2-item
          a.art-list-f2-link(href='') 전화영어
        li.art-list-f2-item
          a.art-list-f2-link(href='') WFC library
        li.art-list-f2-item
          a.art-list-f2-link(href='') CAP
        li.art-list-f2-item
          a.art-list-f2-link(href='') 비디오