extend partials/layout3.pug
mixin item( station , url )
	.card wellcome to #{ station } , and the address is 
		a(href= url ) #{ station }
block nav
	include partials/nav3.pug
block content
	h1 	第二首頁
	.box
		each item in menu.fun
			+item( item.station , item.url )
