extend partials/layout3.pug
mixin news( title , url )
	li 
		a(href= url ) #{ title }

block nav
	include partials/nav3.pug
block content
	h1 	第三首頁
	ul
		each item in news
			+news( item.title , item.url )