extend partials/layout.pug

block nav
	-var path = 'index.html'
	include partials/nav.pug

block content
	div div
	h1 #{menu.list[0].url}
	h2 #{news[3].title}
	h1
		span in span ele
		| out

	h2: span: a in span
	h3 h3h3h3
	h4 h4h4
	h5 h5h5h5
	h6 pug
	.pug pug