footer
	// FOOTER INFO AREA 
	.container-fluid.color-bar.clearfix
		.row
			.col-sm-1.col-xs-2.bg-color-1 fix bar
			.col-sm-1.col-xs-2.bg-color-2 fix bar
			.col-sm-1.col-xs-2.bg-color-3 fix bar
			.col-sm-1.col-xs-2.bg-color-4 fix bar
			.col-sm-1.col-xs-2.bg-color-5 fix bar
			.col-sm-1.col-xs-2.bg-color-6 fix bar
			.col-sm-1.bg-color-1.hidden-xs fix bar
			.col-sm-1.bg-color-2.hidden-xs fix bar
			.col-sm-1.bg-color-3.hidden-xs fix bar
			.col-sm-1.bg-color-4.hidden-xs fix bar
			.col-sm-1.bg-color-5.hidden-xs fix bar
			.col-sm-1.bg-color-6.hidden-xs fix bar
	// COPY RIGHT 
	.copyRight.clearfix
		.container
			.row
				.col-sm-6
					.copyRightText
						p 寰宇家庭股份有限公司(台灣)版權所有
						p.copyRightTextEng © World Family(Taiwan) Ltd. All Rights Reserved.
				.col-sm-6.footer-link
					ul
						li
							a(href="") 關於寰宇家庭俱樂部
						li
							a(href="") 關於寰宇家庭
						li
							a(href='') 隱私權與安全性
						li
							a(href='') 版權
						li
							a(href='') 條款與政策
						li 
							a(href='') 網站地圖