//DIFFERENT
//?php include "html_model/footer.html";?
//?php include "html_model/tabmenu.html";?
//THE SAME
//?php include "html_model/floating-ui.html";?
//?php include "html_model/js-for-all.html";?
html
  head
  body