// DIFFERENT
|<?php include "html_model/footer-kr.html";?>
|<?php include "html_model/tabmenu-kr.html";?>
// THE SAME
|<?php include "html_model/floating-ui.html";?>
|<?php include "html_model/js-for-all.html";?>