$pgage-0: #ffaa74;
$pgage-1: #fcd973;
$pgage-2: #faf283;
$pgage-3: #bcff79;
$pgage-4: #98fdaf;
$pgage-5: #9ffcf2;
$pgage-6: #9deafc;
$pgage-7: #a1d6ff;
$pgage-8: #a5aefd;
$pgage-9: #ba9cff;
$pgage-10: #dba0f2;
//
$stage-0: #ffba6c;
$stage-1: #59de8f;
$stage-2: #3b9fff;
$stage-3: #6a71ff;
//
$stage-content-0: #fef6c8;
$stage-content-1: #effcf2;
$stage-content-2: #d3f8ff;
$stage-content-3: #edeeff;
//
$cap-color-kr-6: #c6eaff;
$cap-color-kr-7: #3b78ed;