*{
	padding: 0;margin: 0;
	box-sizing: border-box;
}
body,html{
	background: #aaa;
}
.wrapper{
	width: 80%;
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 88px;
}
.wrapper:after{
	content: "";
	display: block;
	clear: both;
}
.main,.sub{
	background-color: #fff;
	float: left;
	padding: 20px;
}
.main{
	width: 80%;
	margin-right: 2%;
	height: 5100px;
}
.sub{
	width: 18%;
	position: relative;
	height: 532px;
}
.header{
	height: 100px;
	background-color: #fff000;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}
.wst{
	background: #000;
	color: #fff;
	padding: 5px;
	position: fixed;
	top: 0;left: 0;
	z-index: 2;
}