.retable
	.retable-item
		.retable-row
			.retable-title 품목별
			.retable-content
				|대분류 선택 : 대분류 선택 / 중분류 선택 : 중분류 선택 / 소분류 선택 : 소분류 선택
	.retable-item
		.retable-row
			.retable-title 증상
			.retable-content 화면 멈춤
	.retable-item-double
		.retable-row
			.retable-title 수량
			.retable-content 1
		.retable-row
			.retable-title 요청구분
			.retable-content 수리
	.retable-item
		.retable-row
			.retable-title 기타
			.retable-content Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum harum hic dolorem, voluptas animi nobis. Magni vitae quae esse maiores totam quia provident ducimus, quibusdam mollitia, sunt eum, optio ex!