html
	head
	body
		.retable
			.retable-item
				.retable-row
					.retable-title 품목별
					.retable-content
						.dropbox
							.drop-title 대분류 :
							.dropGeneral.roundTwo.layout-drop-sm(style='width: 117px')
								select.select-drop
									option(value='0') 대분류 선택
									option(value='1') s1
									option(value='2') s2
						.dropbox
							.drop-title 중분류 :
							.dropGeneral.roundTwo.layout-drop-sm(style='width: 117px')
								select.select-drop
									option(value='0') 중분류 선택
									option(value='1') s1
									option(value='2') s2
						.dropbox
							.drop-title 소분류 :
							.dropGeneral.roundTwo.layout-drop-sm(style='width: 117px')
								select.select-drop
									option(value='0') 소분류 선택
									option(value='1') s1
									option(value='2') s2
			.retable-item
				.retable-row
					.retable-title 증상
					.retable-content
						.dropGeneral.roundTwo.layout-drop-sm(style='width: 75px')
							select.select-drop
								option(value='0') 선택
								option(value='1') s1
								option(value='2') s2
			.retable-item
				.retable-row
					.retable-title 기타
					.retable-content
						textarea.memo-text