aside.layout-sub.px-4.py-4
	ul.art-list-f2
		li.art-list-f2-item
			a.art-list-f2-link(href='') Club DFS
		li.art-list-f2-item
			a.art-list-f2-link(href='') Product Guide
		li.art-list-f2-item
			a.art-list-f2-link(href='') Mom to Mom
		li.art-list-f2-item
			a.art-list-f2-link(href='') Advice Card
		li.art-list-f2-item
			a.art-list-f2-link(href='') 회원보증제도