#myNameModal {
	.modal-dialog {
		// box width here
		width: 80%;
	}
	.modal-content,
	.panel {
		// for lightbox layout
	}
	.panel-heading {
		// title bg color here
		background-color: #00f;
	}
	.panel-title {
		// title font size here
		font-size: 22px;
	}
	.panel-close {
		// closer collor here
		color: #00f;
	}
	.panel-body {
	}
}
