.layout-main-deco{
	@include img-path("mypage/bg.png");
	background:{
		repeat: repeat-x;
	}
	border-radius: 15px 15px 0 0;
}
@media (max-width: 991px){
	.layout-main-deco{
		background:{
			position: 0 -28px;
		}
		position: relative;
	}
	.sectionTitle{
		margin:{
			bottom: 36px;
		}
		h2 span{
			padding-left: 40px;
		}
	}
}
@media (min-width: 992px){
	.layout-main-deco{
		padding-top: 40px;
	}
	.sectionTitle{
		margin:{
			bottom: 60px;
		}
	}
}