.layout-deco-title{
	@include img-path("mypage/bg.png");
	background:{
		repeat: repeat-x;
	}
	border-radius: 15px 15px 0 0;
}
@media (max-width: 991px){
	.layout-deco-title{
		background:{
			position: 0 -28px;
		}
		position: relative;
	}
	.sectionTitle{
		margin:{
			bottom: 36px;
		}
		h2 span{
			padding-left: 40px;
		}
	}
	.aside-lb-open{
		position: absolute;
		top: 18px;
		left: 20px;
	}
}
@media (min-width: 992px){
	.layout-deco-title{
		padding-top: 40px;
	}
	.sectionTitle{
		margin:{
			bottom: 60px;
		}
	}
}