<!DOCTYPE html>
<html lang="ko">

<head>
	<?php include "html_model/head.html";?>
	<!-- CSS FRO THIS PAGE ONLY -->
	<link rel="stylesheet" href="assets/plugins/selectbox/select_option1.css">
	<link rel="stylesheet" href="css/board_kr.css">
</head>

<body class="body-wrapper">
	<!--loaded-->
	<div class="main-wrapper">
		<!-- ====================================
		——— HEADER
		===================================== -->
		<header id="pageTop" class="header-wrapper">
			<?php include "html_model/header/header-1.html";?>
			<!-- NAVBAR -->
			<nav id="menuBar" class="navbar navbar-default lightHeader" role="navigation">
				<div class="container">
					<?php include "html_model/header/header-2-kr.html";?>
				</div>
				<!-- ====================================
				——— BREAD CRUMB 
				===================================== -->
				<div class="layout-breadcrumb-box">
					<div class="container">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb text-truncate">
								<li class="breadcrumb-item">
									<a href="#">index</a>
								</li>
								<li class="breadcrumb-item">
									<a href="">My WFC</a>
								</li>
								<li class="breadcrumb-item">
									<a href="">My Page</a>
								</li>
								<li class="breadcrumb-item">
									1:1 Board
								</li>
							</ol>
						</nav>
					</div>
				</div>
			</nav>
		</header>
		<div class="container container-main container-col-2">
			<div class="row">
				<div class="col-xs-12 col-xs-12 col-md-3 sticky-top aside-lb">
					<div class="panel-heading bg-color-5 border-color-5">
						<h3 class="panel-title">My Page</h3>
						<div class="aside-lb-close">x</div>
					</div>
					<?php include "html_model/_mywfc_kr/mypage-aside.html";?>
					<script>
						// 此 js 為 demo 用，請刪除
						$(".art-list-f2").find(".art-list-f2-item").eq(6).find(".art-list-f2-link").addClass("now");
					</script>
				</div>
				<div class="col-xs-12 col-xs-12 col-md-9">
					<div class="layout-main-card">
						<?php include "html_model/uikit/aside-lb-open.html";?>
						<div class="sectionTitle text-center color-5 mt-0">
							<h2><!-- h2 only -->
								<span class="shape shape-left"></span>
								<span>
									1:1 Board
								</span>
								<span class="shape shape-right"></span>
							</h2>
						</div>
						<div class="mypage-switchbox">
							<?php include "html_model/_mywfc_kr/mywfc-article-search.html";?>
						</div>
						<ul class="layout-card">
							<?php include "html_model/_mywfc_kr/board-card-item.html"?>
						</ul>
						<div class="pagerArea text-center color-5">
							<?php include "html_model/uikit/pager-item.html";?>
						</div>
						<div class="cd-btnbox">
							<button type="button" class="btn layout-btn layout-btn-sm color-5">
								글쓰기
							</button>
							<div class="cd-btnbox-icon"></div>
						</div>
					</div>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<h3>發文 & 修改</h3>
					<div class="layout-main">
						<!-- 
						[ ^ 注意 ^ ]
						到 post 功能頁，用的是 .layout-main，不是 .layout-main-card
						-->
						<?php include "html_model/uikit/aside-lb-open.html";?>
						<div class="sectionTitle text-center color-5 mt-0">
							<h2><!-- h2 only -->
								<span class="shape shape-left"></span>
								<span>
									1:1 Board
								</span>
								<span class="shape shape-right"></span>
							</h2>
						</div>
						<div class="post-titlebox">
								<textarea>영유아와 동행하여 DWE를 "재생"하는 방법 ?</textarea>
						</div>
						<ul class="post-contbox">
							<textarea>클럽은 풍부한 학습 지원 서비스를 제공합니다.예를 들어, 미국 언어 활동, 전화 에세이 등은 아이들이 제품 컨텐츠를 쉽게 배울 수 있도록합니다.부모와 아빠는 자녀가 다시 재검토하는 것을 돕기 위해 "학습 지원 서비스"를 어떻게 사용합니까?</textarea>
						</ul>
						<div class="post-btnbox">
							<button type="button" class="btn layout-btn layout-btn-sm is-left">
								목록
							</button>
							<button type="button" class="btn layout-btn layout-btn-sm is-right">
								저장하기
							</button>	
						</div>
					</div>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<h3>官方未回文前，可修改/刪除文章</h3>
					<div class="layout-main">
						<!-- 
						[ ^ 注意 ^ ]
						到 post 功能頁，用的是 .layout-main，不是 .layout-main-card
						-->
						<?php include "html_model/uikit/aside-lb-open.html";?>
						<div class="sectionTitle text-center color-5 mt-0">
							<h2><!-- h2 only -->
								<span class="shape shape-left"></span>
								<span>
									1:1 Board
								</span>
								<span class="shape shape-right"></span>
							</h2>
						</div>
						<div class="post-titlebox">
							<p class="post-titlebox-p">
								영유아와 동행하여 DWE를 "재생"하는 방법 ?
							</p>
						</div>
						<ul class="post-contbox">
							<li class="post-contbox-item">
								<div class="post-contbox-name is-color">Member : </div>
								<div class="post-contbox-cont">
									클럽은 풍부한 학습 지원 서비스를 제공합니다.예를 들어, 미국 언어 활동, 전화 에세이 등은 아이들이 제품 컨텐츠를 쉽게 배울 수 있도록합니다.부모와 아빠는 자녀가 다시 재검토하는 것을 돕기 위해 "학습 지원 서비스"를 어떻게 사용합니까?
								</div>
								<div class="post-contbox-time">2015-01-26 01:23</div>
							</li>
						</ul>
						<div class="post-btnbox">
							<button type="button" class="btn layout-btn layout-btn-sm is-left">
								목록
							</button>
							<button type="button" class="btn layout-btn layout-btn-sm is-right">
								삭제
							</button>	
							<button type="button" class="btn layout-btn layout-btn-sm is-border is-right">
								수정
							</button>
						</div>
					</div>
					<hr>
					<hr>
					<hr>
					<hr>
					<hr>
					<h3>官方回文後，不可修改/刪除文章</h3>
					<div class="layout-main">
						<!-- 
						[ ^ 注意 ^ ]
						到 post 功能頁，用的是 .layout-main，不是 .layout-main-card
						-->
						<?php include "html_model/uikit/aside-lb-open.html";?>
						<div class="sectionTitle text-center color-5 mt-0">
							<h2><!-- h2 only -->
								<span class="shape shape-left"></span>
								<span>
									1:1 Board
								</span>
								<span class="shape shape-right"></span>
							</h2>
						</div>
						<div class="post-titlebox">
							<p class="post-titlebox-p">
								영유아와 동행하여 DWE를 "재생"하는 방법 ?
							</p>
						</div>
						<ul class="post-contbox">
							<li class="post-contbox-item">
								<div class="post-contbox-name is-color">Member : </div>
								<div class="post-contbox-cont">
									클럽은 풍부한 학습 지원 서비스를 제공합니다.예를 들어, 미국 언어 활동, 전화 에세이 등은 아이들이 제품 컨텐츠를 쉽게 배울 수 있도록합니다.부모와 아빠는 자녀가 다시 재검토하는 것을 돕기 위해 "학습 지원 서비스"를 어떻게 사용합니까?
								</div>
								<div class="post-contbox-time">2015-01-26 01:23</div>
							</li>
							<li class="post-contbox-item">
								<div class="post-contbox-name is-color">관리자 : </div>
								<div class="post-contbox-cont">
									네 확인되었습니다
								</div>
								<div class="post-contbox-time">2015-01-26 01:23</div>
							</li>
						</ul>
						<div class="post-btnbox">
							<button type="button" class="btn layout-btn layout-btn-sm is-left">
								목록
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<?php include "html_model/footer-kr.html";?>
		<?php include "html_model/floating-ui.html";?>
		<?php include "html_model/tabmenu-kr.html";?>
	</div>
	<?php include "html_model/js-for-all.html";?>
	<!-- JS FOR THIS PAGE ONLY -->
	<script src="js/tmpAsideLb.js"></script>
	<script src="js/statePaddingShare.js"></script>
	<script>
		$('.select-drop').selectbox();
	</script>
</body>

</html>