<!--
KOREA
1. css/layout_kr.css ( in head.html )
2. html_model/header-2-kr.html
3. html_model/tabmenu-kr.html
4. html_model/footer-kr.html
//
TW (x back-prefix -tw x)
1. css/layout.css ( in head.html )
2. html_model/header-2.html
3. html_model/tabmenu.html
4. html_model/footer.html
-->
<!DOCTYPE html>
<html lang="ko">

<head>
	<?php include "html_model/head.html";?>
	<!-- CSS FOR THIS PAGE ONLY -->
	<link rel="stylesheet" href="assets/plugins/slick/slick.css">
	<link rel="stylesheet" href="assets/plugins/slick/slick-theme.css">
	<link href="css/event_kr.css" rel="stylesheet" type="text/css">
</head>

<body class="body-wrapper">
	<!--loaded-->
	<div class="main-wrapper">
		<!-- ====================================
		——— HEADER
		===================================== -->
		<header id="pageTop" class="header-wrapper">
			<?php include "html_model/header/header-1.html";?>
			<!-- NAVBAR -->
			<nav id="menuBar" class="navbar navbar-default lightHeader" role="navigation">
				<div class="container">
					<?php include "html_model/header/header-2-kr.html";?>
				</div>
				<!-- ====================================
				——— BREAD CRUMB 
				===================================== -->
				<div class="layout-breadcrumb-box">
					<div class="container">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb text-truncate">
								<li class="breadcrumb-item">
									<a href="#">index</a>
								</li>
								<li class="breadcrumb-item">
									<a href="">WFC EVENT</a> 
								</li>
								<li class="breadcrumb-item">
									쇼 / 액티비티 / 카니발 / 캠프
								</li>
							</ol>
						</nav>
					</div>
				</div>
			</nav>
		</header>
		<!-- ============================
		---- SORT : SHOW
		==============================-->
		<div class="container container-main container-col-1 is-show">
			<!--
			is-show
			is-activity
			is-carnival
			is-camp
			-->
			<div class="row">
				<div class="layout-col-12">
					<div class="layout-main-deco">
						<div class="sectionTitle text-center">
							<h2><!-- h2 only -->
								<span class="shape shape-left"></span>
								<span>쇼</span>
								<span class="shape shape-right"></span>
							</h2>
						</div>
					</div>
					<!-- SERISE 1 -->
					<div class="layout-main layout-main-vision">
						<div class="slick">
							<div class="vbox">
								<div class="vbox-in">
									<div class="layout-video-fluid">
										<iframe src="https://player.vimeo.com/video/243244233" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
									</div>	
								</div>
							</div>
							<div style="background-image: url(img/event/1.jpg)"></div>
							<div style="background-image: url(img/event/2.jpg)"></div>
							<div style="background-image: url(img/event/3.jpg)"></div>
						</div>							
					</div>
					<div class="layout-main">
						<div class="ititle icon2">
							<!-- 
							[ ^註^ ]
							換圖 class= icon1 ~ 7
							-->
							<div class="ititle-w">Froggy&Bunny Show</div>
							<div class="ititle-icon"></div>
						</div>
						<div class="layout-content">
							방과후, 비키네 집에 모인 프로기, 버니가 무언가를 하고 있네요? 아~ 숫자 놀이를 즐기고 있군요. 비키, 조사야, 프로기 그리고 버니와 숫자를 세며 즐겁게 놀아 봐요. 오리, 개구리, 새, 구름, 벌, 징글 블록 그리고 더 많은 것들을 세어 볼 수 있어요!
						</div>
						<div class="eventbtn">
							<button type="button" class="btn layout-btn layout-btn-sm">
								Apply »
							</button>
							<button type="button" class="btn layout-btn layout-btn-sm">
								parents guide »
							</button>
						</div>
					</div>
					<!-- SERISE 2 -->
					<div class="layout-main layout-main-vision">
						<div class="slick">
							<div style="background-image: url(img/event/1.jpg)"></div>
							<div style="background-image: url(img/event/2.jpg)"></div>
							<div style="background-image: url(img/event/3.jpg)"></div>
						</div>							
					</div>
					<div class="layout-main">
						<div class="ititle icon3">
							<div class="ititle-w">Family College Show</div>
							<div class="ititle-icon"></div>
						</div>
						<div class="layout-content">
							린, 키미, 그레이스와 함께 떠난 즐거운 ‘Funny Bear Camp!’ 캠프에 도착하기 위해 숲 속을 지나, 주변 환경을 탐색하며 팀워크 능력을 발휘해야 했어요. 세 사람에겐 무슨 일이 일어났을까요?
						</div>
						<div class="eventbtn">
							<button type="button" class="btn layout-btn layout-btn-sm">
								Apply »
							</button>
							<button type="button" class="btn layout-btn layout-btn-sm">
								parents guide »
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<hr>
		<hr>
		<hr>
		<hr>
		<hr>
		<hr>
		<hr>
		<hr>
		<hr>
		<!-- ============================
		---- SORT : ACTIVITY
		==============================-->
		<div class="container container-main container-col-1 is-activity">
			<div class="row">
				<div class="layout-col-12">
					<div class="layout-main-deco">
						<div class="sectionTitle text-center">
							<h2><!-- h2 only -->
								<span class="shape shape-left"></span>
								<span>액티비티</span>
								<span class="shape shape-right"></span>
							</h2>
						</div>
					</div>
					<!-- SERISE 1 -->
					<div class="layout-main layout-main-vision">
						<div class="slick">
							<div style="background-image: url(img/event/1.jpg)"></div>
							<div style="background-image: url(img/event/2.jpg)"></div>
							<div style="background-image: url(img/event/3.jpg)"></div>
						</div>							
					</div>
					<div class="layout-main">
						<div class="ititle icon4">
							<!-- 
							[ ^註^ ]
							換圖 class= icon1 ~ 7
							-->
							<div class="ititle-w">Activity</div>
							<div class="ititle-icon"></div>
						</div>
						<div class="layout-content">
							방과후, 비키네 집에 모인 프로기, 버니가 무언가를 하고 있네요? 아~ 숫자 놀이를 즐기고 있군요. 비키, 조사야, 프로기 그리고 버니와 숫자를 세며 즐겁게 놀아 봐요. 오리, 개구리, 새, 구름, 벌, 징글 블록 그리고 더 많은 것들을 세어 볼 수 있어요!
						</div>
						<div class="eventbtn">
							<button type="button" class="btn layout-btn layout-btn-sm">
								Apply »
							</button>
							<button type="button" class="btn layout-btn layout-btn-sm">
								parents guide »
							</button>
						</div>
					</div>
					<!-- SERISE 2 -->
					<div class="layout-main layout-main-vision">
						<div class="slick">
							<div style="background-image: url(img/event/1.jpg)"></div>
							<div style="background-image: url(img/event/2.jpg)"></div>
							<div style="background-image: url(img/event/3.jpg)"></div>
							<div>
								<div class="layout-video-fluid">
									<iframe src="https://www.youtube.com/embed/DExxfTR_iGI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
									<!-- ^影片網址會再改過，改為 vimeo 平台影片 ^ -->
								</div>
							</div>
						</div>							
					</div>
					<div class="layout-main">
						<div class="ititle icon5">
							<div class="ititle-w">Family College Show</div>
							<div class="ititle-icon"></div>
						</div>
						<div class="layout-content">
							린, 키미, 그레이스와 함께 떠난 즐거운 ‘Funny Bear Camp!’ 캠프에 도착하기 위해 숲 속을 지나, 주변 환경을 탐색하며 팀워크 능력을 발휘해야 했어요. 세 사람에겐 무슨 일이 일어났을까요?
						</div>
						<div class="eventbtn">
							<button type="button" class="btn layout-btn layout-btn-sm">
								Apply »
							</button>
							<button type="button" class="btn layout-btn layout-btn-sm">
								parents guide »
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<hr>
		<hr>
		<hr>
		<hr>
		<hr>
		<hr>
		<hr>
		<hr>
		<hr>
		<!-- ============================
		---- SORT : CARNIVAL
		==============================-->
		<div class="container container-main container-col-1 is-carnival">
			<div class="row">
				<div class="layout-col-12">
					<div class="layout-main-deco">
						<div class="sectionTitle text-center">
							<h2><!-- h2 only -->
								<span class="shape shape-left"></span>
								<span>카니발</span>
								<span class="shape shape-right"></span>
							</h2>
						</div>
					</div>
					<!-- SERISE 1 -->
					<div class="layout-main layout-main-vision">
						<div class="slick">
							<div style="background-image: url(img/event/1.jpg)"></div>
							<div style="background-image: url(img/event/2.jpg)"></div>
							<div style="background-image: url(img/event/3.jpg)"></div>
						</div>							
					</div>
					<div class="layout-main">
						<div class="ititle icon4">
							<div class="ititle-w">English Carnival</div>
							<div class="ititle-icon"></div>
						</div>
						<div class="layout-content">
							방과후, 비키네 집에 모인 프로기, 버니가 무언가를 하고 있네요? 아~ 숫자 놀이를 즐기고 있군요. 비키, 조사야, 프로기 그리고 버니와 숫자를 세며 즐겁게 놀아 봐요. 오리, 개구리, 새, 구름, 벌, 징글 블록 그리고 더 많은 것들을 세어 볼 수 있어요!
						</div>
						<div class="eventbtn">
							<button type="button" class="btn layout-btn layout-btn-sm">
								Apply »
							</button>
							<button type="button" class="btn layout-btn layout-btn-sm">
								parents guide »
							</button>
						</div>
					</div>
					<!-- HISTORY -->
					<div class="layout-main-card">
						<div class="sectionTitle text-center mt-0">
							<h2><!-- h2 only -->
								<span class="shape shape-left"></span>
								<span>Carnival History</span>
								<span class="shape shape-right"></span>
							</h2>
						</div>
						<ul class="layout-card">
							<?php include "html_model/_event_kr/event-event-card-item.html";?>
							<?php include "html_model/_event_kr/event-event-card-item.html";?>
							<?php include "html_model/_event_kr/event-event-card-item.html";?>
							<?php include "html_model/_event_kr/event-event-card-item.html";?>
							<?php include "html_model/_event_kr/event-event-card-item.html";?>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<hr>
		<hr>
		<hr>
		<hr>
		<hr>
		<hr>
		<hr>
		<hr>
		<hr>
		<!-- ============================
		---- SORT : CAMP
		==============================-->
		<div class="container container-main container-col-1 is-camp">
			<div class="row">
				<div class="layout-col-12">
					<div class="layout-main-deco">
						<div class="sectionTitle text-center">
							<h2><!-- h2 only -->
								<span class="shape shape-left"></span>
								<span>캠프</span>
								<span class="shape shape-right"></span>
							</h2>
						</div>
					</div>
					<!-- SERISE 1 -->
					<div class="layout-main layout-main-vision">
						<div class="slick">
							<div style="background-image: url(img/event/1.jpg)"></div>
							<div style="background-image: url(img/event/2.jpg)"></div>
							<div style="background-image: url(img/event/3.jpg)"></div>
						</div>							
					</div>
					<div class="layout-main">
						<div class="ititle icon4">
							<div class="ititle-w">Camp</div>
							<div class="ititle-icon"></div>
						</div>
						<div class="layout-content">
							방과후, 비키네 집에 모인 프로기, 버니가 무언가를 하고 있네요? 아~ 숫자 놀이를 즐기고 있군요. 비키, 조사야, 프로기 그리고 버니와 숫자를 세며 즐겁게 놀아 봐요. 오리, 개구리, 새, 구름, 벌, 징글 블록 그리고 더 많은 것들을 세어 볼 수 있어요!
						</div>
						<div class="eventbtn">
							<button type="button" class="btn layout-btn layout-btn-sm">
								Apply »
							</button>
							<button type="button" class="btn layout-btn layout-btn-sm">
								parents guide »
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<?php include "html_model/footer-kr.html";?>
		<?php include "html_model/floating-ui.html";?>
		<?php include "html_model/tabmenu-kr.html";?>
	</div>
	<?php include "html_model/js-for-all.html";?>
	<!-- JS FOR THIS PAGE ONLY -->
	<script src="assets/plugins/slick/slick.min.js" type="text/javascript"></script>
	<script>
		$(function(){
			$('.slick').slick({
				dots: true,
				autoplay: false,
				autoplaySpeed: 2000,
				arrows : true,
				zIndex : 500
			});
		});
	</script>
</body>

</html>