<!DOCTYPE html>
<html lang="ko">

<head>
	<?php include "html_model/head.html";?>
	<!-- CSS FRO THIS PAGE ONLY -->
	<link rel="stylesheet" href="assets/plugins/slick/slick.css">
	<link rel="stylesheet" href="assets/plugins/slick/slick-theme.css">
	<link rel="stylesheet" href="css/zippyFriends_kr.css">
</head>

<body class="body-wrapper">
	<!--loaded-->
	<div class="main-wrapper">
		<!-- ====================================
		——— HEADER
		===================================== -->
		<header id="pageTop" class="header-wrapper">
			<?php include "html_model/header/header-1.html";?>
			<!-- NAVBAR -->
			<nav id="menuBar" class="navbar navbar-default lightHeader" role="navigation">
				<div class="container">
					<?php include "html_model/header/header-2-kr.html";?>
				</div>
				<!-- ====================================
				——— BREAD CRUMB 
				===================================== -->
				<div class="layout-breadcrumb-box">
					<div class="container">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb text-truncate">
								<li class="breadcrumb-item">
									<a href="#">index</a>
								</li>
								<li class="breadcrumb-item">
									My Community
								</li>
								<li class="breadcrumb-item">
									WFC 프랜즈
								</li>
								<li class="breadcrumb-itme">
									Zippy Friends
								</li>
							</ol>
						</nav>
					</div>
				</div>
			</nav>
		</header>
		<div class="container container-main container-col-2">
			<div class="row">
				<div class="col-xs-12 col-xs-12 col-md-3 aside-lb">
					<div class="panel-heading bg-color-4 border-color-4">
						<h3 class="panel-title">WFC Community</h3>
						<div class="aside-lb-close">x</div>
					</div>
					<?php include "html_model/_comm_kr/comm-aside.html";?>
				</div>
				<div class="col-xs-12 col-xs-12 col-md-9">
					<div class="layout-main">
						<?php include "html_model/uikit/aside-lb-open.html";?>
						<div class="sectionTitle text-center color-4 mt-0">
							<h2><!-- h2 only -->
								<span class="shape shape-left"></span>
								<span>
									Zippy Friends
								</span>
								<span class="shape shape-right"></span>
							</h2>
						</div>
						<div style="background-image: url(img/zippyfriends/all.jpg);" class="friends-view"></div>
						<h3 class="layout-title-level-3 icon4">캐릭터 필름：</h3>
						<div class="layout-video-fluid">
							<iframe src="https://www.youtube.com/embed/-CO6hOKn8Yg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
						<h3 class="layout-title-level-3 icon5">역할 소개：</h3>
						<div class="layout-content">
						<div class="friend-name">Zippy家族</div>
							<div class="friend-local">
								寰宇家庭有很多獨特、可愛，而且具吸引力的卡通人物。<br/>
								他們不但深受小朋友的喜愛，也在學習過程裡扮演重要角色。<br/>
								這些卡通人物的出現，可以加強孩子的想像力，加深他們的美語學習興趣，更可以使他們可以簡單輕鬆地學習重要的文法。	
							</div>
							<div class="friend-eng">
								There are a lot of unique, cute and attractive characters from World Family.<br/>
								(World Family has a lot of unique, cute and attractive characters.)<br/>
								These characters are not only deeply loved by children but also play an important role in their learning process.<br/>
								These characters help reinforce children’s imagination and deepen their interests in English learning. Most importantly, they help children acquire grammar rules easily.	
							</div>
						</div>
						<h3 class="layout-title-level-3 icon2 mb-3">캐릭터 사진：</h3>
						<div class="slick slick-darkarrow">
							<div style="background-image: url(img/zippyfriends/1.jpg)"></div>
							<div style="background-image: url(img/zippyfriends/2.jpg)"></div>
							<div style="background-image: url(img/zippyfriends/3.jpg)"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<?php include "html_model/footer-kr.html";?>
		<?php include "html_model/floating-ui.html";?>
		<?php include "html_model/tabmenu-kr.html";?>
	</div>
	<?php include "html_model/js-for-all.html";?>
	<!-- JS FOR THIS PAGE ONLY -->
	<script src="js/tmpAsideLb.js"></script>
	<script src="assets/plugins/slick/slick.min.js" type="text/javascript"></script>
	<script>
		$(function(){
			// PLUGIN
			$('.slick').slick({
				dots: true,
				autoplay: false,
				autoplaySpeed: 1000,
				arrows : true
			});
			// IMG RATIO
			$(".friends-view").css({"height": $(".friends-view").width() * 0.707 });
			$(".slick").css({"height": $(".slick").width() * 0.7516 });
			$(".slick-track").css({"height": $(".slick").width() * 0.7516 });
			// v 此 js 為演示用，請參考 v
			var $target = $(".art-list-f2-item").eq(2);
			$target.find(".art-list-f3").addClass("is-open");
			$target.find(".art-list-f3-item").eq(0).find(".art-list-f3-link").addClass("now");
		});
	</script>
</body>

</html>