<!--
KOREA
1. css/layout_kr.css ( in head.html )
2. html_model/header-2-kr.html
3. html_model/tabmenu-kr.html
4. html_model/footer-kr.html
//
TW (x back-prefix -tw x)
1. css/layout.css ( in head.html )
2. html_model/header-2.html
3. html_model/tabmenu.html
4. html_model/footer.html
-->
<!DOCTYPE html>
<html lang="ko">

<head>
	<?php include "html_model/head.html";?>
	<!-- CSS FOR THIS PAGE ONLY -->
	<link rel="stylesheet" href="assets/plugins/slick/slick.css">
	<link rel="stylesheet" href="assets/plugins/slick/slick-theme.css">
	<link href="css/wfcEvent_kr.css" rel="stylesheet" type="text/css">
</head>

<body class="body-wrapper">
	<!--loaded-->
	<div class="main-wrapper">
		<!-- ====================================
		——— HEADER
		===================================== -->
		<header id="pageTop" class="header-wrapper">
			<?php include "html_model/header/header-1.html";?>
			<!-- NAVBAR -->
			<nav id="menuBar" class="navbar navbar-default lightHeader" role="navigation">
				<div class="container">
					<?php include "html_model/header/header-2-kr.html";?>
				</div>
				<!-- ====================================
				——— BREAD CRUMB 
				===================================== -->
				<div class="layout-breadcrumb-box">
					<div class="container">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb text-truncate">
								<li class="breadcrumb-item">
									<a href="#">index</a>
								</li>
								<li class="breadcrumb-item">
									<a href="">WFC EVENT</a> 
								</li>
								<li class="breadcrumb-item">
									Event 소개
								</li>
							</ol>
						</nav>
					</div>
				</div>
			</nav>
		</header>
		<div class="slider-outbox slider-show">
			<!--
			slider-show
			slider-activity
			slider-carnival
			slider-camp
			-->
			<div class="slider-d-top"></div>
			<div class="slider-d-left"></div>
			<div class="slider-d-right"></div>
			<div class="slick">
				<div class="vbox">
					<div class="vbox-in">
						<div class="layout-video-fluid">
							<iframe src="https://player.vimeo.com/video/243244233" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						</div>	
					</div>
				</div>
				<div style="background-image: url(img/event/1.jpg)"></div>
				<div style="background-image: url(img/event/2.jpg)"></div>
				<div style="background-image: url(img/event/3.jpg)"></div>
			</div>
			<div class="container container-main container-col-1">
				<div class="row">
					<div class="layout-col-12">
						<div class="layout-main">
							<div class="etitle icon2">
								<div class="etitle-icon"></div>
								<div class="etitle-w">쇼</div>
							</div>
							<div class="layout-content">
								방과후, 비키네 집에 모인 프로기, 버니가 무언가를 하고 있네요? 아~ 숫자 놀이를 즐기고 있군요. 비키, 조사야, 프로기 그리고 버니와 숫자를 세며 즐겁게 놀아 봐요. 오리, 개구리, 새, 구름, 벌, 징글 블록 그리고 더 많은 것들을 세어 볼 수 있어요!
							</div>
							<button type="button" class="btn layout-btn layout-btn-sm">
								More »
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slider-outbox slider-activity">
			<div class="slider-d-top"></div>
			<div class="slider-d-left"></div>
			<div class="slider-d-right"></div>
			<div class="slick">
				<div style="background-image: url(img/event/1.jpg)"></div>
				<div style="background-image: url(img/event/2.jpg)"></div>
				<div style="background-image: url(img/event/3.jpg)"></div>
			</div>
			<div class="container container-main container-col-1">
				<div class="row">
					<div class="layout-col-12">
						<div class="layout-main">
							<div class="etitle icon1">
								<div class="etitle-icon"></div>
								<div class="etitle-w">액티비티</div>
							</div>
							<div class="layout-content">
								방과후, 비키네 집에 모인 프로기, 버니가 무언가를 하고 있네요? 아~ 숫자 놀이를 즐기고 있군요. 비키, 조사야, 프로기 그리고 버니와 숫자를 세며 즐겁게 놀아 봐요. 오리, 개구리, 새, 구름, 벌, 징글 블록 그리고 더 많은 것들을 세어 볼 수 있어요!
							</div>
							<button type="button" class="btn layout-btn layout-btn-sm">
								More »
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slider-outbox slider-carnival">
			<div class="slider-d-top"></div>
			<div class="slider-d-left"></div>
			<div class="slider-d-right"></div>
			<div class="slick">
				<div style="background-image: url(img/event/1.jpg)"></div>
				<div style="background-image: url(img/event/2.jpg)"></div>
				<div style="background-image: url(img/event/3.jpg)"></div>
			</div>
			<div class="container container-main container-col-1">
				<div class="row">
					<div class="layout-col-12">
						<div class="layout-main">
							<div class="etitle icon3">
								<div class="etitle-icon"></div>
								<div class="etitle-w">카니발</div>
							</div>
							<div class="layout-content">
								방과후, 비키네 집에 모인 프로기, 버니가 무언가를 하고 있네요? 아~ 숫자 놀이를 즐기고 있군요. 비키, 조사야, 프로기 그리고 버니와 숫자를 세며 즐겁게 놀아 봐요. 오리, 개구리, 새, 구름, 벌, 징글 블록 그리고 더 많은 것들을 세어 볼 수 있어요!
							</div>
							<button type="button" class="btn layout-btn layout-btn-sm">
								More »
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slider-outbox slider-camp">
			<div class="slider-d-top"></div>
			<div class="slider-d-left"></div>
			<div class="slider-d-right"></div>
			<div class="slick">
				<div style="background-image: url(img/event/1.jpg)"></div>
				<div style="background-image: url(img/event/2.jpg)"></div>
				<div style="background-image: url(img/event/3.jpg)"></div>
			</div>
			<div class="container container-main container-col-1">
				<div class="row">
					<div class="layout-col-12">
						<div class="layout-main">
							<div class="etitle icon4">
								<div class="etitle-icon"></div>
								<div class="etitle-w">캠프</div>
							</div>
							<div class="layout-content">
								방과후, 비키네 집에 모인 프로기, 버니가 무언가를 하고 있네요? 아~ 숫자 놀이를 즐기고 있군요. 비키, 조사야, 프로기 그리고 버니와 숫자를 세며 즐겁게 놀아 봐요. 오리, 개구리, 새, 구름, 벌, 징글 블록 그리고 더 많은 것들을 세어 볼 수 있어요!
							</div>
							<button type="button" class="btn layout-btn layout-btn-sm">
								More »
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<?php include "html_model/footer-kr.html";?>
		<?php include "html_model/floating-ui.html";?>
		<?php include "html_model/tabmenu-kr.html";?>
	</div>
	<?php include "html_model/js-for-all.html";?>
	<!-- JS FOR THIS PAGE ONLY -->
	<script src="assets/plugins/slick/slick.min.js" type="text/javascript"></script>
	<script>
		$(function(){
			$('.slick').slick({
				dots: true,
				autoplay: false,
				autoplaySpeed: 2000,
				arrows : true,
				zIndex : 500
			});
		});
		
	</script>
</body>

</html>