<!DOCTYPE html>
<html lang="ko">

<head>
	<?php include "html_model/head.html";?>
	<!-- CSS FRO THIS PAGE ONLY -->
	<link rel="stylesheet" href="css/myProfile_kr.css">
</head>

<body class="body-wrapper">
	<!--loaded-->
	<div class="main-wrapper">
		<!-- ====================================
		——— HEADER
		===================================== -->
		<header id="pageTop" class="header-wrapper">
			<?php include "html_model/header/header-1.html";?>
			<!-- NAVBAR -->
			<nav id="menuBar" class="navbar navbar-default lightHeader" role="navigation">
				<div class="container">
					<?php include "html_model/header/header-2-kr.html";?>
				</div>
				<!-- ====================================
				——— BREAD CRUMB 
				===================================== -->
				<div class="layout-breadcrumb-box">
					<div class="container">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb text-truncate">
								<li class="breadcrumb-item">
									<a href="#">index</a>
								</li>
								<li class="breadcrumb-item">
									<a href="">My WFC</a>
								</li>
								<li class="breadcrumb-item">
									<a href="">My Page</a>
								</li>
								<li class="breadcrumb-item">
									My Profile
								</li>
							</ol>
						</nav>
					</div>
				</div>
			</nav>
		</header>
		<div class="container container-main container-col-2">
			<div class="row">
				<div class="col-xs-12 col-xs-12 col-md-3 sticky-top aside-lb">
					<div class="panel-heading bg-color-5 border-color-5">
						<h3 class="panel-title">My Page</h3>
						<div class="aside-lb-close">x</div>
					</div>
					<?php include "html_model/_mywfc_kr/mypage-aside.html";?>
					<script>
						// 此 js 為 demo 用，請刪除
						$(".art-list-f2").find(".art-list-f2-item").eq(0).find(".art-list-f2-link").addClass("now");
					</script>
				</div>
				<div class="col-xs-12 col-xs-12 col-md-9">
					<div class="layout-main">
						<?php include "html_model/uikit/aside-lb-open.html";?>
						<div class="sectionTitle text-center color-5 mt-0">
							<h2><!-- h2 only -->
								<span class="shape shape-left"></span>
								<span>My Profile</span>
								<span class="shape shape-right"></span>
							</h2>
						</div>
						<!--
						==================================
						MEMBER
						==================================
						-->
						<h3 class="layout-title-level-3 icon1 mt-0">회원정보：</h3>
						<div class="retable" data-width="104">
							<div class="retable-item-double">
								<div class="retable-row">
									<div class="retable-title">아이디이름</div>
									<div class="retable-content">이광수</div>
								</div>
								<div class="retable-row">
									<div class="retable-title">성별</div>
									<div class="retable-content">Female</div>
								</div>
							</div>
							<div class="retable-item-double">
								<div class="retable-row">
									<div class="retable-title">연락처</div>
									<div class="retable-content">02-6713-2358</div>
								</div>
								<div class="retable-row">
									<div class="retable-title">핸드폰</div>
									<div class="retable-content">010-2490-6301</div>
								</div>
							</div>
							<div class="retable-item">
								<div class="retable-row">
									<div class="retable-title">주소</div>
									<div class="retable-content">
										서울특별시 강남구 역삼로25길 35 2층 (역삼동, 케이큐브타워)
									</div>
								</div>
							</div>
							<div class="retable-item">
								<div class="retable-row">
									<div class="retable-title">이메일이메일</div>
									<div class="retable-content">
										<div class="myprofile-email-current">wfc_skrrrrr@naver.com</div> 
										<button type="button" class="btn layout-btn color-5 is-mail">이메일주소변경</button>
										<!-- ^^ 當點下確認修改 , 置換成下方 div.myprofile-pw 輸入框組 -->
										<div class="myprofile-email" style="display: none;">
											<input type="email" placeholder="enter your email" class="is-mail"> @ 
											<input type="email" placeholder="ex: gmail" class="is-mail">
											<select>
												<option>선택</option>
												<option>naver.com</option>
											</select>
											<button type="button" class="btn layout-btn color-5">수정확인</button>
										</div>
										<script>
											//!! 演示用請刪除
											$(function(){
												function aa(){
													var $btn_in = $("button.is-mail"),
														 $box = $(".myprofile-email"),
														 $btn_out = $box.find("button");
													$btn_in.click(function(){
														$(this).hide();
														$box.show();
													});
													$btn_out.click(function(){
														$box.hide();
														$btn_in.show();
													});
												}
												aa();	
											});
										</script>
									</div>
								</div>
							</div>
							<div class="retable-item">
								<div class="retable-row">
									<div class="retable-title">비밀번호</div>
									<div class="retable-content">
										<button type="button" class="btn layout-btn color-5 is-pw">비밀번호변경</button>	
										<!-- ^^ 當點下確認修改 , 置換成下方 div.myprofile-pw 輸入框組 -->
										<div class="myprofile-pw" style="display: none;">
											<input class="is-pw" type="password" placeholder="current password">
											<input class="is-pw" type="password" placeholder="new password">
											<input class="is-pw" type="password" placeholder="recheck new password">
											<button type="button" class="btn layout-btn color-5">수정확인</button>	
										</div>
										<script>
											//!! 演示用請刪除
											$(function(){
												function bb(){
													var $btn_in = $("button.is-pw"),
														 $box = $(".myprofile-pw"),
														 $btn_out = $box.find("button");
													$btn_in.click(function(){
														$(this).hide();
														$box.show();
													});
													$btn_out.click(function(){
														$box.hide();
														$btn_in.show();
													});
												}
												bb();	
											});
										</script>
									</div>
								</div>
							</div>
						</div>
						<!--
						==================================
						CHILD
						==================================
						-->
						<h3 class="layout-title-level-3 icon3">자녀정보：</h3>
						<div class="retable">
							<div class="retable-item">
								<div class="retable-row">
									<div class="retable-title">자녀 1</div>
									<div class="retable-content">
										박소윤 (생년월일 2008/01/01)
									</div>
								</div>
							</div>
							<div class="retable-item">
								<div class="retable-row">
									<div class="retable-title">자녀 2</div>
									<div class="retable-content">
										박녀인 (생년월일 2010/05/02)
									</div>
								</div>
							</div>
						</div>
						<!--
						==================================
						EMAIL ORDER
						==================================
						-->
						<h3 class="layout-title-level-3 icon4">뉴스레터구독상태：</h3>
						<div class="retable">
							<div class="retable-item">
								<div class="retable-row">
									<div class="retable-title">메일 수신여부</div>
									<div class="retable-content">
										<input type="radio" name="mailing" id="mailing_yes" checked>
										<label for="mailing_yes">수신 </label>
										<div class="br"></div>
										<input type="radio" name="mailing" id="mailing_no">
										<label for="mailing_no">수신하지 않음</label>										
									</div>
								</div>
							</div>
						</div>
						<!--
						==================================
						GIFT
						==================================
						-->
						<h3 class="layout-title-level-3 icon2">상품거래기록：</h3>
						<div class="retable">
							<div class="retable-item">
								<div class="retable-row">
									<div class="retable-title">구매상품</div>
									<div class="retable-content">
										<ul class="myprofile-ul">
											<li class="myprofile-li">item 1 (독서일 2018/03/25)</li>
											<li class="myprofile-li">item 2 (독서일 2018/11/12)</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!--
						==================================
						COUPON
						==================================
						-->
						<!--
						상태 : 가능
						01 주말클럽이벤트참석회쿠폰 x 6 장 / 무료이벤트참석 / 1부모 2자녀
						발행일자 : 2017.12.19
						사용가능기간 : 2018.03.28 ~ 2018.12.31
						=================================================
						狀態 : 可用
						01 憂患券名稱 x 6 張 / 獲得方式 / 可使用人次 
						券註冊日期 :
						券有效期限 :
						-->
						<h3 class="layout-title-level-3 is-coupon">Event Coupon detail：</h3>
						<ul class="layout-card">
							<?php include "html_model/_mywfc_kr/ec-card-item.html"?>
						</ul>
						<div class="pagerArea text-center color-5">
							<?php include "html_model/uikit/pager-item.html";?>
						</div>
					</div>
				</div>
			</div>
		</div>
		<?php include "html_model/footer-kr.html";?>
		<?php include "html_model/floating-ui.html";?>
		<?php include "html_model/tabmenu-kr.html";?>
	</div>
	<?php include "html_model/js-for-all.html";?>
	<!-- JS FOR THIS PAGE ONLY -->
	<script src="js/retableTitle.js"></script>
	<script src="js/tmpAsideLb.js"></script>
	<script src="js/statePaddingShare.js"></script>
</body>

</html>