<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
	<?php include "html_model/head.html";?>
	<!-- CSS FRO THIS PAGE ONLY -->
	<link rel="stylesheet" href="css/usual.css">
</head>

<body class="body-wrapper">
	<!--loaded-->
	<div class="main-wrapper">
		<!-- ====================================
		——— HEADER
		===================================== -->
		<header id="pageTop" class="header-wrapper">
			<?php include "html_model/header/header-1.html";?>
			<!-- NAVBAR -->
			<nav id="menuBar" class="navbar navbar-default lightHeader" role="navigation">
				<div class="container">
					<?php include "html_model/header/header-2.html";?>
				</div>
				<!-- ====================================
				——— BREAD CRUMB 
				===================================== -->
				<div class="layout-breadcrumb-box">
					<div class="container">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb text-truncate">
								<li class="breadcrumb-item">
									<a href="#">首頁</a>
								</li>
								<!-- <li class="breadcrumb-item">
								<a href="#">活動報名</a>
								</li> -->
								<li class="breadcrumb-item">
									<!-- <li class="breadcrumb-item text-truncate" style="width: 150px;"> -->
									<a href="">青蛙與 Pompom 公主青蛙與 Pompom 公主</a>
								</li>
								<li class="breadcrumb-item">
									報名
								</li>
							</ol>
						</nav>
					</div>
				</div>
			</nav>
		</header>
		<!-- main only -->
		<div class="container container-main container-col-1">
			<div class="row">
				<div class="layout-col-12">
					<div class="layout-main">
						hellow word
					</div>
				</div>
			</div>
		</div>
	</div>

	<?php include "html_model/footer.html";?>
	<?php include "html_model/floating-ui.html";?>
	<?php include "html_model/tabmenu.html";?>
	</div>
	<?php include "html_model/js-for-all.html";?>
	<!-- JS FOR THIS PAGE ONLY -->
</body>

</html>