<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
	<?php include "html_model/head.html";?>
	<!-- CSS FRO THIS PAGE ONLY -->
	<link href="assets/plugins/selectbox/select_option1.css" rel="stylesheet">
	<link rel="stylesheet" href="css/dweGraduates.css">
</head>

<body class="body-wrapper">
	<!--loaded-->
	<div class="main-wrapper">
		<!-- ====================================
		——— HEADER
		===================================== -->
		<header id="pageTop" class="header-wrapper">
			<?php include "html_model/header/header-1.html";?>
			<!-- NAVBAR -->
			<nav id="menuBar" class="navbar navbar-default lightHeader" role="navigation">
				<div class="container">
					<?php include "html_model/header/header-2.html";?>
				</div>
				<!-- ====================================
				——— BREAD CRUMB 
				===================================== -->
				<div class="layout-breadcrumb-box">
					<div class="container">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb text-truncate">
								<li class="breadcrumb-item">
									<a href="#">首頁</a>
								</li>
								<li class="breadcrumb-item">
									<a href="">DWE 畢業</a>
								</li>
								<li class="breadcrumb-item">
									畢業榮譽榜
								</li>
							</ol>
						</nav>
					</div>
				</div>
			</nav>
		</header>
		<!-- ====================================
		——— CONTAINER STR
		===================================== -->
		<!-- main only -->
		<div class="container container-main container-col-1">
			<div class="row">
				<div class="layout-col-12">
					<div class="layout-main layout-main-pageback layout-main-pageback-color-2">
						<?php include "html_model/uikit/page-back.html";?>
						<!-- LEVEL 1 -->
						<div class="sectionTitle text-center color-2 mt-0 mb-4">
							<h2>
								<!-- h2 only -->
								<span class="shape shape-left"></span>
								<span>畢業榮譽榜</span>
								<span class="shape shape-right"></span>
							</h2>
						</div>
						<div class="dweg-dropbox">
							<div class="dweg-dropbox-item">
								<div class="dweg-dropbox-p">畢業年度</div>
								<div class="dropGeneral roundTwo layout-drop-sm bg-color-2 dweg-dropbox-year">
									<select class="select-drop">
										<option value="0">2018</option>
										<option value="1">2017</option>
										<option value="2">2016</option>
										<option value="3">2015</option>
									</select>
								</div>
							</div>
							<div class="dweg-dropbox-item">
								<div class="dweg-dropbox-p">畢業年齡</div>
								<div class="dropGeneral roundTwo layout-drop-sm bg-color-2 dweg-dropbox-age">
									<select class="select-drop">
										<option value="0">九歳以上</option>
										<option value="1">九至七歳</option>
										<option value="2">七至五歳</option>
										<option value="3">五至三歳</option>
									</select>
								</div>
							</div>
						</div>	
						<ul class="dweg-list mt-3">
							<?php include "html_model/dwe/dweg-item.html";?>
							<?php include "html_model/dwe/dweg-item.html";?>
							<?php include "html_model/dwe/dweg-item.html";?>
							<?php include "html_model/dwe/dweg-item.html";?>
							<?php include "html_model/dwe/dweg-item.html";?>
							<?php include "html_model/dwe/dweg-item.html";?>
							<?php include "html_model/dwe/dweg-item.html";?>
							<?php include "html_model/dwe/dweg-item.html";?>
						</ul>
						<div class="pagerArea text-center color-2">
							<?php include "html_model/uikit/pager-item.html";?>
						</div>
					</div>
				</div>
			</div>
		</div>
		<?php include "html_model/footer.html";?>
		<?php include "html_model/floating-ui.html";?>
		<?php include "html_model/tabmenu.html";?>
	</div>

	<?php include "html_model/js-for-all.html";?>
	<!-- JS FOR THIS PAGE ONLY -->
	<script src="js/dweGraduates.js" type="text/javascript"></script>
	<script src="js/dwe.js"></script>
</body>

</html>