.col-xs-12.col-sm-12.col-md-4.col-lg-3.sticky-top
	.panel-heading.bg-color-2
		h3.panel-title 下戴 APP
	aside.layout-sub
		.te-qrbox
			.te-qrbox-item.text-center
				h3.layout-title-level-3.mt-0 Android 系統
				img(src='img/qrcode_android.png', alt='')
			.te-qrbox-item.text-center
				h3.layout-title-level-3.mt-0 IOS 系統
				img(src='img/qrcode_ios.png', alt='')
		.te-ctabox
			button.btn.layout-btn.btn-block.is-fc(type='button') Free Conversation 介紹
			button.btn.layout-btn.btn-block.is-te(type='button') 電話美語報名
			button.btn.layout-btn.btn-block.is-last(type='button') 使用Face Call
			.layout-content 電話美語(TE)和Face Call是二選一的服務，對於小小孩來說，Face Call比TE更為合適，若孩子已能哼唱或是回答問題，便建議使用TE與美語叔叔、阿姨練習歌曲或課文喔！