@import "layout/layout";
// TW
@import "layout/tabmenu";
body{
	font-family: arial,NotoSans,Microsoft JhengHei,"微軟正黑體"!important;
}
.for-update-only{
	font-size: 12px;
}
// FOOTER
.copyRight{
	p{
		font-size: 14px;
		line-height: 23px;
	}
}
.footer-link{
	li{
		font-size: 14px;
	}
}
@media (max-width: 767px){
	footer{
		height: 50px;
		bottom: -50px;
	}
	/*--------------*/
	.footer-rise {
		.backToTop {
			bottom: 87px;
		}
		.tabmenu {
			bottom: 47px;
		}
		footer {
			bottom: -3px;
		}
	}
}