h3 學習點數累計規則
ol
	li 點數計算起始日：2018.07.01
	li 以「月」為計算單位。
	li 2018.6.30(含6/30)以前入會之會員學習點數自2018.7.1開始計算。
h3 學習點數之兌換
ol
	li 累計之點數僅可透過學習點數「兌換專區」兌換贈品，不得要求兌換非專區商品或要求折抵現金。
	li 兌換贈品以實體為主，照片僅供參考，收到兌換商品除嚴重瑕疵，將不得要求退換貨。
	li 兌換商品將於兌換日起算二週內寄出。
	li 寰宇家庭保有更換及刪除的權力。
h3 學習點數之有效期限
ol
	li 兌換有效期限為24個月。
	li 會員期到期或中斷會員期，則點數同時失效。