html
	head
	body
		li.layout-card-item
			.mypage-stateimg.is-target(data-width='55', style='background-image: url(img/mypage/shop/01.jpg)')
			.mypage-btnbox
				a.mypage-btn-cancel(href='')
					| 취소
					span.mypage-btn-cancel-x x
			.mypage-lt
				| 訂單日期 :
				span 2018-12-03 15:50
			a.mypage-blockbox(href='')
				.mypage-block1
					.mypage-block1-item
						| My Book long long long case
						br
						p
							| 25 點
							span x 3
				.mypage-block2
					b 收件地址 :
					| 台北市信義區菸廠路 88-1 號 8 樓
					br
				.mypage-block2
					b 備註 :
					| 此為贈送商品，恕不接受退換貨
			.mypage-date.mt-1 訂單編號 : Kr201812030003
			.mypage-date tracking code : A12345689
			.mypage-rb 單品小計 : 150 點