html
	head
	body
		.shop-item.layout-sharewidth-item
			.uikit-checkbox
				input.uikit-checkbox-input(type='checkbox')
				label.uikit-checkbox-label
			a.shop-pic(href='#dweShop', data-toggle='modal', style='background-image: url(img/shop/ps.jpg)')
			.shop-name
				.shop-name-cell
					.shop-cell2 My book My Book My book
			.shop-numbox
				a.shop-num-subtract(href='') -
				.shop-num 數量
				a.shop-num-add(href='') +
			.shop-price 80 點
		//v demo
		.shop-item.layout-sharewidth-item.is-selected
			.uikit-checkbox
				input.uikit-checkbox-input(type='checkbox', checked='')
				label.uikit-checkbox-label
			a.shop-pic(href='#dweShop', data-toggle='modal', style='background-image: url(img/shop/s.jpg)')
			.shop-name
				.shop-name-cell
					.shop-cell2 Marval
			.shop-numbox
				a.shop-num-subtract(href='') -
				.shop-num 3
				a.shop-num-add(href='') +
			.shop-price 25 點