html
	head
	body
		table.tb1
			tbody
				tr.t-title
					th 使用日期
					th 使用內容
					th 點數
				tr
					td 2019/01/01
					td 點數到期
					td.align-right -3
				tr
					td 2018/12/28
					td 使用網路遊戲館
					td.align-right 1
				tr
					td 2018/12/28
					td 使用網路遊戲館
					td.align-right 1
				tr
					td 2018/12/28
					td 使用網路遊戲館
					td.align-right 1
				tr
					td 2018/12/28
					td 使用網路故事屋
					td.align-right 1
				tr
					td 2018/12/28
					td 使用網路故事屋
					td.align-right 1
				tr
					td 2018/12/28
					td 使用網路故事屋
					td.align-right 1
				tr
					td 2018/12/28
					td 使用網路故事屋
					td.align-right 1
				tr
					td 2018/12/01
					td 點數到期
					td.align-right -6
				tr
					td 2018/11/30
					td 使用網路遊戲館
					td.align-right 1