.layout-main-pageback {
	position: relative;
	overflow: visible!important;
}
.layout-main-pageback-item {
	color: #fff !important;
	font-size: 14px;
	line-height: 30px;
	padding: 0 10px 0 26px;
	@include img-path-ratio("pageback.png", 2);
	background: {
		repeat: no-repeat;
		position: 7px 8px;
		color: #888; // def
	}
}
.layout-main-pageback-shadow {
	opacity: 0.15;
	background: {
		color: #000;
	}
	width: 82px;
	height: 2px;
}
.layout-main-pageback-deco {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 0 0 8px;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-top-color: #333; // def
}
/*
==================================
==================================
==================================
==================================
==================================
==================================
*/
.layout-main-pageback-item,
.layout-main-pageback-shadow,
.layout-main-pageback-deco {
	position: absolute;
	z-index: 1;
}
@media (max-width: 991px) {
	.layout-main-pageback {
		padding-top: 45px;
	}
	.layout-main-pageback-item {
		top: 8px;
		left: -8px;
	}
	.layout-main-pageback-shadow {
		top: 38px;
		left: 0px;
	}
	.layout-main-pageback-deco {
		top: 38px;
		left: -8px;
	}
}
@media (min-width: 992px) {
	.layout-main-pageback-item {
		top: 48px;
		left: -8px;
	}
	.layout-main-pageback-shadow {
		top: 78px;
		left: 0px;
	}
	.layout-main-pageback-deco {
		top: 78px;
		left: -8px;
	}
}
/*
==================================
==================================
==================================
==================================
==================================
==================================
*/
// 1
.layout-main-pageback-color-1 {
	.layout-main-pageback-item {
		background-color: $color1;
		&:hover {
			background-color: $color1-dark;
		}
	}
	.layout-main-pageback-deco {
		border-top-color: $color1-dark;
	}
}
// 2
.layout-main-pageback-color-2 {
	.layout-main-pageback-item {
		background-color: $color2;
		&:hover {
			background-color: $color2-dark;
		}
	}
	.layout-main-pageback-deco {
		border-top-color: $color2-dark;
	}
}
// 3
.layout-main-pageback-color-3 {
	.layout-main-pageback-item {
		color: $color3-text!important;
		background-color: $color3;
		background-position: 7px -21px;
		&:hover {
			background-color: $color3-dark;
		}
	}
	.layout-main-pageback-deco {
		border-top-color: $color3-dark;
	}
}
// 4
.layout-main-pageback-color-4 {
	.layout-main-pageback-item {
		background-color: $color4;
		&:hover {
			background-color: $color4-dark;
		}
	}
	.layout-main-pageback-deco {
		border-top-color: $color4-dark;
	}
}
// 5
.layout-main-pageback-color-5 {
	.layout-main-pageback-item {
		background-color: $color5;
		&:hover {
			background-color: $color5-dark;
		}
	}
	.layout-main-pageback-deco {
		border-top-color: $color5-dark;
	}
}