html
	head
	body
		li.fc-item
			.fc-img(style='background-image: url(img/history/teacher1.png)')
			.fc-msg
				.fc-child 歐陽大明、歐陽曉英
				.fc-teacher Jimmy
				.fc-class Bye-Bye , Baby !
				.fc-date 2018-10-24 18:00
		// REPEAT DEMO 
		li.fc-item
			.fc-img(style='background-image: url(img/history/teacher2.png)')
			.fc-msg
				.fc-child 歐陽大明、歐陽曉英
				.fc-teacher Ann
				.fc-class Bye-Bye , Baby !
				.fc-date 2018-10-24 18:00
		li.fc-item
			.fc-img(style='background-image: url(img/history/teacher3.png)')
			.fc-msg
				.fc-child 歐陽大明、歐陽曉英
				.fc-teacher Robot
				.fc-class Bye-Bye , Baby !
				.fc-date 2018-10-24 18:00