html
	head
	body
		.layout-card-item
			//is-cancel
			//        
				[^ 註 ^]
				未刪除的活動，不另加 class
				被刪除的活動，加 class = is-cancel，給刪除日期

			.h-name 歐陽大明、歐陽曉英
			.h-box.carnival-box
				.act-state.act-state-sm.h-state.state-car-1
					.act-state-inside
						.act-state-word.h-state-word.carnival-state(data-width='60') 已報名
				.h-item.share-box
					a.h-msg.is-big.share-left.main-msg(href='')
						.car-color-icon.car-color-e
							span W
							| 美語喜年華
						//              
							[^ 註 ^]
							ele .car-color-icon 加 class 分色，分別是
							.car-color-e、
							.car-color-p ....
							原本十個分類-尾代號 e p a z d b f k w c 
							預備新增用色-尾代號 11 12

						|  【Outdoor Dance Party 與大自然共舞 與大自然共舞 與大自然共舞 與大自然共舞 與大自然共舞 與大自然共舞 與大自然共舞】
					.h-date.is-small.cancel-target.share-right
						.h-cancel-date
							| 取消日期：2018/11/01
							span.h-cancel-time 09:00
						a.mypage-btn-cancel.h-cancel-btn(href='')
							| 取消
							span.mypage-btn-cancel-x x
				.h-item
					.h-msg.is-small
						span.h-msg-item 活動費用 : $1,250 ( 應付 )
						span.h-msg-vr
						span.h-msg-item 參加人次：2大2小
						span.h-msg-vr
						span.h-msg-item 活動日期：2018/11/01 09:00
					.h-date.is-small.fr 報名日期：2018/11/01 09:00
		// REPEAT DEMO 
		.layout-card-item
			.h-name 歐陽大明、歐陽曉英
			.h-box.carnival-box
				.act-state.act-state-sm.h-state.state-car-2
					//            
						[^ 註 ^]
						報名狀態 + class
						己報名 + .state-car-1
						己候補 + .state-card-2
						己取消 ( 不用加 )

					.act-state-inside
						.act-state-word.h-state-word.carnival-state 已候補
				.h-item.share-box
					a.h-msg.is-big.share-left.main-msg(href='')
						.car-color-icon.car-color-k
							span k
							| 美語喜年華
						| 【Outdoor Dance Party 與大自然共舞 與大自然共舞 與大自然共舞 與大自然共舞 與大自然共舞 與大自然共舞 與大自然共舞】
					.h-date.is-small.cancel-target.share-right
						.h-cancel-date
							| 取消日期：2018/11/01
							span.h-cancel-time 09:00
						a.mypage-btn-cancel.h-cancel-btn(href='')
							| 取消
							span.mypage-btn-cancel-x x
				.h-item
					.h-msg.is-small
						span.h-msg-item 活動費用 : $1,250 ( 應付 )
						span.h-msg-vr
						span.h-msg-item 參加人次：2大2小
						span.h-msg-vr
						span.h-msg-item 活動日期：2018/11/01 09:00
					.h-date.is-small.fr 報名日期：2018/11/01 09:00
		.layout-card-item.is-cancel
			.h-name 歐陽大明、歐陽曉英
			.h-box.carnival-box
				.act-state.act-state-sm.h-state
					.act-state-inside
						.act-state-word.h-state-word.carnival-state 已取消
				.h-item.share-box
					a.h-msg.is-big.share-left.main-msg(href='')
						.car-color-icon.car-color-f
							span f
							| 美語喜年華
						| 【Outdoor Dance Party 與大自然共舞 與大自然共舞 與大自然共舞 與大自然共舞 與大自然共舞 與大自然共舞 與大自然共舞】
					.h-date.is-small.cancel-target.share-right
						.h-cancel-date
							| 取消日期：2018/11/01
							span.h-cancel-time 09:00
						a.mypage-btn-cancel.h-cancel-btn(href='')
							| 取消
							span.mypage-btn-cancel-x x
				.h-item
					.h-msg.is-small
						span.h-msg-item 活動費用 : $1,250 ( 應付 )
						span.h-msg-vr
						span.h-msg-item 參加人次：2大2小
						span.h-msg-vr
						span.h-msg-item 活動日期：2018/11/01 09:00
					.h-date.is-small.fr 報名日期：2018/11/01 09:00