.layout-card-item
	.h-name 歐陽大明、歐陽曉英
	.h-box.cap-box
		.act-state.act-state-sm.h-state
			//            
				[^ 註 ^]
				CAP 單元無需另加 class

			.act-state-inside
				.act-state-word.h-state-word.cap-state(data-width='60') 審核中
		.h-item
			a.h-msg.is-big.main-msg(href='')
				.cap-sort-icon.cap-sort-write
					span
					| Play Along ! 3-C :
				| What Can You Do With a Ball ? | Jingle , Jingle , Jingle | Just Like Me
		.h-item.align-right
			.h-date.is-small 報名日期：2018/11/01 09:00
.layout-card-item
	.h-name 歐陽大明、歐陽曉英
	.h-box.cap-box
		.act-state.act-state-sm.h-state
			.act-state-inside
				.act-state-word.h-state-word.cap-state 通過
		.h-item
			a.h-msg.is-big.main-msg(href='')
				.cap-sort-icon.cap-sort-studio
					span
					| Play Along ! 3-C :
				| What Can You Do With a Ball ? | Jingle , Jingle , Jingle | Just Like Me
		.h-item.align-right
			.h-date.is-small 報名日期：2018/11/01 09:00