.mgz-introduce
	border-radius: 6px
	background-color: $color4-light-light
	li
		list-style-type: circle
		color: $color4-dark
	

@media (max-width: 639px)
	.mgz-cover
		width: 244px
		height: 125px
		margin: 0 auto
		position: relative
	
	.mgz-cover-img
		position: absolute
		transform: rotate(6deg)
		box-shadow: -3px 0 10px rgba(0,0,0,.4)
		width: 77px
		height: 105px
		&:nth-child(2)
			left: 33px
		
		&:nth-child(3)
			left: 66px
		
		&:nth-child(4)
			right: 66px
		
		&:nth-child(5)
			right: 33px
		
		&:nth-child(6)
			right: 0
		
	
	.mgz-introduce
		padding: 20px 0 20px 43px
		line-height: 18px
	

@media (min-width: 640px)
	.mgz-cover-img
		display: none
		&:nth-child(6)
			display: block
			height: 100%
		
	
	//
	.mgz-visionbox
		overflow: hidden
	
	.mgz-cover,.mgz-introduce
		height: 300px
	
	.mgz-cover
		float: left
	
	.mgz-introduce
		float: right
		font-size: 17px
		line-height: 26px
		width: calc( 100% - 220px - 30px )
	

@media (min-width: 640px) and (max-width: 1199px)
	.mgz-introduce
		padding:
			top: 48px
			left: 56px
		
	

@media (min-width: 1200px)
	.mgz-introduce
		padding: 45px 77px
	
