html
	head
	body
		.panel-heading.bg-color-4.border-color-4
			h3.panel-title 文章分類
			.forum-filsort-group
				a.forum-filsort-reset(href='') 取消篩選
				a.forum-filsort-close(href='') X
		aside.layout-sub
			.forum-filsort
				h3.layout-title-level-3.mt-0.color-4 依「討論主題」
				ul.forum-filsort-btnbox.row-1
					li.forum-filsort-item
						a.forum-filsort-link(href='') 教材使用方法
					li.forum-filsort-item
						a.forum-filsort-link.now(href='') 電話美語
						//              
							[^ 註 ^]
							規則：tag .forum-filsort-link 加 class .now 
							為「現在選中的分類」視覺
							* 全部雖有三大類，但一次僅能篩一個，沒有二個以上的複條件篩選

					li.forum-filsort-item
						a.forum-filsort-link(href='') 如何使用DWE
					li.forum-filsort-item
						a.forum-filsort-link(href='') 美語活動
					li.forum-filsort-item
						a.forum-filsort-link(href='') 新手上路
					li.forum-filsort-item
						a.forum-filsort-link(href='') 多媒體學習
					li.forum-filsort-item
						a.forum-filsort-link(href='') 其他
			.forum-filsort
				h3.layout-title-level-3.mt-0.color-4 依「地區」
				ul.forum-filsort-btnbox.row-2
					li.forum-filsort-item
						a.forum-filsort-link(href='') 台北
					li.forum-filsort-item
						a.forum-filsort-link(href='') 桃園
					li.forum-filsort-item
						a.forum-filsort-link(href='') 新竹
					li.forum-filsort-item
						a.forum-filsort-link(href='') 台中
					li.forum-filsort-item
						a.forum-filsort-link(href='') 彰化
					li.forum-filsort-item
						a.forum-filsort-link(href='') 嘉義
					li.forum-filsort-item
						a.forum-filsort-link(href='') 台南
					li.forum-filsort-item
						a.forum-filsort-link(href='') 高雄
			.forum-filsort
				h3.layout-title-level-3.mt-0.color-4 依「年齡」
				ul.forum-filsort-btnbox.row-2
					li.forum-filsort-item
						a.forum-filsort-link(href='') 0 ~ 1歲
					li.forum-filsort-item
						a.forum-filsort-link(href='') 1 ~ 2歲
					li.forum-filsort-item
						a.forum-filsort-link(href='') 2 ~ 4歲
					li.forum-filsort-item
						a.forum-filsort-link(href='') 4 ~ 6歲
					li.forum-filsort-item
						a.forum-filsort-link(href='') 小學生
					li.forum-filsort-item
						a.forum-filsort-link(href='') DWE Kids
		.panel-heading.bg-color-4.border-color-4
			.panel-title 推薦活動
		aside.forum-ad
			a.forum-ad-link(href='')
				img(src='img/forum/ad.jpg')
			//        
				優先排序條件：
				1.	適合會員家庭孩子年齡+未有報名紀錄的活動
				2.	若適合活動已有報名紀錄，則放尚未報名之活動訊息。
				3.	若都已有報名紀錄，則隨機放
