html
	head
	body
		.forum-floor
			.forum-floor-pic(style='background-image: url(img/forum/landscape.jpg);')
			.forum-floor-info
				.forum-floor-name 宜靜媽媽
				.forum-floor-time
					span.forum-floor-name-b 更新日期
					span 2019年03月24日 13:11
					span.forum-floor-name-a 更新
				.forum-floor-btnbox
					//            
						[^ 註 ^]
						當發表文章 / 留言者到自己的文章樓層，
						才會看到有這兩按鈕的 .forum-floor-btnbox tag 來進行刪除/編緝文章or留言，
						其它人則不應看到

					button.btn.layout-btn.btn-md.color-4(type='button') 刪除
					button.btn.layout-btn.btn-md.color-4(type='button') 編輯
			.forum-floor-floor 1F