a.forum-cardbox-item.layout-sharewidth-item(href='')
	.forum-cardbox-img(style='background-image: url(img/forum/landscape.jpg);')
	.forum-cardbox-main
		h4.forum-cardbox-title 寶貝無法開口，也能透過CAP作業寶貝無法開口，也能透過CAP作業
		.forum-cardbox-text 俱樂部提供了豐富的學習支援服務，俱樂部提供了豐富的學習支援服務
		// <div class="forum-cardbox-keyword"># 如何使用DWE</div> 
	.forum-cardbox-info
		.forum-cardbox-data 107-10-17 | 19:23
		.forum-cardbox-good 5
		.forum-cardbox-post 123