//   ====================================
	——— LIGHT BOX MODAL
	===================================== 
#forum-modal.modal.fade.customModal(tabindex='-1', role='dialog')
	.modal-dialog
		.modal-content
			.panel
				.panel-heading
					h3.panel-title 發表文章 / 留言之注意事項
					a.panel-close(href='') x
				.panel-body
					ul.forum-qabox
						li.forum-qabox-item
							.forum-qabox-q 成員們的聲音是什麼？
							.forum-qabox-a 會員之聲是WF俱樂部會員的社區網站。如何充分利用教材·WF俱樂部，英語學習技巧，麻煩，麻煩，歡樂，如存儲器的各種服務，發布和周圍學習英語的共享信息，請了很多的樂趣和獎勵的英語學習生活。
						li.forum-qabox-item
							.forum-qabox-q 成員們的聲音是什麼？
							.forum-qabox-a
								| 會員之聲是WF俱樂部會員的社區網站。如何充分利用教材·WF俱樂部，英語學習技巧，麻煩，麻煩，歡樂，如存儲器的各種服務，發布和周圍學習英語的共享信息，請了很多的樂趣和獎勵的英語學習生活。
								br
								| 會員之聲是WF俱樂部會員的社區網站。如何充分利用教材·WF俱樂部，英語學習技巧，麻煩，麻煩，歡樂，如存儲器的各種服務，發布和周圍學習英語的共享信息，請了很多的樂趣和獎勵的英語學習生活。
						li.forum-qabox-item
							.forum-qabox-q 發布說明·舉止
							.forum-qabox-a
								| 會員之聲是WF俱樂會員之聲是WF俱樂會員之聲是WF俱樂會員之聲是WF俱樂會員之聲是WF俱樂會員之聲是WF俱樂
								.forum-qabox-block 警告
								.forum-qabox-block 禮貌