.h-name{
	color: #000;
	font-size: 13px;
	padding:{
		bottom: 5px;
	}
}
@media (max-width: 991px){
	.h-name{
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
/*
========================================
========================================
*/
.is-cancel{
	.h-cancel-date{display: inline-block;}
	.h-cancel-btn{display: none;}		
}
.h-cancel-date{
	display: none;
	background-color: #eaeaea;
	padding: 4px;
}
.h-cancel-btn{
	&:hover{
		opacity: .9;
		color: #333;
	}
}
@media (max-width: 359px){
	.h-cancel-time{
		display: none;
	}
}
@media (max-width: 991px){
	.has-cancel{
		.h-box{
			position: relative;
		}
	}
	.h-date{
		&.cancel-target{
			position: absolute;
			top: 0;right: 0;
		}
	}	
}
/*
========================================
========================================
*/
.h-item{
	&.align-right{
		text-align: right;
	}
}
.h-state{}
@media (min-width: 992px){
	.h-box{
		position: relative;
	}
	.h-state{
		position: absolute;
		left: 0;
	}
}
/*
========================================
========================================
*/
.share-box{
	font-size: 0;
}
@media (min-width: 992px){
	.share-left{
		vertical-align: top;
		padding-right: 5px;
		
		width: calc( 100% - 57px );
	}	
	.share-right{
		vertical-align: top;
		width: 57px;
	}
	.is-cancel{
		.share-left{
			width: calc( 100% - 164px );
		}
		.share-right{
			width: 164px;
		}
	}	
}
/*
========================================
========================================
*/
.main-msg{
	margin:{
		bottom: 7px;
	}	
	color: #444;
	&:hover{
		color: #000;
	}
}
@media (max-width: 991px){
	.main-msg{
		margin:{	
			top: 7px;
		}
	}
}
@media (min-width: 992px){
	.main-msg{
		margin:{
			top: 2px;
		}
	}
}
/*
========================================
========================================
*/
.h-msg{
	display: inline-block;
}
.h-date{
	display: inline-block;
}
.is-big{
	font-size: 14px;
	line-height: 1.3;
}
.is-small{
	font-size: 12px;
	line-height: 1.3;
	color: #888;
}
/*
========================================
========================================
*/
@media (max-width: 991px){
	.h-msg-item{
		display: block;
	}	
}

@media (min-width: 992px){
	.h-msg-vr{
		display: inline-block;
		vertical-align: top;
		width: 1px;
		height: 10px;
		background-color: #888;
		margin: 2px 3px 0 7px;
	}	
	.fr{
		float: right;
	}
}