// CARD
@import "activity/act-state"
@import "_mywfc_kr/mypage-card"
// UIKIT 2
@import "_mywfc_kr/mypage-block-table"
@import "_mywfc_kr/mypage-stateimg"

//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================

// COUNT TOTAL
.mypage-rb
	bottom: 20px
	color: $color2-kr

	.layout-card-link
		padding-bottom: 20px 
	

//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================

.mypage-lt
	color: #777
	span
		color: #777
	

.layout-card-item
	min-height: 115px

@media (max-width: 991px)
	.mypage-lt
		top: 27px
	

@media (min-width: 992px)
	.layout-card-item
		padding-left: 70px
	
	.mypage-lt
		top: 13px
	


//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================

// CARD 
.layout-card
	clear: both

@media (max-width: 413px)
	.layout-main-card
		padding-top: 11px
		

@media (max-width: 991px)
	.layout-card-item
		padding:
			top: 48px
			bottom: 40px
		
	

@media (min-width: 992px)
	.layout-card-item
		padding:
			right: 80px
			top: 35px
		
	


//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================

// BLOCK 2
.mypage-block2
	font-size: 13px
	display: block
	color: #555
	margin-top: 6px
	line-height: 1.3	
	&:hover
		color: #777
	
	b
		color: #000
	

.mypage-date
	display: block
	margin:
		top: 3px
	
