// ASIDE ONLY
.art-list-f2-title,
.art-list-f2-link
	color: $color1-dark
.art-list-f2-link,
.art-list-f3-link
	&:hover
		background-color: $color1-light
	&.now
		background-color: $color1
// ASIDE LIGHTBOX (IN MOBILE)
.aside-lb-close
	color: $color1
.aside-lb-open
	background-color: $color1
.aside-lb-hamber
	background-color: #ffecb8// from image color
// Aside Menu now Sort
.art-list-f2-item:nth-child(2)
	.art-list-f3
		display: block