// icon
@import "_fwe_kr/fwe-title-icon"
// drop down
@import "uikit/tmp-dropdown"
// hight light ui
@import "_fwe_kr/lib-hightlight"
//=========================================
//=========================================
//=========================================
//=========================================
//=========================================
.layout-main
	img
		width: 100%
		margin-bottom: 18px
//=========================================
//=========================================
//=========================================
//=========================================
//=========================================
// drop down
.dropGeneral
	width: 100px
	display: inline-block
	.sbHolder
		background-color: $color2
		border-color: $color2
	.sbSelector:link
		color: #fff!important
	.sbToggle
		background:
			image: url(../assets/plugins/selectbox/images/down-arrow-white.png)
//=========================================
//=========================================
//=========================================
//=========================================
//=========================================
// btn
.layout-btn
	border-radius: 18px
	width: 200px
	vertical-align: top
	height: 32px
//=========================================
//=========================================
//=========================================
//=========================================
//=========================================
.wfcl-clear
	clear: both
@media (max-width: 413px)
	.wfcl-login
		text-align: right
		& > *
			display: inline-block
			margin-bottom: 4px
@media (min-width: 414px)
	.wfcl-login
		float: right
//=========================================
//=========================================
//=========================================
//=========================================
//=========================================
.wfcl-btn
	font-size: 0
	margin:
		top: 18px
@media (min-width: 768px)
	.wfcl-btn
		width: 70%
		margin: 18px auto 0
	.wfcl-link
		display: inline-block
		width: calc(50% - 10px)
		&:first-child
			margin-right: 20px