.car-color-icon
	display: inline-block
	color: #777
	span
		font-size: 12px
		margin-right: 3px
		color: #fff
		display: inline-block
		text-transform: uppercase
		text-align: center
		line-height: 18px
		width: 18px
		border-radius: 50%
		background-color: #777
.car-color-e
	color: $color-act-e
	span
		background-color: $color-act-e 
.car-color-p
	color: $color-act-p
	span
		background-color: $color-act-p 
.car-color-a
	color: $color-act-a
	span
		background-color: $color-act-a 
.car-color-z
	color: $color-act-z
	span
		background-color: $color-act-z 
.car-color-d
	color: $color-act-d
	span
		background-color: $color-act-d
.car-color-b
	color: $color-act-b
	span
		background-color: $color-act-b
.car-color-f
	color: $color-act-f
	span
		background-color: $color-act-f
.car-color-k
	color: $color-act-k
	span
		background-color: $color-act-k
.car-color-w
	color: $color-act-w
	span
		background-color: $color-act-w
.car-color-c
	color: $color-act-c
	span
		background-color: $color-act-c
.car-color-11
	color: $color-act-11
	span
		background-color: $color-act-11
.car-color-12
	color: $color-act-12
	span
		background-color: $color-act-12
.is-cancel
	.car-color-icon
		color: #868686
		span
			background-color: #868686
//=========================================
//=========================================
//=========================================
//=========================================
//=========================================
.carnival-box
	.h-msg.is-small
		width: 100%
		color: #555
	.h-msg-vr
		background-color: #555
	.h-col-title
		color: #555
		font-weight: bold
	.h-col-cont
		color: #888
.h-col-title,
.h-col-cont
	color: #777
.h-linkbox
	float: right
	margin-top: 6px
.h-col-link
	border: solid 1px #555
	color: #555
	border-radius: 10px
	padding: 3px 12px
	margin-left: 10px
	line-height: 1
	&:focus
		color: #555
	&:hover
		background-color: #555
		color: #fff
////
.h-collapse
	border-radius: 8px
	display: none
	margin-top: 20px
	padding: 20px 25px
	background-color: #f7f7f7
	.h-col-title
		color: #000
		font-weight: bold
	.h-col-cont
		color: #666
	.h-msg
		width: 100%
	.h-item
		margin-bottom: 8px
		&:last-child
			margin: 0
.h-hat
	img
		width: 19px
		margin: 0 3px
		vertical-align: -5px
	&.is-b
		color: #1a45c7
	&.is-g
		color: #196833
	&.is-gl
		color: #449b17
	&.is-y
		color: #bf7500
.h-sets
	display: inline-block
	margin-right: 5px
.h-price
	text-align: right
	margin-top: 8px
	font-size: 13px
	font-weight: bold
@media (max-width: 991px)
	.h-col-title
		display: inline-block
		width: 65px
	.h-col-cont
		display: inline-block
		width: calc( 100% - 70px )
		vertical-align: top
	.h-collapse
		.h-col-title,
		.h-col-cont
			display: block
			width: 100%
		.h-col-title,.h-price
			font-size: 15px
			font-weight: bold
		.h-col-cont
			padding-left: 15px
@media (min-width: 992px)
	.h-collapse
		margin-left: 73px
//=========================================
//=========================================
//=========================================
//=========================================
//=========================================
.is-maps
	@include img-path-ratio('activity/sprite.png',4.5)
	background:
		position: 2px 1px
	padding:
		left: 21px