aside.layout-sub.px-4.py-4
  ul.art-list-f2
    li.art-list-f2-item
      a.art-list-f2-link(href='') TE
      //
        規則：
        tag .art-list-fw-link 加 class now 成為「現在單元」的視覺標示
    li.art-list-f2-item
      a.art-list-f2-link(href='') Event
    li.art-list-f2-item
      a.art-list-f2-link(href='') CAP
    li.art-list-f2-item
      a.art-list-f2-link(href='') Mom to Mom