//
	====================================
	——— LIGHT BOX MODAL
	===================================== 
#cdModal.modal.fade.customModal(role='dialog', tabindex='-1')
	.modal-dialog
		.modal-content
			.panel
				.panel-heading
					h3.panel-title Audio report History
					a.panel-close(href='') x
				.panel-body
					// lb
					.lightbox-cd-checkarea.is-lb
						h3.layout-title-level-3.icon4.mt-0 라이트 블루
						.lightbox-cd-checkgroup
							.uikit-checkbox
								.uikit-checkbox-label
									| Talkalong 1
									img(src='img/mypage/lb-icon-true.png')
							.uikit-checkbox
								.uikit-checkbox-label
									| Talkalong 2
									img(src='img/mypage/lb-icon-false.png')
							.uikit-checkbox
								.uikit-checkbox-label Talkalong 3
						.lightbox-cd-checkgroup
							.uikit-checkbox
								.uikit-checkbox-label Talkalong 4
							.uikit-checkbox
								.uikit-checkbox-label Talkalong 5
							.uikit-checkbox
								.uikit-checkbox-label Talkalong 6
						.lightbox-cd-checkgroup
							.uikit-checkbox
								.uikit-checkbox-label Play Along! 1
							.uikit-checkbox
								.uikit-checkbox-label Play Along! 2
							.uikit-checkbox
								.uikit-checkbox-label
									| Play Along! 3
									span ★
					// b
					.lightbox-cd-checkarea.is-b
						h3.layout-title-level-3.icon6 블루
						.lightbox-cd-checkgroup
							.uikit-checkbox
								.uikit-checkbox-label The ABC Song
							.uikit-checkbox
								.uikit-checkbox-label Pre Sing Along! 1
							.uikit-checkbox
								.uikit-checkbox-label Sing Along! 1
						.lightbox-cd-checkgroup
							.uikit-checkbox
								.uikit-checkbox-label
									| Pre Lesson 1 
									span ★
									img(src='img/mypage/lb-icon-true.png')
							.uikit-checkbox
								.uikit-checkbox-label Review 1 
							.uikit-checkbox
								.uikit-checkbox-label Pre Lesson 2 
						.lightbox-cd-checkgroup
							.uikit-checkbox
								.uikit-checkbox-label Review 2 
							.uikit-checkbox
								.uikit-checkbox-label Pre Lesson 3 
							.uikit-checkbox
								.uikit-checkbox-label Review 3 
						.lightbox-cd-checkgroup
							.uikit-checkbox
								.uikit-checkbox-label Book 3 Telephone
					// g
					.lightbox-cd-checkarea.is-g
						h3.layout-title-level-3.icon5 그린
						.lightbox-cd-checkgroup
							.uikit-checkbox
								.uikit-checkbox-label Pre Sing Along! 2
							.uikit-checkbox
								.uikit-checkbox-label Sing Along! 2
							.uikit-checkbox
								.uikit-checkbox-label Pre Lesson 4 
						.lightbox-cd-checkgroup
							.uikit-checkbox
								.uikit-checkbox-label Review 4
							.uikit-checkbox
								.uikit-checkbox-label Pre Lesson 5 
							.uikit-checkbox
								.uikit-checkbox-label Review 5 
						.lightbox-cd-checkgroup
							.uikit-checkbox
								.uikit-checkbox-label Pre Lesson 6
							.uikit-checkbox
								.uikit-checkbox-label Review 6 
							.uikit-checkbox
								.uikit-checkbox-label
									| Book 6 Telephone
									span ★
					// lg
					.lightbox-cd-checkarea.is-lg
						h3.layout-title-level-3.icon2 라임
						.lightbox-cd-checkgroup
							.uikit-checkbox
								.uikit-checkbox-label Pre Sing Along! 3
							.uikit-checkbox
								.uikit-checkbox-label Sing Along! 3
							.uikit-checkbox
								.uikit-checkbox-label Pre Lesson 7 
						.lightbox-cd-checkgroup
							.uikit-checkbox
								.uikit-checkbox-label Review 7 
							.uikit-checkbox
								.uikit-checkbox-label Pre Lesson 8 
							.uikit-checkbox
								.uikit-checkbox-label Review 8 
						.lightbox-cd-checkgroup
							.uikit-checkbox
								.uikit-checkbox-label Pre Lesson 9 
							.uikit-checkbox
								.uikit-checkbox-label Review 9 
							.uikit-checkbox
								.uikit-checkbox-label
									| Book 9 Telephone 
									span ★
					// y
					.lightbox-cd-checkarea.is-y
						h3.layout-title-level-3.icon1 옐로우
						.lightbox-cd-checkgroup
							.uikit-checkbox
								.uikit-checkbox-label Pre Sing Along! 4
							.uikit-checkbox
								.uikit-checkbox-label Sing Along! 4
							.uikit-checkbox
								.uikit-checkbox-label Pre Lesson 10 
						.lightbox-cd-checkgroup
							.uikit-checkbox
								.uikit-checkbox-label Review 10 
							.uikit-checkbox
								.uikit-checkbox-label Pre Lesson 11 
							.uikit-checkbox
								.uikit-checkbox-label Review 11
						.lightbox-cd-checkgroup
							.uikit-checkbox
								.uikit-checkbox-label Review 12 
							.uikit-checkbox
								.uikit-checkbox-label
									| Book 12 Telephone 
									span ★
					// oteher
					.lightbox-cd-checkarea.is-other
						h3.layout-title-level-3.icon3 Other
						.lightbox-cd-checkgroup
							.uikit-checkbox
								.uikit-checkbox-label Pre Graduation 1
							.uikit-checkbox
								.uikit-checkbox-label
									| Pre Graduation 2
									span ★
	.cd-icon-intro
		p 표시 마크에 대해서 :
		img(src='img/mypage/lb-icon-true.png')
		| 접수 (PASS) 완료 / 
		img(src='img/mypage/lb-icon-false.png')
		| 응모 중