li.layout-card-item
	.mypage-stateimg(data-width='55', style='background-image: url(img/mypage/shop/01.jpg)')
	.mypage-btnbox
		a.mypage-btn-cancel(href='')
			| 다시요청하기
	a.mypage-blockbox(href='')
		.mypage-block1
			.mypage-block1-item
				span 01
				| 단내형
				.mypage-date.mt-2 날짜를보낸다 : ( 아직 전송되지 않음 )
				// <div class="mypage-date">tracking code : A12345689</div>
li.layout-card-item.is-cancel
	.mypage-stateimg(data-width='55', style='background-image: url(img/mypage/shop/02.jpg)')
	.mypage-btnbox
		a.mypage-btn-cancel(href='')
			| 다시요청하기
	a.mypage-blockbox(href='')
		.mypage-block1
			.mypage-block1-item
				span 02
				| 호명성
				.mypage-date.mt-2 날짜를보낸다 : 2018-5-28  19:30
				.mypage-date tracking code : A12345689