// GAME BOX
.lib-gbox
	.lib-info-en,.lib-info-location
		font-size: 14px
		text-align: center
		@extend %row2
	
	.lib-info
		padding: 10px 0 24px
		height: 100px
	

.lib-gbox-img
	width: 100%

@media (max-width: 799px)
	.layout-main-gbox
		display: none
	
