// TITLE
@media (max-width: 359px)
	.sectionTitle
		h2 span
			padding-top: 11px
		
	

@media (min-width: 360px) and (max-width: 991px)
	.sectionTitle
		h2 span
			padding-top: 25px
		
	

@media (max-width: 991px)
	.sectionTitle
		h2 span
			padding-left: 63px
		
	

@media (min-width: 991px)
	.sectionTitle
	
