// LAYOUT MAIN
@media (max-width: 991px)
	.layout-main,
	.layout-main-card
		padding-top: 12px
//================================================
//================================================
//================================================
//================================================
//================================================
// TITLE
.sectionTitle
	margin-bottom: 0
	h2 span
		height: 60px
@media (min-width: 414px) and (max-width: 991px)
	.sectionTitle h2 span
		padding-top: 10px
@media (max-width: 991px)
	.sectionTitle h2 span
		padding-left: 63px