.uikit-radio
	min-height: 32px
	background-color:	$color5-light
	margin-bottom: 0
.uikit-radio-input
	&:checked + .uikit-radio-label
		background:
			position: 10px -229px
.uikit-radio-label
	min-height: 32px
	font-size: 13px
	text-align: left
	padding:
		left: 28px
		top: 9px
		bottom: 0
	background:
		position: 10px -150px