.mypage-stateimg 
	width: 85px
	height: 85px

.mypage-block1
	min-height: 85px!important

@media (max-width: 991px)
	.mypage-block1
		padding-left: 100px
	

@media (min-width: 992px)
	.layout-card-item 
		padding-left: 100px!important
		padding-right: 0!important
		width: 47%
		float: left
		&:nth-child(odd)
			margin-right: 6%
		
	
	

