@import "no_sort/te-fc";
/*
============================
============================
============================
============================
============================
============================
*/
// @media (max-width: 991px){
//     .layout-videobox-item{
//         margin-bottom: 0;
//     }
// }

.block h3 {
	font-size: 21px;
	margin-bottom: 6px;
}
.layout-owlnav-box1 {
	font-size: 16px;
}
/*			
===============================
===============================
===============================
===============================
===============================
===============================
*/
// OWL-CAROUSEL CUSTOMER
.owl-carousel-type-1 {
	.caption {
		height: 270px;
		background-color: #ddf3ff !important;
	}
}
@media (min-width: 1200px) {
	.owl-carousel-type-1 {
		.owl-nav {
			display: none;
		}
	}
}
/*
===============================
===============================
===============================
===============================
===============================
===============================
*/
// LAYOUT-SUB
@media (max-width: 991px) {
	.layout-sub {
		padding: 0;
	}
	.container-main {
		padding-bottom: 130px;
	}
}
