.forum-portrait
	position: relative
	margin-bottom: 15px
	.forum-label
		font-size: 20px
		font-weight: bold
		width: 100%
	
	//.forum-control
		
	

.forum-portrait-pic
	
	border-radius: 50%
	overflow: hidden
	display: inline-block
	background:
		size: cover
		position: center center
	
	position: absolute
	top: 0
	left: 0

.forum-group
	margin-bottom: 15px

.forum-label
	font-size: 17px
	color: $color4-text

.forum-control
	border: solid 1px $color4-text
	padding: 8px
	width: 100%

// input.forum-control,
textarea.forum-control
	max-width: 100%
	min-width: 100%
	// resize: none
	min-height: 300px

@media (max-width: 767px)
	.forum-portrait
		height: 85px
		padding:
			left: 95px
		
	
	.forum-portrait-pic
		width: 80px
		height: 80px
	

@media (min-width: 768px)
	.forum-portrait
		height: 100px
		padding:
			left: 115px
		
	
	.forum-portrait-pic
		width: 100px
		height: 100px
	


//======================================================
//======================================================
//======================================================
//======================================================
//======================================================
//======================================================
//======================================================

// FILD
.forum-file
	margin-bottom: 8px

.forum-submit-lightbox
	display: block
	text-align: right
	color: $color4-text
	text-decoration: underline!important
	margin-bottom: 13px
	font-size: 15px

@media (max-width: 359px)
	.forum-submit-lightbox
		font-size: 13px
	

@media (min-width: 1200px)
	.forum-filebox
		position: relative
	
	.forum-submit
		position: absolute
		right: 50px
		bottom: 73px
		width: 330px
	
	.forum-submit-lightbox
		
	


//======================================================
//======================================================
//======================================================
//======================================================
//======================================================
//======================================================
//======================================================

// ALERT TEXT
.forum-alert-text
	color: #e03912
	font-size: 15px
