// CTA
.forum-cta
	@include img-path-ratio("forum/cta.png",2)
	background:
		repeat: no-repeat
		color: $color4
	
	width: 50px
	height: 50px
	position: fixed
	border-radius: 50%
	border: solid 2px #fff
	box-shadow: 0 0 3px rgba(0,0,0,.6)
	//
	transition: .5s

.forum-cta,
.footer-rise
	.forum-cta
		transition: .5s
	

@media (max-width: 767px)
	.forum-cta
		bottom: 40px
		right: 20px
	
	.footer-rise
		.forum-cta
			bottom: 103px
		
	

@media (min-width: 768px)
	.forum-cta
		bottom: 20px
	

@media (min-width: 768px) and (max-width: 991px)
	.forum-cta
		right: 50px
	
	.footer-rise
		.forum-cta
			bottom: 85px
		
	

@media (min-width: 992px) and (max-width: 1199px)
	.footer-rise
		.forum-cta
			bottom: 85px
		
	

@media (min-width: 1200px)
	.forum-cta
		margin-right: -55px
	
	.footer-rise
		.forum-cta
			bottom: 85px
		
		


//======================================
//======================================
//======================================
//======================================
//======================================
//======================================

@media (max-width: 767px)
	.backToTop
		bottom: 96px
	
	.footer-rise
		.backToTop
			bottom: 160px
		
	
