.layout-main-post
	.layout-main-full-bg
		background:
			color: $f-color3
	.layout-main-full-inbox
		border-color: $color4-text
	.sectionTitle
		span
			color: $color4-text
		.shape,
		.shape:before,.shape:after
			background-color: $color4-text!important