.cal
	background-color: #eee
.is-sat,.is-sun
	background-color: #ddd
.cal-premon,.cal-nexmon
	background-color: transparent
	border-color: #777
	color: #777
	&:hover
		background-color: #fff
// REGION
.is-event-1
	background-color: $cal-color-1
.is-event-2
	background-color: $cal-color-2
.is-event-3
	background-color: $cal-color-3
.is-event-4
	background-color: $cal-color-4