.dropGeneral
	display: inline-block
	.sbHolder
		background-color: $color1-light
		border-color: $color1-light
	

.is-show
	.sbHolder
		background-color: $cal-color-1
		border-color: $cal-color-1
	
	.sbSelector:link
		color: $cal-color-1-deep!important
	
	& + .cal
		background-color: $cal-color-1
		.cal-date
			color: $cal-color-1-deep
			border-bottom-color: $cal-color-1-deep
		
		.cal-seven
			color: $cal-color-1-deep
		
		.cal-premon,.cal-nexmon
			border-color: $cal-color-1-deep
			color: $cal-color-1-deep
		
		.cal-item
			color: $cal-color-1-deep
		
		.is-sat,.is-sun
			background-color: $cal-color-1-light
		
		.cal-more
			background-color: $cal-color-1-deep
		
	

.is-active
	.sbHolder
		background-color: $cal-color-2
		border-color: $cal-color-2
	
	.sbSelector:link
		color: $cal-color-2-deep!important
	
	& + .cal
		background-color: $cal-color-2
		.cal-date
			color: $cal-color-2-deep
			border-bottom-color: $cal-color-2-deep
		
		.cal-seven
			color: $cal-color-2-deep
		
		.cal-premon,.cal-nexmon
			border-color: $cal-color-2-deep
			color: $cal-color-2-deep
		
		.cal-item
			color: $cal-color-2-deep
		
		.is-sat,.is-sun
			background-color: $cal-color-2-light
		
		.cal-more
			background-color: $cal-color-2-deep
		
	

.is-carnival
	.sbHolder
		background-color: $cal-color-3
		border-color: $cal-color-3
	
	.sbSelector:link
		color: $cal-color-3-deep!important
	
	& + .cal
		background-color: $cal-color-3
		.cal-date
			color: $cal-color-3-deep
			border-bottom-color: $cal-color-3-deep
		
		.cal-seven
			color: $cal-color-3-deep
		
		.cal-premon,.cal-nexmon
			border-color: $cal-color-3-deep
			color: $cal-color-3-deep
		
		.cal-item
			color: $cal-color-3-deep
		
		.is-sat,.is-sun
			background-color: $cal-color-3-light
		
		.cal-more
			background-color: $cal-color-3-deep
		
	

.is-camp
	.sbHolder
		background-color: $cal-color-4
		border-color: $cal-color-4
	
	.sbSelector:link
		color: $cal-color-4-deep!important
	
	& + .cal
		background-color: $cal-color-4
		.cal-date
			color: $cal-color-4-deep
			border-bottom-color: $cal-color-4-deep
		
		.cal-seven
			color: $cal-color-4-deep
		
		.cal-premon,.cal-nexmon
			border-color: $cal-color-4-deep
			color: $cal-color-4-deep
		
		.cal-item
			color: $cal-color-4-deep
		
		.is-sat,.is-sun
			background-color: $cal-color-4-light
		
		.cal-more
			background-color: $cal-color-4-deep
		
	
