// EVENT E-TITLE
.is-show
	.slick-dots .slick-active,
	.eventbtn > button
		background-color: $color1-kr
	
	.sectionTitle h2
		color: $color1-kr
		span.shape 
			background-color: $color1-kr
			&:before,
			&:after 
				background-color: $color1-kr
			
		
		

.is-activity
	.slick-dots .slick-active,
	.eventbtn > button
		background-color: $color2-kr
	
	.sectionTitle h2
		color: $color2-kr
		span.shape 
			background-color: $color2-kr
			&:before,
			&:after 
				background-color: $color2-kr
			
		
		

.is-carnival
	.slick-dots .slick-active,
	.eventbtn > button
		background-color: $color3-kr
	
	.sectionTitle h2
		color: $color3-kr
		span.shape 
			background-color: $color3-kr
			&:before,
			&:after 
				background-color: $color3-kr
			
		
		

.is-camp
	.slick-dots .slick-active,
	.eventbtn > button
		background-color: $color4-kr
	
	.sectionTitle h2
		color: $color4-kr
		span.shape 
			background-color: $color4-kr
			&:before,
			&:after 
				background-color: $color4-kr
			
		
		

.ititle
	margin-bottom: 10px



@media (max-width: 991px)
	.ititle-w
		background-color: #fff
	
	.is-show
		.ititle-w
			border: solid 1px $color1-kr
			color: $color1-kr
		
	
	.is-activity
		.ititle-w
			border: solid 1px $color2-kr
			color: $color2-kr
		
	
	.is-carnival
		.ititle-w
			border: solid 1px $color3-kr
			color: $color3-kr
		
	
	.is-camp
		.ititle-w
			border: solid 1px $color4-kr
			color: $color4-kr
		
	

@media (min-width: 992px)
	.is-show
		.ititle-w
			background-color: $color1-kr
		
	
	.is-activity
		.ititle-w
			background-color: $color2-kr
		
	
	.is-carnival
		.ititle-w
			background-color: $color3-kr
		
	
	.is-camp
		.ititle-w
			background-color: $color4-kr
		
	
