.art-list-f2-link{
	font-size: 14px;
	padding: 9px 9px;
}
////
.art-list-f2-link.now:after,
.art-list-f3-link.now:after{
	border-left-color: $color5;
}
////
.art-list-f2-title,
.art-list-f2-link{
	color: #555;
}
////
.art-list-f2-item{
	border-bottom: dotted 1px #dfdfdf;
	&:last-child{
		border: none;
	}
}
////
.art-list-f2-link{
	
	&:hover{
		// background-color: $color5-light;
		&:after{
			border-left-color: $color5;
		}		
	}
	&.now{
		color: #555;
		background-color: $color5-light;
		&:after{
			// display: none;
		}
		&:before{
			// content: "";
			// display: block;
			// width: 50px;height: 40px;
			// position: absolute;
			// right: -13px;
			// bottom: 0;
			// @include img-path-ratio("mypage/arrow.png",2);
		}
	}
}
/*
=====================================
=====================================
=====================================
=====================================
=====================================
*/
// ASIDE LIGHTBOX (IN MOBILE)
.aside-lb-close{
	color: $color5;
}
.aside-lb-open{
	background-color: $color5;
}
.aside-lb-hamber{
	background-color: #ffecb8;// from image color
}