html
  head
  body
    a.art-media(href='')
      img.art-media-img(src='img/article/01.jpg')
      .art-media-box
        h5.art-media-title 寶貝無法開口，也能透過CAP作業快樂學習DWE！
        .art-media-content
          | 在迪士尼美語的歡樂環境中，家中的寶貝從無法開口， 到透過遊戲與唱歌，能夠循序漸進完成CAP作業，快樂地學習美語。 邀請有類似經驗的爸媽們，來信和大家分享寶貝樂在學習DWE的獨家祕方。在迪士尼美語的歡樂環境中，家中的寶貝從無法開口， 到透過遊戲與唱歌，能夠循序漸進完成CAP作業，快樂地學習美語。 邀請有類似經驗的爸媽們，來信和大家分享寶貝樂在學習DWE的獨家祕方。
          span.art-media-more ... 繼續閱讀