html
  head
  body
    .panel-heading.bg-color-4.border-color-4
      h3.panel-title 會員服務
    aside.layout-sub.px-4.py-4
      ul.art-list-f2
        li.art-list-f2-item
          a.art-list-f2-link(href='') 會員交流園地
        li.art-list-f2-item
          a.art-list-f2-link(href='') 親子教育百科
          ul.art-list-f3
            li.art-list-f3-item
              a.art-list-f3-link.now(href='') ‧ 俱樂部專訪
              //                 
                					[^ 註 ^]
                					規則：tag .art-list-f3-link 加 class .now
                					以標示「現在頁面位置」
                					
            li.art-list-f3-item
              a.art-list-f3-link(href='') ‧ 語言學習
            li.art-list-f3-item
              a.art-list-f3-link(href='') ‧ 智能啟發
            li.art-list-f3-item
              a.art-list-f3-link(href='') ‧ 身心發展
            li.art-list-f3-item
              a.art-list-f3-link(href='') ‧ 親子活動
            li.art-list-f3-item
              a.art-list-f3-link(href='') ‧ 超級父母
            li.art-list-f3-item
              a.art-list-f3-link(href='') ‧ 行為情緒
            li.art-list-f3-item
              a.art-list-f3-link(href='') ‧ 人際關係
            li.art-list-f3-item
              a.art-list-f3-link(href='') ‧ 生活教育
            li.art-list-f3-item
              a.art-list-f3-link(href='') ‧ 健康營養
        li.art-list-f2-item
          a.art-list-f2-link(href='') 會員經驗分享
          ul.art-list-f3
            li.art-list-f3-item
              a.art-list-f3-link(href='') ‧ 迪士尼美語世界
            li.art-list-f3-item
              a.art-list-f3-link(href='') ‧ 親子學習計劃
            li.art-list-f3-item
              a.art-list-f3-link(href='') ‧ 電話美語/趣味電話美語
            li.art-list-f3-item
              a.art-list-f3-link(href='') ‧ 兒童專刊 & 妙妙筆
            li.art-list-f3-item
              a.art-list-f3-link(href='') ‧ 活動
            li.art-list-f3-item
              a.art-list-f3-link(href='') ‧ 網站
            li.art-list-f3-item
              a.art-list-f3-link(href='') ‧ 畢業 & 劍橋英檢
            li.art-list-f3-item
              a.art-list-f3-link(href='') ‧ 其他
        li.art-list-f2-item
          a.art-list-f2-link(href='') 世界育兒觀
        li.art-list-f2-item
          a.art-list-f2-link(href='') 寰宇家庭雜誌