html
  head
  body
    aside.layout-sub.px-4.py-4
      ul.art-list-f2
        li.art-list-f2-item
          a.art-list-f2-link(href='') 공지사항
          //            
            			規則：
            			tag .art-list-fw-link 加 class now 成為「現在單元」的視覺標示
            			
        li.art-list-f2-item
          a.art-list-f2-link.art-collapse(href='') WFC Friends
          ul.art-list-f3
            li.art-list-f3-item
              a.art-list-f3-link(href='') . All Friends
            li.art-list-f3-item
              a.art-list-f3-link(href='') ‧ Ben
            li.art-list-f3-item
              a.art-list-f3-link(href='') ‧ Cat
            li.art-list-f3-item
              a.art-list-f3-link(href='') ‧ Chris
            li.art-list-f3-item
              a.art-list-f3-link(href='') ‧ Diane
            li.art-list-f3-item
              a.art-list-f3-link(href='') ‧ Henry
            li.art-list-f3-item
              a.art-list-f3-link(href='') ‧ Jimmy
            li.art-list-f3-item
              a.art-list-f3-link(href='') ‧ Katie
            li.art-list-f3-item
              a.art-list-f3-link(href='') ‧ Lisa
            li.art-list-f3-item
              a.art-list-f3-link(href='') ‧ Mandy
        li.art-list-f2-item
          a.art-list-f2-link.art-collapse(href='') Zippy Family
          ul.art-list-f3
            li.art-list-f3-item
              a.art-list-f3-link(href='') ‧ Zippy Family
            li.art-list-f3-item
              a.art-list-f3-link(href='') ‧ Zippy
            li.art-list-f3-item
              a.art-list-f3-link(href='') ‧ Froggy & Bunny
            li.art-list-f3-item
              a.art-list-f3-link(href='') ‧ Pompom
            li.art-list-f3-item
              a.art-list-f3-link(href='') ‧ Elvis
            li.art-list-f3-item
              a.art-list-f3-link(href='') ‧ Violet
            li.art-list-f3-item
              a.art-list-f3-link(href='') ‧ Clem
            li.art-list-f3-item
              a.art-list-f3-link(href='') ‧ Max
        li.art-list-f2-item
          a.art-list-f2-link(href='') 온라인샵
        li.art-list-f2-item
          a.art-list-f2-link(href='') DWE 뽀개기
        li.art-list-f2-item
          a.art-list-f2-link(href='') Club 회원규정