li.layout-card-item.is-show
	|<?php include "html_model/activity/act-state_kr.html";?>
	.act-state.act-state-sm
		.act-state-inside
			.act-state-word(data-width='86') 이벤트 스케쥴
			//
				[^ 註 ^]
				規則 :
				1.tag .act-state-word 需要一個最大寬來使介面顯示正確 ;
				請依照實際可能狀態中 , 將字數最多時的寬填入 data-width 值中
				2. 值有 이벤트 스케쥴
				이벤트 공지
				클럽물품
				클럽방학
				디뽀미션안내 ...
	a.layout-card-link(href='')
		.notic-w 2018년 12월 일산 크리스마스쇼 출연진 관련 공지
		.notic-date 조회 : 15 / 등록일 : 2018-12-28
// v demo v
li.layout-card-item.is-show
	.act-state.act-state-sm
		.act-state-inside
			.act-state-word 클럽물품
	a.layout-card-link(href='')
		.notic-w 2019년 1월 액티비티 스케줄
		.notic-date 조회 : 231 / 등록일 : 2018-11-17