.cap-bookbox-item {
	float: left;
}
.cap-bookbox-link {
	display: block;
}
.cap-bookbox-info {
	background-color: #fff;
}
.cap-bookbox-img {
	width: 100%;
}
.cap-bookbox-name {
	color: #555;
}
@media (max-width: 991px) {
	.cap-bookbox-item {
		width: 33.3%;
	}
	.cap-bookbox-info {
		border-radius: 0 0 5px 5px;
		margin: 0 7px 25px;
		padding: 5px;
	}
	.cap-bookbox-name {
		display: block;
		font-size: 13px;
		text-align: center;
		line-height: 1.3;
		max-height: 32px;
		height: 32px;
		overflow: hidden;
		padding-top: 3px;
	}
}
@media (min-width: 992px) {
	.cap-bookbox-item {
		width: 25%;
		margin-bottom: 35px;
	}
	.cap-bookbox-info {
		border-radius: 18px;
		margin: 8px 13px 0;
		padding: 5px 0 5px 5px;
	}
	.cap-bookbox-name {
		line-height: 21px;
		display: inline-block;
		vertical-align: top;
		font-size: 14px;
		width: calc(100% - 27px); // for text-truncate
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}