@import "usual/im"
@import "usual/color"
@import "usual/color-kr"
@import "usual/unit3"
// @import "usual/title-deco3"
// aside
@import "uikit/tmp-aside"
@import "uikit/tmp-aside-lb"
@import "_parents_kr/parents-aside"
// TITLE
@import "_parents_kr/parents-title-icon"
// UI
@import "_parents_kr/advice"
//=========================================
//=========================================
//=========================================
//=========================================
//=========================================
@media (max-width: 410px)
	.layout-main 
		padding:
			top: 12px
//=========================================
//=========================================
//=========================================
//=========================================
//=========================================
.hight-light
	padding: 5px
	border: solid 3px $color3
	border-radius: 17px
.height-light-box
	border: solid 1px $color3
	text-align: center
	background-color: $color3-light
	border-radius: 12px
	line-height: 1.3
	font:
		size: 16px
	padding: 10px
	span
		font-family: arial
		display: block
		font:
			size: 50px
		line-height: 23px
		&.first
			transform: translateY(7px)
		&.second
			transform: translateY(20px)
	b
		color: $color5-dark
	a
		color: #00a4ff
		text-decoration: underline!important
		word-wrap: break-word
		&:hover
			opacity: .8
@media (max-width: 767px)
	.height-light-box
		font-size: 13px