@import "usual/im"
@import "usual/color"
// 
@import "uikit/tmp-owl-nav"
//
@import "index/slide-show"
@import "index/section-link"
@import "index/ig"
@import "index/fix"
body 
	background-color: #f5f5f5
.navbar 
	box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3) !important
.layout-breadcrumb-box 
	display: none 
//=========================================
//=========================================
//=========================================
//=========================================
//=========================================
// SECTION : ENGLIST-EVENT
.section-event 
	.btn-link 
		&:hover 
			color: $color1 !important
	.thumbnailContent .caption 
		background-color: #f8f8f8
//=========================================
//=========================================
//=========================================
//=========================================
//=========================================
// SECTION : SERVICE
.section-service 
	.btn-link 
		&:hover 
			color: $color6 !important
	.thumbnailContent .caption 
		background-color: #f8f8f8
@media (min-width: 992px) 
	.section-service 
		.owl-controls 
			display: none !important
//=========================================
//=========================================
//=========================================
//=========================================
//=========================================
// SECTION : IG
.section-ig 
	padding-bottom: 50px !important
@media (min-width: 768px)
	.section-ig
		@include img-path('index/ig_bg.png')
		background:
			position: center 0
			repeat: repeat-y
//=========================================
//=========================================
//=========================================
//=========================================
//=========================================
// SECTION TITLE
.sectionTitle 
	margin: 
		top: 0
		bottom: 35px
	h2 
		font-size: 36px
@media (max-width: 767px) 
	.sectionTitle h2 
		margin-bottom: 30px
@media (min-width: 768px) 
	.sectionTitle h2 
		margin-bottom: 50px
// color
section#latestNews 
	.caption 
		background: #fff
////
.lightSection 
	.thumbnailContent .caption 
		background-color: #fff
.caption 
	p 
		height: 90px
		@extend %row4
@media (max-width: 767px) 
	.section-event 
		padding-top: 15px