@import "usual/color"
@import "usual/unit1"
.color-1.layout-navbar-arrow-pc:after
	display: none
////=========================================
////=========================================
////=========================================
////=========================================
////=========================================
.layout-content
	padding:
		left: 16px
		bottom: 25px
		bottom: 0
	line-height: 1.5
	ol li
		line-height: 1.6
		margin-bottom: 0
////=========================================
////=========================================
////=========================================
////=========================================
////=========================================
