$color-hl: #3092ca
$shop-color-def: #e2e2e2
@import "usual/im"
@import "usual/color"
@import "usual/unit5"
@import "uikit/tmp-pager"
// ASIDE MENU
@import "uikit/tmp-aside"
@import "uikit/tmp-aside-lb"
@import "aside/aside5"
// UI
@import "mypage/aside-file"
@import "learn_point/tb"
// TMPLATE
@import "uikit/tmp-collapse"
@import "uikit/tmp-dropdown"
@import "learn_point/drop"
@import "uikit/tmp-pager"

// SHOP UI
@import "usual/color-kr"
@import "activity/act-state"
@import "learn_point/shop-card"
@import "learn_point/shop-block-table"
@import "learn_point/shop-stateimg" 
@import "learn_point/shop"

// LIGHT BOX
@import "lightbox/lightbox"
@import "lightbox/lightbox-shop"
@import "uikit/tmp-checkbox-radio"


.is-blue
	color: $color-hl
.lb-title
	line-height: 1
.lb-content
	margin-bottom: 15px
	width: auto!important
@media (max-width: 991px)
	.lb-img
		margin-bottom: 12px
	.layout-main-card
		.aside-lb-open
			transform: translateX(23px) translateY(23px)
@media (max-width: 413px)
	.layout-main-card
		.aside-lb-open
			transform: translateX(23px) translateY(10px)
//=========================================
//=========================================
//=========================================
//=========================================
//=========================================
.layout-collapse-content
	h3
		margin-top: 25px
		&:first-child
			margin-top: 0
	li
		padding: 0
//=========================================
//=========================================
//=========================================
//=========================================
//=========================================

// CHECK BOX
.shop 
	.uikit-checkbox 
		border-radius: 8px 8px 0 0
		margin-bottom: 0
	.uikit-checkbox-label 
		font-size: 15px
		color: #ccc
		background: 
			color: $shop-color-def
		&:after 
			content: "請點擊選取"
	.uikit-checkbox-input 
		&:checked + .uikit-checkbox-label 
			background: 
				color: $color5
			color: #fff
			&:after 
				content: "己選取"
//=========================================
//=========================================
//=========================================
//=========================================
//=========================================
// SHERE WIDTH
@media (min-width: 1200px) 
	.item-234 .layout-sharewidth-item 
		width: calc( 25% - 15px )
		margin-right: 20px
//====================================================
//====================================================
//====================================================
//====================================================
//====================================================
// SHOP SHARE  SHOP SHARE  SHOP SHARE  SHOP SHARE  SHOP SHARE  SHOP SHARE  SHOP SHARE
// SHOP SHARE  SHOP SHARE  SHOP SHARE  SHOP SHARE  SHOP SHARE  SHOP SHARE  SHOP SHARE
// SHOP SHARE  SHOP SHARE  SHOP SHARE  SHOP SHARE  SHOP SHARE  SHOP SHARE  SHOP SHARE
// for purchase list ui
// fix share/kr-shop/scss color
.shop-item
	&.is-selected
		border-color: $color5
		.dropGeneral .sbHolder
			border-color: $color5
.shop-price
	color: #000
.shop-numbox
	border: solid 1px $color5
.shop-num-subtract,
.shop-num-add
	color: $color5
	&:hover
		background-color: $color5
.shop-num-subtract
	border-right: solid 1px $color5
.shop-num-add
	border-left: solid 1px $color5
.shop-num
	color: $color5
//
#dweShop
	.panel-heading
		background-color: $color5
	.panel-close
		color: $color5
//=========================================
//=========================================
//=========================================
//=========================================
//=========================================
.mypage-stateimg
	border-color: $color5-light
.mypage-btn-cancel
	display: none
.shop-total
	color: $color5
	text-align: right
	border-top: solid 2px $color5
	line-height: 45px
	font-size: 24px
@media (max-width: 413px)
	.layout-main-card
		.sectionTitle
			padding-top: 14px
@media (min-width: 414px) and (max-width: 991px)
	.layout-main-card
		.sectionTitle
			padding-top: 27px
@media (max-width: 991px)
	.shop-total
		margin: 0 15px
		padding: 0 0 20px
//=========================================
//=========================================
//=========================================
//=========================================
//=========================================
.shop-name-cell
	font:
		size: 14px
//=========================================
//=========================================
//=========================================
//=========================================
//=========================================
.shop-price
	float: none
	text-align: left
	padding-left: 15px
.shop-numbox
	float: right
	margin-right: 15px
.layout-collapse
	.layout-title-level-2
		color: $color5
		border-left-color: $color5