@import "usual/im"
@import "usual/color"
@import "usual/unit2"
//
@import "library/lib-info"
@import "library/lib-gbox"
//==============================================
//==============================================
//==============================================
//==============================================
//==============================================
// LEVEL 3
.layout-title-level-3
	text-indent: -8px
//==============================================
//==============================================
//==============================================
//==============================================
//==============================================
// BUTTON
.layout-main
	overflow: hidden
.layout-btn
	float: right
@media (min-width: 991px)
	.layout-btn
		margin-top: 23px
//==============================================
//==============================================
//==============================================
//==============================================
//==============================================
// GAME BOX
@media (max-width: 991px)
	.lib-gbox-item
		&:nth-child(3),&:nth-child(4)
			display: none