$color4-light-light: #f2f2ff
//
@import "usual/im"
@import "usual/color"
@import "usual/unit4"
//
@import "uikit/tmp-owl-nav"
//
@import "uikit/tmp-aside"
@import "article/art-aside"
//
@import "magazine/mgz-viewbox"
@import "aside/aside4"
//================================================
//================================================
//================================================
//================================================
//================================================
//================================================
.layout-title-level-3
	color: $color4-dark!important
	font-size: 19px
.layout-main
	overflow: hidden
//================================================
//================================================
//================================================
//================================================
//================================================
//================================================
// ASIDE
.art-list-f3
	display: none
//================================================
//================================================
//================================================
//================================================
//================================================
//================================================
// OWL
.thumbnail
	box-shadow: none!important
	margin-bottom: 0!important
	img
		border-radius: 0
.owl-stage-outer
	border: solid 13px $color4-light-light
.owl-controls
	margin-top: 0
.owl-prev,
.owl-next
	@include img-path-ratio("magazine/arrow.png",2)
@media (max-width: 991px)
	.owl-nav
		top: 50%
	.owl-prev,
	.owl-next
		transform: translateY(-50%)
		width: calc( 26px + 16px)
		height: calc( 36px + 16px)
		background-color: $color4-light-light!important
	.owl-prev
		background:
			position: 13px 9px
	.owl-next
		background:
			position: -71px 9px
@media (min-width: 992px)
	.owl-prev
		background:
			position: 22px 0px
	.owl-next
		background:
			position: -81px 0px
//================================================
//================================================
//================================================
//================================================
//================================================
//================================================
// SHARE WIDTH
.layout-sharewidth-item
	img
		width: 100%
@media (min-width: 991px)
	.layout-sharewidth-item
		margin-bottom: 24px
//================================================
//================================================
//================================================
//================================================
//================================================
//================================================
// MAGAZINE
.layout-sharewidth-item
	position: relative
.mgz-unit
	background-color: rgba(0,0,0,.7)
	color: #fff
	font-size: 15px
	padding: 14px
	position: absolute
	bottom: 0
	right: 0
//=========================================
//=========================================
//=========================================
//=========================================
//=========================================
@media (max-width: 991px)
	.item-re-lg-2 .layout-sharewidth-item 
		float: left
//=========================================
//=========================================
//=========================================
//=========================================
//=========================================
.owl-carousel .owl-item img
	width: 97%
	transform: translateX(-13px)