@import "usual/im"
@import "usual/color"
@import "usual/unit5"
// @import "usual/title-deco5-2"
@import "uikit/tmp-pager"
// ASIDE MENU
@import "uikit/tmp-aside"
@import "uikit/tmp-aside-lb"
@import "aside/aside5"
// TITLE
@import "_mywfc_kr/mypage-title-icon"
// UI
@import "mypage/aside-file"
// faq ui
@import "uikit/uikit-faqbox"
@import "_mywfc_kr/tefaq-radio"
@import "uikit/tmp-dropdown"
@import "mypage/qrbox"
.faqbox-con
	padding:
		right: 15px
	

.is-hl-1
	color: #3092ca

.is-hl-2
	color: #f00


//=========================================
//=========================================
//=========================================
//=========================================
//=========================================

.faqbox-idx
	font-size: 18px
	background:
		image: none!important
	
	padding: 0
	text-align: center
	width: 45px

.faqbox-con
	line-height: 1.6
	padding:
		left: 47px
	
	&:after
		left: 15px
	
	.layout-content
		line-height: 1.6
	
	li
		position: relative
		padding-left: 10px
		&:before
			content: "•"
			display: block
			position: absolute
			left: 0
		
	


//=========================================
//=========================================
//=========================================
//=========================================
//=========================================

.dropGeneral
	width: 100%
	display: inline-block
	.sbHolder
		background-color: $color5-light
		border-color: $color5-light
	

.select-drop + div
	ul
		height: 195px
		overflow-y: scroll
	

.unit
	display: none
	&:nth-child(2)
		display: block
	


//=========================================
//=========================================
//=========================================
//=========================================
//=========================================

.is-cap-icon
	width: 21px
	height: 21px
	display: inline-block
	vertical-align: middle
	margin-right: 5px
	@include img-path-ratio('cap/sprite.png',2)

.is-audio
	background: 
		position: 0 -25px
	


//=========================================
//=========================================
//=========================================
//=========================================
//=========================================

.faqbox-item
	font-size: 15px!important

.faqbox-con
	line-height: 1.6


//=========================================
//=========================================
//=========================================
//=========================================
//=========================================

.layout-title-level-3
	&:before
		display: none
	

.no-point
	& > li
		padding-left: 0
		&:before
			display: none
		
	
