@import "usual/im"
@import "usual/color"
@import "usual/color-kr"
@import "usual/color-te"
@import "usual/unit5"
// @import "usual/title-deco5"
// aside
@import "uikit/tmp-aside"
@import "uikit/tmp-aside-lb"
@import "_mywfc_kr/mywfc-aside"
// pager
@import "uikit/tmp-pager"
// CARD
@import "activity/act-state"
@import "_mywfc_kr/mypage-card"
// BUTTON
@import "_mywfc_kr/mypage-btn"
// TITLE
@import "_mywfc_kr/mypage-title-1"
// UI-KIT
@import "uikit/uikit-checkbox-radio"
@import "uikit/tmp-dropdown"
@import "_mywfc_kr/mypage-block-table"
// mypage stateimg
@import "_mywfc_kr/mypage-stateimg"
@import "_mywfc_kr/other-stateimg"

//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================

.mypage-stateimg
	top: 20px!important


//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================

// COUNT TOTAL
	.layout-card-link
		padding-bottom: 20px 
	

//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================


//.layout-card-item
	// min-height: 115px

@media (max-width: 991px)
	

@media (min-width: 992px)
	.layout-card-item
		padding-left: 70px
	



//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================

// CARD 
.layout-card
	clear: both

@media (max-width: 413px)
	.layout-main-card
		padding-top: 25px
		

@media (max-width: 991px)
	.layout-card-item

	

@media (min-width: 992px)
	.layout-card-item
		padding:
			right: 80px
		
	


//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================

.mypage-date
	width: 100%
	margin-top: 3px
	line-height: 1

.mypage-block1
	min-height: 60px
	span
		margin:
			left: 0
			right: 5px
		
	

.mypage-block1-item
	vertical-align: top

.mypage-btn-cancel
	padding-right: 6px

@media (max-width: 991px)
	.mypage-btnbox 
		top: 16px
	


//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================

// RADIO
.layout-card
	margin-top: 0

@media (max-width: 991px)
	.uikit-radio
		display: none
	

@media (min-width: 992px)
	@import "_mywfc_kr/mywfc-radio"
	.uikit-radio
		display: inline-block
		text-align: left
		&.is-sta
			border-radius: 16px 0 0 16px
			width: 20%
		
		&.is-mid
			border-left: solid 2px #fff
			border-right: solid 2px #fff
			border-radius: 0
			width: 25%
		
		&.is-end
			border-radius: 0 16px 16px 0
			width: 30%
		
	


//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================

@import "_mywfc_kr/mywfc-drop"
@media (max-width: 991px)
	
	.dropGeneral
		width: 100%
		max-width: 300px
		

@media (min-width: 992px)
	.dropGeneral
		display: none
	



//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================

.os-select
	font-size: 0
	text-align: right
	margin-top: 18px

@media (max-width: 991px)
	.os-select
		padding: 0 15px
	

@media (min-width: 1200px)
	.os-select
		width: 88%
		float: right
	


//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================

.child-name
	display: block
	float: right
	vertical-align: top

@media (max-width: 767px)
	.child-name
		margin-top: 8px
	

@media (min-width: 768px) and (max-width: 991px)
	.child-name
		margin-left: 8px
	

@media (min-width: 992px)
	.child-name
		width: 120px
		margin-top: 8px 
	
 
@import "_mywfc_kr/other-stateimg"