@import "usual/im"
@import "usual/color"
@import "usual/color-cal"
@import "usual/unit1"
// @import "usual/title-deco5"
// TITLE
@import "_event_kr/event-title-icon"
// LEFT & RIGHT
@import "activity/act-layout"

//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================

// DROP BOX
.dropbox
	padding:
		bottom: 5px
		top: 15px
	

//.dropGeneral
	

@media (max-width: 459px)
	.dropbox
		.layout-title-level-3
			display: block
		
	


//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================

// TABLE : FROM ACT SIGN UP
.act-table-course 
	margin-bottom: 5px
	tr:first-child td 
		border-top: none
	
	td:nth-child(2) 
		color: $color1
		text-align: right
	

.act-table-sound
	margin-bottom: 5px
	tr:first-child td 
		border-top: none
		width: 50%
	


//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================

// HIGHT LIGHT
.hight-light
	padding: 5px
	border: solid 3px $color1
	border-radius: 17px
	margin-top: 24px

.height-light-box
	border: solid 1px $color1
	text-align: center
	background-color: $color1-light
	border-radius: 12px
	line-height: 1.5
	font:
		size: 21px
		weight: bold
	
	padding: 10px
	span
		display: block
		font:
			size: 50px
			family: arial
		
		line-height: 38px
		&.first
			transform: translateY(7px)
		
		&.second
			transform: translateY(15px)
		
	
	b
		color: $color5-dark
	


//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================

// TITLE
@media (max-width: 360px)
	.layout-main
		padding-top: 10px
	
