@import "usual/color"
@import "usual/unit1"
.color-1.layout-navbar-arrow-pc:after
	display: none
//=========================================
//=========================================
//=========================================
//=========================================
//=========================================
.layout-content
	padding: 
		left: 16px
		bottom: 0
	line-height: 1.5
b
	line-height: 1.5
	font:
		size: 17px
	span
		color: $color1