@import "usual/im"
@import "usual/color"
@import "usual/color-kr"
@import "usual/color-te"
@import "usual/unit5"
// @import "usual/title-deco5"
// aside
@import "uikit/tmp-aside"
@import "uikit/tmp-aside-lb"
@import "_mywfc_kr/mywfc-aside"
// pager
@import "uikit/tmp-pager"
// CARD
@import "activity/act-state"
@import "_mywfc_kr/mypage-card"
// BUTTON
@import "_mywfc_kr/mypage-btn"
// TITLE
@import "_mywfc_kr/mypage-title-1"
// UIKIT
@import "uikit/tmp-dropdown"
@import "_mywfc_kr/mywfc-drop"
// FIX 1 1080114
@import "_mywfc_kr/td-fix1"

//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================

// CARD 
.layout-card
	clear: both

.layout-card-item
	p
		margin: 0
	

@media (max-width: 413px)
	.layout-main-card
		padding-top: 25px
		

@media (max-width: 991px)
	.layout-card-link
		padding:
			top: 23px
		
	

@media (min-width: 992px)
	.layout-card-item
		padding:
			top: 35px
		
	


//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================

// DROP GENERAL
.te-dropbox
	float: right

.is-child
	width: 87px

.is-type
	width: 180px
	margin-left: 10px
	vertical-align: top

@media (max-width: 991px)
	.te-dropbox
		padding:
			right: 15px
			top:15px
		
		text-align: right
	
	.is-child
		margin-bottom: 5px
	

@media (min-width: 992px)
	.te-dropbox
		padding: 20px 0 0
	


//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================

@media (max-width: 991px)
	.mypage-date-cancel 
		position: absolute
		right: 15px
		top: 20px
	


//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================

@media (max-width: 991px)
	.act-state 
		top: auto
		

//
.is-lession
	.act-state
		border-color: $te-color1
	
	.act-state-word
		background-color: $te-color1
		color: $te-color1-text
	
	.is-color
		color: $te-color1-text
	

.is-song
	.act-state
		border-color: $te-color2
	
	.act-state-word
		background-color: $te-color2
		color: $te-color2-text
	
	.is-color
		color: $te-color2-text
	

.is-cap
	.act-state
		border-color: $te-color3
	
	.act-state-word
		background-color: $te-color3
		color: $te-color3-text
	
	.is-color
		color: $te-color3-text
	

.is-talk
	.act-state
		border-color: $te-color4
	
	.act-state-word
		background-color: $te-color4
		color: $te-color4-text
	
	.is-color
		color: $te-color4-text
	

.is-mom
	.act-state
		border-color: $te-color5
	
	.act-state-word
		background-color: $te-color5
		color: $te-color5-text
	
	.is-color
		color: $te-color5-text
	

//
.is-cancel
	.act-state
		border-color: #888
	
	.act-state-word
		background-color: #888
		color: #fff
	
	.is-color
		color: #aaa
	
