@import "usual/im"
@import "usual/color"
@import "usual/color-kr"
@import "usual/unit1"
// TITLE
@import "_event_kr/event-etitle"
// UIKIT
@import "uikit/uikit-slick"

//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================

// VIDEO
.vbox
	background-color: #000
	.vbox-in
		margin: 0 auto
	

@media (max-width: 359px)
	.vbox
		.vbox-in
			width: 100%
			margin:
				top: 10px
			
		
		

@media (max-width: 991px)
	.vbox
		.vbox-in

		
	

@media (min-width: 992px)
	.vbox
		.vbox-in
			width: 73%
		
		



//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================

// TITLE
.container-main
	padding-top: 0

@media (max-width: 360px)
	.layout-main
		padding-top: 10px
	


//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================

// FIX FIRST SLIDER
@media (max-width: 991px)
	.header-wrapper
		padding-bottom: 104px
		
	

@media (min-width: 992px)
	.header-wrapper
		padding-bottom: 54px
		min-height: 214px
	


//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================

// SLIDER
body
	overflow-x: hidden

.slider-outbox
	position: relative

@media (max-width: 991px)
	.slick
		width: 100%
	
	.slick,
	.slick-track
		height: 200px
	

@media (min-width: 992px)
	.slick
		width: 930px
		height: 465px
	
	.slick-track
		height: 465px
	

@media (min-width: 1199px)
	.slick
		width: 1140px
	


//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================

// SLIDER DECORATION
@media (max-width: 991px)
	.slick-list
		overflow: hidden
	

@media (min-width: 992px)
	.slider-d-left,
	.slider-d-right
		position: absolute
		width: calc( ( 100% - 930px ) / 2 )
		height: 465px
		top: 5px
		z-index: 501
	
	.slider-d-left
		left: 0
		background:
			image: linear-gradient(to left,rgba(255,255,255,.95),rgba(255,255,255,.8),rgba(255,255,255,.8))
		
	
	.slider-d-right
		right: 0
		background:
			image: linear-gradient(to right,rgba(255,255,255,.95),rgba(255,255,255,.8),rgba(255,255,255,.8))
		
	

@media (min-width: 1199px)
	.slider-d-left,
	.slider-d-right
		width: calc( ( 100% - 1140px ) / 2 )
	


//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================

// EVENT E-TITLE
.slider-d-top
	height: 5px

.layout-main button
	&:hover
		color: #fff
		opacity: .9
	

.slider-show
	.slider-d-top,
	.slick-dots .slick-active,
	.layout-main button
		background-color: $color1-kr
	
	.layout-main
		border-bottom: solid 2px $color1-kr
	

.slider-activity
	.slider-d-top,
	.slick-dots .slick-active,
	.layout-main button
		background-color: $color2-kr
	
	.layout-main
		border-bottom: solid 2px $color2-kr
	

.slider-carnival
	.slider-d-top,
	.slick-dots .slick-active,
	.layout-main button
		background-color: $color3-kr
	
	.layout-main
		border-bottom: solid 2px $color3-kr
	

.slider-camp
	.slider-d-top,
	.slick-dots .slick-active,
	.layout-main button
		background-color: $color4-kr
	
	.layout-main
		border-bottom: solid 2px $color4-kr
	

@media (max-width: 991px)
	.slider-show
		.etitle-w
			border: solid 1px $color1-kr
			color: $color1-kr
		
	
	.slider-activity
		.etitle-w
			border: solid 1px $color2-kr
			color: $color2-kr
		
	
	.slider-carnival
		.etitle-w
			border: solid 1px $color3-kr
			color: $color3-kr
		
	
	.slider-camp
		.etitle-w
			border: solid 1px $color4-kr
			color: $color4-kr
		
	

@media (min-width: 992px)
	.etitle-w
		color: #fff 
	
	.slider-show
		.etitle-w
			background-color: $color1-kr
		
	
	.slider-activity
		.etitle-w
			background-color: $color2-kr
		
	
	.slider-carnival
		.etitle-w
			background-color: $color3-kr
		
	
	.slider-camp
		.etitle-w
			background-color: $color4-kr
		
	


//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================

.layout-main
	overflow: hidden
	button
		float: right
		border-radius: 18px
		margin-top: 15px
		

@media (max-width: 991px)
	.etitle
		margin: 10px 0
	

@media (min-width: 992px)
	.layout-main
		position: relative
		min-height: 175px
		padding:
			top: 25px
			left: calc( 50px + 96px + 30px ) 
		
	
	.etitle
		position: absolute
		left: 50pxtop: 25px
	


//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================

@media (max-width: 991px)
	.slider-show,
	.slider-activity,
	.slider-carnival
		.container-main
			padding:
				bottom: 30px
			
		
	

