@import "wfcLibrary"
.dropGeneral
	.sbToggle
		background:
			image: url(../img/wfclibrary/down-arrow-white.png)
		
	

.is-close
	line-height: 40px
	width: 40px
	text-align: center
	background-color: #000
	color: #fff
	border-radius: 50%
	font:
		size: 20px
		weight: bold
	
	position: absolute
	top: 20px
	right: 23px

.container
	padding-top: 55px
