@import "usual/im"
@import "usual/color"
@import "usual/unit1"
// @import "usual/title-deco5"
// TITLE
// @import "_mywfc_kr/mypage-title-2"
// @import "_comm_kr/comm-title-icon"
// SLICK
@import "uikit/uikit-slick"
// ASIDE MENU
@import "uikit/tmp-aside"
@import "uikit/tmp-aside-lb"
@import "no_sort/tw-top-aside"

@import "aside/aside1"
// SITE MAP PLACE
.color-1.layout-navbar-arrow-pc:afterdisplay: none

//=========================================
//=========================================
//=========================================
//=========================================
//=========================================

// TITLE
@media (max-width: 991px)
	.sectionTitle h2 span
		padding-top: 0
	


//=========================================
//=========================================
//=========================================
//=========================================
//=========================================

// FRIEND (not 's')
.friends
	overflow: hidden

.friends-item
	float: left


.friends-link
	display: block
	overflow: hidden
	border-radius: 8px
	transition: .5s
	&:hover
		opacity: .8
		transition: .5s
		

.friends-img
	width: 100%
	background:
		size: cover
		position: center center
	

.friends-name
	text-align: center
	line-height: 1.2
	padding: 5px
	margin:
		bottom: 0
	
	background-color: #ffecb8

@media (max-width: 767px)
	$point-width: 24px
	.friends-view-list,
	.friends-view
		margin:
			bottom: $point-width
			top: 10px
		
	
	.friends-item
		width: calc( 100% / 2 - 14px )
		&:nth-child(odd)
			margin-right: $point-width
		
		margin-bottom: $point-width
	

@media (min-width: 768px)
	$point-width: 30px
	.friends-item
		width: calc( 100% / 3 - 22px )
		margin-right: $point-width
		margin-bottom: $point-width
		&:nth-child(3n)
			margin-right: 0
		
	


//=========================================
//=========================================
//=========================================
//=========================================
//=========================================

// SLICK
.slick-dots .slick-active
	background-color: $color1

.slick-list
	overflow: hidden

@media (max-width: 767px)
	.slick
		width: 100%
		

@media (min-width: 768px)
	.slick
		width: 80%
	


//=========================================
//=========================================
//=========================================
//=========================================
//=========================================

.friend-name
	font:
		size: 17px
	
	color: #ff9000

.friend-local
	line-height: 1.5
	margin:
		top: 3px
		bottom: 8px
	

.friend-eng
	line-height: 1.5


//=========================================
//=========================================
//=========================================
//=========================================
//=========================================

// FULL FIX
@media (max-width: 767px)
	.friends-view-list,
	.friends-view
		width: calc( 100% + 46px)
		margin: -23px 0 0 -23px
	
	.aside-lb-open
		position: absolute
		top: 13px
		left: 13px
	

@media (min-width: 768px)
	.friends-view-list,
	.friends-view
		width: calc( 100% + 100px)
		margin: -50px 0 0 -50px
	
