//   ====================================
	——— LIGHT BOX MODAL
	===================================== 
#myNameModal.modal.fade.customModal(tabindex='-1', role='dialog')
	.modal-dialog
		.modal-content
			.panel
				.panel-heading
					h3.panel-title title
					a.panel-close(href='') x
				.panel-body content 123