// eason
@import "forum/forum-color";
//
@import "usual/im";
@import "usual/color";
@import "usual/unit4";
//
@import "uikit/uikit-checkbox-radio";
@import "uikit/tmp-pager";
@import "lightbox/lightbox-forum";
//
@import "forum/forum-cta";
@import "forum/forum-group";
@import "forum/forum-post";
$this-color1: #00bdbd;
$this-color2: #bff1f1;
$this-color3: #006363;
/*
=====================================
=====================================
=====================================
=====================================
=====================================
=====================================
*/
// TITLE BOX
.forum-titlebox{
	& > *{
		color: $color4-text;
	}
}
.forum-titlebox-record{
	@include img-path-ratio("forum/good.png",2);
	background:{
		repeat: no-repeat;
		position: 0px 0px;
	}
	line-height: 16px;
	font-size: 15px;
	padding:{
		left: 20px;
	}
}
.forum-titlebox-good{
	border-radius: 6px;
	
	line-height: 23px;
	@include img-path-ratio("forum/good.png",2);
	background:{
		repeat: no-repeat;
	}
	padding: 0 10px 0 27px;
	font-size: 14px;
	display: inline-block;
	&:hover{
		opacity: .9;
	}
	&.active{
		@extend %color-unclick;
		border: none!important;
		background-position: 6px -131px!important; 
		opacity: .9;
	}
}
.forum-titlebox-title{
	font-size: 24px;
	font-weight: bold;
	line-height: 1.3;
	.forum-titlebox-good{
		color: #fff;
		background:{
			color: $this-color1;
			position: 6px -31px;
		}
		vertical-align: 4px;
	}
	
}
@media (max-width: 991px){
	.forum-titlebox{
		margin-top: -29px;
	}
	.forum-titlebox-record{
		padding:{
			bottom: 15px;
		}
		margin-left: 70px;
	}
}
@media (min-width: 992px){
	.forum-titlebox-record{
		margin-bottom: 10px;
	}
	.forum-titlebox{
		margin-top: 40px;
	}
}
/*
=====================================
=====================================
=====================================
=====================================
=====================================
=====================================
*/
.forum-floor{
	border-top: solid 2px $color4-text;
	background:{
		color: $f-color2;
	}
	position: relative;
	margin-bottom: 18px;
	& + .layout-content{
		margin-bottom: 70px;
		position: relative;
		padding:{
			bottom: 15px;
		}
		.forum-floor-record{
			position: absolute;
			bottom: -20px;
			right: 149px;
			color: $color4;
			font-size: 15px;
		}
		.forum-titlebox-good{
			position: absolute;
			right: 0;
			bottom: -23px;
			background:{
				color: $this-color2;
				position: 8px -82px;
			}
			color: $this-color3;
			border: solid 1px $this-color1;
		}
	}
}
.forum-floor-textarea{
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	padding: 12px;
	min-height: 300px;
	margin-bottom: 10px;
	border: solid 1px #555;
}
.forum-img{
	width: 100%;
	margin-top: 12px;
	img{
		max-width: 100%;
		max-height: 300px;
	}
}
//
.forum-floor-pic{
	background:{
		size: cover;
		position: center center;
	}
	position: absolute;
	border-radius: 50%;
	overflow: hidden;
}
//
.forum-floor-info{
	
}
.forum-floor-name{
	font:{
		size: 20px;
		weight: bold;
	}
	color: $color4-text;
}
.forum-floor-time{
	color: $color4-text;
	font-size: 15px;
}
.forum-floor-time-b{

}
.forum-floor-time-a{

}
.forum-floor-btnbox{
	font-size: 0;
	button.color-4{
		width: 65px;
		border: solid 2px $color4-text!important;
		background-color: #fff!important;
		color: $color4-text!important;
		font-size: 15px;
		&:hover{
			color: #fff!important;
		}
		&:first-child{
			margin-right: 8px;
		}
	}
}
//
.forum-floor-floor{
	color: $color4-text;
	font:{
		size: 14px;
		weight: bold;
	}
	position: absolute;
}
@media (max-width: 991px){
	$gutter: 12px;
	.forum-floor{
		padding:{
			left: 65px;
			top: $gutter;
			bottom: $gutter;
		}
	}
	.forum-floor-pic{
		width: 50px;height: 50px;
		left: 7px; top: 10px;
	}
	.forum-floor-name{
		margin:{
			bottom: 3px;
		}
	}
	.forum-floor-name-b{
		display: none;
	}
	.forum-floor-time{
		margin:{
			bottom: 9px;
		}
	}
	//
	.forum-floor-floor{
		bottom: $gutter;
		right: $gutter;
	}
}
@media (min-width: 992px){
	$gutter: 15px;
	.forum-floor{
		height: 100px;
		border-radius: 50px 0 0 50px;
		padding:{
			left: 119px;
			top: 27px;
		}
	}
	.forum-floor-pic{
		width: 100px;height: 100px;
		top: -2px;
		left: -2px;
	}
	.forum-floor-name{
		margin:{
			bottom: 6px;
		}
	}
	.forum-floor-name-a{
		display: none;
	}
	.forum-floor-btnbox{
		position: absolute;
		right: $gutter;
		top: $gutter;
	}
	//
	.forum-floor-floor{
		right: $gutter;bottom: 9px;
	}
}
/*
=====================================
=====================================
=====================================
=====================================
=====================================
=====================================
*/
.pagerArea .pager{
	margin-top: 10px;
}
/*
=====================================
=====================================
=====================================
=====================================
=====================================
=====================================
*/

/*
=====================================
=====================================
=====================================
=====================================
=====================================
=====================================
*/

/*
=====================================
=====================================
=====================================
=====================================
=====================================
=====================================
*/
@media (max-width: 767px){
	.forum-portrait{
		height: auto;
		padding:{
			left: 0;
		}
		margin-bottom: 8px;
		.forum-portrait-pic{
			display: block;
			position: static;
			margin: 0 auto 8px;
		}
		.forum-label{
			text-align: center;
		}
	}

}
@media (min-width: 768px){
	.forum-portrait{
		padding:{
			top: 38px;
		}
	}
}
/*
=====================================
=====================================
=====================================
=====================================
=====================================
=====================================
*/
// CTA 
.forum-cta{
	background:{
		position: 11px -63px;
	}
}
@media (min-width: 992px){
	.forum-cta{
		margin-right: -70px;
		right: calc( ( 100% - 930px ) / 2 );
	}
}
/*
=====================================
=====================================
=====================================
=====================================
=====================================
=====================================
*/
// CONTAINER
.container-main{
	padding:{
		bottom: 0;
	}
	border-bottom: solid 100px $f-color3;
}