@import "usual/im";
@import "usual/color";
@import "usual/color-kr";
@import "usual/unit3";
@import "usual/title-deco3";
// aside
@import "uikit/tmp-aside";
@import "uikit/tmp-aside-lb";
@import "_parents_kr/parents-aside";
// retable card sub
@import "usual/color-parentsguide-kr";
@import "usual/color-cap";
@import "_parents_kr/product-agetab";
// retable card main
@import "uikit/tmp-retable-card";
@import "_parents_kr/product-retabcard-font";
@import "_parents_kr/product-retabcard-border";
@import "_parents_kr/product-retabcard-mobi-stage";
@import "_parents_kr/product-retabcard-color";
@import "_parents_kr/product-retabcard-cell-width";
@import "_parents_kr/product-retabcard-outer-border";
@import "_parents_kr/product-retabcard-streamer";
/*
========================================
========================================
========================================
========================================
========================================
*/
@media (max-width: 991px){
	.retabcard-cell-index{
		& + .retabcard-content{
			background-color: transparent;
			width: calc( 100% + 1px );
			border-bottom: none;
		} 
	}	
} 
/*
========================================
========================================
========================================
========================================
========================================
*/
.jump-content{
	z-index: 1; 
}
@media (max-width: 991px){
	.pgcell-jump{
		height: calc( 200% + 7px + 1px + 7px );
	}	
}
@media (min-width: 992px){
	.pgcell-jump{
		width: calc( 200% + 7px + 1px + 7px );
	}	
}
/*
========================================
========================================
========================================
========================================
========================================
*/
@media (min-width: 992px) and (max-width: 1199px){
	.pgstart{
		height: 178px;	
	}	
}
@media (min-width: 1200px){
	.pgstart{
		height: 125px;	
	}
}
/*
========================================
========================================
========================================
========================================
========================================
*/
.is-padding{
	padding: 7px;
}
.retabcard-content{
	vertical-align: top;
} 
/* 
========================================
========================================
========================================
========================================
========================================
*/
// .sectionTitle {
// 	&.color-3 {
// 		h2 {
// 			color: #555;
// 			span.shape {
// 				background-color: #555;
// 				&:before,
// 				&:after {
// 					background-color: #555;
// 				}
// 			}
// 		}
// 	}
// }
/* 
========================================
========================================
========================================
========================================
========================================
*/
@media (max-width: 991px){
	.layout-main{
		padding:{
			left: 15px;
		}
	}
}
@media (min-width: 992px){
	.layout-main {
		padding:{
			right: 30px;
			bottom: 40px;
			left: 30px;
		}
	}
}
/*
========================================
========================================
========================================
========================================
========================================
*/
.icon-book{
	float: left;
	margin:{
		right: 3px;
		bottom: 2px;
	}
}
@media (max-width: 991px){
	.icon-book{
		margin-bottom: 30px;
	}
	.icon-con{
		float: left;
		margin:{
			right: 5px;
		}
	}
}
@media (min-width: 992px){
	.icon-con{
		display: block;
		margin:{
			bottom: 3px;
		}
	}
}
/*
========================================
========================================
========================================
========================================
========================================
*/
@media (max-width: 991px){
	.mobi-height-stage0{
		height: 145px;
		.stage-0{
			height: 145px;
			padding-top: 38px;
		}		
	}
	.mobi-height-stage1{
		height: 130px;
		.stage-1{
			height: 130px;
			padding-top: 32px;
		}
	}
}
/*
========================================
========================================
========================================
========================================
========================================
*/
@media (min-width: 992px){
	.is-pc-starting{
		background: {
			color: #97d7ff!important;
		}
		vertical-align: middle;
	}
}