$shop-color-def: #e2e2e2;
@import "usual/im";
@import "usual/color";
@import "usual/color-kr";
@import "usual/unit4";
@import "usual/title-deco5";
// aside
@import "uikit/tmp-aside";
@import "uikit/tmp-aside-lb";
@import "_comm_kr/comm-aside";
// TITLE
@import "_mywfc_kr/mypage-title-2";
@import "_comm_kr/comm-title-icon";
// UIKIT
@import "uikit/uikit-cloudzoom";
// LIGHT BOX
@import "lightbox/lightbox";
@import "lightbox/lightbox-shop";
// CHECK BOX
@import "uikit/uikit-checkbox-radio";
// DROP DOWN
@import "uikit/tmp-dropdown";
// SHOP UI
@import "_comm_kr/shop";
/*
========================================
========================================
========================================
========================================
========================================
*/
// TITLE
.layout-title-level-3 {
	height: auto;
	min-height: 42px;
}
@media (max-width: 991px) {
	.sectionTitle h2 span {
		padding-top: 0;
	}
}
/*
========================================
========================================
========================================
========================================
========================================
*/
// LAYOUT MAIN 2nd
.layout-main + .layout-main {
	background-image: none;
	border-radius: 0;
}
/*
========================================
========================================
========================================
========================================
========================================
*/
// CHECK BOX
.shop {
	.uikit-checkbox {
		border-radius: 8px 8px 0 0;
		margin-bottom: 0;
	}
	.uikit-checkbox-label {
		font-size: 15px;
		color: #ccc;
		background: {
			color: $shop-color-def;
		}
		&:after {
			content: "클릭 선택";
		}
	}
	.uikit-checkbox-input {
		&:checked + .uikit-checkbox-label {
			background: {
				color: $color4;
			}
			color: #fff;
			&:after {
				content: "선택됨";
			}
		}
	}
}
/*
========================================
========================================
========================================
========================================
========================================
*/
// SHERE WIDTH
@media (min-width: 1200px) {
	.item-234 .layout-sharewidth-item {
		width: calc( 25% - 15px );
		margin-right: 20px;
	}
}
/*
=======================================================================================
=======================================================================================
=======================================================================================
=======================================================================================
=======================================================================================
*/
// SHOP SHARE  SHOP SHARE  SHOP SHARE  SHOP SHARE  SHOP SHARE  SHOP SHARE  SHOP SHARE
// SHOP SHARE  SHOP SHARE  SHOP SHARE  SHOP SHARE  SHOP SHARE  SHOP SHARE  SHOP SHARE
// SHOP SHARE  SHOP SHARE  SHOP SHARE  SHOP SHARE  SHOP SHARE  SHOP SHARE  SHOP SHARE
// for purchase list ui
@import "no_sort/kr-shop";
.mypage-stateimg{
	border-color: $color4-light;
}
.mypage-btn-cancel{
	display: none;
}
.shop-total{
	color: $color4;
	text-align: right;
	border-top: solid 2px $color4;
	line-height: 45px;
	font-size: 24px;
}
@media (max-width: 413px){
	.layout-main-card{
		.sectionTitle{
			padding-top: 14px;
		}
	}
}
@media (min-width: 414px) and (max-width: 991px){
	.layout-main-card{
		.sectionTitle{
			padding-top: 27px;
		}
	}
}
@media (max-width: 991px){
	.shop-total{
		margin: 0 15px;
		padding: 0 0 20px;
	}
}
