// eason
@import "usual/im";
@import "usual/color";
@import "usual/unit2";
//
@import "uikit/uikit-checkbox-radio";
//
@import "uikit/uikit-collapse";
@import "te/te-qabox";
/*
======================
======================
======================
======================
======================
======================
*/
// RADIO
.uikit-checkbox{
	background-color: $color2-light;
}
.uikit-checkbox-input:checked + .uikit-checkbox-label{
	background-color: $color2;
	color: #fff;
}
.layout-content{
	.uikit-radio {
		background-color: $color2-light;
		&.signed{
			background-color: #ccc;
			.uikit-radio-label{
				color: #aaa
			}
		}
	}
	.uikit-radio-input:checked + .uikit-radio-label {
		background-color: $color2;
		color: #fff;
	}
	.radio-input {
		position: relative;
		z-index: 1;
		width: 120px;
		padding: 0 10px;
		line-height: 1;
	}
}
.layout-title-level-3 {
	display: block;
	background-color: #fff;
}
@media (min-width: 992px) {
	.layout-content {
		font-size: 0;
		.uikit-radio {
			vertical-align: top;
			width: calc(100% / 3 - 4px);
			margin: {
				right: 6px;
				bottom: 10px;
			}
			display: inline-block;
			&:nth-child(3n) {
				margin-right: 0;
			}
		}
		.uikit-radio-label {
			font-size: 15px;
		}
	}
	.half-width-pc {
		width: 50%;
		margin: 0 auto;
	}
	.layout-btn {
		float: right;
	}
}
/*
======================
======================
======================
======================
======================
======================
*/
// QA
.layout-collapse {
	margin: {
		top: 25px;
	}
	.layout-title-level-3 {
		font-size: 21px;
	}
}
@media (max-width: 359px) {
	.layout-collapse {
		.layout-title-level-3 {
			font-size: 16px;
		}
	}
}
@media (min-width: 992px) {
	.layout-collapse {
		margin-bottom: -16px;
	}
	.layout-collapse-content {
		padding-top: 30px;
	}
}
/*
======================
======================
======================
======================
======================
======================
*/
// PHONE OTHER
.te-tel-other-p {
	font-size: 15px;
	color: #555 !important;
	display: inline;
	line-height: 1.3;
}
.te-tel-other-num {
	border-radius: 0;
	width: 150px;
	padding: 0 5px;
	margin-top: 3px;
	display: inline-block;
}
/*
======================
======================
======================
======================
======================
======================
*/
.color-te {
	color: #1f98dc;
	font-size: 19px;
}
/*
======================
======================
======================
======================
======================
======================
*/
ul.te-qabox {
	padding-left: 0;
}
.te-qa-item {
	color: #333 !important;
}

/*
========================================
========================================
========================================
========================================
========================================
*/
/*
========================================
========================================
========================================
========================================
========================================
*/
@import "usual/color-te-sign";
//
@import "usual/color-cap";
// TABLE
@import "te/te-table-selected";
@import "te/te-table-selection";
/*
========================================
========================================
========================================
========================================
========================================
*/
.is-song{
	background-color: $te-section-color-1;
}
.is-book{
	background-color: $te-section-color-2;
}
.is-right{
	background-color: $te-section-color-3;
}
.is-reading{
	background-color: $te-section-color-4;
}
.is-fc{
	background-color: $te-section-color-5;
}
.is-cap{
	background-color: $te-section-color-6;
}
/*
========================================
========================================
========================================
========================================
========================================
*/
.layout-main{
	&:after{
		display: block;
		content: "";
		clear: both;
	}
}
@media (max-width: 768px) {
	.layout-main {
		padding: 14px;
	}
}
/*
=============================
=============================
=============================
=============================
=============================
=============================
*/
.te-name-ch,
.te-name-en {
	color: #000;
	font-size: 18px;
	font-weight: bold;
}
/*
=============================
=============================
=============================
=============================
=============================
=============================
*/
.nav-tabs > li.active > a {
	border: none;
	&:hover,
	&:focus {
		border: none;
	}
}
/*
=============================
=============================
=============================
=============================
=============================
=============================
*/
// CALL TO ACTION BTN
.layout-btn.color-2 {
	margin-top: 15px;
}
@media (min-width: 992px) {
	.layout-btn.color-2 {
		width: 30%;
		margin-left: 70%;
	}
}
/*
=============================
=============================
=============================
=============================
=============================
=============================
*/
