<!--
KOREA
1. css/layout_kr.css ( in head.html )
2. html_model/header-2-kr.html
3. html_model/tabmenu-kr.html
4. html_model/footer-kr.html
//
TW (x back-prefix -tw x)
1. css/layout.css ( in head.html )
2. html_model/header-2.html
3. html_model/tabmenu.html
4. html_model/footer.html
-->
<!DOCTYPE html>
<html lang="ko">

<head>
	<?php include "html_model/head.html";?>
	<!-- CSS FRO THIS PAGE ONLY -->
	<style>
		.layout-main {
			height: 500px;
		}

		/* 每頁環境色設定 */
		/* v 麵包屑背景色 v */
		.layout-breadcrumb-box {
			background-color: #8fc118;
		}

		@media (min-width: 991px) {
			.layout-main {
				height: 900px !important;
			}
		}

		/* navbar menu arrow */
		@media (max-width: 767px) {
			.layout-navbar-arrow-mobi:after {
				border-color: transparent transparent #8fc118;
			}
		}

		@media (min-width: 768px) {
			/* color-1 ~ 5 */
			.color-1.layout-navbar-arrow-pc:after {
				border-color: transparent transparent #8fc118;
			}
		}

		/*note:
      @768 : hamber menu
      @991 : col 1 & col 2
      */
	</style>
</head>
<body class="body-wrapper">
	<!--loaded-->
	<div class="main-wrapper">
		<!-- ====================================
		——— HEADER
		===================================== -->
		<header id="pageTop" class="header-wrapper">
			<?php include "html_model/header/header-1.html";?>
			<!-- NAVBAR -->
			<nav id="menuBar" class="navbar navbar-default lightHeader" role="navigation">
				<div class="container">
					<?php include "html_model/header/header-2-kr.html";?>
				</div>
				<!-- ====================================
				——— BREAD CRUMB 
				===================================== -->
				<div class="layout-breadcrumb-box">
					<div class="container">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb text-truncate">
								<li class="breadcrumb-item">
									<a href="#">首頁</a>
								</li>
								<!-- <li class="breadcrumb-item">
								<a href="#">活動報名</a>
								</li> -->
								<li class="breadcrumb-item">
									<!-- <li class="breadcrumb-item text-truncate" style="width: 150px;"> -->
									<a href="">青蛙與 Pompom 公主青蛙與 Pompom 公主</a>
								</li>
								<li class="breadcrumb-item">
									報名
								</li>
							</ol>
						</nav>
					</div>
				</div>
			</nav>
		</header>
		<!-- ====================================
		——— CONTAINER STR
		——— 滿版的用法：
		——— 1. 在.layout-main + class = .layout-main-full
		——— 2. 往內加 tag .layout-main-full-bg 用以上滿版背景色
		——— 3. 同層再加 tag .layout-main-full-inbox ，內容就加在這
		===================================== -->
		<!-- main + aside -->
		<div class="container container-main container-col-2">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-9">
					<div class="layout-main layout-main-pageback layout-main-pageback-color-1">
						<?php include "html_model/uikit/page-back.html";?>
						<!--
						[^ 註 ^]
						規則：
						1.tag .layout-main 加 class .layout-main-pageback
						2.向 tag .layout-main 內層「頂端」加三個 tag .layout-main-pageback-item & -shadow & -deco
						3.上色，再在 tag .layout-main-pageback 加 ckass .layout-main-pageback-color-1 ~ 5
						** 以上通用於 二欄 & 一欄
						** 必須在 三個內層 tag 比鄰下方加上 level 1 title tag，畫面才不會壞
						-->
						<!-- LEVEL 1 -->
						<div class="sectionTitle text-center color-2 mt-0">
							<h2><!-- h2 only -->
								<span class="shape shape-left"></span>
								<span>Level 1</span>
								<span class="shape shape-right"></span>
							</h2>
						</div>
						main 2 (m + as)<br/>
					</div>
					<!-- FULL -->
					<div class="layout-main layout-main-full">
						<div class="layout-main-full-bg layout-main-full-left"></div>
						<!-- 
						[^ 註 ^]
						.layout-main-full-left 給 main 在左 aside 在右的結構
						加 js 控制此 tag 在 pc 版 ( width >= 975 ) 時的定位
						js code 在 layout.js
						-->
						<div class="layout-main-full-inbox">
							main 2 (m + as) <br/> FULL
						</div>
					</div>
				</div>
				<div class="hidden-xs hidden-sm col-md-3 sticky-top">
					<div class="panel-heading bg-color-1 border-color-1">
						<h3 class="panel-title">aside title</h3>
					</div>
					<aside class="layout-sub">
						aside <br/>
					</aside>
				</div>
			</div>
		</div>
		<hr>
		<hr>
		<hr>
		<hr>
		<hr>
		<hr>
		<!-- aside + main -->
		<div class="container container-main container-col-2">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-3 sticky-top">
					<div class="panel-heading bg-color-1 border-color-1">
						<h3 class="panel-title">aside title</h3>
					</div>
					<aside class="layout-sub">
						aside <br/>
					</aside>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-9">
					<div class="layout-main layout-main-pageback layout-main-pageback-color-1">
						<?php include "html_model/uikit/page-back.html";?>
						<!-- LEVEL 1 -->
						<div class="sectionTitle text-center color-2 mt-0">
							<h2><!-- h2 only -->
								<span class="shape shape-left"></span>
								<span>Level 1</span>
								<span class="shape shape-right"></span>
							</h2>
						</div>
					</div>
					<!-- FULL -->
					<div class="layout-main layout-main-full">
						<div class="layout-main-full-bg layout-main-full-right"></div>
						<!-- 
						[^ 註 ^]
						.layout-main-full-right 給 main 在右 aside 在左的結構
						加 js 控制此 tag 在 pc 版 ( width >= 975 ) 時的定位
						js code 在 layout.js
						-->
						<div class="layout-main-full-inbox">
							main 2 (as + m) <br/> FULL
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<hr>
		<hr>
		<hr>
		<hr>
		<hr>
		<!-- main only -->
		<div class="container container-main container-col-1">
			<div class="row">
				<div class="layout-col-12">
					<div class="layout-main layout-main-pageback layout-main-pageback-color-1">
						<?php include "html_model/uikit/page-back.html";?>
						<!-- LEVEL 1 -->
						<div class="sectionTitle text-center color-2 mt-0">
							<h2><!-- h2 only -->
								<span class="shape shape-left"></span>
								<span>Level 1</span>
								<span class="shape shape-right"></span>
							</h2>
						</div>
						main only <br/> 設定padding w 991- 為 15px / padding w 992+ 為 50px
					</div>
					<!-- FULL -->
					<div class="layout-main layout-main-full">
						<div class="layout-main-full-bg layout-main-full-center"></div>
						<!-- 
						[^ 註 ^]
						.layout-main-full-center 給只有 main 在中的結構
						加 js 控制此 tag 在 pc 版 ( width >= 975 ) 時的定位
						js code 在 layout.js
						-->
						<div class="layout-main-full-inbox">
							main only<br/> FULL
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<hr>
		<hr>
		<hr>
		<hr>
		<hr>
		<?php include "html_model/footer-kr.html";?>
		<?php include "html_model/floating-ui.html";?>
		<?php include "html_model/tabmenu-kr.html";?>
	</div>
	<?php include "html_model/js-for-all.html";?>
	<!-- JS FOR THIS PAGE ONLY -->
	<script src="js/fullScreen.js"></script>
</body>

</html>