<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
	<?php include "html_model/head.html";?>
	<!-- CSS FRO THIS PAGE ONLY -->
	<link href="assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
	<link rel="stylesheet" href="css/actDesc.css">
</head>

<body class="body-wrapper">
	<!--loaded-->
	<div class="main-wrapper">
		<!-- ====================================
		——— HEADER
		===================================== -->
		<header id="pageTop" class="header-wrapper">
			<?php include "html_model/header/header-1.html";?>
			<!-- NAVBAR -->
			<nav id="menuBar" class="navbar navbar-default lightHeader" role="navigation">
				<div class="container">
					<?php include "html_model/header/header-2.html";?>
				</div>
				<!-- ====================================
				——— BREAD CRUMB 
				===================================== -->
				<div class="layout-breadcrumb-box">
					<div class="container">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb text-truncate">
							<li class="breadcrumb-item">
									<a href="#">首頁</a>
								</li>
								<li class="breadcrumb-item">
									<a href="#">美語活動</a>
								</li>
								<li class="breadcrumb-item">
									迷你活動
								</li>
							</ol>
						</nav>
					</div>
				</div>
			</nav>
		</header>
		<!-- main only -->
		<div class="container container-main container-col-1">
			<div class="row">
				<div class="layout-col-12">
					<div class="layout-main layout-main-vision">
						<img class="layout-main-vision-img" src="img/activity/event/1.jpg">
					</div>
					<div class="layout-main">
						<div class="sectionTitle text-center color-1 mt-0">
							<h2><!-- h2 only -->
								<span class="shape shape-left"></span>
								<span>迷你活動</span>
								<span class="shape shape-right"></span>
							</h2>
						</div>
						<!-- 1.3.1 -->
						<h3 class="layout-title-level-2 color-1 mt-0">寶寶玩玩系列：</h3>
						<div class="layout-content">
						</div>
						<div class="ml-2 mb-4">
							<h3 class="layout-title-level-3 color-1 mt-2">彩虹樂園：</h3>
							<div class="layout-content">
								根據孩子的身心發展階段，透過主題式的設計，讓孩子的學習更加多元化，能夠有全方面的美語學習。
							</div>
							<h3 class="layout-title-level-3 color-1 mt-2">親子律動：</h3>
							<div class="layout-content">
								結合Play Along!教具，讓爸爸媽媽更了解在家裡可以如何利用教具跟寶寶互動，並以配合幼兒身心發展的活動來刺激寶寶的感覺統合，讓寶寶可以跟年齡相近的小朋友一起在玩樂中學習。
							</div>
							<h3 class="layout-title-level-3 color-1 mt-2">快樂故事屋：</h3>
							<div class="layout-content">
								互動式的投影動畫，以美語叔叔阿姨專業的說故事技巧，讓孩子們不受空間限制，彷彿身在其中，跟著Froggy和Bunny一起體驗了許多美好的事物！
							</div>
						</div>
						<!-- 1.3.2 -->
						<h3 class="layout-title-level-2 color-1">來趣玩系列：</h3>
						<div class="layout-content">
						</div>
						<div class="ml-2 mb-4">
							<h3 class="layout-title-level-3 color-1 mt-2">兒童歡樂屋：</h3>
							<div class="layout-content">
							為大小孩設計的活動，讓孩子將所學的美語應用在多元主題中，小組進行，提供孩子表現舞台！
							</div>
							<h3 class="layout-title-level-3 color-1 mt-2">魔法攪拌機：</h3>
							<div class="layout-content">
							這是針對主課程內容而設計，啟發不一樣的學習方式，喜歡唱跳及團隊遊戲的小朋友快加入我們！
							</div>
							<h3 class="layout-title-level-3 color-1 mt-2">舞出小世界：</h3>
							<div class="layout-content">
							透過活潑有趣的肢體律動，結合產品歌曲進行唱跳，引導喜歡唱跳的小朋友更加容易進入美語世界，快來一起揮灑汗水，一起快樂學習吧！
							</div>
						</div>
						<!-- 1.3.3 -->
						<h3 class="layout-title-level-2 color-1">翻轉小世界：</h3>
						<div class="layout-content">
						</div>
						<div class="ml-2 mb-4">
							<h3 class="layout-title-level-3 color-1 mt-2">動手玩玩藝：</h3>
							<div class="layout-content">
							為大小孩設計的活動，讓孩子將所學的美語應用在多元主題中，小組進行，提供孩子表現舞台！
							</div>
							<h3 class="layout-title-level-3 color-1 mt-2">故事星球：</h3>
							<div class="layout-content">
							這是針對主課程內容而設計，啟發不一樣的學習方式，喜歡唱跳及團隊遊戲的小朋友快加入我們！
							</div>
						</div>
						<!---->
						<div class="layout-videobox layout-sharewidth item-3 mt-3">
							<div class="layout-videobox-item layout-sharewidth-item">
								<div class="layout-video-fluid">
								<iframe src="https://www.youtube.com/embed/DExxfTR_iGI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								<!-- ^影片網址會再改過，改為 vimeo 平台影片 ^ -->
								</div>
							</div>
							<div class="layout-videobox-item layout-sharewidth-item">
								<div class="layout-video-fluid">
								<iframe src="https://www.youtube.com/embed/y_EnQuDthdE" webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder="0" allow="autoplay; encrypted-media"></iframe>
								<!-- ^影片網址會再改過，改為 vimeo 平台影片 ^ -->
								</div>
							</div>
							<div class="layout-videobox-item layout-sharewidth-item">
								<div class="layout-video-fluid">
								<iframe src="https://www.youtube.com/embed/Jecv5ZPSu2Y" webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder="0" allow="autoplay; encrypted-media"></iframe>
								<!-- ^影片網址會再改過，改為 vimeo 平台影片 ^ -->
								</div>
							</div>
						</div>
						<!--  -->
						<h3 class="layout-title-level-3 color-1">會員見證：</h3>
						<div class="owl-carousel owl-carousel-type-1 teamSlider">
							<?php include "html_model/activity/act-desc-carousel-item.html";?>
						</div>
					</div>
					<button type="button" class="btn layout-btn btn-block layout-btn-lg color-1">
						活動報名
					</button>
				</div>
			</div>
		</div>

		<?php include "html_model/footer.html";?>
		<?php include "html_model/floating-ui.html";?>
		<?php include "html_model/tabmenu.html";?>
	</div>
	<?php include "html_model/js-for-all.html";?>
	<!-- JS FOR THIS PAGE ONLY -->
	<script src="assets/plugins/owl-carousel/owl.carousel.js" type="text/javascript"></script>
	<script src="js/actDesc.js" type="text/javascript"></script>
</body>

</html>