html
	head
	body
		li.dweg-item
			.dweg-link
				// <img class="dweg-img" src="img/dwe/graduates/1.jpg"> 
				.dweg-img(style='background-image: url(img/dwe/graduates/2.jpg)')
				.dweg-info
					h3.dweg-name 姓名：李O翎
					| 使用年齡：2歲11月
					br
					| 畢業年齡：4歲11月
					br
					| 畢業年份：2017
					br