html
  head
  body
    .dwel-list.layout-sharewidth.item-4
      |  
      //?php include "html_model/dwe/dwel-item.html";?
      |  
      //?php include "html_model/dwe/dwel-item.html";?
      |  
      //?php include "html_model/dwe/dwel-item.html";?
      |  
      //?php include "html_model/dwe/dwel-item.html";?
      |  