html
	head
	body
		.dwel-item.layout-sharewidth-item
			.dwel-number D172918
			.dwel-license(style='background-image: url(img/dwe/license/1.jpg);')
			.dwel-info
				.dwel-namebox
					b.dwel-name HSUAN-CHEN CHENG
				| took YLE Starters
				br
				| in 2016 - 6