html
  head
  body
    .apply-lb-event-sort
      .ititle.icon1
        //           
          		[ ^註^ ]
          		換圖 class= icon1 ~ 7
          		
        .ititle-w Froggy&Bunny Show
        .ititle-icon
      .apply-lb-region
        .apply-lb-address
          | 부산
          a.mypage-btn-google(href='') 주소
        .apply-lb-time
          a.apply-lb-tlink(href='') 11:00
          a.apply-lb-tlink(href='') 13:00
          a.apply-lb-tlink(href='') 15:30
          a.apply-lb-tlink(href='') 17:00
      .apply-lb-region
        .apply-lb-address
          | 인천
          a.mypage-btn-google(href='') 주소
        .apply-lb-time
          a.apply-lb-tlink(href='') 11:00
          a.apply-lb-tlink(href='') 13:00
          a.apply-lb-tlink(href='') 15:30