html
  head
  body
    li.layout-card-item
      .ititle.icon4
        .ititle-w 2017 카니발 제목
        .ititle-icon
      .carhis
        img.carhis-img(src='img/event/1.jpg')
        .carhis-word 여러분, 고양이는 어떤 소리를 낼까요? 냐옹냐옹? 다양한 소리를 잘 흉내