html
	head
	body
		#calDet.modal.fade.customModal(tabindex='-1', role='dialog')
			.modal-dialog
				.modal-content
					.panel
						.panel-heading
							h3.panel-title 2018 년 12 월
							a.panel-close(href='') x
						.panel-body
							|<?php include "html_model/_event_kr/apply-lb-event-sort.html";?>
							|<?php include "html_model/_event_kr/apply-lb-event-sort.html";?>
							|<?php include "html_model/_event_kr/apply-lb-event-sort.html";?>
							|<?php include "html_model/_event_kr/apply-lb-event-sort.html";?>
							|<?php include "html_model/_event_kr/apply-lb-event-sort.html";?>
							|<?php include "html_model/_event_kr/apply-lb-event-sort.html";?>
							|<?php include "html_model/_event_kr/apply-lb-event-sort.html";?>
							|  