a.lib-gbox-item.layout-sharewidth-item(href='#')
	img.lib-gbox-img(src='img/library/1.gif')
	.lib-info
		h3.lib-info-en Hip-Hop, Buster and Max Go on a Hike
		.lib-info-location Hip-Hop, Buster和Max一起去健行
a.lib-gbox-item.layout-sharewidth-item(href='#')
	img.lib-gbox-img(src='img/library/2.gif')
	.lib-info
		h3.lib-info-en Night Time
		.lib-info-location 睡覺時間
a.lib-gbox-item.layout-sharewidth-item(href='#')
	img.lib-gbox-img(src='img/library/3.gif')
	.lib-info
		h3.lib-info-en Pompom's Birthday Cake
		.lib-info-location Pompom的生日蛋糕
a.lib-gbox-item.layout-sharewidth-item(href='#')
	img.lib-gbox-img(src='img/library/4.gif')
	.lib-info
		h3.lib-info-en Froggy and Bunny go go the Supermarket
		.lib-info-location 超市好好玩