.layout-videobox-item.layout-sharewidth-item
	.layout-video-fluid
		iframe(src='https://www.youtube.com/embed/DExxfTR_iGI', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
	.lib-info
		h3.lib-info-en Super Fun! Hello and Bye-bye!
		.lib-info-location
			//( wfc 未提供中譯資訊就空著 )
		.lib-info-content 歡迎來到Super Fun! 一起來看美語叔叔、 阿姨們要陪我們玩哪些遊戲呢？讓大家開心的玩美語吧！
.layout-videobox-item.layout-sharewidth-item
	.layout-video-fluid
		iframe(src='https://www.youtube.com/embed/DExxfTR_iGI', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
	.lib-info
		h3.lib-info-en Super Fun! With Luna!
		.lib-info-location
			//( wfc 未提供中譯資訊就空著 )
		.lib-info-content Auntie Luna和Froggy、Bunny要來和我們一起玩Up and Down的遊戲；Uncle Danny和Clem要來教大家如何做bee，大家快來一起準備工具吧！