.layout-videobox-item.layout-sharewidth-item
	.layout-video-fluid
		iframe(src='https://www.youtube.com/embed/DExxfTR_iGI', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
	.lib-info
		h3.lib-info-en Egg and Soldiers
		.lib-info-location 英式早餐_水煮蛋及烤土司條
		.lib-info-content 早餐是一天當中最重要的一餐，Chris叔叔要向大家介紹他最喜歡的早餐「Egg and Soldiers」的作法，很簡單喔！只要十分鐘就能完成呢！
.layout-videobox-item.layout-sharewidth-item
	.layout-video-fluid
		iframe(src='https://www.youtube.com/embed/DExxfTR_iGI', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
	.lib-info
		h3.lib-info-en Egg mayonnaise and alfalfa sandwich
		.lib-info-location 苜蓿芽佐蛋黃醬三明治
		.lib-info-content 影片介紹 Sandwich起源自十八世紀的英國，以作法簡單及美味可口而聞名國際。來自英國的Chris叔叔，要向大家介紹他最自豪的故鄉味「苜蓿芽佐蛋黃醬三明治」，快來一起做做看吧！