.layout-videobox-item.layout-sharewidth-item
	.layout-video-fluid
		iframe(src='https://www.youtube.com/embed/DExxfTR_iGI', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
	.lib-info
		h3.lib-info-en Fondant
		.lib-info-location
			//( wfc 未提供中譯資訊就空著 )
		.lib-info-content
			//( wfc 未提供中譯資訊就空著 )
.layout-videobox-item.layout-sharewidth-item
	.layout-video-fluid
		iframe(src='https://www.youtube.com/embed/DExxfTR_iGI', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
	.lib-info
		h3.lib-info-en Pumpkin has a red balloons
		.lib-info-location
			//( wfc 未提供中譯資訊就空著 )
		.lib-info-content
			//( wfc 未提供中譯資訊就空著 )