// AGE TABS
.agetab
	position: absolute
	top: 0
	left: 0
	font-size: 12px
	width: 26px
	line-height: 26px
	border-radius: 50%
	color: #000
	text-align: center
	&:before
		content: ""
		display: block
		position: absolute
		border-style: solid
		border-color: transparent
	
	&.age-0
		background-color: $pgage-0
	&.age-1
		background-color: $pgage-1
	&.age-2
		background-color: $pgage-2
	&.age-3
		background-color: $pgage-3
	&.age-4
		background-color: $pgage-4
	&.age-5
		background-color: $pgage-5
	&.age-6
		background-color: $pgage-6
	&.age-7
		background-color: $pgage-7
	&.age-8
		background-color: $pgage-8
	&.age-9
		background-color: $pgage-9
	&.age-10
		background-color: $pgage-10

@media (max-width: 991px)
	.retabcard-cell-title
		position: relative
	
	.agetab
		left: -5px
		margin-top: -13px
		&:before
			border-width: 4px 0 4px 12px
			left: 23px
			margin-top: 8px
		
		&.age-0:before
			border-left-color: $pgage-0
		&.age-1:before
			border-left-color: $pgage-1
		&.age-2:before
			border-left-color: $pgage-2
		&.age-3:before
			border-left-color: $pgage-3
		&.age-4:before
			border-left-color: $pgage-4
		&.age-5:before
			border-left-color: $pgage-5
		&.age-6:before
			border-left-color: $pgage-6
		&.age-7:before
			border-left-color: $pgage-7
		&.age-8:before
			border-left-color: $pgage-8
		&.age-9:before
			border-left-color: $pgage-9
		&.age-10:before
			border-left-color: $pgage-10
	
	.age-0,.age-3,.age-10
		top: 33%
	.age-1,.age-4
		top: 66%
	.age-6
		top: 25%
	.age-7
		top: 50%
	.age-8
		top: 75%

@media (min-width: 992px)
	.retabcard-row-title
		.retabcard-cell
			position: relative
		
		
	.agetab
		top: -7px
		margin-left: -13px
		&:before
			border-width: 12px 4px 0 4px
			top: 23px
			margin-left: 8px
		
		&.age-0:before
			border-top-color: $pgage-0
		&.age-1:before
			border-top-color: $pgage-1
		&.age-2:before
			border-top-color: $pgage-2
		&.age-3:before
			border-top-color: $pgage-3
		&.age-4:before
			border-top-color: $pgage-4
		&.age-5:before
			border-top-color: $pgage-5
		&.age-6:before
			border-top-color: $pgage-6
		&.age-7:before
			border-top-color: $pgage-7
		&.age-8:before
			border-top-color: $pgage-8
		&.age-9:before
			border-top-color: $pgage-9
		&.age-10:before
			border-top-color: $pgage-10
	
	.age-0,.age-3,.age-10
		left: 33%
	.age-1,.age-4
		left: 66%
	.age-6
		left: 25%
	.age-7
		left: 50%
	.age-8
		left: 75%
