// CELL SHARE WIDTH
.pgrow
	position: relative
	.retabcard-content
		position: absolute
		top: 0right: 0bottom: 0
	

.pgcell-4,
.pgcell-8,
.pgcell-58,
.pgcell-512,
.pgcell-912,
.pgcell-512,
.pgcell-12,
.pgcell-6,
.pgcell-712
	position: absolute
	padding: 7px
	word-wrap: break-word

.retabcard-row
	.retabcard-cell
		&:nth-child(2)
			.pgcell-4,
			.pgcell-8,
			.pgcell-58
				border-color: #ffdf6c
			
		
		&:nth-child(3)
			.pgcell-4
				border-color: #9ef0b1
			
		
	

.pgcell-6
	border-bottom: solid 1px #c5e9ff
	top: 0
	bottom: 50%

.pgcell-712
	top: 50%
	bottom: 0

@media (max-width: 991px)
	.pgrow
		.retabcard-content
			left: 45px
		
	
	//
	.pgcell-4,
	.pgcell-8,
	.pgcell-58,
	.pgcell-912,
	.pgcell-512
		width: 100%
	
	//
	.pgcell-4
		top: 0
		bottom: 66.6666%
		border-bottom: solid 1px #aaa
	
	.pgcell-8
		top: 0
		bottom: 33.333%
		border-bottom: solid 1px #aaa
	
	.pgcell-58
		top: 33.333%
		bottom: 33.333%
		border-bottom: solid 1px #aaa
	
	.pgcell-912
		top: 66.666%
		bottom: 0
	
	.pgcell-512
		top: 33.333%
		bottom: 0
	
	.pgcell-12
		top: 0
		bottom: 0
	

@media (min-width: 992px)
	.pgrow
		.retabcard-content
			left: 0
		
	
	//
	.pgcell-4,
	.pgcell-8,
	.pgcell-58,
	.pgcell-912,
	.pgcell-512
		height: 100%
	
	//
	.pgcell-4
		left: 0
		right: 66.6666%
		border-right: solid 1px #aaa
	
	.pgcell-8
		left: 0
		right: 33.333%
		border-right: solid 1px #aaa
	
	.pgcell-58
		left: 33.333%
		right: 33.333%
		border-right: solid 1px #aaa
	
	.pgcell-912
		left: 66.666%
		right: 0
	
	.pgcell-512
		left: 33.333%
		right: 0
	
	.pgcell-12
		left: 0
		right: 0
	

//
.pgcell-white
	background:
		color: #fff
	


//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================

// IE HACK
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width: 992px)
	.pgcell-white
			height: 150px!important
	
