// COLOR
.retabcard-row
	.retabcard-cell
		&:nth-child(2)
			background-color: $stage-content-0
		
		&:nth-child(3)
			background-color: $stage-content-1
		
		&:nth-child(4)
			background-color: $stage-content-2
		
		&:nth-child(5)
			background-color: $stage-content-3
		
		&.is-stage-white
			background-color: #fff
		
	
	&.is-stage-white,
	&.is-spacer
		.retabcard-cell
			background-color: #fff			
		
	

@media (max-width: 991px)
	.retabcard-cell
		&.is-stage-white
			display: none
		
	
	.retabcard-cell-title
		background-color: #f3f3f3
	

// TITLE BG & MORE
.book-more
	position: absolute
	bottom: 10pxright: 10px
	color: #fff!important
	padding: 3px 10px
	line-height: 1
	border-radius: 8px

.is-stage-cap-1
	background-color: $cap-color-1
	.stage-box-title
		color: $cap-color-1
	
	.book-more
		background-color: $cap-color-1
	

.is-stage-cap-2
	background-color: $cap-color-2
	.stage-box-title
		color: $cap-color-2
	
	.book-more
		background-color: $cap-color-2
	

.is-stage-cap-3
	background-color: $cap-color-3
	.stage-box-title
		color: $cap-color-3
	
	.book-more
		background-color: $cap-color-3
	

.is-stage-cap-4
	background-color: $cap-color-4
	.stage-box-title
		color: $cap-color-4
	
	.book-more
		background-color: $cap-color-4
	

.is-stage-cap-5
	background-color: $cap-color-5
	.stage-box-title
		color: $cap-color-5
	
	.book-more
		background-color: $cap-color-5
	

.is-stage-cap-6
	background-color: $cap-color-kr-6
	.stage-box-title
		color: #7ecfff
	
	.book-more
		background-color: #7ecfff
	

.is-stage-cap-7
	background-color: $cap-color-kr-7
	.stage-box-title
		color: $cap-color-kr-7
	
	.book-more
		background-color: $cap-color-kr-7
	


//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================
//=====================================//=========================================

.is-stage-cap-1,.is-stage-cap-2,
.is-stage-cap-3,.is-stage-cap-4,
.is-stage-cap-5,.is-stage-cap-6,
.is-stage-cap-7
	position: relative

.stage-box
	border-radius: 6px
	margin: 6px
	padding: 23px 6px 25px
	background-color: #fff

.stage-box-title
	position: absolute
	font-size: 16px
	font-weight: bold
	top: 10pxleft: 12px	

@media (max-width: 991px)
	.is-stage-cap-1,.is-stage-cap-2,
	.is-stage-cap-3,.is-stage-cap-4,
	.is-stage-cap-5,.is-stage-cap-6,
	.is-stage-cap-7,
	.is-stage-starting
		margin-left: 31px
		width: calc( 100% - 31px )
	
	.is-stage-starting
		background-color: #c5e9ff!important
		.retabcard-content
			font-size: 15px
		
	

@media (min-width: 992px) and (max-width: 1199px)
	.stage-box-title
		font-size: 14px
		font-weight: normal
		top: 10px
	
