// FONT-SIZE
.retabcard-cell-index,
.retabcard-cell-title,
.retabcard-content
	font-size: 12px

.retabcard-cell
	font-size: 0

@media (min-width: 992px)
	.retabcard-row-title
		.retabcard-cell
			font-size: 12px
		
	

// PADDING
.retabcard-cell,
.retabcard-cell-index,
.retabcard-cell-title,
.retabcard-cell .retabcard-content
	padding: 0

// SPACEING
@media (max-width: 991px)
	.is-spacer
		display: none
	

@media (min-width: 992px)
	.is-spacer
		height: 30px
	
