aside.layout-sub.px-4.py-4.aside-file
	.aside-file-title 會員資料
	button.btn.layout-btn.aside-file-btn(type='button') 修改個人資料
	.aside-file-img(style='background-image: url(img/no_picture.png);')
	.aside-file-msg 鐵腕 老爸 ( S516888 )