html
  head
  body
    li.layout-card-item
      img(src='img/mypage/rainbow.png')
      a.layout-card-link(href='')
        .notic-w 小淳媽咪覺得您的留言很讚。
        .notic-date 2018/11/01 09:00
    // v repeat demo v 
    li.layout-card-item.is-visited
      //        
        [^ 註 ^]
        規則：
        click 過一次，就給 class = is-visited
        
      |  
      img(src='img/mypage/rainbow.png')
      a.layout-card-link(href='')
        .notic-w 雨霏媽咪回覆了您的留言。
        .notic-date 2018/11/01 09:00
    li.layout-card-item
      img(src='img/mypage/rainbow.png')
      a.layout-card-link(href='')
        .notic-w 小淳媽咪在您的文章留言。
        .notic-date 2018/11/01 09:00