html
	head
	body
		li.layout-card-item
			a.layout-card-link(href='')
				.notic-w 由「學習超載世代」帶您了解，學生為什麼作弊
				.notic-date 2018/11/01 09:00
		// v repeat demo v 
		li.layout-card-item
			a.layout-card-link(href='')
				.notic-w 如何陪伴嬰幼兒快樂「玩」DWE？
				.notic-date 2018/11/01 09:00
		li.layout-card-item
			a.layout-card-link(href='')
				.notic-w 迪士尼美語打好聽、說基礎，孩子進階閱讀沒煩惱！
				.notic-date 2018/11/01 09:00