html
	head
	body
		li.layout-card-item
			img(src='img/mypage/rainbow.png')
			a.layout-card-link(href='')
				.notic-w 【活動取消】今日 台南、高雄、嘉義 「看！我是馬戲團小明星」、「馬戲團出遊趣」、「看！我是馬戲團小明星」
				.notic-date 2018/11/01 09:00
		// v repeat demo v 
		li.layout-card-item.is-visited
			//        
				[^ 註 ^]
				規則：
				click 過一次，訧給 class = is-visited

			|  
			img(src='img/mypage/rainbow.png')
			a.layout-card-link(href='')
				.notic-w 【報名成功】今日 「DWE玩全攻略」、「成功的第一步」 活動日期時間等相關資訊已上活動日期時間等相關資訊
				.notic-date 2018/11/01 09:00
		li.layout-card-item
			img(src='img/mypage/rainbow.png')
			a.layout-card-link(href='')
				.notic-w 【候補成功】今日台南、高雄、嘉義 「看！我是馬戲團小明星」、「馬戲團出遊趣」
				.notic-date 2018/11/01 09:00