//   ====================================
	——— LIGHT BOX MODAL
	===================================== 
#invoiceModal.modal.fade.customModal(tabindex='-1', role='dialog')
	.modal-dialog
		.modal-content
			.panel
				.panel-heading
					h3.panel-title 發票明細
					a.panel-close(href='') x
				.panel-body
					.layout-content
						ul.pl-3.mb-4
							li 根據財政部令台財稅字第0952400194號訂定之「電子發票實施作業要點」，
							li 已將此發票儲存於您的訂單資料中，且將您的電子發票檔上傳到政府的
								a(href='http://www.einvoice.nat.gov.tw/', target='_blank') 財政部電子發票整合服務平台
								|供自由查詢。
							li 建議您將寰宇家庭載具做歸戶，請點選
								a(href='http://shopping.ltl.com.tw/eInvoice/Default.aspx', target='_blank') 歸戶說明
								|依照步驟進行歸戶。
								.pl-3
									h3.layout-title-level-3.color-1.mt-1 歸戶小提醒 
									ol
										li 進行歸戶後您即可在財稅中心電子發票整合服務平台查詢您在寰宇家庭消費開立的電子發票。
										li 已進行歸戶的電子發票資料您仍可在網站查詢消費明細。
										li 歸戶後之中獎發票將由財稅中心通知，本公司不再另行通知。
									h3.layout-title-level-3.color-1.mt-1 歸戶洽詢：
									ol
										li
											a(href='http://www.einvoice.nat.gov.tw/', target='_blank') 財政部電子發票整合服務平台
										li 財稅中心24小時免費服務電話 0800-52-1988
							li 核淮文號：財北國稅松山營業字第 0980201420 號。
					img(src="img/mypage/invoice.gif")