//   ====================================
	——— LIGHT BOX MODAL
	===================================== 
#downloadModal.modal.fade.customModal(tabindex='-1', role='dialog')
	.modal-dialog
		.modal-content
			.panel
				.panel-heading
					h3.panel-title 線上CD下載
					a.panel-close(href='') x
				.panel-body
					.dbox
						.dbox-title 
							img(src="img/download/logo_kw.png")
							|第153期 / 2018 3~4
						.dbox-l
							img.dbox-img(src='img/download/KW153.jpg')
							button.btn.layout-btn.btn-block.color-1(type="button") 「壓縮檔」下載
						ul.dbox-r
							li.dbox-item 1.KW153_1
								button.btn.layout-btn.color-1(type="button") 下載
							li.dbox-item 2.KW153_2
								button.btn.layout-btn.color-1(type="button") 下載
							li.dbox-item 3.KW153_3
								button.btn.layout-btn.color-1(type="button") 下載
							li.dbox-item 4.KW153_4
								button.btn.layout-btn.color-1(type="button") 下載
							li.dbox-item 5.KW153_5
								button.btn.layout-btn.color-1(type="button") 下載
							li.dbox-item 6.KW153_6
								button.btn.layout-btn.color-1(type="button") 下載
							li.dbox-item 7.KW153_7
								button.btn.layout-btn.color-1(type="button") 下載
							li.dbox-item 8.中文小幫手
								button.btn.layout-btn.color-1(type="button") 下載