#forum-modal{
	.modal-dialog {
		// box width here
		margin:{
			left: auto;
			right: auto;
		}
	}
	.modal-content,
	.panel {
		// for lightbox layout
	}
	.panel-heading {
		// title bg color here
		background-color: $color4;
	}
	.panel-title {
		// title font size here
		font-size: 22px;
	}
	.panel-close {
		// closer collor here
		color: $color4;
	}
	.panel-body {
	}
}
@media (max-width: 767px){
	#forum-modal{
		.panel-title {
			font-size: 20px;
		}
		.modal-dialog {
			width: 90%;
		}
	}
}
@media (min-width: 768px){
	#forum-modal{
		.modal-dialog {
			width: 680px;
		}
	}
}
/*
======================
======================
======================
======================
======================
======================
*/
.forum-qabox{

}
.forum-qabox-item{
	margin-bottom: 20px;
}
.forum-qabox-q{
	color: $color4;
	font-size: 17px;
	font-weight: bold;
}
.forum-qabox-a{
	font-size: 15px;
	padding-left: 16px;
	line-height: 1.3;
}
.forum-qabox-block{
	display: inline-block;
	font-size: 15px;
	background-color: #f00;
	color: #fff;
	padding: 2px 5px;
	border-radius: 6px;
	
}