@import "usual/im";
@import "usual/color";
@import "usual/color-kr";
@import "usual/unit5";
@import "usual/title-deco5";
// aside
@import "uikit/tmp-aside";
@import "uikit/tmp-aside-lb";
@import "_mypage_kr/mypage-aside";
// pager
@import "uikit/tmp-pager";
// CARD
@import "activity/act-state";
@import "_mypage_kr/mypage-card";
// TITLE
@import "_mypage_kr/mypage-title-2";
/*
===============================
===============================
===============================
===============================
===============================
*/
// CARD
@media (max-width: 991px){
	.layout-card-link{
		padding:{
			top: 30px;
			bottom: 9px;
		}
	}	
}
@media (min-width: 992px){
	.layout-card-item{
		padding:{
			left: 60px;
		}
		overflow: hidden;
	}
	.layout-card-link{
		display: inline-block;
		margin-right: 10px;
	}
	.act-state{
		top: 17px;
	}
	.mypage-datebox{
		float: right;
	}
	.mypage-date{
		margin:{
			top: 0;
			left: 10px;
			right: 0;
		}
	}
}
/*
===============================
===============================
===============================
===============================
===============================
*/