// FOOTER
.copyRight{
	p{
		font-size: 12px;
		line-height: 17px;
	}
}
.footer-link{
	li{
		font-size: 12px;
	}
}
@media (max-width: 499px){
	footer{
		height: 83px;
		bottom: -83px;
	}
	/*--------------*/
	.footer-rise {
		.backToTop {
			bottom: 135px;
		}
		.tabmenu {
			bottom: 80px;
		}
		footer {
			bottom: -3px;
		}
	}
}
@media (min-width: 500px) and (max-width: 767px){
	footer{
		height: 65px;
		bottom: -65px;
	}
	/*--------------*/
	.footer-rise {
		.backToTop {
			bottom: 121px;
		}
		.tabmenu {
			bottom: 61px;
		}
		footer {
			bottom: -3px;
		}
	}
} 