doctype html
//
	KOREA
	1. css/layout_kr.css ( in head.html )
	2. html_model/header-2-kr.html
	3. html_model/tabmenu-kr.html
	4. html_model/footer-kr.html
	//
	TW (x back-prefix -tw x)
	1. css/layout.css ( in head.html )
	2. html_model/header-2.html
	3. html_model/tabmenu.html
	4. html_model/footer.html
html(lang='ko')
	head
		|<?php include "html_model/head.html";?>
		// CSS FRO THIS PAGE ONLY
		link(type='text/css', href='assets/plugins/selectbox/select_option1.css', rel='stylesheet')
		link(type='text/css', href='css/afterService_kr.css', rel='stylesheet')
	body.body-wrapper
		// loaded
		.main-wrapper
			//
				====================================
				——— HEADER
				=====================================
			header#pageTop.header-wrapper
				|<?php include "html_model/header/header-1.html";?>
				// NAVBAR
				nav#menuBar.navbar.navbar-default.lightHeader(role='navigation')
					.container
						|<?php include "html_model/header/header-2-kr.html";?>
					//
						====================================
						——— BREAD CRUMB
						=====================================
					.layout-breadcrumb-box
						.container
							nav(aria-label='breadcrumb')
								ol.breadcrumb.text-truncate
									li.breadcrumb-item
										a(href='#') index
									li.breadcrumb-item
										| Parents Support
									li.breadcrumb-item
										| 회원보증제도
			.container.container-main.container-col-2
				.row
					.col-xs-12.col-sm-12.col-md-3.sticky-top.aside-lb
						.panel-heading.bg-color-3.border-color-3.aside-close
							h3.panel-title Parents Support
							.aside-lb-close x
						|<?php include "html_model/_parents_kr/parents-aside.html";?>
					.col-xs-12.col-sm-12.col-md-9
						.layout-main
							|<?php include "html_model/uikit/aside-lb-open.html";?>
							.sectionTitle.text-center.color-3.mt-0
								h2
									span.shape.shape-left
									span 회원보증제도
									span.shape.shape-right
							img.is-pc(src='img/parents/as_vision.jpg')
							img.is-mobi(src='img/parents/as_vision_mobi.jpg')
							h3.layout-title-level-3.icon2.mt-3 정보 수신 :
							.retable(data-width='100')
								.retable-item-double
									.retable-row
										.retable-title 고객명
										.retable-content Member Name
									.retable-row
										.retable-title 고객전화번호
										.retable-content 0988-888-888
								.retable-item-double
									.retable-row
										.retable-title 계약일
										.retable-content
									.retable-row
										.retable-title 계약상품
										.retable-content
											.dropGeneral.roundTwo.layout-drop-sm(style='width: 137px')
												select.select-drop
													option(value='0') DWE제품선택
													option(value='1') s1
													option(value='2') s2
								.retable-item
									.retable-row
										.retable-title 주소
										.retable-content 06223 서울시 강남구 역삼동 2층(역삼동,케이큐브타워)
							h3.layout-title-level-3.icon3 교체 품목 정보 :
							|<?php include "html_model/_parents_kr/as-retable-item.html";?>
							|<?php include "html_model/_parents_kr/as-retable-item.html";?>
							|<?php include "html_model/_parents_kr/as-retable-item.html";?>
							button.btn.layout-btn.color-3(type='button')
								| + 추가하기
							.is-clear
							.retable
								.retable-item
									.retable-row
										.retable-title 기타요청사항
										.retable-content
											textarea.other-text
						.layout-main.is-narrow
							h3.layout-title-level-3.icon4.mt-0 주의 사항 및 배송 요구 사항 :
							.layout-collapse.color-3
								h3.collapse-title 월드패밀리클럽 회원의 특별 보증
								.layout-collapse-arrow  
							.layout-collapse-content
								|<?php include "html_model/_parents_kr/as-attention.html";?>
							.rbox
								.uikit-radio
									input.uikit-radio-input(name='parent', type='radio')
									label.uikit-radio-label 동의함
								.uikit-radio
									input.uikit-radio-input(name='parent', type='radio')
									label.uikit-radio-label 동의하지 않음
							.cbox
								img.cbox-title(src='img/parents/as_m.png')
								| 							본사 또는 이벤트 현장에서 교환 제품 접수는 불가합니다. 회원님의 회원 번호를 꼭 기입하여 아래 주소로 보내주세요
								.cbox-bar 월드 패밀리 코리아 ㈜ 교환 보증 센터
								| 							서울 특별시 강남구 역삼로 25 길 35, 2 층 (역삼동, 케이 큐브 타워) 우트
								br
								| 							월드 패밀리 잉글리쉬 코리아 (주) 교환 보증 센터
								br
								| 							ㅂ다 반송시 발생되는 배송비는 고객 부담)
						button.btn.layout-btn.btn-block.layout-btn-lg(type='button')
							| 신청하기
						hr
						hr
						hr
						hr
						hr
						hr
						hr
						hr
						hr
						hr
						hr
						.layout-main
							.sectionTitle.text-center.color-3.mt-0
								h2
									span.shape.shape-left
									span 회원보증제도
									span.shape.shape-right
							ul.layout-card
								|<?php include "html_model/_mywfc_kr/as-card-item.html"?>
							.numbox
								| 이번에 
								span 3
								|  번 제출
			include partials/public_footer_kr.pug
			// JS FOR THIS PAGE ONLY
			script(src='js/tmpAsideLb.js')
			script(src='js/retableTitle.js')
			script(src='js/statePaddingShare.js')
			script.
				$(function(){
				$(".art-list-f2-item").eq(4).find(".art-list-f2-link").addClass("now");
				// ^ 此 jq 為演示用，請參考 ^
				// DROP
				$(".select-drop").selectbox();
				// COLLAPSE
				$(".layout-collapse").click(function(){
				$('.layout-collapse-content').slideToggle(300);
				$('.layout-collapse').toggleClass('open');
				});
				});
