doctype html
//
  KOREA
  1. css/layout_kr.css ( in head.html )
  2. html_model/header-2-kr.html
  3. html_model/tabmenu-kr.html
  4. html_model/footer-kr.html
  //
  TW (x back-prefix -tw x)
  1. css/layout.css ( in head.html )
  2. html_model/header-2.html
  3. html_model/tabmenu.html
  4. html_model/footer.html
html(lang='ko')
  head
    |<?php include "html_model/head.html";?>
    // CSS FOR THIS PAGE ONLY
    link(type='text/css', href='assets/plugins/selectbox/select_option1.css', rel='stylesheet')
    link(type='text/css', href='css/apply_kr.css', rel='stylesheet')
  body.body-wrapper
    // loaded
    .main-wrapper
      //
        ====================================
        ——— HEADER
        =====================================
      header#pageTop.header-wrapper
        |<?php include "html_model/header/header-1.html";?>
        // NAVBAR
        nav#menuBar.navbar.navbar-default.lightHeader(role='navigation')
          .container
            |<?php include "html_model/header/header-2-kr.html";?>
          //
            ====================================
            ——— BREAD CRUMB
            =====================================
          .layout-breadcrumb-box
            .container
              nav(aria-label='breadcrumb')
                ol.breadcrumb.text-truncate
                  li.breadcrumb-item
                    a(href='#') index
                  li.breadcrumb-item
                    a(href='') WFC EVENT
                  li.breadcrumb-item
                    | Apply
      // main only
      .container.container-main.container-col-1
        .row
          .layout-col-12
            .layout-main
              // LEVEL 1
              .sectionTitle.text-center.color-1.mt-0
                h2
                  // h2 only
                  span.shape.shape-left
                  span Event Apply
                  span.shape.shape-right
              .layout-content
                h3.layout-title-level-3.icon1.mt-0 참가비용
                .retable-above
                .retabcard
                  .retabcard-row.retabcard-row-title
                    .retabcard-cell 참가
                    .retabcard-cell 인원
                    .retabcard-cell 비가 비
                  .retabcard-row
                    .retabcard-cell
                      .retabcard-cell-index 참가 :
                      .retabcard-content
                        | 기본 비용
                    .retabcard-cell
                      .retabcard-cell-title 인원 :
                      .retabcard-content
                        | 성인 1 명 + 어린이 1 명
                    .retabcard-cell
                      .retabcard-cell-title 비가 비 :
                      .retabcard-content.is-price
                        | 22,000 원
                  .retabcard-row
                    .retabcard-cell
                      .retabcard-cell-index 참가 :
                      .retabcard-content
                        | 추가 비용
                    .retabcard-cell
                      .retabcard-cell-title 인원 :
                      .retabcard-content
                        | 성인, 어린이 구분없이 1 명당
                    .retabcard-cell
                      .retabcard-cell-title 비가 비 :
                      .retabcard-content.is-price
                        | 5,000 원
                .retable-under
                h3.layout-title-level-3.icon2 안내사항
                ol
                  li 회원전용 이벤트이며, 회원 외에는 참가가 불가합니다.
                  li 12개월 이하의 둘째(또는 셋째) 자녀는 무료입니다.
                  li 이벤트 당일에는 신분증을 필참 하셔야 합니다.
            .dropbox.is-show
              //
                [^ 註 ^]
                檔下拉選單選出不同活動大類型，加給不同 class
                .is-show
                .is-active
                .is-carnival
                .is-camp
              h3.layout-title-level-3.icon3.mb-0
              .dropGeneral.roundTwo.layout-drop-sm(style='width: 140px')
                select.select-drop
                  option(value='0') 이벤트 카테고리
                  option(value='') Show
                  option(value='') Activity
                  option(value='') Carnival
                  option(value='') Camp
              .dropGeneral.roundTwo.layout-drop-sm(style='width: 100px')
                select.select-drop
                  option(value='0') 부위
                  option(value='') 서울
                  option(value='') 부산
                  option(value='') 서귀포시
              .dropGeneral.roundTwo.layout-drop-sm(style='width: 80px')
                select.select-drop
                  option(value='0') 시각
                  option(value='1') 11:00
                  option(value='2') 13:30
                  option(value='') 15:30
                  option(value='') 17:00
            .cal
              .apply-intro
                p 다양한 색상 의미 :
                span.is-event-1
                |  Froggy&Bunny Show / 
                span.is-event-2
                | Family College Show /
                span.is-event-3
                | Play Along! Show /
                span.is-event-4
                | Christmas Show
                //
                  [ ^註^ ]
                  同一大分類中 (從下拉選單選)，
                  若有多個系列小分類時 , 加 class =
                  .is-event-1,.is-event-2,.is-event-3,.is-event-4
                  下方日曆 tag .cal-region 對照加給
              .cal-date
                button.cal-premon <
                | 							2018 년 12 월
                button.cal-nexmon >
              ul.cal-weekbox
                li.cal-seven 일
                li.cal-seven 월
                li.cal-seven 화
                li.cal-seven 수
                li.cal-seven 목
                li.cal-seven 금
                li.cal-seven 토
              ul.cal-box
                // new week
                li.cal-item.is-sat.is-other
                  .cal-day 29
                  .cal-week 일
                li.cal-item.is-other
                  .cal-day 30
                  .cal-week 월
                li.cal-item.is-other
                  .cal-day 31
                  .cal-week 화
                li.cal-item
                  .cal-day 01
                  .cal-week 수
                  a.cal-link(data-toggle='modal', href='#calDet')
                    .cal-region.is-event-1
                      .cal-hmax
                        em 부산 :
                        | 10:30、13:30、15:30、17:30
                    .cal-region.is-event-2
                      .cal-hmax
                        em 부산 :
                        | 13:30、15:30、17:30
                    .cal-more »
                li.cal-item
                  .cal-day 02
                  .cal-week 목
                  a.cal-link(data-toggle='modal', href='#calDet')
                    .cal-region.is-event-3
                      .cal-hmax
                        em 인천 :
                        | 13:30、15:30、17:30
                    .cal-region.is-event-4
                      .cal-hmax
                        em 인천 :
                        | 13:30、15:30、17:30
                    .cal-more »
                li.cal-item
                  .cal-day 03
                  .cal-week 금
                li.cal-item.is-sun
                  .cal-day 04
                  .cal-week 토
                // new week
                li.cal-item.is-sat
                  .cal-day 05
                  .cal-week 일
                li.cal-item
                  .cal-day 06
                  .cal-week 월
                  a.cal-link(data-toggle='modal', href='#calDet')
                    .cal-region.is-event-1
                      .cal-hmax
                        em 부산 :
                        | 10:30、13:30、15:30、17:30
                li.cal-item
                  .cal-day 07
                  .cal-week 화
                  a.cal-link(data-toggle='modal', href='#calDet')
                    .cal-region.is-event-1
                      .cal-hmax
                        em 부산 :
                        | 10:30、13:30、15:30、17:30
                    .cal-region.is-event-2
                      .cal-hmax
                        em 부산 :
                        | 13:30、15:30、17:30
                    .cal-more »
                li.cal-item
                  .cal-day 08
                  .cal-week 수
                li.cal-item
                  .cal-day 09
                  .cal-week 목
                li.cal-item
                  .cal-day 10
                  .cal-week 금
                li.cal-item.is-sun
                  .cal-day 11
                  .cal-week 토
                  a.cal-link(data-toggle='modal', href='#calDet')
                    .cal-region.is-event-1
                      .cal-hmax
                        em 부산 :
                        | 10:30、13:30、15:30、17:30
                    .cal-region.is-event-2
                      .cal-hmax
                        em 부산 :
                        | 13:30、15:30、17:30
                    .cal-more »
                // new week
                li.cal-item.is-sat
                  .cal-day 12
                  .cal-week 일
                li.cal-item
                  .cal-day 13
                  .cal-week 월
                li.cal-item
                  .cal-day 14
                  .cal-week 화
                li.cal-item
                  .cal-day 15
                  .cal-week 수
                  a.cal-link(data-toggle='modal', href='#calDet')
                    .cal-region.is-event-1
                      .cal-hmax
                        em 부산 :
                        | 10:30、13:30、15:30、17:30
                    .cal-region.is-event-1
                      .cal-hmax
                        em 인천 :
                        | 13:30、15:30、17:30
                    .cal-more »
                li.cal-item
                  .cal-day 16
                  .cal-week 목
                li.cal-item
                  .cal-day 17
                  .cal-week 금
                li.cal-item.is-sun
                  .cal-day 18
                  .cal-week 토
                // new week
                li.cal-item.is-sat
                  .cal-day 19
                  .cal-week 일
                li.cal-item
                  .cal-day 20
                  .cal-week 월
                li.cal-item
                  .cal-day 21
                  .cal-week 화
                li.cal-item
                  .cal-day 22
                  .cal-week 수
                li.cal-item
                  .cal-day 23
                  .cal-week 목
                li.cal-item
                  .cal-day 24
                  .cal-week 금
                li.cal-item.is-sun
                  .cal-day 25
                  .cal-week 토
                // new week
                li.cal-item.is-sat
                  .cal-day 26
                  .cal-week 일
                li.cal-item
                  .cal-day 27
                  .cal-week 월
                li.cal-item
                  .cal-day 28
                  .cal-week 화
                li.cal-item
                  .cal-day 29
                  .cal-week 수
                li.cal-item
                  .cal-day 30
                  .cal-week 목
                li.cal-item
                  .cal-day 31
                  .cal-week 금
                li.cal-item.is-sun.is-other
                  .cal-day 01
                  .cal-week 토
      |<?php include "html_model/_event_kr/lightbox-apply.html";?>
      include partials/public_footer_kr.pug
      // JS FOR THIS PAGE ONLY
      script(src='js/fullScreen.js')
      script.
        $('.select-drop').selectbox();
        $(function(){
        // $(".cal-link").first().click();
        });
