extend temp/temp-ko.pug
block var
	-var country = 'ko'
	-var floor1 = 'index'
	-var floor2 = 'My Community'
	-var floor3 = '온라인샵'

block head-self
	// CSS FRO THIS PAGE ONLY
	link(href='css/download_kr.css', rel='stylesheet')

block container
	.container.container-main.container-col-2
		.row
			.col-xs-12.col-xs-12.col-md-3.aside-lb
				.panel-heading.bg-color-4.border-color-4
					h3.panel-title WFC Community
					.aside-lb-close x
				|<?php include "html_model/_comm_kr/comm-aside.html";?>
				script.
					// 此 js 為演示用，請參考
					$(".art-list-f2").find(".art-list-f2-item").eq(3).find(".art-list-f2-link").addClass("now");
			.col-xs-12.col-xs-12.col-md-9
				.layout-main-card
					|<?php include "html_model/uikit/aside-lb-open.html";?>
					.sectionTitle.text-center.color-4.mt-0
						h2
							// h2 only
							span.shape.shape-left
							span
								| 온라인샵
							span.shape.shape-right
					ul.dlbox
						li.dlitem
							a.dllink(href='https://drive.google.com/file/d/1gz--YtQrDXggI0g2pszTtmKi4hIEsVE0/view', target='_blank')
								| 產品損壞更換 
								img(src='img/download/pdf.png')
						li.dlitem
							a.dllink(href="kidsWorld.php")
								| 兒童世界專刊下載 
								img(src='img/download/pdf.png')
						li.dlitem
							a.dllink(href='https://drive.google.com/file/d/1oiexjRu8VCAQoZTTzfTc7oKyUF9rJ9Gq/view', target='_blank')
								| 2017電話美語課本 
								img(src='img/download/pdf.png')
						li.dlitem
							a.dllink(href='https://www.worldfamilyclub.com.tw/WFM/QuickStart_201302.pdf', target='_blank')
								| 產品使用~上手指南 
								img(src='img/download/pdf.png')

block js
	// JS FOR THIS PAGE ONLY
	script(src='js/tmpAsideLb.js')
