extend temp/temp-ko.pug
block var
	-var country = 'ko'
	-var floor1 = 'index'
	-var floor2 = 'My Community'
	-var floor3 = 'DWE 뽀개기'

block head-self
	// CSS FRO THIS PAGE ONLY
	link(href='assets/plugins/slick/slick.css', rel='stylesheet')
	link(href='assets/plugins/slick/slick-theme.css', rel='stylesheet')
	link(href='css/shop_kr.css', rel='stylesheet')

block container
	.container.container-main.container-col-2
		.row
			.col-xs-12.col-xs-12.col-md-3.aside-lb
				.panel-heading.bg-color-4.border-color-4
					h3.panel-title WFC Community
					.aside-lb-close x
				|<?php include "html_model/_comm_kr/comm-aside.html";?>
			.col-xs-12.col-xs-12.col-md-9
				.layout-main
					|<?php include "html_model/uikit/aside-lb-open.html";?>
					.sectionTitle.text-center.color-4.mt-0
						h2
							// h2 only
							span.shape.shape-left
							span
								| DWE 뽀개기
							span.shape.shape-right
					h3.layout-title-level-3.icon4 구입 방법：
					ol.mt-2.ml-5
						li 원하시는 상품을 옆에 있는 네모 박스를 클릭합니다.
						li order now 버튼을 클릭하면 결제창으로 이동합니다.
						li 물품과 금액을 확인하시고, 결제를 합니다.
				.layout-main
					h3.layout-title-level-3.icon5.mt-0.mb-2 상품의 세부사항은 상품을 클릭하시면 확인 가능합니다 :
					ul.shop.layout-sharewidth.item-234
						|<?php include "html_model/_comm_kr/shop-item.html";?>
						|<?php include "html_model/_comm_kr/shop-item.html";?>
						|<?php include "html_model/_comm_kr/shop-item.html";?>
						|<?php include "html_model/_comm_kr/shop-item.html";?>
						|<?php include "html_model/_comm_kr/shop-item.html";?>
				button.btn.layout-btn.btn-block.layout-btn-lg.color-4(type='button')
					| 지금 주문하세요
				hr
				hr
				hr
				hr
				hr
				hr
				hr
				hr
				hr
				hr
				.layout-main-card
					|<?php include "html_model/uikit/aside-lb-open.html";?>
					.sectionTitle.text-center.color-4.mt-0
						h2
							// h2 only
							span.shape.shape-left
							span
								| DWE 뽀개기
							span.shape.shape-right
					ul.layout-card
						|<?php include "html_model/_mywfc_kr/sd-card-item.html";?>
					.shop-total
						| 합계 : ₩ 50,800
	|<?php include "html_model/_comm_kr/shop-lightbox.html";?>

block js
	// JS FOR THIS PAGE ONLY
	script(src='js/tmpAsideLb.js')
	script(src='js/cloudzoom.js', type='text/javascript')
	script.
		$(function(){
		$(".art-list-f2-item").eq(4).find(".art-list-f2-link").addClass("now");
		// ^ 此 js 為演示用，請參考 ^
		$(".shop-pic").click(function(){
		$("#dweShop").removeAttr("style");
		}).css({"height": $(".shop-pic").width() * 1 });
		$(".shop .uikit-checkbox-input").click(function(){
		var $parent = $(this).parent().parent();
		if( $(this).is(":checked") ){
		$parent.addClass("is-selected");
		}else{
		$parent.removeClass("is-selected");
		}
		});
		});
