extend temp/temp-ko.pug
block var
	-var country = 'ko'
	-var floor1 = 'index'
	-var floor2 = 'My WFC'
	-var floor3 = 'My Page'
	-var floor4 = 'My Profile'

block head-self
	// CSS FRO THIS PAGE ONLY
	link(href='css/myProfile_kr.css', rel='stylesheet')

block container
	.container.container-main.container-col-2
		.row
			.col-xs-12.col-xs-12.col-md-3.sticky-top.aside-lb
				.panel-heading.bg-color-5.border-color-5
					h3.panel-title My Page
					.aside-lb-close x
				|<?php include "html_model/_mywfc_kr/mypage-aside.html";?>
				script.
					// 此 js 為 demo 用，請刪除
					$(".art-list-f2").find(".art-list-f2-item").eq(0).find(".art-list-f2-link").addClass("now");
			.col-xs-12.col-xs-12.col-md-9.scroll-main
				.layout-main
					|<?php include "html_model/uikit/aside-lb-open.html";?>
					.sectionTitle.text-center.color-5.mt-0
						h2
							// h2 only
							span.shape.shape-left
							span My Profile
							span.shape.shape-right
					//
						==================================
						MEMBER
						==================================
					h3.layout-title-level-3.icon1.mt-0 회원정보：
					.retable(data-width='104')
						.retable-item-double
							.retable-row
								.retable-title 아이디이름
								.retable-content 이광수
							.retable-row
								.retable-title 성별
								.retable-content Female
						.retable-item-double
							.retable-row
								.retable-title 연락처
								.retable-content 02-6713-2358
							.retable-row
								.retable-title 핸드폰
								.retable-content 010-2490-6301
						.retable-item
							.retable-row
								.retable-title 주소
								.retable-content
									| 서울특별시 강남구 역삼로25길 35 2층 (역삼동, 케이큐브타워)
						.retable-item
							.retable-row
								.retable-title 이메일이메일
								.retable-content
									.myprofile-email-current wfc_skrrrrr@naver.com
									button.btn.layout-btn.color-5.is-mail(type='button') 이메일주소변경
									// ^^ 當點下確認修改 , 置換成下方 div.myprofile-pw 輸入框組
									.myprofile-email(style='display: none;')
										input.is-mail(type='email', placeholder='enter your email')
										|  @ 
										input.is-mail(type='email', placeholder='ex: gmail')
										select
											option 선택
											option naver.com
										button.btn.layout-btn.color-5(type='button') 수정확인
									script.
										//!! 演示用請刪除
										$(function(){
										function aa(){
										var $btn_in = $("button.is-mail"),
										$box = $(".myprofile-email"),
										$btn_out = $box.find("button");
										$btn_in.click(function(){
										$(this).hide();
										$box.show();
										});
										$btn_out.click(function(){
										$box.hide();
										$btn_in.show();
										});
										}
										aa();
										});
						.retable-item
							.retable-row
								.retable-title 비밀번호
								.retable-content
									button.btn.layout-btn.color-5.is-pw(type='button') 비밀번호변경
									// ^^ 當點下確認修改 , 置換成下方 div.myprofile-pw 輸入框組
									.myprofile-pw(style='display: none;')
										input.is-pw(type='password', placeholder='current password')
										input.is-pw(type='password', placeholder='new password')
										input.is-pw(type='password', placeholder='recheck new password')
										button.btn.layout-btn.color-5(type='button') 수정확인
									script.
										//!! 演示用請刪除
										$(function(){
										function bb(){
										var $btn_in = $("button.is-pw"),
										$box = $(".myprofile-pw"),
										$btn_out = $box.find("button");
										$btn_in.click(function(){
										$(this).hide();
										$box.show();
										});
										$btn_out.click(function(){
										$box.hide();
										$btn_in.show();
										});
										}
										bb();
										});
					//
						==================================
						CHILD
						==================================
					h3.layout-title-level-3.icon3 자녀정보：
					.retable
						.retable-item
							.retable-row
								.retable-title 자녀 1
								.retable-content
									| 박소윤 (생년월일 2008/01/01)
						.retable-item
							.retable-row
								.retable-title 자녀 2
								.retable-content
									| 박녀인 (생년월일 2010/05/02)
					//
						==================================
						EMAIL ORDER
						==================================
					h3.layout-title-level-3.icon4 뉴스레터구독상태：
					.retable
						.retable-item
							.retable-row
								.retable-title 메일 수신여부
								.retable-content
									input#mailing_yes(name='mailing', type='radio', checked='')
									label(for='mailing_yes') 수신 
									.br
									input#mailing_no(name='mailing', type='radio')
									label(for='mailing_no') 수신하지 않음
					//
						==================================
						GIFT
						==================================
					h3.layout-title-level-3.icon2 상품거래기록：
					.retable
						.retable-item
							.retable-row
								.retable-title 구매상품
								.retable-content
									ul.myprofile-ul
										li.myprofile-li item 1 (독서일 2018/03/25)
										li.myprofile-li item 2 (독서일 2018/11/12)
					//
						==================================
						COUPON
						==================================
					//
						상태 : 가능
						01 주말클럽이벤트참석회쿠폰 x 6 장 / 무료이벤트참석 / 1부모 2자녀
						발행일자 : 2017.12.19
						사용가능기간 : 2018.03.28 ~ 2018.12.31
						=================================================
						狀態 : 可用
						01 憂患券名稱 x 6 張 / 獲得方式 / 可使用人次
						券註冊日期 :
						券有效期限 :
					h3.layout-title-level-3.is-coupon Event Coupon detail：
					ul.layout-card
						|<?php include "html_model/_mywfc_kr/ec-card-item.html";?>
					.pagerArea.text-center.color-5
						|<?php include "html_model/uikit/pager-item.html";?>

block js
	// JS FOR THIS PAGE ONLY
	script(src='js/retableTitle.js')
	script(src='js/tmpAsideLb.js')
	script(src='js/statePaddingShare.js')
