doctype html
//
	KOREA
	1. css/layout_kr.css ( in head.html )
	2. html_model/header-2-kr.html
	3. html_model/tabmenu-kr.html
	4. html_model/footer-kr.html
	//
	TW (x back-prefix -tw x)
	1. css/layout.css ( in head.html )
	2. html_model/header-2.html
	3. html_model/tabmenu.html
	4. html_model/footer.html
html(lang='ko')
	head
		|<?php include "html_model/head.html";?>
		// CSS FOR THIS PAGE ONLY
		link(type='text/css', href='css/parentsGuide_kr.css', rel='stylesheet')
	body.body-wrapper
		// loaded
		.main-wrapper
			//
				====================================
				——— HEADER
				=====================================
			header#pageTop.header-wrapper
				|<?php include "html_model/header/header-1.html";?>
				// NAVBAR
				nav#menuBar.navbar.navbar-default.lightHeader(role='navigation')
					.container
						|<?php include "html_model/header/header-2-kr.html";?>
					//
						====================================
						——— BREAD CRUMB
						=====================================
					.layout-breadcrumb-box
						.container
							nav(aria-label='breadcrumb')
								ol.breadcrumb.text-truncate
									li.breadcrumb-item
										a(href='#') index
									li.breadcrumb-item
										a(href='') WFC EVENT
									li.breadcrumb-item
										a(href='') Froggy&Bunny Show
									li.breadcrumb-item
										| parents guide
			// main only
			.container.container-main.container-col-1
				.row
					.layout-col-12
						.layout-main
							// LEVEL 1
							.sectionTitle.text-center.color-1.mt-0
								h2
									// h2 only
									span.shape.shape-left
									span Froggy&Bunny Show
									span.shape.shape-right
							img.layout-main-vision-img(src='img/event/1.jpg')
							h3.layout-title-level-3.icon1 참가비용
							.layout-content
								| 방과후, 비키네 집에 모인 프로기, 버니가 무언가를 하고 있네요? 아~ 숫자 놀이를 즐기고 있군요. 비키, 조사야, 프로기 그리고 버니와 숫자를 세며 즐겁게 놀아 봐요. 오리, 개구리, 새, 구름, 벌, 징글 블록 그리고 더 많은 것들을 세어 볼 수 있어요!
							.hight-light
								.height-light-box
									span.first “
									| 								이번 쇼의
									b 미리 듣고 오세요!
									span.second ”
							.act-layout.mt-5
								.act-layout-left
									h3.layout-title-level-3.icon3.mt-0 Songs List
									table.table.act-table-course
										tbody
											tr
												td Baby's in the Bathtub
												td Play Along 1 #05
											tr
												td Wiggly Worm 
												td Play Along 2 #02
											tr
												td I Like to Take a Bath
												td Play Along 2 #05
											tr
												td Spread Your Arms 
												td Play Along 2 #10 
											tr
												td Scrub, Scrub, Scrub 
												td Sing Along 2 #27
								.act-layout-right
									h3.layout-title-level-3.icon4 Word List
									table.table.act-table-sound
										tbody
											tr
												td #13 Chair
												td #23 Duck
											tr
												td #24 Dog
												td #27 Table
											tr
												td #38 Green / Yellow
												td #39 Yes / No
											tr
												td #13 Chair
												td #23 Duck
											tr
												td #24 Dog
												td #27 Table
											tr
												td #38 Green / Yellow
												td #39 Yes / No
						button.btn.layout-btn.btn-block.layout-btn-lg.color-1(type='button')
							| Event apply
			|<?php include "html_model/_event_kr/lightbox-apply.html";?>
			include partials/public_footer_kr.pug
			// JS FOR THIS PAGE ONLY
			script(src='js/fullScreen.js')
