extend temp/temp-ko.pug
block var
	-var country = 'ko'
	-var floor1 = 'index'
	-var floor2 = 'Fun With English'
	-var floor3 = 'WFC Library'

block head-self
	// CSS FRO THIS PAGE ONLY
	link(type='text/css', href='assets/plugins/selectbox/select_option1.css', rel='stylesheet')
	link(type='text/css', href='css/wfcLibrary_kr.css', rel='stylesheet')

block container
	.container.container-main.container-col-2
		.row
			.col-xs-12.col-sm-12.col-md-3.sticky-top.aside-lb
				.panel-heading.bg-color-2.border-color-2.aside-close
					h3.panel-title Fun With English
					.aside-lb-close x
				|<?php include "html_model/_fwe_kr/fwe-aside.html";?>
			.col-xs-12.col-sm-12.col-md-9.scroll-main
				.layout-main
					|<?php include "html_model/uikit/aside-lb-open.html";?>
					.sectionTitle.text-center.color-2.mt-0
						h2
							span.shape.shape-left
							span WFC Library
							span.shape.shape-right
					img(src='img/fwe/library.jpg')
					h3.layout-title-level-3.icon1.mt-0 WFC Library 란 ?
					.layout-content.mb-4
						| WF Club Library 들어「World Family Club」미국과「Highlights 출판사」협력적인 서비스。Highlights 출판사 1946 년에 설립 된이 회사는 미국의 전문 아동 도서 출판사로 교육자들로부터 높은 평가를 받고 있으며 부모와 자녀의 사랑으로 깊이 신뢰 받고 있으며 70 세 이상되었습니다。「Highlights 출판사」미국에서 가장 친숙한 어린이 게시자입니다。WF Club Library 에서，「World Family Club」수석 외국어 학자에 의해 수집「Highlights 출판사」언제든지 볼 수있는 eBook을 선택할 수 있습니다。
						ul.is-blue
							li 가입 기간이이 서비스 이용 표준에 미치지 못하면 별도로 지불하고이 서비스를 미리 사용할 수도 있습니다. 자세한 내용은 온라인 고객 서비스에 메시지를 남기거나 고객 서비스 센터에 문의하십시오. 가능한 한 빨리 답변 해 드리겠습니다.
							li 재 입력 회원, 과거의 독서 기록은 유지되지 않습니다.
					hr
					hr
					hr
					hr
					hr
					h3 v 年資己達標顯示此 v
					h3.layout-title-level-3.icon2.mt-0 독점적 인 컬렉션 데이터베이스：
					.hight-light
						.height-light-box
							span.first “
							|각 어린이는 전용 수집 데이터베이스를 가지고 있습니다。 자녀의 이름을 먼저 선택하고 WF Club Library 를 입력하십시오。				
							span.second ”
					.layout-content
						ol
							li
								| 특정 회원 기간 동안 또는 그 이상으로 클럽에 가입 한 사람들은 기본적인 미국 언어를 가진 어린이들에게 연장 학습 서비스를 제공하십시오。이 서비스는 연간 어린이 날과 크리스마스 선물을 대신합니다。 도서관의 모든 책은 두 번째 외국어를 배우는 어린이의 요구에 따라 우주 가족에 의해 다시 기록되며 독서를보다 재미있게 만들기 위해 다양한 속도 선택을 제공합니다。
							li 매월 첫 번째 금요일은 시스템 유지 보수 시간으로 4:00 ~ 7:30 이며 일시 중지됩니다。
					.wfcl-login
						.dropGeneral.roundTwo.layout-drop-sm
							select.select-drop
								option(value='0') 박소윤
								option(value='1') 박녀인
						button.btn.layout-btn.btn-block.color-2(type='button')
							| 로그인 WF Club Library
					.wfcl-clear
					h3.layout-title-level-3.icon4 기타 로그인 방법：
					.layout-content
						| 귀하의 장치에 대한 링크를 클릭하여 WF Club Library APP를 다운로드하십시오 :
						.wfcl-btn
							a.wfcl-link(href='')
								img(src='img/fwe/btn_android.png')
							a.wfcl-link(href='')
								img(src='img/fwe/btn_ios.png')
					hr
					hr
					hr
					hr
					hr
					h3 v 年資未達標顯示此 v
					.hight-light
						.height-light-box
							span.first “
							|다양한 주제의 도서가 풍부한 클라우드가 풍부한 도서관. 아이들이 미국 언어 학습의 길에서 최고의 학습 도구를 갖출 수 있도록 채점 및 지식을 읽습니다.		
							span.second ”

block js
	// JS FOR THIS PAGE ONLY
	script(src='js/tmpAsideLb.js')
	script.
		$(function(){
		$(".art-list-f2-item").eq(1).find(".art-list-f2-link").addClass("now");
		// ^ 此 jq 為演示用，請參考 ^
		// drop down
		$(".select-drop").selectbox();
		});
