doctype html
//
	KOREA
	1. css/layout_kr.css ( in head.html )
	2. html_model/header-2-kr.html
	3. html_model/tabmenu-kr.html
	4. html_model/footer-kr.html
	//
	TW (x back-prefix -tw x)
	1. css/layout.css ( in head.html )
	2. html_model/header-2.html
	3. html_model/tabmenu.html
	4. html_model/footer.html
html(lang='ko')
	head
		|<?php include "html_model/head.html";?>
		// CSS FRO THIS PAGE ONLY
		link(type='text/css', href='css/teLand_kr.css', rel='stylesheet')
	body.body-wrapper
		// loaded
		.main-wrapper
			//
				====================================
				——— HEADER
				=====================================
			header#pageTop.header-wrapper
				|<?php include "html_model/header/header-1.html";?>
				// NAVBAR
				nav#menuBar.navbar.navbar-default.lightHeader(role='navigation')
					.container
						|<?php include "html_model/header/header-2-kr.html";?>
					//
						====================================
						——— BREAD CRUMB
						=====================================
					.layout-breadcrumb-box
						.container
							nav(aria-label='breadcrumb')
								ol.breadcrumb.text-truncate
									li.breadcrumb-item
										a(href='#') index
									li.breadcrumb-item
										| Fun With English
									li.breadcrumb-item
										| 전화영어
			.container.container-main.container-col-2
				.row
					.col-xs-12.col-sm-12.col-md-3.sticky-top.aside-lb
						.panel-heading.bg-color-2.border-color-2.aside-close
							h3.panel-title Fun With English
							.aside-lb-close x
						|<?php include "html_model/_fwe_kr/fwe-aside.html";?>
					.col-xs-12.col-sm-12.col-md-9
						.layout-main
							|<?php include "html_model/uikit/aside-lb-open.html";?>
							.sectionTitle.text-center.color-2.mt-0
								h2
									span.shape.shape-left
									span Telephone English 란?
									span.shape.shape-right
							.layout-content
								.hight-light
									.height-light-box
										span.first “
										| 										Telephone English는 DWE의 노래 및 책 등을 기반으로 WF클럽 원어민과 함께
										| 										주1회 레슨을 받는 무료 전화 서비스입니다.
										span.second ”
								ul.tree
									li.tree-item.is-left
										.tree-center
											img.tree-img(src='img/fwe/te1.jpg')
											.tree-intro
												.tree-cell 원어민과 함께 노래 부르기
									li.tree-item.is-right.is-control
										.tree-center
											img.tree-img(src='img/fwe/te2.jpg')
											.tree-intro
												.tree-cell 원어민과 함께 DWE 교재에 대해 이야기 하기
									li.tree-item.is-left.is-control
										.tree-center
											img.tree-img(src='img/fwe/te3.jpg')
											.tree-intro
												.tree-cell
													| 원어민과
													br
													| 												내가
													br
													| 												하고싶은 말 자유롭게 표현하기
								.hight-light
									.height-light-box.have-zippy
										span.first “
										b 우리 아이가 어려서 아직 통화가 어려운가요? 
										| 										전화를 걸지 않고, 언제 어디서든 원어민이 불러주는 노래를 들을 수 있는
										| 										화상 비디오 서비스 ‘Face Call’이 있습니다.  (*모든 회원이 이용할 수 있는 인기 많은 서비스입니다.)			
										span.second ”
										img(src='img/fwe/query.png')
						button.btn.layout-btn.btn-block.layout-btn-lg.color-2(type='button')
							| 온라인 등록 TE
			include partials/public_footer_kr.pug
			// JS FOR THIS PAGE ONLY
			script(src='js/tmpAsideLb.js')
			script.
				$(function(){
				$(".art-list-f2-item").eq(0).find(".art-list-f2-link").addClass("now");
				// ^ 此 jq 為演示用，請參考 ^
				});
