extend temp/temp-ko.pug
block var 
	-var country = 'ko'
	-var floor1 = 'index'
	-var floor2 = 'WFC EVENT'
	-var floor3 = '쇼 / 액티비티 / 카니발 / 캠프'

block head-self
	// CSS FOR THIS PAGE ONLY
	link(href='assets/plugins/slick/slick.css', rel='stylesheet')
	link(href='assets/plugins/slick/slick-theme.css', rel='stylesheet')
	link(type='text/css', href='css/event_kr.css', rel='stylesheet')

block container
	//
		============================
		---- SORT : SHOW
		==============================
	.container.container-main.container-col-1.is-show
		//
			is-show
			is-activity
			is-carnival
			is-camp
		.row
			.layout-col-12
				// SERISE 1
				.layout-main.layout-main-vision
					.sectionTitle.text-center.mt-5
						h2
							// h2 only
							span.shape.shape-left
							span 쇼
							span.shape.shape-right
					.slick
						.vbox
							.vbox-in
								.layout-video-fluid
									iframe(src='//player.vimeo.com/video/243244233', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
						div(style='background-image: url(img/event/1.jpg)')
						div(style='background-image: url(img/event/2.jpg)')
						div(style='background-image: url(img/event/3.jpg)')
				.layout-main
					.ititle.icon2
						//
							[ ^註^ ]
							換圖 class= icon1 ~ 7
						.ititle-w Froggy&Bunny Show
						.ititle-icon
					.layout-content
						| 방과후, 비키네 집에 모인 프로기, 버니가 무언가를 하고 있네요? 아~ 숫자 놀이를 즐기고 있군요. 비키, 조사야, 프로기 그리고 버니와 숫자를 세며 즐겁게 놀아 봐요. 오리, 개구리, 새, 구름, 벌, 징글 블록 그리고 더 많은 것들을 세어 볼 수 있어요!
					.eventbtn
						button.btn.layout-btn.layout-btn-sm(type='button')
							| Apply »
						button.btn.layout-btn.layout-btn-sm(type='button')
							| parents guide »
				// SERISE 2
				.layout-main.layout-main-vision
					.slick
						div(style='background-image: url(img/event/1.jpg)')
						div(style='background-image: url(img/event/2.jpg)')
						div(style='background-image: url(img/event/3.jpg)')
				.layout-main
					.ititle.icon3
						.ititle-w Family College Show
						.ititle-icon
					.layout-content
						| 린, 키미, 그레이스와 함께 떠난 즐거운 ‘Funny Bear Camp!’ 캠프에 도착하기 위해 숲 속을 지나, 주변 환경을 탐색하며 팀워크 능력을 발휘해야 했어요. 세 사람에겐 무슨 일이 일어났을까요?
					.eventbtn
						button.btn.layout-btn.layout-btn-sm(type='button')
							| Apply »
						button.btn.layout-btn.layout-btn-sm(type='button')
							| parents guide »
	hr
	hr
	hr
	hr
	hr
	hr
	hr
	hr
	hr
	hr
	//
		============================ 
		---- SORT : ACTIVITY
		==============================
	.container.container-main.container-col-1.is-activity
		.row
			.layout-col-12
				// SERISE 1
				.layout-main.layout-main-vision
					.sectionTitle.text-center.mt-5
						h2
							// h2 only
							span.shape.shape-left
							span 액티비티
							span.shape.shape-right
					.slick
						div(style='background-image: url(img/event/1.jpg)')
						div(style='background-image: url(img/event/2.jpg)')
						div(style='background-image: url(img/event/3.jpg)')
				.layout-main
					.ititle.icon4
						//
							[ ^註^ ]
							換圖 class= icon1 ~ 7
						.ititle-w Activity
						.ititle-icon
					.layout-content
						| 방과후, 비키네 집에 모인 프로기, 버니가 무언가를 하고 있네요? 아~ 숫자 놀이를 즐기고 있군요. 비키, 조사야, 프로기 그리고 버니와 숫자를 세며 즐겁게 놀아 봐요. 오리, 개구리, 새, 구름, 벌, 징글 블록 그리고 더 많은 것들을 세어 볼 수 있어요!
					.eventbtn
						button.btn.layout-btn.layout-btn-sm(type='button')
							| Apply »
						button.btn.layout-btn.layout-btn-sm(type='button')
							| parents guide »
				// SERISE 2
				.layout-main.layout-main-vision
					.slick
						div(style='background-image: url(img/event/1.jpg)')
						div(style='background-image: url(img/event/2.jpg)')
						div(style='background-image: url(img/event/3.jpg)')
						div
							.layout-video-fluid
								iframe(src='https://www.youtube.com/embed/DExxfTR_iGI', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
								// ^影片網址會再改過，改為 vimeo 平台影片 ^
				.layout-main
					.ititle.icon5
						.ititle-w Family College Show
						.ititle-icon
					.layout-content
						| 린, 키미, 그레이스와 함께 떠난 즐거운 ‘Funny Bear Camp!’ 캠프에 도착하기 위해 숲 속을 지나, 주변 환경을 탐색하며 팀워크 능력을 발휘해야 했어요. 세 사람에겐 무슨 일이 일어났을까요?
					.eventbtn
						button.btn.layout-btn.layout-btn-sm(type='button')
							| Apply »
						button.btn.layout-btn.layout-btn-sm(type='button')
							| parents guide »
	hr
	hr
	hr
	hr
	hr
	hr
	hr
	hr
	hr
	hr
	//
		============================
		---- SORT : CARNIVAL
		==============================
	.container.container-main.container-col-1.is-carnival
		.row
			.layout-col-12
				// SERISE 1
				.layout-main.layout-main-vision
					.sectionTitle.text-center.mt-5
						h2
							// h2 only
							span.shape.shape-left
							span 카니발
							span.shape.shape-right
					.slick
						div(style='background-image: url(img/event/1.jpg)')
						div(style='background-image: url(img/event/2.jpg)')
						div(style='background-image: url(img/event/3.jpg)')
				.layout-main
					.ititle.icon4
						.ititle-w English Carnival
						.ititle-icon
					.layout-content
						| 방과후, 비키네 집에 모인 프로기, 버니가 무언가를 하고 있네요? 아~ 숫자 놀이를 즐기고 있군요. 비키, 조사야, 프로기 그리고 버니와 숫자를 세며 즐겁게 놀아 봐요. 오리, 개구리, 새, 구름, 벌, 징글 블록 그리고 더 많은 것들을 세어 볼 수 있어요!
					.eventbtn
						button.btn.layout-btn.layout-btn-sm(type='button')
							| Apply »
						button.btn.layout-btn.layout-btn-sm(type='button')
							| parents guide »
				// HISTORY
				.layout-main-card
					.sectionTitle.text-center.mt-0
						h2
							// h2 only
							span.shape.shape-left
							span Carnival History
							span.shape.shape-right
					ul.layout-card
						|<?php include "html_model/_event_kr/event-event-card-item.html";?>
						|<?php include "html_model/_event_kr/event-event-card-item.html";?>
						|<?php include "html_model/_event_kr/event-event-card-item.html";?>
						|<?php include "html_model/_event_kr/event-event-card-item.html";?>
						|<?php include "html_model/_event_kr/event-event-card-item.html";?>
	hr
	hr
	hr
	hr
	hr
	hr
	hr
	hr
	hr
	hr
	//
		============================
		---- SORT : CAMP
		==============================
	.container.container-main.container-col-1.is-camp
		.row
			.layout-col-12
				// SERISE 1
				.layout-main.layout-main-vision
					.sectionTitle.text-center.mt-5
						h2
							// h2 only
							span.shape.shape-left
							span 캠프
							span.shape.shape-right
					.slick
						div(style='background-image: url(img/event/1.jpg)')
						div(style='background-image: url(img/event/2.jpg)')
						div(style='background-image: url(img/event/3.jpg)')
				.layout-main
					.ititle.icon4
						.ititle-w Camp
						.ititle-icon
					.layout-content
						| 방과후, 비키네 집에 모인 프로기, 버니가 무언가를 하고 있네요? 아~ 숫자 놀이를 즐기고 있군요. 비키, 조사야, 프로기 그리고 버니와 숫자를 세며 즐겁게 놀아 봐요. 오리, 개구리, 새, 구름, 벌, 징글 블록 그리고 더 많은 것들을 세어 볼 수 있어요!
					.eventbtn
						button.btn.layout-btn.layout-btn-sm(type='button')
							| Apply »
						button.btn.layout-btn.layout-btn-sm(type='button')
							| parents guide »

block js
	// JS FOR THIS PAGE ONLY
	script(src='assets/plugins/slick/slick.min.js', type='text/javascript')
	script.
		$(function(){
		$('.slick').slick({
		dots: true,
		autoplay: false,
		autoplaySpeed: 2000,
		arrows : true,
		zIndex : 500
		});
		});