extend temp/temp-ko.pug
block var
	-var country = 'ko'
	-var floor1 = 'index'
	-var floor2 = 'My WFC'
	-var floor3 = 'My Page'
	-var floor4 = 'other club service'

block head-self
	// CSS FRO THIS PAGE ONLY
	link(type='text/css', href='assets/plugins/selectbox/select_option1.css', rel='stylesheet')
	link(href='css/otherService_kr.css', rel='stylesheet')

block container
	.container.container-main.container-col-2
		.row
			.col-xs-12.col-xs-12.col-md-3.sticky-top.aside-lb
				.panel-heading.bg-color-5.border-color-5
					h3.panel-title My Page
					.aside-lb-close x
				|<?php include "html_model/_mywfc_kr/mypage-aside.html";?>
				script.
					// 此 js 為演示用，請參考
					$(".art-list-f2").find(".art-list-f2-item").eq(7).find(".art-list-f2-link").addClass("now");
			.col-xs-12.col-xs-12.col-md-9.scroll-main
				.layout-main-card
					|<?php include "html_model/uikit/aside-lb-open.html";?>
					.sectionTitle.text-center.color-5.mt-0
						h2
							// h2 only
							span.shape.shape-left
							span
								| other club service
							span.shape.shape-right
					.os-select
						// pc
						.uikit-radio.is-sta
							input.uikit-radio-input(name='type', type='radio', checked='')
							label.uikit-radio-label Birthday Card
						.uikit-radio.is-mid
							input.uikit-radio-input(name='type', type='radio')
							label.uikit-radio-label Advice Card
						.uikit-radio.is-mid
							input.uikit-radio-input(name='type', type='radio')
							label.uikit-radio-label Magazine
						.uikit-radio.is-end
							input.uikit-radio-input(name='type', type='radio')
							label.uikit-radio-label Children's day present
						// mobi
						.dropGeneral.roundTwo.layout-drop-sm.is-type
							select.select-drop
								option(value='') Birthday Card
								option(value='') Advice Card
								option(value='') Magazine
								option(value='') Children's day present
						// child
						.dropGeneral.roundTwo.layout-drop-sm.is-type.child-name
							select.select-drop
								option(value='') child 1
								option(value='') child 2
					ul.layout-card
						|<?php include "html_model/_mywfc_kr/os-card-item.html";?>
						|<?php include "html_model/_mywfc_kr/os-card-item.html";?>
					.pagerArea.text-center.color-5
						|<?php include "html_model/uikit/pager-item.html";?>

block js
	// JS FOR THIS PAGE ONLY
	script(src='js/tmpAsideLb.js')
	script.
		$('.select-drop').selectbox();
