extend temp/temp-ko.pug
block var
	-var country = 'ko'
	-var floor1 = 'index'
	-var floor2 = 'My WFC'
	-var floor3 = 'My Page'
	-var floor4 = 'Shop application details'

block head-self
	// CSS FRO THIS PAGE ONLY
	link(type='text/css', href='assets/plugins/selectbox/select_option1.css', rel='stylesheet')
	link(href='css/shopDetails_kr.css', rel='stylesheet')

block container
	.container.container-main.container-col-2
		.row
			.col-xs-12.col-xs-12.col-md-3.sticky-top.aside-lb
				.panel-heading.bg-color-5.border-color-5
					h3.panel-title My Page
					.aside-lb-close x
				|<?php include "html_model/_mywfc_kr/mypage-aside.html";?>
				script.
					// 此 js 為 demo 用，請刪除
					$(".art-list-f2").find(".art-list-f2-item").eq(4).find(".art-list-f2-link").addClass("now");
			.col-xs-12.col-xs-12.col-md-9.scroll-main
				.layout-main-card
					|<?php include "html_model/uikit/aside-lb-open.html";?>
					.sectionTitle.text-center.color-5.mt-0
						h2
							// h2 only
							span.shape.shape-left
							span
								| Shop application details
							span.shape.shape-right
					.sd-dropbox
						.dropGeneral.roundTwo.layout-drop-sm
							select.select-drop
								option(value='0') in one month
								option(value='1') in two month
								option(value='2') in three month
								option(value='3') in six month
								option(value='4') after six month
					ul.layout-card
						|<?php include "html_model/_mywfc_kr/sd-card-item.html";?>
						|<?php include "html_model/_mywfc_kr/sd-card-item.html";?>
					.pagerArea.text-center.color-5
						|<?php include "html_model/uikit/pager-item.html";?>

block js
	// JS FOR THIS PAGE ONLY
	script(src='js/tmpAsideLb.js')
	script.
		$('.select-drop').selectbox();
