doctype html
html(lang='ko')
	head
		|<?php include "html_model/head.html";?>
		// CSS FRO THIS PAGE ONLY
		link(href='assets/plugins/slick/slick.css', rel='stylesheet')
		link(href='assets/plugins/slick/slick-theme.css', rel='stylesheet')
		link(href='css/zippyFriends_kr.css', rel='stylesheet')
	body.body-wrapper
		// loaded
		.main-wrapper
			//
				====================================
				——— HEADER
				=====================================
			header#pageTop.header-wrapper
				|<?php include "html_model/header/header-1.html";?>
				// NAVBAR
				nav#menuBar.navbar.navbar-default.lightHeader(role='navigation')
					.container
						|<?php include "html_model/header/header-2-kr.html";?>
					//
						====================================
						——— BREAD CRUMB
						=====================================
					.layout-breadcrumb-box
						.container
							nav(aria-label='breadcrumb')
								ol.breadcrumb.text-truncate
									li.breadcrumb-item
										a(href='#') index
									li.breadcrumb-item
										| My Community
									li.breadcrumb-item
										| WFC 프랜즈
									li.breadcrumb-itme
										| Zippy Friends
			.container.container-main.container-col-2
				.row
					.col-xs-12.col-xs-12.col-md-3.aside-lb
						.panel-heading.bg-color-4.border-color-4
							h3.panel-title WFC Community
							.aside-lb-close x
						|<?php include "html_model/_comm_kr/comm-aside.html";?>
					.col-xs-12.col-xs-12.col-md-9
						.layout-main
							|<?php include "html_model/uikit/aside-lb-open.html";?>
							.sectionTitle.text-center.color-4.mt-0
								h2
									// h2 only
									span.shape.shape-left
									span
										| Zippy Friends
									span.shape.shape-right
							.friends-view(style='background-image: url(img/zippyfriends/all.jpg);')
							h3.layout-title-level-3.icon4 캐릭터 필름：
							.layout-video-fluid
								iframe(src='https://www.youtube.com/embed/-CO6hOKn8Yg', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
							h3.layout-title-level-3.icon5 역할 소개：
							.layout-content
								.friend-name Zippy家族
								.friend-local
									| 寰宇家庭有很多獨特、可愛，而且具吸引力的卡通人物。
									br
									| 								他們不但深受小朋友的喜愛，也在學習過程裡扮演重要角色。
									br
									| 								這些卡通人物的出現，可以加強孩子的想像力，加深他們的美語學習興趣，更可以使他們可以簡單輕鬆地學習重要的文法。
								.friend-eng
									| There are a lot of unique, cute and attractive characters from World Family.
									br
									| 								(World Family has a lot of unique, cute and attractive characters.)
									br
									| 								These characters are not only deeply loved by children but also play an important role in their learning process.
									br
									| 								These characters help reinforce children’s imagination and deepen their interests in English learning. Most importantly, they help children acquire grammar rules easily.
							h3.layout-title-level-3.icon2.mb-3 캐릭터 사진：
							.slick.slick-darkarrow
								div(style='background-image: url(img/zippyfriends/1.jpg)')
								div(style='background-image: url(img/zippyfriends/2.jpg)')
								div(style='background-image: url(img/zippyfriends/3.jpg)')
			include partials/public_footer_kr.pug
			// JS FOR THIS PAGE ONLY
			script(src='js/tmpAsideLb.js')
			script(src='assets/plugins/slick/slick.min.js', type='text/javascript')
			script.
				$(function(){
				// PLUGIN
				$('.slick').slick({
				dots: true,
				autoplay: false,
				autoplaySpeed: 1000,
				arrows : true
				});
				// IMG RATIO
				$(".friends-view").css({"height": $(".friends-view").width() * 0.707 });
				$(".slick").css({"height": $(".slick").width() * 0.7516 });
				$(".slick-track").css({"height": $(".slick").width() * 0.7516 });
				// v 此 js 為演示用，請參考 v
				var $target = $(".art-list-f2-item").eq(2);
				$target.find(".art-list-f3").addClass("is-open");
				$target.find(".art-list-f3-item").eq(0).find(".art-list-f3-link").addClass("now");
				});
