doctype html
//
	KOREA
	1. css/layout_kr.css ( in head.html )
	2. html_model/header-2-kr.html
	3. html_model/tabmenu-kr.html
	4. html_model/footer-kr.html
//
	TW (x back-prefix -tw x)
	1. css/layout.css ( in head.html )
	2. html_model/header-2.html
	3. html_model/tabmenu.html
	4. html_model/footer.html
html(lang='ko')
	head
		|<?php include "html_model/head.html";?>
		// CSS FRO THIS PAGE ONLY
		link(type='text/css', href='css/productGuide_kr.css', rel='stylesheet')
	body.body-wrapper
		// loaded
		.main-wrapper
			//
				====================================
				——— HEADER
				=====================================
			header#pageTop.header-wrapper
				|<?php include "html_model/header/header-1.html";?>
				// NAVBAR
				nav#menuBar.navbar.navbar-default.lightHeader(role='navigation')
					.container
						|<?php include "html_model/header/header-2-kr.html";?>
					//
						====================================
						——— BREAD CRUMB
						=====================================
					.layout-breadcrumb-box
						.container
							nav(aria-label='breadcrumb')
								ol.breadcrumb.text-truncate
									li.breadcrumb-item
										a(href='#') index
									li.breadcrumb-item
										| Parents Support
									li.breadcrumb-item
										| Product Guide
			.container.container-main.container-col-2
				.row
					.col-xs-12.col-sm-12.col-md-3.sticky-top.aside-lb
						.panel-heading.bg-color-3.border-color-3.aside-close
							h3.panel-title Parents Support
							.aside-lb-close x
						|<?php include "html_model/_parents_kr/parents-aside.html";?>
					.col-xs-12.col-sm-12.col-md-9
						.layout-main
							|<?php include "html_model/uikit/aside-lb-open.html";?>
							.sectionTitle.text-center.color-3.mt-0
								h2
									span.shape.shape-left
									span Products Guide
									span.shape.shape-right
							.retabcard
								.retabcard-row.retabcard-row-title.is-stage-white
									.retabcard-cell
										.is-padding 연령기준
									.retabcard-cell
										|<?php include "html_model/_parents_kr/parents-age01.html";?>
									.retabcard-cell
										|<?php include "html_model/_parents_kr/parents-age234.html";?>
									.retabcard-cell
										|<?php include "html_model/_parents_kr/parents-age5678.html";?>
									.retabcard-cell
										|<?php include "html_model/_parents_kr/parents-age910.html";?>
								// starting 1
								.retabcard-row.is-stage-white
									.retabcard-cell.is-stage-starting.is-pc-starting
										.retabcard-cell-index
										.retabcard-content
											.is-padding 교재활용의 Stage
									.retabcard-cell
										|<?php include "html_model/_parents_kr/parents-mobi-stage0.html";?>
										.retabcard-content
											.stage.stage-0 Stage 0
											.is-padding
												| 단어의 기초를 다지는 시기
									.retabcard-cell
										|<?php include "html_model/_parents_kr/parents-mobi-stage1.html";?>
										.retabcard-content
											.stage.stage-1 Stage 1
											.is-padding
												| DWE 레슨을 시작하기 위한 준비시기
									.retabcard-cell
										|<?php include "html_model/_parents_kr/parents-mobi-stage2.html";?>
										.retabcard-content
											.stage.stage-2 Stage 2
											.is-padding
												| DWE 레슨을 순서대로 진행하는 시기
									.retabcard-cell
										|<?php include "html_model/_parents_kr/parents-mobi-stage3.html";?>
										.retabcard-content
											.stage.stage-3 Stage 3
											.is-padding
												| 졸업을 준비하고 DWE를 졸업하는 시기
								// starting 2
								.retabcard-row.pgstart.is-stage-white
									.retabcard-cell.is-stage-starting.is-pc-starting
										.retabcard-cell-index
										.retabcard-content
											.is-padding 기본적인 교재활용 방법과 목적
									.retabcard-cell.pgrow
										|<?php include "html_model/_parents_kr/parents-mobi-stage0.html";?>
										.retabcard-content
											.pgcell-6
												| Play Along!을 중심으로 놀이 속에서 영어를 경험한다.
											.pgcell-712
												| '소리' 와 '의미' 를 연결하여 단어로 이해하도록 기초를 다진다
									.retabcard-cell.pgrow
										|<?php include "html_model/_parents_kr/parents-mobi-stage1.html";?>
										.retabcard-content
											.pgcell-6
												| Straight Play DVDs를 중심으로 DWE의 이야기와 노래를 익한다
											.pgcell-712
												| 어휘를 늘리고 단어에 대한 이해력을 높인다
									.retabcard-cell.pgrow
										|<?php include "html_model/_parents_kr/parents-mobi-stage2.html";?>
										.retabcard-content
											.pgcell-6
												| Step by Step으로 DWE 레슨을 순서대로 진행한다
											.pgcell-712
												| 커뮤니케이션에 필요한 능력을 단계적으로 익힌다.
									.retabcard-cell.pgrow
										|<?php include "html_model/_parents_kr/parents-mobi-stage3.html";?>
										.retabcard-content
											.pgcell-6
												| DWE 11과 12의 이야기를 외워서 말할 수 있도록 한다
											.pgcell-712
												| 긴 내용의 이야기를 상대방에게 전달하는 능력을 키운다
								// blue light
								.retabcard-row.pgstreamer-row
									.retabcard-cell.is-stage-cap-6
										.retabcard-cell-index
										.retabcard-content
											.stage-box-title Play Along!
											.stage-box
												img.icon-book(src='img/parents/productsGuide/book_bl1.png')
												| 											0~만 3세 아이의 발달 단계에 맞는 '놀이'를 통해, 보는 것과 하는 것을 들려오는 소리와 연결하면서 단어를 이해합니다.
											a.book-more(href='#') 동영상 보기
									.retabcard-cell.pgrow.mobi-height-stage0
										|<?php include "html_model/_parents_kr/parents-mobi-stage0.html";?>
										.retabcard-content
											.pgstreamer.is-streamer1 중심교재
											.pgcell-4
												img.icon-con(src='img/parents/productsGuide/bl14.png')
												| 											PA!1~3
											.pgcell-58
												img.icon-con(src='img/parents/productsGuide/bl11.png')
												| 											PA!1을 중심으로
											.pgcell-912
												img.icon-con(src='img/parents/productsGuide/bl12.png')
												| 											PA!2를 중심으로
									.retabcard-cell.pgrow.mobi-height-stage1
										|<?php include "html_model/_parents_kr/parents-mobi-stage1.html";?>
										.retabcard-content
											.pgcell-4
												img.icon-con(src='img/parents/productsGuide/bl13.png')
												| 											PA!3을 중심으로
											.pgcell-512
												img.icon-con(src='img/parents/productsGuide/bl14.png')
												| 											PA!1~3
									.retabcard-cell.pgrow.is-stage-white
										|<?php include "html_model/_parents_kr/parents-mobi-stage2.html";?>
										.retabcard-content
									.retabcard-cell.pgrow.is-stage-white
										|<?php include "html_model/_parents_kr/parents-mobi-stage3.html";?>
										.retabcard-content
								// yellow
								.retabcard-row
									.retabcard-cell.is-stage-cap-5
										.retabcard-cell-index
										.retabcard-content
											.stage-box-title Sing Along!
											.stage-box
												img.icon-book(src='img/parents/productsGuide/book_y1.png')
												| 											DWE에 수록된 이야기 중 중요한 구문이나 어휘가 노래로 만들어져 있습니다. 노래를 외우게 되면 말하는 데 필요한 영어의 음이나 구절을 통재로 익힐 수 있습니다.
											a.book-more(href='#') 동영상 보기
									.retabcard-cell.pgrow
										|<?php include "html_model/_parents_kr/parents-mobi-stage0.html";?>
										.retabcard-content.jump-content
											.pgcell-8
												img.icon-con(src='img/parents/productsGuide/y11.png')
												| 											일생 생활 속 BGM 으로
											.pgcell-912
												img.icon-con(src='img/parents/productsGuide/y11.png')
												.pgcell-jump 아이가 좋아하는 노래를 중심으로
									.retabcard-cell.pgrow
										|<?php include "html_model/_parents_kr/parents-mobi-stage1.html";?>
										.retabcard-content
											.pgcell-4
											.pgcell-512
												img.icon-con(src='img/parents/productsGuide/y11.png')
												| 											Straight Play DVDs에 대응하는 노래를 중심으로
									.retabcard-cell.pgrow.is-stage-2
										|<?php include "html_model/_parents_kr/parents-mobi-stage2.html";?>
										.retabcard-content
											.pgcell-12
												img.icon-con(src='img/parents/productsGuide/y11.png')
												| 											DWE 레슨의 복습을 중심으로
									.retabcard-cell.pgrow.is-stage-3
										|<?php include "html_model/_parents_kr/parents-mobi-stage3.html";?>
										.retabcard-content
											.pgcell-12
												img.icon-con(src='img/parents/productsGuide/y12.png')
												| 											DWE11 과 12의 노래를 중심으로
								// green
								.retabcard-row
									.retabcard-cell.is-stage-cap-3
										.retabcard-cell-index
										.retabcard-content
											.stage-box-title Talkalong Card
											.stage-box
												img.icon-book(src='img/parents/productsGuide/book_g.png')
												| 											카드를 가지고 즐겁게 놀면서 DWE의 이야기에 나오는 단어나 문장의 사용법을 이해하고 짧은 질문에 대답하는 연습을 합니다.
											a.book-more(href='#') 동영상 보기
									.retabcard-cell.pgrow
										|<?php include "html_model/_parents_kr/parents-mobi-stage0.html";?>
										.retabcard-content
											.pgcell-4.pgcell-white
											.pgcell-512
												img.icon-con(src='img/parents/productsGuide/g1.png')
												| 											카드에 있는 그림을 보면서 소리를 듣는다
									.retabcard-cell.pgrow
										|<?php include "html_model/_parents_kr/parents-mobi-stage1.html";?>
										.retabcard-content
											.pgcell-4
												img.icon-con(src='img/parents/productsGuide/g2.png')
												| 											주제를 정한다
											.pgcell-512
												img.icon-con(src='img/parents/productsGuide/g3.png')
												| 											Straight Play DVDs에 대응하는 카드를 중심으로
									.retabcard-cell.pgrow
										|<?php include "html_model/_parents_kr/parents-mobi-stage2.html";?>
										.retabcard-content
											.pgcell-12
												img.icon-con(src='img/parents/productsGuide/g3.png')
												| 											DWE 레슨의 예습을 중심으로
									.retabcard-cell.pgrow
										|<?php include "html_model/_parents_kr/parents-mobi-stage3.html";?>
										.retabcard-content
											.pgcell-12
												img.icon-con(src='img/parents/productsGuide/g4.png')
												| 											DWE11 과 12의 이야기를 말하는 연습
								// blue light
								.retabcard-row.pgstreamer-row
									.retabcard-cell.is-stage-cap-7
										.retabcard-cell-index
										.retabcard-content
											.stage-box-title Straight Play DVDs
											.stage-box
												img.icon-book(src='img/parents/productsGuide/book_bl2.png')
												| 											영상을 통해 이야기를 즐기다 보면 호기심,감수성은 물론 단어에 대한 이해력도 깊어집니다.몸을 움직이며 단어의 의미를 이해하는 내용도 있습니다.
											a.book-more(href='#') 동영상 보기
									.retabcard-cell.pgrow
										|<?php include "html_model/_parents_kr/parents-mobi-stage0.html";?>
										.retabcard-content.jump-content
											.pgcell-8.pgcell-white
											.pgcell-912
												img.icon-con(src='img/parents/productsGuide/bl21.png')
												.pgcell-jump 아이가 좋아하는 이야기를 중심으로
									.retabcard-cell.pgrow
										|<?php include "html_model/_parents_kr/parents-mobi-stage1.html";?>
										.retabcard-content
											.pgstreamer.is-streamer2 중심교재
											.pgcell-4
											.pgcell-512
												img.icon-con(src='img/parents/productsGuide/bl21.png')
												| 											기간을 정하여 블루컬러부터 순서대로
									.retabcard-cell.pgrow
										|<?php include "html_model/_parents_kr/parents-mobi-stage2.html";?>
										.retabcard-content
											.pgcell-12
												img.icon-con(src='img/parents/productsGuide/bl21.png')
												| 											DWE 레슨의 예습을 중심으로
									.retabcard-cell.pgrow
										|<?php include "html_model/_parents_kr/parents-mobi-stage3.html";?>
										.retabcard-content
											.pgcell-12
												img.icon-con(src='img/parents/productsGuide/bl22.png')
												| 											DWE 11과 12를 중심으로
								// blue 1
								.retabcard-row.pgstreamer-row
									.retabcard-cell.is-stage-cap-2
										.retabcard-cell-index
										.retabcard-content
											.stage-box-title DVD Books & CDs
											.stage-box
												img.icon-book(src='img/parents/productsGuide/book_b1.png')
												| 											그림책과 CD로 이야기를 즐기다보면 더 주의 깊게 소리를 듣는 능력이 자라나고, 이해력도 깊어집니다.언어를 배울 때 가장 중요한 단어의 의미를 머릿속에 재현하는 능력을 기릅니다.
											a.book-more(href='#') 동영상 보기
									.retabcard-cell.pgrow
										|<?php include "html_model/_parents_kr/parents-mobi-stage0.html";?>
										.retabcard-content.jump-content
											.pgcell-8.pgcell-white
											.pgcell-912
												img.icon-con(src='img/parents/productsGuide/b11.png')
												.pgcell-jump 낭독을 통해 듣거나, DVD로 본 이야기를 복습
									.retabcard-cell.pgrow
										|<?php include "html_model/_parents_kr/parents-mobi-stage1.html";?>
										.retabcard-content
											.pgcell-4
											.pgcell-512
												img.icon-con(src='img/parents/productsGuide/b11.png')
												| 											Straight Play DVDs에 대응하는 그림책과 CD를 중심으로
									.retabcard-cell.pgrow
										|<?php include "html_model/_parents_kr/parents-mobi-stage2.html";?>
										.retabcard-content
											.pgcell-12
												.pgstreamer.is-streamer3 중심교재
												img.icon-con(src='img/parents/productsGuide/b11.png')
												| 											DWE 레슨의 예습 복습
									.retabcard-cell.pgrow
										|<?php include "html_model/_parents_kr/parents-mobi-stage3.html";?>
										.retabcard-content
											.pgcell-12
												.pgstreamer.is-streamer4 중심교재
												img.icon-con(src='img/parents/productsGuide/b12.png')
												| 											DWE11 과 12의 이야기를 말하는 연습
								// blue 2
								.retabcard-row.pgstreamer-row
									.retabcard-cell.is-stage-cap-2
										.retabcard-cell-index
										.retabcard-content
											.stage-box-title Step by Step
											.stage-box
												img.icon-book(src='img/parents/productsGuide/book_b2.png')
												| 											각 Step에 나오는 이야기와 연동 되는 Activity를 하면서 체계적으로 레슨을 실시합니다.영어로 커뮤니케이션을 하는 데 필요한 요소를 단계적으로 익힙니다.
											a.book-more(href='#') 동영상 보기
									.retabcard-cell.is-stage-white
										|<?php include "html_model/_parents_kr/parents-mobi-stage0.html";?>
										.retabcard-content
									.retabcard-cell.is-stage-white
										|<?php include "html_model/_parents_kr/parents-mobi-stage1.html";?>
										.retabcard-content
									.retabcard-cell.pgrow
										|<?php include "html_model/_parents_kr/parents-mobi-stage2.html";?>
										.retabcard-content
											.pgcell-12
												.pgstreamer.is-streamer3 중심교재
												img.icon-con(src='img/parents/productsGuide/bl21.png')
												| 											DWE 레슨을 블루 → 그린 → 라임 → 옐로의 순서로 진행한다
									.retabcard-cell.pgrow
										|<?php include "html_model/_parents_kr/parents-mobi-stage3.html";?>
										.retabcard-content
											.pgcell-12
												.pgstreamer.is-streamer4 중심교재
												img.icon-con(src='img/parents/productsGuide/b21.png')
												| 											DWE11 과 12의 레슨을 복습한다
								// spacer
								.retabcard-row.is-spacer
									.retabcard-cell
										.retabcard-cell-index
										.retabcard-content
									.retabcard-cell
										.retabcard-cell-title
										.retabcard-content
									.retabcard-cell
										.retabcard-cell-title
										.retabcard-content
									.retabcard-cell
										.retabcard-cell-title
										.retabcard-content
									.retabcard-cell
										.retabcard-cell-title
										.retabcard-content
								// yellow 1
								.retabcard-row
									.retabcard-cell.is-stage-cap-5
										.retabcard-cell-index
										.retabcard-content
											.stage-box-title Fun With Words
											.stage-box
												img.icon-book(src='img/parents/productsGuide/book_y2.png')
												| 											DWE에 나오는 단어를 체계적으로 베웁니다.펜으로 터치하여 소리를 듣거나 게임을 즐깁니다.
											a.book-more(href='#') 동영상 보기
									.retabcard-cell.is-stage-white
										|<?php include "html_model/_parents_kr/parents-mobi-stage0.html";?>
										.retabcard-content
									.retabcard-cell.pgrow
										|<?php include "html_model/_parents_kr/parents-mobi-stage1.html";?>
										.retabcard-content
											.pgcell-4.pgcell-white
											.pgcell-512
												img.icon-con(src='img/parents/productsGuide/y21.png')
												| 											Straight Play DVDs의 응용을 중심으로
									.retabcard-cell.pgrow
										|<?php include "html_model/_parents_kr/parents-mobi-stage2.html";?>
										.retabcard-content
											.pgcell-12
												img.icon-con(src='img/parents/productsGuide/y21.png')
												| 											DWE 레슨의 응용을 중심으로
									.retabcard-cell.is-stage-white
										|<?php include "html_model/_parents_kr/parents-mobi-stage3.html";?>
										.retabcard-content
								// yellow 2
								.retabcard-row
											.retabcard-cell.is-stage-cap-5
												.retabcard-cell-index
												.retabcard-content
													.stage-box-title Fun With Games
													.stage-box
														img.icon-book(src='img/parents/productsGuide/book_y3.png')
														| 											팬 터치로 게임을 즐기면서 DWE에 나오는 단어나 구문을 복습합니다.
													a.book-more(href='#') 동영상 보기
											.retabcard-cell.is-stage-white
												|<?php include "html_model/_parents_kr/parents-mobi-stage0.html";?>
												.retabcard-content
											.retabcard-cell.pgrow
												|<?php include "html_model/_parents_kr/parents-mobi-stage1.html";?>
												.retabcard-content
													.pgcell-4.pgcell-white
													.pgcell-512
														img.icon-con(src='img/parents/productsGuide/y21.png')
														| 											Straight Play DVDs의 응용을 중심으로
											.retabcard-cell.pgrow
												|<?php include "html_model/_parents_kr/parents-mobi-stage2.html";?>
												.retabcard-content
													.pgcell-12
														img.icon-con(src='img/parents/productsGuide/y21.png')
														| 											DWE 레슨의 응용을 중심으로
											.retabcard-cell.is-stage-white
												|<?php include "html_model/_parents_kr/parents-mobi-stage3.html";?>
												.retabcard-content
			include partials/public_footer_kr.pug
			// JS FOR THIS PAGE ONLY
			script(src='js/tmpAsideLb.js')
			script.
				$(function(){
				$(".art-list-f2-item").eq(1).find(".art-list-f2-link").addClass("now");
				// ^ 此 jq 為演示用，請參考 ^
				});
