doctype html
html(lang='ko')
	head
		|<?php include "html_model/head.html";?>
		// CSS FRO THIS PAGE ONLY
		link(href='css/eventDetails_kr.css', rel='stylesheet')
	body.body-wrapper
		// loaded
		.main-wrapper
			//
				====================================
				——— HEADER
				=====================================
			header#pageTop.header-wrapper
				|<?php include "html_model/header/header-1.html";?>
				// NAVBAR
				nav#menuBar.navbar.navbar-default.lightHeader(role='navigation')
					.container
						|<?php include "html_model/header/header-2-kr.html";?>
					//
						====================================
						——— BREAD CRUMB
						=====================================
					.layout-breadcrumb-box
						.container
							nav(aria-label='breadcrumb')
								ol.breadcrumb.text-truncate
									li.breadcrumb-item
										a(href='#') index
									li.breadcrumb-item
										a(href='') My WFC
									li.breadcrumb-item
										a(href='') My Page
									li.breadcrumb-item
										| Event application details
			.container.container-main.container-col-2
				.row
					.col-xs-12.col-xs-12.col-md-3.sticky-top.aside-lb
						.panel-heading.bg-color-5.border-color-5
							h3.panel-title My Page
							.aside-lb-close x
						|<?php include "html_model/_mywfc_kr/mypage-aside.html";?>
						script.
							// 此 js 為 demo 用，請刪除
							$(".art-list-f2").find(".art-list-f2-item").eq(1).find(".art-list-f2-link").addClass("now");
					.col-xs-12.col-xs-12.col-md-9
						.layout-main-card
							|<?php include "html_model/uikit/aside-lb-open.html";?>
							.sectionTitle.text-center.color-5.mt-0
								h2
									// h2 only
									span.shape.shape-left
									span
										| Event application details
									span.shape.shape-right
							.ed-radiobox
								.uikit-radio.is-1st
									input.uikit-radio-input(name='type', type='radio', checked='')
									label.uikit-radio-label Activity
								.uikit-radio.is-2nd
									input.uikit-radio-input(name='type', type='radio')
									label.uikit-radio-label Show
								.uikit-radio.is-3rd
									input.uikit-radio-input(name='type', type='radio')
									label.uikit-radio-label Carnival
							//
								Cristmas Show (전연령) 수훤 2018-11-25 16:00 / <a href="" class="icon-address"></a> | <br/>
								1부모 2자녀，단내형、진호재、호명성 | <br/>
								신용카드<span class="is-date">2018-11-25 16:00</span>27,000 [수소버튼] <span class="is-date">2018-11-25 16:00</span>
							ul.layout-card
								|<?php include "html_model/_mywfc_kr/ed-card-item.html";?>
								|<?php include "html_model/_mywfc_kr/ed-card-item.html";?>
							.pagerArea.text-center.color-5
								|<?php include "html_model/uikit/pager-item.html";?>
			include partials/public_footer_kr.pug
			// JS FOR THIS PAGE ONLY
			script(src='js/tmpAsideLb.js')
			script(src='js/statePaddingShare.js')
