extend temp/temp-ko.pug
block var
	-var country = 'ko'
	-var floor1 = 'index'
	-var floor2 = 'My WFC'
	-var floor3 = 'My Page'
	-var floor4 = 'After service application'

block head-self
	// CSS FRO THIS PAGE ONLY
	link(href='assets/plugins/selectbox/select_option1.css', rel='stylesheet')
	link(href='css/afterServiceDetails_kr.css', rel='stylesheet')

block container
	.container.container-main.container-col-2
		.row
			.col-xs-12.col-xs-12.col-md-3.sticky-top.aside-lb
				.panel-heading.bg-color-5.border-color-5
					h3.panel-title My Page
					.aside-lb-close x
				|<?php include "html_model/_mywfc_kr/mypage-aside.html";?>
				script.
					// 此 js 為 demo 用，請刪除
					$(".art-list-f2").find(".art-list-f2-item").eq(5).find(".art-list-f2-link").addClass("now");
			.col-xs-12.col-xs-12.col-md-9.scroll-main
				.layout-main
					|<?php include "html_model/uikit/aside-lb-open.html";?>
					.sectionTitle.text-center.color-5.mt-0
						h2
							// h2 only
							span.shape.shape-left
							span After service application
							span.shape.shape-right
					//
						신청일​ : 2018-03-28
						신청품목 : 함께노래하기! DVD 7
						늘량유무 : 정상적인손실
						배송일  2018-5-28
						tracking code : A12345689
						배송현황조회 : 배송완료
						--------------------------------------
						申請日期 : 2018-03-28
						申請項目 : 一起唱歌! DVD 7
						檢測結果 : 正常損耗
						交貨日期 : 2018-5-28
						追緃碼 : A12345689
						查看送貨狀態 : 發貨完成
					ul.layout-card
						|<?php include "html_model/_mywfc_kr/as-card-item.html";?>
					.pagerArea.text-center.color-5
						|<?php include "html_model/uikit/pager-item.html";?>
				hr
				hr
				hr
				hr
				hr
				hr
				hr
				hr
				.layout-main
					.sectionTitle.text-center.color-5.mt-0
						h2
							span.shape.shape-left
							span A/S 신청내역
							span.shape.shape-right
					.retable(data-width='112')
						.retable-item-double
							.retable-row
								.retable-title 불량유무
								.retable-content 일반불량
							.retable-row
								.retable-title 회원번호
								.retable-content member
						.retable-item-double
							.retable-row
								.retable-title 고객명
								.retable-content 테스트
							.retable-row
								.retable-title 고객전화번호
								.retable-content 010-9136-8095
						.retable-item-double
							.retable-row
								.retable-title 계약일
								.retable-content 2019-03-01
							.retable-row
								.retable-title 계약상품
								.retable-content MTDSG
						.retable-item-double
							.retable-row
								.retable-title A/S 상태
								.retable-content 배송완료
							.retable-row
								.retable-title 배송일
								.retable-content 2019-03-31
						.retable-item
							.retable-row
								.retable-title 주소
								.retable-content [371-159] 경상북도 상주시 계산동 474
						.retable-item
							.retable-row
								.retable-title 운송장번호
								.retable-content tw-0888388
					|<?php include "html_model/_parents_kr/as-retable-item2.html";?>
					|<?php include "html_model/_parents_kr/as-retable-item2.html";?>
						
block js
	// JS FOR THIS PAGE ONLY
	script(src='js/tmpAsideLb.js')
	script(src='js/statePaddingShare.js')
	script(src='js/retableTitle.js')
