doctype html
html(lang='zh-Hant-TW')
	head 
		|<?php include "html_model/head.html";?>
		// CSS FRO THIS PAGE ONLY
		link(href='css/aboutWfc.css', rel='stylesheet', text='text/css')
	body.body-wrapper
		// loaded
		.main-wrapper
			//
				====================================
				——— HEADER
				=====================================
			header#pageTop.header-wrapper 
				|<?php include "html_model/header/header-1.html";?>
				// NAVBAR
				nav#menuBar.navbar.navbar-default.lightHeader(role='navigation')
					.container
						|<?php include "html_model/header/header-2.html";?>
					//
						====================================
						——— BREAD CRUMB
						=====================================
					.layout-breadcrumb-box
						.container
							nav(aria-label='breadcrumb')
								ol.breadcrumb.text-truncate
									li.breadcrumb-item
										a(href='#') 首頁
									li.breadcrumb-item
										| 關於寰宇家庭俱樂部
			.container.container-main.container-col-1
				.row
					.layout-col-12
						.layout-main
							.sectionTitle.text-center.color-1.mt-0
								h2
									span.shape.shape-left
									span 關於寰宇家庭俱樂部
									span.shape.shape-right
							.layout-content
								|寰宇家庭俱樂部(簡稱「WFC」)提供多元化的美語體驗方案，讓孩子們在活動中，可以開心地使用從寰宇家庭產品所學到的美語，如Play Along! (簡稱 「PA!」)和Disney World of English (簡稱「DWE」)。透過參加WFC，您的孩子有機會可以和母語為美語的叔叔、阿姨們交流互動，培養國際觀，並感受到用美語溝通的喜悅。
								br
								br
								|WFC的另一大特色，便是您也可以與其他在台灣有共同目標的俱樂部成員，一起學習如何創造美語環境的方法和育兒資訊平台，讓我們共同創造一個豐富的全美語環境給孩子吧! 如此，您的孩子便能樂在其中持續地使用教材，並於活動後有動力繼續學習和享受美語。
			include partials/public_footer_tw.pug
			// JS FOR THIS PAGE ONLY
