extend temp/temp-tw.pug
block var
	-var country = 'tw'
	-var floor1 = '首頁'
	-var floor2 = '美語活動'
	-var floor3 = '美語嘉年華 / 週末活動  / 迷你活動 / 全美語夏令營'

block head-self
	// CSS FRO THIS PAGE ONLY
	link(href='assets/plugins/owl-carousel/owl.carousel.css', rel='stylesheet')
	link(rel='stylesheet', href='css/actDesc.css')

block container
	// main only
	.container.container-main.container-col-1
		.row
			.layout-col-12
				// 1.1
				.layout-main.layout-main-vision
					img.layout-main-vision-img(src='img/activity/event/1.jpg')
				.layout-main
					.sectionTitle.text-center.color-1.mt-0
						h2
							// h2 only
							span.shape.shape-left
							span 美語嘉年華
							span.shape.shape-right
					.is-left
						.layout-video-fluid
							iframe(src='https://vimeo.com/312498775', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
					.is-right
						h3.layout-title-level-2.color-1.mt-0 美語嘉年華 
							span.is-eng English Carnival
						.layout-content.pl-2
							|「美語嘉年華」是以歌舞劇的表演方式呈現的全美語舞台活動。以DWE產品內容為基礎，將有趣的故事主題，搭配改編的「迪士尼美語世界」歌曲，並藉由美語叔叔阿姨們生動活潑的肢體動作及Zippy人偶家族同台演出，呈現豐富具教育性的表演。小朋友在觀看表演的同時，除了複習平日在家學到的美語，更重要的是跟著美語叔叔阿姨們大聲唱歌、盡情跳舞。此外美語叔叔阿姨們也會依劇情所需至觀眾席與小朋友互動。「美語嘉年華」絕對是一個聽覺、視覺效果兼具，且寓教於樂的美語活動，帶領全家輕鬆愉快地進入美語世界。
						//- AUDIO
							.layout-videobox.layout-sharewidth.item-3.mt-3
								.layout-videobox-item.layout-sharewidth-item
									.layout-video-fluid
										iframe(src='https://www.youtube.com/embed/DExxfTR_iGI', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
										// ^影片網址會再改過，改為 vimeo 平台影片 ^
								.layout-videobox-item.layout-sharewidth-item
									.layout-video-fluid
										iframe(src='https://www.youtube.com/embed/y_EnQuDthdE', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', frameborder='0', allow='autoplay; encrypted-media')
										// ^影片網址會再改過，改為 vimeo 平台影片 ^
								.layout-videobox-item.layout-sharewidth-item
									.layout-video-fluid
										iframe(src='https://www.youtube.com/embed/Jecv5ZPSu2Y', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', frameborder='0', allow='autoplay; encrypted-media')
										// ^影片網址會再改過，改為 vimeo 平台影片 ^
					
					// 見證
					h3.layout-title-level-2.color-1.mb-1 會員見證
					.owl-carousel.owl-carousel-type-1.teamSlider.t1
						mixin tmp(name,msg,content)
							.block: .thumbnail.thumbnailContent.wow.fadeInUp
								.caption.border-color-1
									h3
										.color-1 #{name}
										.layout-owlnav-box1.color-1 #{msg}
									p #{content}
						each itemCar in page.actDescCarnival
							+tmp(itemCar.name,itemCar.msg,itemCar.content)
				button.btn.layout-btn.btn-block.layout-btn-lg.color-1(type='button')
					| 活動報名
				hr
				hr
				hr
				hr
				hr
				// 1.2
				.layout-main.layout-main-vision
					img.layout-main-vision-img(src='img/activity/event/2.jpg')
				.layout-main
					.sectionTitle.text-center.color-1.mt-0
						h2
							// h2 only
							span.shape.shape-left
							span 週末活動
							span.shape.shape-right
					.layout-content.mb-4
						| 寰宇家庭的「週末活動」通常在周末舉行。我們不僅為孩子而且也為他們的家庭提供機會，讓他們在充滿「教育性Educational」、「娛樂性Entertaining」、「互動性Interacting」、「鼓勵性Encouraging」的環境中充分體驗美語交流的樂趣，不分年齡層，完全沉浸於獨特好玩的全美語體驗。他們可以充分利用每個活動的特色，感受不同類型活動的學習目的，譬如以PA！教材為主軸的「跟著玩活動」、和大型人偶Froggy、Bunny一起唱跳的「Froggy和Bunny點點名」，還有使用SA!和SBS主課程設計的「布偶劇場」、真人大小的「Zippy人偶秀」和專為CAP孩子設計的「CAP童樂會」。
					// 1.2.1
					.is-left
						.layout-video-fluid
							iframe(src='https://vimeo.com/312505762', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
					.is-right
						h3.layout-title-level-2.color-1.mt-0 跟著玩活動 
							span.is-eng Play Along! Activity
						.ml-2.mb-5
							.layout-content
								| 「跟著玩活動」是有趣好玩、親子互動性高、並具有娛樂性質的活動，特別為使用PA!產品的會員所設計，活動中大量使用PA!歌曲進行主題設計，考量兒童肢體發展，搭配大型PA!教具進行，有趣好玩。提供家長如何與孩子享受在家使用美語的好方法，除了加強學習動機，更增進親子關係！對小小孩而言，主要的學習方式是透過不斷地模仿與不斷地重複練習，「跟著玩活動」乃是根據這樣的特性設計，開發孩子們的無限學習潛能。
					// 1.2.2
					.is-left
						.layout-video-fluid
							iframe(src='https://vimeo.com/312506822', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
					.is-right
						h3.layout-title-level-2.color-1.mt-0 Froggy和Bunny點點名 
							span.is-eng The Froggy & Bunny Show
						.ml-2.mb-5
							.layout-content
								| 來吧! 來跟Froggy和Bunny 一起玩吧! 小朋友在PA!產品中所熟悉的Froggy和Bunny會在活動現場以人偶的形態登場！小小孩除了在家使用PA!產品，也可以在活動現場和Froggy、Bunny一起唱著PA!的歌曲、一起跳舞和一起玩遊戲喔！這也是唯一能跟Froggy、Bunny人偶一起唱歌跳舞的活動喔！
					// 1.2.3
					.is-left
						.layout-video-fluid
							iframe(src='https://vimeo.com/312498775', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
					.is-right
						h3.layout-title-level-2.color-1.mt-0 布偶劇場 
							span.is-eng Puppet Show
						.ml-2.mb-5
							.layout-content
								| 孩子們是很容易被布偶表演所吸引的。「布偶劇場」是透過孩子喜歡的Zippy家族布偶，利用DWE產品內容語言為基礎，將有趣的故事主題結合DWE歌曲，由Zippy、Pompom、Elvis等布偶及美語叔叔阿姨提供生動有趣的演出。在近距離中與美語叔叔阿姨大聲唱歌、舞動身體，並透過遊戲等互動來培養他們美語聽、說的能力。相信您一定很喜歡看到孩子快樂扭動他可愛的小小身軀，在充滿音符下律動，與您建立更親密的親子互動關係！
					// 1.2.4
					.is-left
						.layout-video-fluid
							iframe(src='https://vimeo.com/312500522', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
					.is-right
						h3.layout-title-level-2.color-1.mt-0 Zippy人偶秀 
							span.is-eng Family Showcase
						.ml-2.mb-5
							.layout-content
								| 這是除了「美語嘉年華」之外，唯一有機會可以讓孩子有機會和他們喜愛的Zippy人偶家族近距離接觸並且拍照留念的活動。藉由具有娛樂效果真人大小的人偶，他們會走路、會說話、會唱歌和跳舞，還會與觀眾及美語叔叔阿姨一起互動，不同的美語環境與歡樂氛圍，讓孩子們因此自然開心地說美語，愛上「Zippy人偶秀」。
					// 1.2.5
					.is-left
						.layout-video-fluid
							iframe(src='https://vimeo.com/312495574', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
					.is-right
						h3.layout-title-level-2.color-1.mt-0 CAP童樂會 
							span.is-eng CAP Kids
						.ml-2.mb-5
							.layout-content
								| 完成CAP各個顏色的孩子是值得特別鼓勵的。「CAP童樂會」專為擁有藍色、綠色、淺綠或黃色CAP的孩子所設計的活動，在美語叔叔阿姨的帶領下完成挑戰，並且藉由不同的表演方式，成為鎂光燈下的主角，讓孩子充滿自信的展現自己的美語能力。
					// 見證
					h3.layout-title-level-2.color-1 會員見證
					.owl-carousel.owl-carousel-type-1.teamSlider.t2
						each itemWeek in page.actDescWeek
							+tmp(itemWeek.name,itemWeek.msg,itemWeek.content)
					//- .owl-carousel.owl-carousel-type-1.teamSlider.t2
					//- 	each itemMini in page.actDescMini
					//- 		+tmp(itemMini.name,itemMini.msg,itemMini.content)
				button.btn.layout-btn.btn-block.layout-btn-lg.color-1(type='button')
					| 活動報名
				hr
				hr
				hr
				hr
				hr
				// 1.3
				.layout-main.layout-main-vision
					img.layout-main-vision-img(src='img/activity/event/3.jpg')
				.layout-main
					.sectionTitle.text-center.color-1.mt-0
						h2
							// h2 only
							span.shape.shape-left
							span 迷你活動
							span.shape.shape-right
					.layout-content.mb-4
						| 是針對孩子分齡設計的小團體美語活動，分別有適合三歲以下的「寶寶玩玩」、三到五歲的「來趣玩活動」及四歲以上的「翻轉小世界」。因為孩子肢體發展，還有語言發展不同，家長可以自行斟酌參加，請了解提供孩子美語環境才是最重要的。此三個不同活動，也根據不同的主題和內容為孩子打造了不同特色的活動，我們一起來看看有哪些吧！
					// 1.3.1
					.is-left
						.layout-video-fluid
							iframe(src='https://vimeo.com/312490915', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
					.is-right
						h3.layout-title-level-2.color-1.mt-0 寶寶玩玩 
							span.is-eng Baby Play
							span.is-age 建議歲數 : 三歲以下小朋友
						.layout-content.mb-5.pt-0
							h3.layout-title-level-3.color-1.mt-1 彩虹樂園系列 Rainbow Park
							.ml-2 根據孩子的身心發展階段，透過主題式的設計，讓孩子的學習更加多元化，能夠有全方面的美語學習環境。家長可學習到如何與小小孩在家一起玩美語。
					// 1.3.2
					.is-left
						.layout-video-fluid
							iframe(src='https://vimeo.com/312500026', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
					.is-right
						h3.layout-title-level-2.color-1.mt-0 來趣玩活動
							span.is-eng Fun Club
							span.is-age 建議歲數 : 三到五歲小朋友
						.layout-content.mb-5.pt-0
							h3.layout-title-level-3.color-1.mt-1 舞出小世界系列 Dance a Little Dance
							.ml-2 透過活潑有趣的肢體律動，結合DWE產品歌曲進行唱跳，引導喜歡唱跳的小朋友，更加容易進入美語世界。
							h3.layout-title-level-3.color-1 魔法攪拌機系列 Magic Blender
							.ml-2 針對SBS主課程內容而設計，啟發不一樣的學習方式，喜歡團隊遊戲的小朋友快加入我們！
							h3.layout-title-level-3.color-1 快樂故事屋系列 Baby Storytown
							.ml-2 互動式的投影動畫活動，讓孩子們不受空間限制，發揮想像力，彷彿身在其中，跟著Froggy和Bunny一起體驗許多美好的事物！
					// 1.3.3
					.is-left
						.layout-video-fluid
							iframe(src='https://vimeo.com/312501155', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
					.is-right
						h3.layout-title-level-2.color-1.mt-0 翻轉小世界
							span.is-eng Go Go Kids
							span.is-age 建議歲數 : 四歲以上小朋友
						.layout-content.mb-5.pt-0
							h3.layout-title-level-3.color-1.mt-1 動手玩玩藝系列 Arts and Crafts
							.ml-2 結合藝術或科學等主題，讓大孩子透過手作或遊戲中學習，透過藝術生活化讓孩子們揮灑創意，在實驗裡探索科學的奧秘。
							h3.layout-title-level-3.color-1 故事星球系列 Story Planet
							.ml-2 活動配合投影技術的呈現，利用圖像、動畫、遊戲的結合，增加大孩子對美語的理解能力，身歷其境的聽故事學美語！
					// 見證
					h3.layout-title-level-2.color-1 會員見證
					.owl-carousel.owl-carousel-type-1.teamSlider.t3
						each itemMini in page.actDescMini
							+tmp(itemMini.name,itemMini.msg,itemMini.content)
				button.btn.layout-btn.btn-block.layout-btn-lg.color-1(type='button')
					| 活動報名
				hr
				hr
				hr
				hr
				hr
				// 1.4
				.layout-main.layout-main-vision
					img.layout-main-vision-img(src='img/activity/event/4.jpg')
				.layout-main
					.sectionTitle.text-center.color-1.mt-0
						h2
							// h2 only
							span.shape.shape-left
							span 全美語夏令營
							span.shape.shape-right
					.is-left
						.layout-video-fluid
							iframe(src='https://vimeo.com/312500026', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
					.is-right
						h3.layout-title-level-2.color-1.mt-0 全美語夏令營 
							span.is-eng Summer Camp
						.layout-content.ml-2
							| 當孩子逐漸長大，身心各方面的發展也日漸成熟，除了可以自己獨立完成許多事情之外，同時也會對新鮮事物充滿好奇。三天兩夜的全美語營隊，透過大自然的洗禮，充滿樂趣的生活探險和體驗，讓孩子自在的使用美語交談、認識新朋友。孩子除了可以和熟悉的美語叔叔阿姨近距離相處、一起接觸大自然、了解大自然的奧秘，您也可以利用這個難得的機會，放鬆心情和孩子一起徜徉在大自然的懷抱中，體驗不一樣的美語生活！
					// 見證
					h3.layout-title-level-2.color-1 會員見證
					.owl-carousel.owl-carousel-type-1.teamSlider.t4
						each itemCamp in page.actDescCamp
							+tmp(itemCamp.name,itemCamp.msg,itemCamp.content)
				button.btn.layout-btn.btn-block.layout-btn-lg.color-1(type='button')
					| 活動報名

block js
	// JS FOR THIS PAGE ONLY
	script(src='assets/plugins/owl-carousel/owl.carousel.js', type='text/javascript')
	script(src='js/actDesc.js', type='text/javascript')
	script.
		$(function(){
			function countH(target){
				//- !!不可以有兩個子元素同高
				var $outer = target,
					h1 = $outer.eq(1).find('.caption').outerHeight(),
					h2 = $outer.eq(2).find('.caption').outerHeight(),
					h3 = $outer.eq(3).find('.caption').outerHeight(),
					h4 = $outer.eq(4).find('.caption').outerHeight();
				if(h1>=h2 && h1>=h3 && h1>=h4){
					//- console.log('h1 is highter')
					$outer.find('.caption').css({'height':h1})
				}else if(h2>=h1 && h2>=h3 && h3>=h4){
					//- console.log('h2 is highter')
					$outer.find('.caption').css({'height':h2})
				}else if(h3>=h1 && h3>=h2 && h3>=h4){
					//- console.log('h3 is highter')
					$outer.find('.caption').css({'height':h3})
				}else if(h4>=h1 && h4>=h2 && h4>=h3){
					//- console.log('h4 is highter')
					$outer.find('.caption').css({'height':h4})
				}
			}
			countH( $('.t1 .owl-item') );
			countH( $('.t2 .owl-item') );
			countH( $('.t3 .owl-item') );	
			countH( $('.t4 .owl-item') );	
		})