doctype html
html(lang='zh-Hant-TW')
	head
		|<?php include "html_model/head.html";?>
		// CSS FRO THIS PAGE ONLY
		link(rel='stylesheet', href='css/activity.css')
	body.body-wrapper
		// loaded
		.main-wrapper
			//
				====================================
				——— HEADER
				=====================================
			header#pageTop.header-wrapper
				|<?php include "html_model/header/header-1.html";?>
				// NAVBAR
				nav#menuBar.navbar.navbar-default.lightHeader(role='navigation')
					.container
						|<?php include "html_model/header/header-2.html";?>
					//
						====================================
						——— BREAD CRUMB
						=====================================
					.layout-breadcrumb-box
						.container
							nav(aria-label='breadcrumb')
								ol.breadcrumb.text-truncate
									li.breadcrumb-item
										a(href='#') 首頁
									li.breadcrumb-item
										| 活動報名
			//
				====================================
				——— CONTAINER STR
				=====================================
			.container.container-main.container-col-1
				.row
					.layout-col-12
						|<?php include "html_model/activity/act-sortbox.html";?>
						|<?php include "html_model/activity/act-sortbox.html";?>
						|<?php include "html_model/activity/act-sortbox.html";?>
						include partials/public_footer_tw.pug
						// JS FOR THIS PAGE ONLY
