extend temp/temp-tw.pug
block var
	-var country = 'tw'
	-var floor1 = '首頁'
	-var floor2 = '活動報名'

block head-self
	// CSS FRO THIS PAGE ONLY
	link(rel='stylesheet', href='css/activity.css')

block container
	//
		====================================
		——— CONTAINER STR
		=====================================
	.container.container-main.container-col-1
		.row
			.layout-col-12
				|<?php include "html_model/activity/act-sortbox.html";?>
				|<?php include "html_model/activity/act-sortbox.html";?>
				|<?php include "html_model/activity/act-sortbox.html";?>

block js
	// JS FOR THIS PAGE ONLY
