extend temp/temp-tw.pug
block var
	-var country = 'tw'
	-var floor1 = '首頁'
	-var floor2 = '會員服務'

block head-self
		// CSS FRO THIS PAGE ONLY
		link(rel='stylesheet', href='css/article.css')

block container
	.container.container-main.container-col-2
		| v floor 2 breadcrumb : 首頁 > 會員服務  >  親子教育百科(4.2) / 會員經驗分享(4.3) / 世界育兒觀(4.4)
		.row
			.hidden-xs.hidden-sm.col-md-4.col-lg-3.sticky-top
				|<?php include "html_model/article/art-aside.html";?>
			.col-xs-12.col-sm-12.col-md-8.col-lg-9.scroll-main
				.layout-main.layout-main-pageback-color-4.pb-5.mb-1
					// LEVEL 1
					.sectionTitle.text-center.color-4.my-0
						h2
							// h2 only
							span.shape.shape-left
							span 親子教育百科
							span.shape.shape-right
				.layout-main.layout-main-art
					h3.layout-title-level-2.color-4.mt-0 俱樂部專訪
					|<?php include "html_model/article/art-media.html";?>
					button.btn.layout-btn.color-4(type='button')
						| 看更多相關文章 »
				.layout-main.layout-main-art
					h3.layout-title-level-2.color-4.mt-0 語言學習
					|<?php include "html_model/article/art-media.html";?>
					button.btn.layout-btn.color-4(type='button')
						| 看更多相關文章 »
				.layout-main.layout-main-art
					h3.layout-title-level-2.color-4.mt-0 智能啟發
					|<?php include "html_model/article/art-media.html";?>
					button.btn.layout-btn.color-4(type='button')
						| 看更多相關文章 »
				.layout-main.layout-main-art
					h3.layout-title-level-2.color-4.mt-0 身心發展
					|<?php include "html_model/article/art-media.html";?>
					button.btn.layout-btn.color-4(type='button')
						| 看更多相關文章 »
				.layout-main.layout-main-art
					h3.layout-title-level-2.color-4.mt-0 親子活動
					|<?php include "html_model/article/art-media.html";?>
					button.btn.layout-btn.color-4(type='button')
						| 看更多相關文章 »
				.layout-main.layout-main-art
					h3.layout-title-level-2.color-4.mt-0 超級父母
					|<?php include "html_model/article/art-media.html";?>
					button.btn.layout-btn.color-4(type='button')
						| 看更多相關文章 »
				.layout-main.layout-main-art
					h3.layout-title-level-2.color-4.mt-0 行為情緒
					|<?php include "html_model/article/art-media.html";?>
					button.btn.layout-btn.color-4(type='button')
						| 看更多相關文章 »
				.layout-main.layout-main-art
					h3.layout-title-level-2.color-4.mt-0 人際關係
					|<?php include "html_model/article/art-media.html";?>
					button.btn.layout-btn.color-4(type='button')
						| 看更多相關文章 »
				.layout-main.layout-main-art
					h3.layout-title-level-2.color-4.mt-0 生活教育
					|<?php include "html_model/article/art-media.html";?>
					button.btn.layout-btn.color-4(type='button')
						| 看更多相關文章 »
				.layout-main.layout-main-art
					h3.layout-title-level-2.color-4.mt-0 健康營養
					|<?php include "html_model/article/art-media.html";?>
					button.btn.layout-btn.color-4(type='button')
						| 看更多相關文章 »
	//
		====================================
		——— CONTAINER 4.2 & 4.3 & 4.4 (floor 3)
		=====================================
	.container.container-main.container-col-2
		| v floor 3 breadcrumb : 首頁 > 會員服務 > 親子教育百科  >  俱樂部專訪
		.row
			.hidden-xs.hidden-sm.col-md-4.col-lg-3.sticky-top
				|<?php include "html_model/article/art-aside.html";?>
			.col-xs-12.col-sm-12.col-md-8.col-lg-9
				.layout-main.layout-main-pageback.layout-main-pageback-color-4
					|<?php include "html_model/uikit/page-back.html";?>
					// LEVEL 1
					.sectionTitle.text-center.color-4.mt-0
						h2
							// h2 only
							span.shape.shape-left
							span 俱樂部專訪
							span.shape.shape-right
					|<?php include "html_model/article/art-media.html";?>
					|<?php include "html_model/article/art-media.html";?>
					|<?php include "html_model/article/art-media.html";?>
					|<?php include "html_model/article/art-media.html";?>
					|<?php include "html_model/article/art-media.html";?>
					|<?php include "html_model/article/art-media.html";?>
					.pagerArea.text-center.color-4
						|<?php include "html_model/uikit/pager-item.html";?>
	//
		====================================
		——— CONTAINER article (floor 4)
		=====================================
	.container.container-main.container-col-2
		| v floor 4 breadcrumb : 首頁 > 會員服務 > 親子教育百科 >  俱樂部專訪  > 文章內文標題
		.row
			.hidden-xs.hidden-sm.col-md-4.col-lg-3.sticky-top
				|<?php include "html_model/article/art-aside.html";?>
			.col-xs-12.col-sm-12.col-md-8.col-lg-9
				.layout-main.layout-main-pageback.layout-main-pageback-color-4
					|<?php include "html_model/uikit/page-back.html";?>
					// LEVEL 1
					.sectionTitle.art-sectionTitle.text-center.color-4.mt-0
						h2
							// h2 only
							span.shape.shape-left
							span 寶貝無法開口，也能透過CAP作業快樂學習DWE！
							span.shape.shape-right
					.art-article
						//
							[^ 註 ^]
							以下文章來自現有網站的文章，內文都在 class="marginbottom contentbox" tag 中
						|<?php include "html_model/article/art-article.html";?>

block js
	// JS FOR THIS PAGE ONLY