extend temp/temp-tw.pug
block var
	-var country = 'tw'
	-var floor1 = ''
	-var floor2 = ''
	-var floor3 = ''
	-var floor4 = ''

block head-self
	// CSS FRO THIS PAGE ONLY
	link(rel='stylesheet', href='css/usual.css')

block container
	// main only
	.container.container-main.container-col-1
		.row
			.layout-col-12
				.layout-main
					| hellow word

block js
	// JS FOR THIS PAGE ONLY
