extend temp/temp-tw.pug
block var
	-var country = 'tw'
	-var floor1 = '首頁'
	-var floor2 = '下載專區'

block head-self
	// CSS FRO THIS PAGE ONLY
	link(href='css/download.css', rel='stylesheet', text='text/css')

block container
	.container.container-main.container-col-1
		.row 
			.layout-col-12
				.layout-main
					.sectionTitle.text-center.color-1.mt-0
						h2
							span.shape.shape-left
							span 下載專區
							span.shape.shape-right
					ul.dlbox
						li.dlitem
							a.dllink(href='https://drive.google.com/file/d/1gz--YtQrDXggI0g2pszTtmKi4hIEsVE0/view', target='_blank')
								| 產品損壞更換 
								img(src='img/download/pdf.png')
						li.dlitem
							a.dllink(href="kidsWorld.php")
								| 兒童世界專刊下載 
								img(src='img/download/wf.png')
						li.dlitem
							a.dllink(href='documents/2019tebook.pdf', target='_blank')
								| 2019電話美語課本 
								img(src='img/download/pdf.png')
						li.dlitem
							a.dllink(href='https://www.worldfamilyclub.com.tw/WFM/QuickStart_201302.pdf', target='_blank')
								| 產品使用~上手指南 
								img(src='img/download/pdf.png')

block js
	// JS FOR THIS PAGE ONLY