extend temp/temp-tw.pug
block var
	-var country = 'tw'
	-var flolr1 = '首頁'
	-var flolr2 = 'DWE 畢業'

block head-self
	// CSS FRO THIS PAGE ONLY
	link(href='css/dwe.css', rel='stylesheet')

block container
	//
		====================================
		——— CONTAINER STR
		=====================================
	.container.container-main.container-col-1
		.row
			.layout-col-12
				.layout-main.layout-main-vision
					img.layout-main-vision-img(src='img/dwe/vision.jpg')
				.layout-main
					.sectionTitle.text-center.color-2.mt-0
						h2
							// h2 only
							span.shape.shape-left
							span 畢業典禮
							span.shape.shape-right
					.layout-content
						| 寰宇家庭每年會為我們可愛的孩子提供更上一層樓的學習管道。只要您的孩子年滿4歲，歡迎大家來挑戰喔！而且我們也會為這些優秀的小小畢業生們舉辦別開生面的畢業典禮，孩子不僅可以獲得專屬的證書和米奇獎盃，還可以站在榮耀的舞台上接受授證！這將是全家人一輩子最難忘的時刻，更是學習的里程碑，今年就讓我們以通過畢業為努力的目標吧！
				// FULL
				.layout-main.layout-main-full.dwe-graduates
					.layout-main-full-bg.layout-main-full-center
					.layout-main-full-inbox
						.sectionTitle.text-center.mt-0
							h2
								// h2 only
								span.shape.shape-left
								span 畢業申請資訊
								span.shape.shape-right
						.dwe-view
							img.dwe-view-img(src='img/dwe/mickey-cup.png')
							h3.layout-title-level-2.color-2.mt-0 畢業申請
							h3.layout-title-level-3.mt-1.mb-1 畢業申請僅限購買「主課程教學系列 (Step By Step)」之家庭小朋友。
							.layout-content.pl-2
								ol
									li
										| 畢業申請前，要先完成「 CAP親子學習計畫 」並獲得 
										span.dwe-book-b 藍
										| 、
										span.dwe-book-g 綠
										| 、
										span.dwe-book-lg 淺綠
										| 、
										span.dwe-book-y 黃
										| 顏色的CAP帽子，才表示孩子已準備好畢業申請了。
									li 快樂學習，尊重孩子的個別發展。歡迎年滿四歲以上(依申請日期評定)的孩子在口腔、語言及身心發展都達一定標準後，來接受畢業申請挑戰。
									li 孩子接受畢業申請挑戰是一件值得鼓勵的事，若當下未通過，請讓孩子再多一些練習，歡迎 30 天後再次挑戰。
						// 
						h3.layout-title-level-2.color-2 畢業申請八個項目
						h3.layout-title-level-3.mt-1.mb-1 請孩子用美語說出：
						.layout-content.pl-2
							ol
								li.mb-0 姓名。
								li.mb-0 一分鐘自我介紹 (例如年齡、興趣等)。
								li.mb-0 唸出英文字母 A 到 Z (不是用唱的喔！)。
								li.mb-0 數字 1 到 20。
								li.mb-0 數字 10、20.....100。
								li.mb-0 語言學習卡 506 - 510 的答案 (須以完整句子回答)。
								li.mb-0 產品中任何一首詩或歌曲 (The ABC Song 除外，須將整首歌曲完整唱完)。
								li.mb-0 用自己的話說出主課程第 11 冊「The Mystery of The Missing Peanuts」或第 12 冊「The Sorcerer's Apprentice」 (請留意！不要照唸課文或字卡的內容喔！)。
						// 
						h3.layout-title-level-2.color-2 申請方式
						h3.layout-title-level-3.mt-1.mb-1 當孩子能完成畢業申請8個項目後，您可以為孩子選擇下列最適合他的方式提出申請。
						.layout-content.pl-2
							ol
								li.mb-4
									h3.layout-title-level-3.mt-0.mb-0 電話美語：
									| 請提前 1-2 週來電家長諮詢 0809-070-000 進行預約。將畢業8項作業利用「電話美語」時間來完成，音檔將由畢業評鑑團隊進行審核。
								li.mb-4
									h3.layout-title-level-3.mt-0.mb-0 錄製音檔：
									| 將音檔(MP3或WAV檔)email至 
									a(href='') wfc@worldfamilyenglish.com
									| 。也可錄製錄音帶或燒成光碟，郵寄至「110台北市信義區菸廠88號8樓之一 寰宇家庭俱樂部
									| 家長諮詢」，並於信封上註明「會員編號」、「姓名」及「畢業申請」字樣。
							div ＊申請結果通知：於收件日起7-10個工作天，會由專人致電回覆審核結果。
						// 
						h3.layout-title-level-2.color-2 畢業準備
						h3.layout-title-level-3.mt-1
							| 每天一點點也好！只要不間斷地持續保持學習，一定會有效果的成長。即使不是外表看得到的效果，所累積出的學習經驗也將成孩子們的精神食糧，一生的寶藏。挑戰畢業申請前，孩子平常可以透過下列準備培養實力喔！
						.layout-content.pl-2
							ul
								li 跟著唱Sing Along! DVD/BD或Step by Step DVD/BD裡的歌。
								li 刷語言學習卡 No.1~505，跟著字卡一起發音，並試著回答背面的問題。
								li 一邊聽Story and Songs CD搭配主課程課本，理解故事內容和歌詞意思。
								li 複習黃色系列。
								li 看Straight-Play DVD/BD的第11、12課。
								li 多使用電話美語 Reading Lessons 練習第11、12課的內容。
						.dwe-studio.layout-sharewidth.item-2.mt-4
							.dwe-studio-video.layout-sharewidth-item
								.layout-video-fluid
									iframe(src="//player.vimeo.com/312632272" frameborder="0" allow="autoplay; encrypted-media", allowfullscreen)
							.dwe-studio-video.layout-sharewidth-item
								.layout-video-fluid
									iframe(src="//player.vimeo.com/321453307" frameborder="0" allow="autoplay; encrypted-media", allowfullscreen)
				// FULL
				.layout-main.layout-main-full.dwe-license
					.layout-main-full-bg.layout-main-full-center
					.layout-main-full-inbox
						.sectionTitle.text-center.mt-0
							h2
								// h2 only
								span.shape.shape-left
								span 寰宇家庭俱樂部獎助學金計畫
								span.shape.shape-right
						.layout-content
							b 親愛的爸爸媽媽們：
							br
							| 寰宇家庭會員獨享「迪士尼美語世界」獎學金！只要您的孩子通過寰宇家庭「畢業申請」年紀是6歲至12歲的年紀（以測驗日當天為準），並透過寰宇家庭俱樂部統一報名，就有資格享有由「迪士尼美語世界」獎學金贊助，報考全球聞名的「YLE劍橋兒童英語測驗」，為您的孩子做一個公平、公開並客觀的評量喔！每位孩子限用一次。
							br
							br
							.dwe-text
								| 對象：寰宇家庭所有會員，通過「畢業申請」，並且年紀為6歲至12歲，皆可報考。
						.sectionTitle.text-center
							h2
								// h2 only
								span.shape.shape-left
								span 報考方式及測驗日程表
								span.shape.shape-right
						.layout-content
							ol
								li 測驗共分筆試及口試，且分三個不同等級數（Starters、Movers、Flyers）。
								li
									| 報名測驗費
									table.table.mt-1
										thead
											tr
												th
													span 測驗
													span 名稱
												th.dwe-table-td 原價
												th
													span 寰宇家庭
													span 會員優惠價
										tbody
											tr.dwe-starters
												th Starters
												td.dwe-table-td 1,900
												td 1,000
											tr.dwe-movers
												th Movers
												td.dwe-table-td 2,000
												td 1,000
											tr.dwe-flyers
												th Flyers
												td.dwe-table-td 2,100
												td 1,000
								li 報名一經受理，不得以任何理由要求改期或退費；測驗地點如因故無法於原訂地區舉辦，可選擇其他測驗地點、改期或退費。
								li 准考證將於測驗日前二週以掛號方式寄出。
								li 考試當天請父母帶著小朋友前往應試喔！
								li 劍橋英檢證書將於檢測日後約二個月後寄出。
								li
									| 家長們可以自行
									a(href='https://www.lttc.ntu.edu.tw/Cambridge/MS/sample_form/YLEregform_2018.pdf', target='_blank') 下載報名表
									| 喔！內含測驗日程表及報考方式介紹，文件備妥後，請寄至「110台北市信義區菸廠88號8樓之一
									| 										寰宇家庭俱樂部 家長諮詢」， 並於信封上註明「報考劍橋英檢」，將會優先處理喔！
							b.dwe-starters
								| ※ 欲知詳情請來電家長諮詢 0809-070-000詢問。
								br
								| 									註：於測驗日當天仍為寰宇家庭會員始符合獎學金贊助資格。
						.sectionTitle.text-center
							h2
								// h2 only
								span.shape.shape-left
								span 畢業花絮
								span.shape.shape-right
						ul.dwe-picbox
							li.dwe-picbox-item
								img.dwe-picbox-img(src='img/dwe/pic1.jpg')
							li.dwe-picbox-item
								img.dwe-picbox-img(src='img/dwe/pic2.jpg')
							li.dwe-picbox-item
								img.dwe-picbox-img(src='img/dwe/pic3.jpg')
							li.dwe-picbox-item
								img.dwe-picbox-img(src='img/dwe/pic4.jpg')
							li.dwe-picbox-item
								img.dwe-picbox-img(src='img/dwe/pic5.jpg')
							li.dwe-picbox-item
								img.dwe-picbox-img(src='img/dwe/pic6.jpg')
							li.dwe-picbox-item
								img.dwe-picbox-img(src='img/dwe/pic7.jpg')
							li.dwe-picbox-item
								img.dwe-picbox-img(src='img/dwe/pic8.jpg')
				// FULL
				.layout-main.layout-main-full.dwe-btnbox
					.layout-main-full-bg.layout-main-full-center
					.layout-main-full-inbox
						button.btn.layout-btn.btn-block.layout-btn-lg.color-2(type='button')
							| 畢業榮譽榜
						button.btn.layout-btn.btn-block.layout-btn-lg.color-2(type='button')
							| 劍橋榮譽榜

block js
	// JS FOR THIS PAGE ONLY
	script(src='js/fullScreen.js')
