extend temp/temp-tw.pug
block var
	-var country = 'tw'
	-var floor1 = '首頁'
	-var floor2 = 'DWE 畢業'
	-var floor3 = '美語檢定'
	-var floor4 = 'KET 劍橋國際英語認證初級'

block head-self
		// CSS FRO THIS PAGE ONLY
		link(rel='stylesheet', href='css/dweLicense.css')

block container
	//
		====================================
		——— CONTAINER STR
		=====================================
	// main only
	.container.container-main.container-col-1
		.row
			.layout-col-12
				.layout-main.layout-main-pageback.layout-main-pageback-color-2.session-one
					|<?php include "html_model/uikit/page-back.html";?>
					.sectionTitle.text-center.color-2.mt-0
						h2
							span.shape.shape-left
							span KET 劍橋國際英語認證初級
							span.shape.shape-right
					.layout-content
						| Main Suite 劍橋國際英語認證初級 KET 相當於 YLE 劍橋兒童英語認證的最高級認證 Flyers 的程度，也就是與 CEFR（歐洲語言學習、教學、評量共同參考架構）A2 級所代表的英語能力相對應。
					|<?php include "html_model/dwe/dwel-list.html";?>
					.pagerArea.text-center.color-2
						|<?php include "html_model/uikit/pager-item.html";?>

block js
	// JS FOR THIS PAGE ONLY
	script(src='js/dwe.js')