extend temp/temp-tw.pug
block var
	-var country = 'tw'
	-var floor1 = '首頁'
	-var floor2 = '美語學習'
	-var floor3 = 'Face Call'

block head-self
	// CSS FRO THIS PAGE ONLY
	link(href='assets/plugins/owl-carousel/owl.carousel.css', rel='stylesheet')
	link(rel='stylesheet', href='css/fc.css')

block container
	// main + aside
	.container.container-main.container-col-2
		.row
			.col-xs-12.col-sm-12.col-md-8.col-lg-9.scroll-main
				.layout-main.layout-main-vision
					.layout-videobox.item-1
						.layout-videobox-item
							.layout-video-fluid
								iframe(src='https://www.youtube.com/embed/i3FiiF52_l0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', frameborder='0', allow='autoplay; encrypted-media')
								// ^影片網址會再改過，改為 vimeo 平台影片 ^
				.layout-main
					// LEVEL 1
					.sectionTitle.text-center.color-2.mt-0
						h2
							// h2 only
							span.shape.shape-left
							span Face Call
							span.shape.shape-right
					.layout-content
						| Face Call是特別為還沒準備好開口的孩子所設計的類視訊預錄影片，美語叔叔阿姨會用視訊電話感覺的方式錄製影片，與孩子互動，可以降低孩子使用電話的緊張感。「Face Call」與「電話美語」是彼此切換的功能，在APP中會提供切換的功能給家長使用「Face Call」後便可以直接使用，不需要預約也不需要等待的時間，可以隨時隨地的在喜歡的時間無限次數地觀賞。
					// LEVEL 2
					h3.layout-title-level-2.color-2 漸進式的學習
					.layout-content.pl-3
						| 使用Face Call 可降低孩子使用電話的緊張情緒，是孩子正式進入使用「電話美語」前或停滯期的好選擇。
					// LEVEL 2
					h3.layout-title-level-2.color-2 一機在手，學習無遠弗屆
					.layout-content.pl-3
						| 只要您有手持裝置，下載「寰宇家庭APP」後，即可在「電話美語」中看到Face Call的選項。一旦切換成Face Call , 您就可帶領孩子享受，與來自世界各地的美語叔叔、阿姨一起詮釋的不同Disney’s World of English 歌曲。無論何時、何地，都可以無限次數的使用。
					// LEVEL 2
					h3.layout-title-level-2.color-2 學習的大躍進
					div
						h3.layout-title-level-3.color-2.mt-2 Hop !
						.layout-content.pl-3
							| 用美語講電話是每個人都會緊張的事。Face Call是類視訊的影片，可幫助孩子降低使用電話的緊張感。使用「電話美語」前，先用Face Call與美語叔叔、阿姨們習慣使用電話吧！
						h3.layout-title-level-3.color-2 Step !
						.layout-content.pl-3 習慣了用Face Call與美語叔叔、阿姨們唱歌後，終於可以進階到使用真人即時對話的電話美語課程囉！一起來使用電話美語的「歌曲練習」吧！
						h3.layout-title-level-3.color-2 Jump !
						.layout-content.pl-3 開始進入「迪士尼美語世界」的主課程後，下一步就可以和美語叔叔、阿姨們做「課程練習」，回答與故事相關的內容囉！一起來做美語OUTPUT的練習吧！
						.layout-content.pl-3
							| Face Call並沒有年齡上的限制喔！只要選擇Face Call就會發現，視覺上的刺激會增加孩子的記憶的強度。而Face Call的每一首歌曲是由不同的叔叔、阿姨們演唱，就算是一樣的歌曲，由不同的人詮釋將帶給孩子不同的學習刺激！所以每一位孩子都可以使用看看，多元化的媒體學習能幫助孩子保持學習的興趣喔！
					// QA
					.layout-collapse.color-2.mt-5
						h3.layout-title-level-2 Face Call Q&A
						.layout-collapse-arrow  
					.layout-collapse-content
						|<?php include "html_model/fc/fc-qa.html";?>
				.layout-main
					// LEVEL 1
					.sectionTitle.text-center.color-2.mt-0
						h2
							// h2 only
							span.shape.shape-left
							span 會員見證
							span.shape.shape-right
					// VIDEO
					.layout-videobox.layout-sharewidth.item-2
						.layout-videobox-item.layout-sharewidth-item
							.layout-video-fluid
								iframe(src="//player.vimeo.com/video/325130194" frameborder="0" allow="autoplay; encrypted-media", allowfullscreen)
						.layout-videobox-item.layout-sharewidth-item
							.layout-video-fluid
								iframe(src='https://www.youtube.com/embed/Jecv5ZPSu2Y', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', frameborder='0', allow='autoplay; encrypted-media')
								// ^影片網址會再改過，改為 vimeo 平台影片 ^
					// CAROUSEL
					.owl-carousel.owl-carousel-type-1.teamSlider.mt-4
						|<?php include "html_model/fc/fc-carousel-item.html";?>
			|<?php include "html_model/te/te-aside.html";?>

block js
	// JS FOR THIS PAGE ONLY
	script(src='assets/plugins/owl-carousel/owl.carousel.js')
	script(src='js/fc.js')
	script(src='js/teAside.js')