extend temp/temp-tw.pug
block var
	-var country = 'tw'
	-var floor1 = '首頁'
	-var floor2 = '我的專區'
	-var floor3 = '活動學習紀錄'

block head-self
	// CSS FRO THIS PAGE ONLY
	link(href='assets/plugins/selectbox/select_option1.css', rel='stylesheet', type='text/css')
	link(rel='stylesheet', href='css/history.css')

block container
	// aside + main
	.container.container-main.container-col-2
		.row
			.col-xs-12.col-sm-12.col-md-3.sticky-top.aside-lb
				.panel-heading.bg-color-5.border-color-5
					h3.panel-title 我的專區
					.aside-lb-close x
				|<?php include "html_model/mypage/aside-file.html";?>
				aside.layout-sub.px-4.py-4
					ul.art-list-f2
						|<?php include "html_model/mypage/aside.html";?>
			.col-xs-12.col-sm-12.col-md-9
				.layout-main.layout-deco-title
					|<?php include "html_model/uikit/aside-lb-open.html";?>
					// LEVEL 1
					.sectionTitle.text-center.color-5.mt-0
						h2
							// h2 only
							span.shape.shape-left
							span 活動學習紀錄
							span.shape.shape-right
					h3.layout-title-level-3.color-5 請選擇小朋友名字切換記錄
					.dropGeneral.roundTwo.layout-drop-sm
						select.select-drop
							option(value='0') Family
							option(value='1') child 1
							option(value='2') child 2
				// CARNIVAL HISTORY
				.layout-main-card
					h3.layout-title-level-3.color-5 美語活動
					.layout-card.has-cancel
						//
							[^ 註 ^]
							has-cancel 只在「能 cancel 活動」的單元才用
						|<?php include "html_model/history/item-carnival.html";?>
						|<?php include "html_model/history/item-carnival.html";?>
					.pagerArea.text-center.color-5
						|<?php include "html_model/uikit/pager-item.html";?>
				// TE HISTORY
				.layout-main-card
					h3.layout-title-level-3.color-5 電話美語
					.layout-card.has-cancel
						|<?php include "html_model/history/item-te.html";?>
					.pagerArea.text-center.color-5
						|<?php include "html_model/uikit/pager-item.html";?>
				// CAP HISTORY
				.layout-main-card
					h3.layout-title-level-3.color-5 CAP 親子學習計畫
					.layout-card
						|<?php include "html_model/history/item-cap.html";?>
						|<?php include "html_model/history/item-cap.html";?>
					.pagerArea.text-center.color-5
						|<?php include "html_model/uikit/pager-item.html";?>
				// FACE CALL HISTORY
				.layout-main
					h3.layout-title-level-3.color-5.ml-0.mt-0.mb-3 Face Call 觀看記錄
					ul.fc-box.mb-2
						|<?php include "html_model/history/item-facecall.html";?>
						|<?php include "html_model/history/item-facecall.html";?>
					.pagerArea.text-center.color-5
						|<?php include "html_model/uikit/pager-item.html";?>

block js
	// JS FOR THIS PAGE ONLY
	script(src='js/tmpAsideLb.js')
	script(src='js/history.js')
	script.
		$(function(){
			$(".art-list-f2-item").eq(2).find(".art-list-f2-link").addClass("now");
			// ^ 演示用，請參考
			$('.coll-btn').click(function(e){
				var temp = $(this).text();
				$(this).text($(this).data('text'));
				$(this).data('text',temp);
				var target= $(this).parent().parent().parent().parent().parent().siblings().eq(1);
				target.slideToggle(300);
				e.preventDefault();
			});
		});
