doctype html
html(lang='zh-Hant-TW')
	head 
		|<?php include "html_model/head.html";?>
		// CSS FRO THIS PAGE ONLY
		link(href='css/law.css', rel='stylesheet', text='text/css')
	body.body-wrapper
		// loaded
		.main-wrapper
			//
				====================================
				——— HEADER
				=====================================
			header#pageTop.header-wrapper 
				|<?php include "html_model/header/header-1.html";?>
				// NAVBAR
				nav#menuBar.navbar.navbar-default.lightHeader(role='navigation')
					.container
						|<?php include "html_model/header/header-2.html";?>
					//
						====================================
						——— BREAD CRUMB
						=====================================
					.layout-breadcrumb-box
						.container
							nav(aria-label='breadcrumb')
								ol.breadcrumb.text-truncate
									li.breadcrumb-item
										a(href='#') 首頁
									li.breadcrumb-item
										| 條款與政策
			.container.container-main.container-col-1
				.row
					.layout-col-12
						.layout-main
							.sectionTitle.text-center.color-1.mt-0
								h2
									span.shape.shape-left
									span 條款與政策
									span.shape.shape-right
							h3.layout-title-level-3.color-1  第 1 條：定義
							.layout-content.pl-3
								ol
									li “服務”是指在Internet上的World Family (Taiwan) Ltd.（以下簡稱“公司”）管理的WFC俱樂部網站。
									li “寰宇家庭俱樂部會員”（以下簡稱“會員“）是購買公司之「迪士尼美語」教材之客戶，提供一組會員編號，加入後俱樂部可享有提供給會員之相關服務。
							h3.layout-title-level-3.color-1 第 2 條：使用服務
							.layout-content.pl-3
								ol
									li 使用服務時，會員應遵守本協議的規定與公司所提供的相關服務方式。
									li 公司可能會針對某些服務做改變或另加使用條件。
							h3.layout-title-level-3.color-1 第 3 條：帳號和密碼
							.layout-content.pl-3
								ol
									li 會員使用此服務時應使用帳號及密碼登入。
									li 會員應負責管理自己的會員編號及密碼，不得出借或轉讓第三方使用。
									li 若會員使用帳號或密碼或第三方使用造成的任何損害，本公司概不負責。
									li 若帳號或密碼遺失或被盜等，會員應立即主動通知公司。
							h3.layout-title-level-3.color-1 第4條：會員資格喪失
							.layout-content.pl-3
								ol
									li 若會員有以下任一行為，則將中斷並無法繼續使用會員服務。
										ul
											li (1) 當會員有執行第9條規定之禁止行為時。
											li (2) 如果公司確定會員違反了本協議，或認為會員對公司有不適當行為，則公司可決定將該會員使用此服務之權利取消。
									li 公司對前款規定對會員造成的任何損害不承擔責任。
							h3.layout-title-level-3.color-1 第5條：智慧財產權保護
							.layout-content.pl-3
								ol
									li 通過本服務向會員提供的產品、服務、技術等訊息，皆受「智慧財產權」、「著作權」、「版權」等其他知識產權法律的保護。會員僅能將此訊息用於非商業目的，並由會員本人使用。除此之外，在（包括複製、轉發、轉貼、改編等）非經公司許可不得使用內容。
									li 公司網站上使用的商標名稱，商標圖像皆受「商標法」保護，未經公司許可，會員不得使用這些商標。
									li 未經許可不得轉發公司網站上的文章、照片和插圖。
							h3.layout-title-level-3.color-1 第6條：會員禁止行為
							.layout-content.pl-3
								ol
									li 侵犯公司或第三方財產權的行為（包括著作權、版權、商標權、智慧財產權）
									li 侵犯公司或第三方的誹謗行為，肖像權、隱私權等行為。
									li 違反第三人信譽或榮譽之行為。 
									li 與犯罪有關之行為。
									li 違反公共秩序和道德之行為。
									li 未經公司許可，使用通過本服務獲得的訊息，超出第5條第1款範圍之行為。
									li 未經公司許可，使用本服務進行業務活動或提供利潤訊息之行為。
									li 有危害公司人員，或公司提供相關服務和其他業務上干擾行為，或引發恐懼之行為。
									li 發送或編寫有害之電腦程式等。
									li 違反法律，法規，條例等或可能發生其相關行為。
									li 讓會員訊息向第三方開放或被使用之行為。
									li 冒充他人並使用此服務。
									li 違反本協議之行為。
									li 我們認為不合適的其他行為。
							h3.layout-title-level-3.color-1 第7條：服務內容變更，終止等
							.layout-content.pl-3
								ol
									li 公司有權進行更改和終止網站服務內容，無須告知變更原因。
									li 當會員於寰宇家庭俱樂部不再續會，於會員服務到期日則終止其服務。
									li 針對前款規定，我們對於會員終止服務後的損害不承擔任何責任。
							h3.layout-title-level-3.color-1 第8條：暫停和終止服務
							.layout-content.pl-3
								ol
									li 當公司遇到自然災害，發生其他非常緊急情況，或有危險發生時候而造成無法避免相關設備故障，以致可能無法提供所有訊號之事件，或公司之電信設備有不可避免之維修等理由，我們將暫停或終止提供該項服務。
									li 針對前款規定，我們對會員的損害不承擔任何責任。
							h3.layout-title-level-3.color-1 第9條：賠償
							.layout-content.pl-3
								ol
									li 會員提供公司之相關文件與訊息，包括個人主觀性評估訊息，由於時間和資訊變化，公司不予保證訊息的完整性，準確性，安全性等。
									li 除非公司其他服務之使用條款有另外規定，否則公司對會員或其他第三方使用本服務不承擔任何責任。
									li 對於會員通過連結訪問的網站，我們不承擔任何責任。（這不代表連結網址和我們公司，及相關聯公司，業務活動夥伴等有關係）。
									li 對於會員或第三方竄改或刪除與服務相關的訊息而導致會員自身遭受損害，公司概不負責任。
									li 若沒有使用我們網站的環境，例如推薦的瀏覽器、瀏覽器設置等，可能會產生某些服務無法使用。
							h3.layout-title-level-3.color-1 第10條：通知
							.layout-content.pl-3
								ol
									li 我們將根據會員提供聯絡訊息（如電話號碼、推播、E-mail、郵件等），與會員聯絡，並針對訊息選擇適合的通知方式。
									li 為了通知所有會員，我們會以網站公布方式進行，而不是以上款之通信方式。
							h3.layout-title-level-3.color-1 第11條：特例
							.layout-content.pl-3 如果為每項服務單獨提供特殊規定，則該服務的特殊規定則適用於本條例。
							h3.layout-title-level-3.color-1 第12條：適用法律
							.layout-content.pl-3 關於這些條款的設立，皆有法律效力，適用於台灣法律。
			include partials/public_footer_tw.pug
			// JS FOR THIS PAGE ONLY
