doctype html
html(lang='zh-Hant-TW')
	head
		|<?php include "html_model/head.html";?>
		// CSS FRO THIS PAGE ONLY
		link(rel='stylesheet', href='css/memberGuide.css')
	body.body-wrapper
		// loaded
		.main-wrapper
			//
				====================================
				——— HEADER
				=====================================
			header#pageTop.header-wrapper
				|<?php include "html_model/header/header-1.html";?>
				// NAVBAR
				nav#menuBar.navbar.navbar-default.lightHeader(role='navigation')
					.container
						|<?php include "html_model/header/header-2.html";?>
					//
						====================================
						——— BREAD CRUMB
						=====================================
					.layout-breadcrumb-box
						.container
							nav(aria-label='breadcrumb')
								ol.breadcrumb.text-truncate
									li.breadcrumb-item
										a(href='#') 首頁
									li.breadcrumb-item
										a(href='') 我的專區
									li.breadcrumb-item
										| 常見問題
			// aside + main
			.container.container-main.container-col-2
				.row
					.col-xs-12.col-sm-12.col-md-3.sticky-top.aside-lb
						.panel-heading.bg-color-5.border-color-5
							h3.panel-title 我的專區
							.aside-lb-close x
						|<?php include "html_model/mypage/aside-file.html";?>
						aside.layout-sub.px-4.py-4
							ul.art-list-f2
								|<?php include "html_model/mypage/aside.html";?>
					.col-xs-12.col-sm-12.col-md-9
						// unit 1
						.layout-main.layout-deco-title
							|<?php include "html_model/uikit/aside-lb-open.html";?>
							// LEVEL 1
							.sectionTitle.text-center.color-5.mt-0
								h2
									// h2 only
									span.shape.shape-left
									span 常見問題
									span.shape.shape-right
							h3.layout-title-level-3.icon1 美語活動
							ul.faqbox
								li.faqbox-item
									.faqbox-que.is-first
										.faqbox-idx.icon-1 Q 1
										.faqbox-title title 1
									.faqbox-ans
										.faqbox-con
											| content
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-2 Q 2
										.faqbox-title title 2
									.faqbox-ans
										.faqbox-con
											| content
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-3 Q 3
										.faqbox-title title 3
									.faqbox-ans
										.faqbox-con
											| content
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-4 Q 4
										.faqbox-title title 4
									.faqbox-ans
										.faqbox-con
											| content
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-5 Q 5
										.faqbox-title title 5
									.faqbox-ans
										.faqbox-con
											| content
						// unit 2
						.layout-main
							h3.layout-title-level-3.mt-0.icon2 CAP
							ul.faqbox
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-1 Q 1
										.faqbox-title title 1
									.faqbox-ans
										.faqbox-con
											| content
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-2 Q 2
										.faqbox-title title 2
									.faqbox-ans
										.faqbox-con
											| content
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-3 Q 3
										.faqbox-title title 3
									.faqbox-ans
										.faqbox-con
											| content
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-4 Q 4
										.faqbox-title title 4
									.faqbox-ans
										.faqbox-con
											| content
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-5 Q 5
										.faqbox-title title 5
									.faqbox-ans
										.faqbox-con
											| content
						// unit 3
						.layout-main
							h3.layout-title-level-3.mt-0.icon3 Face Call
							ul.faqbox
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-1 Q 1
										.faqbox-title title 1
									.faqbox-ans
										.faqbox-con
											| content
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-2 Q 2
										.faqbox-title title 2
									.faqbox-ans
										.faqbox-con
											| content
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-3 Q 3
										.faqbox-title title 3
									.faqbox-ans
										.faqbox-con
											| content
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-4 Q 4
										.faqbox-title title 4
									.faqbox-ans
										.faqbox-con
											| content
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-5 Q 5
										.faqbox-title title 5
									.faqbox-ans
										.faqbox-con
											| content
						// unit 4
						.layout-main
							h3.layout-title-level-3.mt-0.icon4 電話美語
							ul.faqbox
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-1 Q 1
										.faqbox-title title 1
									.faqbox-ans
										.faqbox-con
											| content
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-2 Q 2
										.faqbox-title title 2
									.faqbox-ans
										.faqbox-con
											| content
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-3 Q 3
										.faqbox-title title 3
									.faqbox-ans
										.faqbox-con
											| content
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-4 Q 4
										.faqbox-title title 4
									.faqbox-ans
										.faqbox-con
											| content
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-5 Q 5
										.faqbox-title title 5
									.faqbox-ans
										.faqbox-con
											| content
						// unit 5
						.layout-main
							h3.layout-title-level-3.mt-0.icon5 畢業
							ul.faqbox
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-1 Q 1
										.faqbox-title title 1
									.faqbox-ans
										.faqbox-con
											| content
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-2 Q 2
										.faqbox-title title 2
									.faqbox-ans
										.faqbox-con
											| content
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-3 Q 3
										.faqbox-title title 3
									.faqbox-ans
										.faqbox-con
											| content
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-4 Q 4
										.faqbox-title title 4
									.faqbox-ans
										.faqbox-con
											| content
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-5 Q 5
										.faqbox-title title 5
									.faqbox-ans
										.faqbox-con
											| content
						// unit 6
						.layout-main
							h3.layout-title-level-3.mt-0.icon6 學習 Q & A
							ul.faqbox
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-1 Q 1
										.faqbox-title title 1
									.faqbox-ans
										.faqbox-con
											| content
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-2 Q 2
										.faqbox-title title 2
									.faqbox-ans
										.faqbox-con
											| content
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-3 Q 3
										.faqbox-title title 3
									.faqbox-ans
										.faqbox-con
											| content
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-4 Q 4
										.faqbox-title title 4
									.faqbox-ans
										.faqbox-con
											| content
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-5 Q 5
										.faqbox-title title 5
									.faqbox-ans
										.faqbox-con
											| content
						// unit 7
						.layout-main
							h3.layout-title-level-3.mt-0.icon1 WFC 相關網站
							ul.faqbox
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-1 Q 1
										.faqbox-title title 1
									.faqbox-ans
										.faqbox-con
											| content
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-2 Q 2
										.faqbox-title title 2
									.faqbox-ans
										.faqbox-con
											| content
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-3 Q 3
										.faqbox-title title 3
									.faqbox-ans
										.faqbox-con
											| content
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-4 Q 4
										.faqbox-title title 4
									.faqbox-ans
										.faqbox-con
											| content
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-5 Q 5
										.faqbox-title title 5
									.faqbox-ans
										.faqbox-con
											| content
						// unit 8
						.layout-main
							h3.layout-title-level-3.icon2 WFC 會員服務
							ul.faqbox
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-1 Q 1
										.faqbox-title title 1
									.faqbox-ans
										.faqbox-con
											| content
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-2 Q 2
										.faqbox-title title 2
									.faqbox-ans
										.faqbox-con
											| content
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-3 Q 3
										.faqbox-title title 3
									.faqbox-ans
										.faqbox-con
											| content
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-4 Q 4
										.faqbox-title title 4
									.faqbox-ans
										.faqbox-con
											| content
								li.faqbox-item
									.faqbox-que
										.faqbox-idx.icon-5 Q 5
										.faqbox-title title 5
									.faqbox-ans
										.faqbox-con
											| content
			include partials/public_footer_tw.pug
			// JS FOR THIS PAGE ONLY
			script(src='js/tmpAsideLb.js')
			script(src='js/faqbox.js', type='text/javascript')
			script.
				$(function(){
				$(".art-list-f2-item").eq(5).find(".art-list-f2-link").addClass("now");
				// ^ 演示用，請參考
				setTimeout(function(){
				$(".is-first").addClass("is-open").siblings().slideDown(200);
				},300);
				});
