doctype html
html(lang='zh-Hant-TW')
	head
		|<?php include "html_model/head.html";?>
		// CSS FRO THIS PAGE ONLY
		link(href='css/sitemap.css', rel='stylesheet', text='text/css')
	body.body-wrapper
		// loaded
		.main-wrapper
			//
				====================================
				——— HEADER
				=====================================
			header#pageTop.header-wrapper
				|<?php include "html_model/header/header-1.html";?>
				// NAVBAR
				nav#menuBar.navbar.navbar-default.lightHeader(role='navigation')
					.container
						|<?php include "html_model/header/header-2.html";?>
					//
						====================================
						——— BREAD CRUMB
						=====================================
					.layout-breadcrumb-box
						.container
							nav(aria-label='breadcrumb')
								ol.breadcrumb.text-truncate
									li.breadcrumb-item
										a(href='#') 首頁
									li.breadcrumb-item
										| 網站地圖
			.container.container-main.container-col-1
				.row
					.layout-col-12
						.layout-main
							.sectionTitle.text-center.color-1.mt-0
								h2
									span.shape.shape-left
									span 網站地圖
									span.shape.shape-right
							.layout-sharewidth.item-234
								.card.layout-sharewidth-item
									| 1
									.mapicon.mapicon-1
								.card.layout-sharewidth-item
									| 2
									.mapicon.mapicon-2
								.card.layout-sharewidth-item
									| 3
									.mapicon.mapicon-3
								.card.layout-sharewidth-item
									| 4
									.mapicon.mapicon-4
								.card.layout-sharewidth-item
									| 5
									.mapicon.mapicon-5
			include partials/public_footer_tw.pug
			// JS FOR THIS PAGE ONLY