doctype html
html(lang='zh-Hant-TW')
	head
		|<?php include "html_model/head.html";?>
		// CSS FRO THIS PAGE ONLY
		link(rel='stylesheet', href='css/welcome.css')
	body.body-wrapper
		// loaded
		.main-wrapper
			//
				====================================
				——— HEADER
				=====================================
			header#pageTop.header-wrapper
				|<?php include "html_model/header/header-1.html";?>
				// NAVBAR
				nav#menuBar.navbar.navbar-default.lightHeader(role='navigation')
					.container
						|<?php include "html_model/header/header-2.html";?>
					//
						====================================
						——— BREAD CRUMB
						=====================================
					.layout-breadcrumb-box
						.container
							nav(aria-label='breadcrumb')
								ol.breadcrumb.text-truncate
									li.breadcrumb-item
										a(href='#') 首頁
									li.breadcrumb-item
										a(href='') 我的專區
									li.breadcrumb-item
										| 新手上路
			// aside + main
			.container.container-main.container-col-2
				.row
					.col-xs-12.col-sm-12.col-md-3.sticky-top.aside-lb
						.panel-heading.bg-color-5.border-color-5
							h3.panel-title 我的專區
							.aside-lb-close x
						|<?php include "html_model/mypage/aside-file.html";?>
						aside.layout-sub.px-4.py-4
							ul.art-list-f2
								|<?php include "html_model/mypage/aside.html";?>
					.col-xs-12.col-sm-12.col-md-9
						.layout-main.layout-deco-title
							|<?php include "html_model/uikit/aside-lb-open.html";?>
							// LEVEL 1
							.sectionTitle.text-center.color-5.mt-0
								h2
									// h2 only
									span.shape.shape-left
									span 新手上路
									span.shape.shape-right
							.layout-video-fluid
								iframe(src='https://player.vimeo.com/video/243244233', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
							h3.layout-title-level-3.color-5 新手會員加油站
							.vbox.mb-5
								ul.vbox-list.target1
									|<?php include "html_model/welcome/item.html";?>
									|<?php include "html_model/welcome/item.html";?>
									|<?php include "html_model/welcome/item.html";?>
									|<?php include "html_model/welcome/item.html";?>
									|<?php include "html_model/welcome/item.html";?>
									|<?php include "html_model/welcome/item.html";?>
							h3.layout-title-level-3.color-5 迪士尼美語世界
							.vbox.mb-5
								ul.vbox-list.target2
									|<?php include "html_model/welcome/item.html";?>
									|<?php include "html_model/welcome/item.html";?>
									|<?php include "html_model/welcome/item.html";?>
									|<?php include "html_model/welcome/item.html";?>
							h3.layout-title-level-3.color-5 家庭寰宇俱樂部 World Family Club
							.vbox.mb-5
								ul.vbox-list.target3
									|<?php include "html_model/welcome/item.html";?>
									|<?php include "html_model/welcome/item.html";?>
									|<?php include "html_model/welcome/item.html";?>
									|<?php include "html_model/welcome/item.html";?>
									|<?php include "html_model/welcome/item.html";?>
									|<?php include "html_model/welcome/item.html";?>
									|<?php include "html_model/welcome/item.html";?>
									|<?php include "html_model/welcome/item.html";?>
			|<?php include "html_model/welcome/lightbox.html";?>
			include partials/public_footer_tw.pug
			// JS FOR THIS PAGE ONLY
			script(src='js/tmpAsideLb.js')
			script.
				$(function(){
				$(".art-list-f2-item").eq(1).find(".art-list-f2-link").addClass("now");
				// ^ 演示用，請參考
				function vboxListWidth(){
				var perWidth = 175,
				perGutter = 8;
				$(".vbox-item").css({"width": perWidth,"marginRight": perGutter});
				// 1
				var n1 = $(".target1").find(".vbox-item").length,
				width1 = ( perWidth + perGutter ) * n1 - perGutter;
				$(".target1").css({"width": width1});
				// 2
				var n2 = $(".target2").find(".vbox-item").length,
				width2 = ( perWidth + perGutter ) * n2 - perGutter;
				$(".target2").css({"width": width2});
				// 3
				var n3 = $(".target3").find(".vbox-item").length,
				width3 = ( perWidth + perGutter ) * n3 - perGutter;
				$(".target3").css({"width": width3});
				}
				vboxListWidth();
				});
