extend temp/temp-tw.pug
block var
	-var country = 'tw'
	-var floor1 = '首頁'
	-var floor2 = '美語叔叔阿姨'

block head-self
	// CSS FRO THIS PAGE ONLY
	link(rel='stylesheet', href='css/wfcFriends.css')

block container
	.container.container-main.container-col-2
		.row
			.col-xs-12.col-sm-12.col-md-3.sticky-top.aside-lb
				// !!! here !!!
				.panel-heading.bg-color-1.border-color-1
					h3.panel-title 美語叔叔阿姨
					.aside-lb-close x
					// !!! here !!!
				aside.layout-sub.px-4.py-4
					ul.art-list-f2
						li.art-list-f2-item
							a.art-list-f2-link.now(href='') Ben叔叔
						li.art-list-f2-item
							a.art-list-f2-link(href='') Cat 阿姨
						li.art-list-f2-item
							a.art-list-f2-link(href='') Chris 叔叔
						li.art-list-f2-item
							a.art-list-f2-link(href='') Diane 阿姨
						li.art-list-f2-item
							a.art-list-f2-link(href='') Henry 叔叔
			.col-xs-12.col-sm-12.col-md-9
				.layout-main
					|<?php include "html_model/uikit/aside-lb-open.html";?>
					.sectionTitle.text-center.color-1.mt-0
						h2
							// h2 only
							span.shape.shape-left
							span
								|美語叔叔阿姨
							span.shape.shape-right
					img.friends-view(src='img/wfcfriends/all.jpg')
					ul.friends
						li.friends-item
							a.friends-link(href='')
								.friends-img(style='background-image: url(img/wfcfriends/1.jpg);')
								p.friends-name Jimmy Jimmy Jimmy
						li.friends-item
							a.friends-link(href='')
								img.friends-img(src='img/wfcfriends/2.jpg')
								p.friends-name Jimmy Jimmy Jimmy
						li.friends-item
							a.friends-link(href='')
								.friends-img(style='background-image: url(img/wfcfriends/3.jpg);')
								p.friends-name Jimmy Jimmy Jimmy
						li.friends-item
							a.friends-link(href='')
								.friends-img(style='background-image: url(img/wfcfriends/4.jpg);')
								p.friends-name Jimmy Jimmy Jimmy
						li.friends-item
							a.friends-link(href='')
								.friends-img(style='background-image: url(img/wfcfriends/5.jpg);')
								p.friends-name Jimmy Jimmy Jimmy
						li.friends-item
							a.friends-link(href='')
								.friends-img(style='background-image: url(img/wfcfriends/6.jpg);')
								p.friends-name Jimmy Jimmy Jimmy
						li.friends-item
							a.friends-link(href='')
								.friends-img(style='background-image: url(img/wfcfriends/7.jpg);')
								p.friends-name Jimmy Jimmy Jimmy
				hr
				hr
				hr
				hr
				hr
				hr
				h3 叔叔/阿姨介紹內頁
				.layout-main.clearfix
					|<?php include "html_model/uikit/aside-lb-open.html";?>
					.sectionTitle.text-center.color-1.mt-0.is-pc
						h2
							// h2 only
							span.shape.shape-left
							span
								| Anna
							span.shape.shape-right
					img.friends-view-in(src='img/wfcfriends/anna/1.jpg')
					.sectionTitle.text-center.color-1.mt-2.is-mobi
						h2
							// h2 only
							span.shape.shape-left
							span
								| Anna
					.friend-intro
						h3.layout-title-level-2.color-1 來自義大利
						|樂觀的Anna阿姨很有小孩子緣，連第一次見面的孩子都會被她開心的笑容深深吸引，大家都搶著要跟她抱抱呢！
					h3.layout-title-level-2.color-1.mb-1 劇照圖庫
					.layout-content
						.picbox
							img(src='img/wfcfriends/anna/2.jpg')
						.picbox
							img(src='img/wfcfriends/anna/3.jpg')
						.picbox
							img(src='img/wfcfriends/anna/4.jpg') 
					
	
block js
	// JS FOR THIS PAGE ONLY
	script(src='js/tmpAsideLb.js')
	script.
		$(function(){
			$(".friends-img").css({"height": $(".friends-img").width() * 0.7467 })
		});
	script.
		$(function(){
			// 此 js 為演示用，請參考
			var $target = $(".art-list-f2-item").eq(1);
			$target.find(".art-list-f3").addClass("is-open");
			$target.find(".art-list-f3-item").eq(0).find(".art-list-f3-link").addClass("now");
			$target.find(".art-list-f3-item").eq(6).find(".art-list-f3-link").addClass("now");
		});
