extend temp/temp-tw.pug
block var
	-var country = 'tw'
	-var flolr1 = '首頁'
	-var flolr2 = 'WF Club Library'

block head-self
	// CSS FRO THIS PAGE ONLY
	link(href='assets/plugins/selectbox/select_option1.css', rel='stylesheet', type='text/css')
	link(href='css/wfcLibrary.css', rel='stylesheet')

block container
	//
		====================================
		——— CONTAINER STR
		=====================================
	.container.container-main.container-col-1
		.row
			.layout-col-12
				.layout-main
					img.main-vision(src='img/wfclibrary/library.jpg')
					.sectionTitle.text-center.color-2.mt-2
						h2
							span.shape.shape-left
							span WF Club Library
							span.shape.shape-right
					h3.layout-title-level-3.icon1.mt-0 WF Club Library 是什麼?
					.layout-content.mb-4
						| WF Club Library為「寰宇家庭俱樂部」與美國「Highlights出版社」合作的服務。Highlights出版社創於 1946 年，是美國專業益智類童書出版社，產品被教育工作者所推崇，也深受家長們的信任，以及孩子們的喜愛，迄今已有70多年的歷史。「Highlights出版社」是美國兒童最熟悉的出版商。 在WF Club Library中，「寰宇家庭俱樂部」收藏了經由資深第二外語學者專家從「Highlights出版社」精選出的電子書，提供給您隨時觀看使用。
						ul.is-blue
							li WF Club Library是為已經加入寰宇家庭俱樂部超過48個月的孩子們所精心準備的節日禮物，唯有在寶貝俱備紮實的美語基礎後，藉由廣泛的閱讀，讓孩子的美語能力更為精進。
							li 重新入會之會員，過去之閱讀歷史記錄將無法保留。

					hr
					hr
					hr
					hr
					hr
					h3 v 年資己達標顯示此 v
					h3.layout-title-level-3.icon2.mt-0 專屬館藏資料庫：
					.hight-light
						.height-light-box
							span.first “
							|每位孩子都有一個專屬館藏資料庫。 請先選擇孩子的名字後，進入WF Club Library。
							span.second ”
					.layout-content
						ol
							//- li
								| 針對加入俱樂部一定會員期以上的家庭，提供已有美語基礎的孩子延伸學習的服務。此服務將取代每年的兒童節禮及聖誕節禮物。書庫中所有藏書，皆經由寰宇家庭根據孩童學習第二外語之需求重新錄音，並提供不同的速度選擇，讓閱讀更有趣。
							li 每月第一個星期五4:00-7:30為系統維護時間，將暫停服務。
					.wfcl-login
						.dropGeneral.roundTwo.layout-drop-sm
							select.select-drop
								option(value='0') 歐陽大明
								option(value='1') 歐陽曉英
								option(value='2') 歐陽歐陽
						button.btn.layout-btn.btn-block.color-2(type='button')
							| 登入 WF Club Library
					.wfcl-clear
					h3.layout-title-level-3.icon4 其它登入方式：
					.layout-content
						| 請點選適合您裝置的連結下載WF Club Library APP :
						.wfcl-btn
							a.wfcl-link(href='')
								img(src='img/wfclibrary/btn_android.png')
							a.wfcl-link(href='')
								img(src='img/wfclibrary/btn_ios.png')
					hr
					hr
					hr
					hr
					hr
					h3 v 年資未達標顯示此 v
					.hight-light
						.height-light-box
							span.first “
							|豐富藏書的雲端有聲圖書館，內有不同主題、閱讀分級與知識，幫助孩子在美語學習的路上擁有最佳的學習工具。
							span.second ”

block js
	// JS FOR THIS PAGE ONLY
	script.
		$(function(){
			$(".select-drop").selectbox();
		});
