// MASSORY //=================================================
#igGrid .container 
	padding: 15px 15px 0
.ig-grid 
	margin-right: -15px
	margin-top: 25px
	font-size: 0
.ig-grid-sizer,
.ig-grid-item 
	width: calc(100% - 15px)
.ig-gutter-sizer 
	width: 15px
.ig-grid-item 
	font-size: 0
	border-radius: 6px
	overflow: hidden
	margin-bottom: 15px
	box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1)
@media (min-width: 768px) 
	.ig-grid 
		margin-top: 30px
	.ig-grid-item,
	.ig-grid-sizer 
		width: calc(33.3% - 15px)
@media (min-width: 992px) 
	.ig-grid-item,
	.ig-grid-sizer 
		width: calc(25% - 15px)
//=================================================
//=================================================
//=================================================
//=================================================
//=================================================
//=================================================
//=================================================
//=================================================
//=================================================
// INTERSGRAN
.ig-grid-img 
	background: 
		size: cover
		position: center center
	border: solid 9px #fff
.ig-grid-msgbox 
	background: #fff
	padding: 8px 10px 10px
.ig-grid-msg 
	font-size: 14px
	@extend %row2
	height: 43px
	color: $color-light-block
// HASH TAG
.hashtag 
	clear: both
	text-align: center
	font-size: 0
.hashtag-link 
	display: inline-block
	padding: 5px 12px
	font-size: 15px
	margin-right: 5px
	margin-bottom: 5px
	background-color: $color5
	color: #fff
	&:hover 
		background-color: #c34e44
		color: #fff
	&:last-child 
		margin-right: 0