// for slide show
.tparrows 
	opacity: 1 !important
.tparrows.preview4 
	&:after 
		background-color: transparent !important
		box-shadow: none
		color: #fff
		font-size: 40px
	&:hover:after 
		transform: none !important
		opacity: 0.5
.tp-leftarrow 
	&:after 
		content: "\e824" !important
.tp-rightarrow 
	&:after 
		content: "\e825" !important