// YELLOW SYS
// 1
.act-color-a {
	.act-listbox-sort {
		background-color: $color-act-a;
	}
	.act-listbox-info > * {
		color: $color-act-a-dark;
	}
	//
	.act-titlebox-icon {
		background-color: $color-act-a;
	}
	.act-titlebox-sortname,
	.act-titlebox-sortname-en,
	.act-titlebox-titlename,
	.act-titlebox-titlename-en,
	.act-titlebox-age {
		color: $color-act-a-dark;
	}
	.act-titlebox-title {
		border-top-color: $color-act-a;
		border-bottom-color: $color-act-a;
	}
}
// 2
.act-color-p {
	.act-listbox-sort {
		background-color: $color-act-p;
	}
	.act-listbox-info > * {
		color: $color-act-p;
	}

	//
	.act-titlebox-icon {
		background-color: $color-act-p;
	}
	.act-titlebox-sortname,
	.act-titlebox-sortname-en,
	.act-titlebox-titlename,
	.act-titlebox-titlename-en,
	.act-titlebox-age {
		color: $color-act-p;
	}
	.act-titlebox-title {
		border-top-color: $color-act-p;
		border-bottom-color: $color-act-p;
	}
}
// 3
.act-color-11 {
	.act-listbox-sort {
		background-color: $color-act-11;
	}
	.act-listbox-info > * {
		color: $color-act-11;
	}
	//
	.act-titlebox-icon {
		background-color: $color-act-11;
	}
	.act-titlebox-sortname,
	.act-titlebox-sortname-en,
	.act-titlebox-titlename,
	.act-titlebox-titlename-en,
	.act-titlebox-age {
		color: $color-act-11;
	}
	.act-titlebox-title {
		border-top-color: $color-act-11;
		border-bottom-color: $color-act-11;
	}
}
/*
==================================================
==================================================
==================================================
==================================================
==================================================
==================================================
*/
// RED SYS
// 4
.act-color-b {
	.act-listbox-sort {
		background-color: $color-act-b;
	}
	.act-listbox-info > * {
		color: $color-act-b;
	}
	//
	.act-titlebox-icon {
		background-color: $color-act-b;
	}
	.act-titlebox-sortname,
	.act-titlebox-sortname-en,
	.act-titlebox-titlename,
	.act-titlebox-titlename-en,
	.act-titlebox-age {
		color: $color-act-b;
	}
	.act-titlebox-title {
		border-top-color: $color-act-b;
		border-bottom-color: $color-act-b;
	}
}
// 5
.act-color-w {
	.act-listbox-sort {
		background-color: $color-act-w;
	}
	.act-listbox-info > * {
		color: $color-act-w;
	}
	//
	.act-titlebox-icon {
		background-color: $color-act-w;
	}
	.act-titlebox-sortname,
	.act-titlebox-sortname-en,
	.act-titlebox-titlename,
	.act-titlebox-titlename-en,
	.act-titlebox-age {
		color: $color-act-w;
	}
	.act-titlebox-title {
		border-top-color: $color-act-w;
		border-bottom-color: $color-act-w;
	}
}
// 6
.act-color-c {
	.act-listbox-sort {
		background-color: $color-act-c;
	}
	.act-listbox-info > * {
		color: $color-act-c;
	}
	//
	.act-titlebox-icon {
		background-color: $color-act-c;
	}
	.act-titlebox-sortname,
	.act-titlebox-sortname-en,
	.act-titlebox-titlename,
	.act-titlebox-titlename-en,
	.act-titlebox-age {
		color: $color-act-c;
	}
	.act-titlebox-title {
		border-top-color: $color-act-c;
		border-bottom-color: $color-act-c;
	}
}
/*
==================================================
==================================================
==================================================
==================================================
==================================================
==================================================
*/
// GREEN SYS
// 7
.act-color-f {
	.act-listbox-sort {
		background-color: $color-act-f;
	}
	.act-listbox-info > * {
		color: $color-act-f-dark;
	}
	//
	.act-titlebox-icon {
		background-color: $color-act-f;
	}
	.act-titlebox-sortname,
	.act-titlebox-sortname-en,
	.act-titlebox-titlename,
	.act-titlebox-titlename-en,
	.act-titlebox-age {
		color: $color-act-f;
	}
	.act-titlebox-title {
		border-top-color: $color-act-f;
		border-bottom-color: $color-act-f;
	}
}
// 8
.act-color-e {
	.act-listbox-sort {
		background-color: $color-act-e;
	}
	.act-listbox-info > * {
		color: $color-act-e;
	}
	//
	.act-titlebox-icon {
		background-color: $color-act-e;
	}
	.act-titlebox-sortname,
	.act-titlebox-sortname-en,
	.act-titlebox-titlename,
	.act-titlebox-titlename-en,
	.act-titlebox-age {
		color: $color-act-e;
	}
	.act-titlebox-title {
		border-top-color: $color-act-e;
		border-bottom-color: $color-act-e;
	}
}
// 9
.act-color-12 {
	.act-listbox-sort {
		background-color: $color-act-12;
	}
	.act-listbox-info > * {
		color: $color-act-12;
	}
	//
	.act-titlebox-icon {
		background-color: $color-act-12;
	}
	.act-titlebox-sortname,
	.act-titlebox-sortname-en,
	.act-titlebox-titlename,
	.act-titlebox-titlename-en,
	.act-titlebox-age {
		color: $color-act-12;
	}
	.act-titlebox-title {
		border-top-color: $color-act-12;
		border-bottom-color: $color-act-12;
	}
}
/*
==================================================
==================================================
==================================================
==================================================
==================================================
==================================================
*/
// BLUE SYS
// 10
.act-color-d {
	.act-listbox-sort {
		background-color: $color-act-d;
	}
	.act-listbox-info > * {
		color: $color-act-d-dark;
	}
	//
	.act-titlebox-icon {
		background-color: $color-act-d;
	}
	.act-titlebox-sortname,
	.act-titlebox-sortname-en,
	.act-titlebox-titlename,
	.act-titlebox-titlename-en,
	.act-titlebox-age {
		color: $color-act-d-dark;
	}
	.act-titlebox-title {
		border-top-color: $color-act-d;
		border-bottom-color: $color-act-d;
	}
}
// 11
.act-color-z {
	.act-listbox-sort {
		background-color: $color-act-z;
	}
	.act-listbox-info > * {
		color: $color-act-z;
	}
	//
	.act-titlebox-icon {
		background-color: $color-act-z;
	}
	.act-titlebox-sortname,
	.act-titlebox-sortname-en,
	.act-titlebox-titlename,
	.act-titlebox-titlename-en,
	.act-titlebox-age {
		color: $color-act-z;
	}
	.act-titlebox-title {
		border-top-color: $color-act-z;
		border-bottom-color: $color-act-z;
	}
}
// 12
.act-color-k {
	.act-listbox-sort {
		background-color: $color-act-k;
	}
	.act-listbox-info > * {
		color: $color-act-k;
	}
	//
	.act-titlebox-icon {
		background-color: $color-act-k;
	}
	.act-titlebox-sortname,
	.act-titlebox-sortname-en,
	.act-titlebox-titlename,
	.act-titlebox-titlename-en,
	.act-titlebox-age {
		color: $color-act-k;
	}
	.act-titlebox-title {
		border-top-color: $color-act-k;
		border-bottom-color: $color-act-k;
	}
}
/*
==============================
==============================
==============================
==============================
==============================
*/
.act-listbox-info > * {
	color: #333 !important;
}
