// eason
// INFO-SORT
.act-titlebox-sort {
	margin-bottom: 10px;
}
.act-titlebox-icon {
	text-transform: uppercase;
	font-size: 12px;
	display: inline-block;
	width: 14px;
	line-height: 14px;
	text-align: center;
	background-color: #aaa;
	color: #fff;
	border-radius: 50%;
}
.act-titlebox-sortname {
	font-size: 14px;
}
.act-titlebox-sortname-en {
	font-size: 14px;
	opacity: 0.7;
}
//  INFO- TITLE
.act-titlebox-title {
	border-top: solid 1px #aaa;
	border-bottom: solid 1px #aaa;
	padding: {
		top: 10px;
		bottom: 10px;
	}
	margin: {
		bottom: 10px;
	}
}
.act-titlebox-titlename {
	display: inline-block;
}
.act-titlebox-titlename-en {
	display: inline-block;
}
// INFO-AGE
.act-titlebox-age {
	margin-bottom: 10px;
}
// BTN BOX
.act-titlebox-btnbox {
	overflow: hidden;
}
.act-titlebox-item {
	width: calc(25% - 1px);
	float: left;
	background-color: $color1;
	margin-right: 1px;
}
.act-titlebox-link {
	display: block;
	font-size: 14px;
	color: #fff;
	padding: 5px 0;
	&.unclick {
		@extend %color-unclick;
	}
}
@media (max-width: 991px) {
	.act-titlebox {
		text-align: center;
	}
	//
	.act-titlebox-img {
		width: 100%;
		margin-bottom: 10px;
	}
	// INFO
	.act-titlebox-titlename {
		width: 100%;
		font-size: 18px;
		margin-bottom: 4px;
	}
	.act-titlebox-titlename-en {
		width: 100%;
	}
}
@media (min-width: 992px) {
	.act-titlebox {
		overflow: hidden;
		position: relative;
	}
	//
	.act-titlebox-img {
		width: 260px;
		margin-right: 20px;
		float: left;
	}
	// INFO
	.act-titlebox-info {
		width: calc(100% - 270px - 20px);
		float: right;
	}
	// INFO NAME
	.act-titlebox-titlename {
		font-size: 24px;
		margin: {
			bottom: 0;
			right: 10px;
		}
	}
	.act-titlebox-titlename-en {
	}
	// BTN
	.act-titlebox-btnbox {
		width: 300px;
		position: absolute;
		bottom: 0;
		left: 288px;
	}
	.act-titlebox-link {
		text-align: center;
		&:hover {
			background-color: $color1-dark;
			color: #fff;
		}
	}
}
